Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

osemgrep: use http lwt client (#7400)
  libs/commons/Logs_helpers.ml
  semgrep.opam
  src/osemgrep/cli_scan/Rule_fetching.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/core/Metrics_.ml
  src/osemgrep/core/Metrics_.mli
  src/osemgrep/core/dune
  src/osemgrep/networking/Network.ml
  src/osemgrep/networking/Network.mli
  src/osemgrep/networking/dune
Due: lint-ocaml

osemgrep: add mirage-crypto-rng-lwt to ignored log sources (#7399)
  libs/commons/Logs_helpers.ml
Due: lint-ocaml

tests: add e2e tests for jsonnet (#7404)
  cli/tests/e2e/rules/jsonnet/example_rule.yaml
  cli/tests/e2e/rules/jsonnet/lib/template.libsonnet
  cli/tests/e2e/rules/jsonnet/part_of_rule.unknown_yaml_extension
  cli/tests/e2e/rules/jsonnet/python/basic.jsonnet
  cli/tests/e2e/snapshots/test_check/test_basic_jsonnet_rule/results.json
  cli/tests/e2e/test_check.py
Due: none

Move the extensions of Fpath to File.Path. (#7406)
  languages/c/menhir/test_parsing_c.ml
  languages/cpp/menhir/test_parsing_cpp.ml
  languages/cpp/menhir/unit_parsing_cpp.ml
  languages/go/menhir/test_parsing_go.ml
  languages/java/menhir/test_parsing_java.ml
  languages/javascript/menhir/test_parsing_js.ml
  languages/lisp/recursive_descent/test_parsing_lisp.ml
  languages/ocaml/ast/lib_parsing_ml.ml
  languages/ocaml/menhir/test_parsing_ml.ml
  languages/php/menhir/test_analyze_php.ml
  languages/php/menhir/test_parsing_php.ml
  languages/python/menhir/Test_parsing_python.ml
  languages/ruby/dyp/test_analyze_ruby.ml
  languages/ruby/dyp/test_parsing_ruby.ml
  languages/scala/recursive_descent/Test_parsing_scala.ml
  libs/commons/File.ml
  libs/commons/File.mli
  libs/commons/Testutil_files.ml
  libs/commons/common2.mli
  libs/lib_parsing/Parsing_stat.ml
  libs/lib_parsing/Skip_code.ml
  src/analyzing/tests/Unit_dataflow.ml
  src/core_cli/Core_CLI.ml
  src/engine/Test_engine.ml
  src/engine/Unit_engine.ml
  src/naming/Unit_naming_generic.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/parsing/Unit_parsing.ml
  src/parsing/tests/Test_parsing.ml
  src/targeting/Find_target.ml
  src/targeting/Git.ml
Due: lint-ocaml

Copy osemgrep to where semgrep expects it (#7407)
  Makefile
Due: none

interfaces/semgrep_metrics: add maxMemoryBytes and engineRequestted osemgrep Metrics_: adapt to interface changes
  interfaces/semgrep_metrics.atd
  src/osemgrep/core/Metrics_.ml
Due: lint-ocaml

bugfix: fix bug with -raja on List.hd exn
  src/experiments/misc/Raja_experiment.ml
Due: lint-ocaml

Add parser for pnpm-lock.yaml (#7324)
  cli/src/semdep/parse_lockfile.py
  cli/src/semdep/parsers/pnpm.py
  cli/src/semgrep/target_manager.py
  cli/tests/e2e/rules/dependency_aware/js-pnpm-sca.yaml
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm/results.txt
  cli/tests/e2e/targets/dependency_aware/pnpm/foo.js
  cli/tests/e2e/targets/dependency_aware/pnpm/pnpm-lock.yaml
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

more js updates
  js/Makefile
  js/engine/Main.ml
  js/engine/core.js
  js/engine/dune
  js/engine/pcre-old.js
  js/engine/pcre.js
  js/languages/csharp/Parser.ml
  js/languages/csharp/dune
  js/languages/csharp/semgrep.js
  js/languages/lua/Parser.ml
  js/languages/lua/dune
  js/languages/lua/semgrep.js
  js/languages/typescript/Parser.ml
  js/languages/typescript/dune
  js/languages/typescript/semgrep.js
  js/ocaml-tree-sitter.js
  js/scripts/build-libpcre.sh
  js/scripts/build-semgrep-language.sh
  js/semgrep.js
  js/shared/Semgrep_js_shared.ml
  js/shared/dune
  js/shared/exported-functions.txt
  js/shared/exported-runtime-methods.txt
  js/shared/ocaml-tree-sitter.js
  js/shared/post.js
  js/shared/pre.js
  js/tests/.gitignore
  js/tests/libpcre.test.js
  js/tests/package-lock.json
  js/tests/package.json
  js/tests/semgrep-bash.test.js
  js/unix.js
Due: shellcheck, lint-ocaml

more work
  js/languages/csharp/dune
  js/languages/csharp/semgrep.js
  js/languages/lua/Parser.ml
  js/languages/lua/dune
  js/languages/lua/semgrep.js
  js/languages/typescript/Parser.ml
  js/languages/typescript/dune
  js/languages/typescript/semgrep.js
  js/shared/Semgrep_js_shared.ml
  js/shared/dune
  js/shared/entrypoint.js
  js/shared/post.js
  js/shared/pre.js
Due: lint-ocaml

Dedup results + fix timing issue
  src/experiments/ls/CodeAction.ml
  src/experiments/ls/CodeActions.ml
  src/experiments/ls/CodeActions.mli
  src/experiments/ls/Diagnostics.ml
  src/experiments/ls/Diagnostics.mli
  src/experiments/ls/LS.ml
  src/experiments/ls/Lsp_util.ml
  src/experiments/ls/Lsp_util.mli
Due: lint-ocaml

more work
  js/engine/Main.ml
  js/languages/csharp/Parser.ml
  js/languages/csharp/dune
  js/languages/csharp/semgrep.js
  js/languages/lua/Parser.ml
  js/languages/lua/dune
  js/languages/typescript/dune
  js/languages/typescript/semgrep.js
  js/shared/Semgrep_js_shared.ml
  js/shared/entrypoint.js
  js/shared/exported-functions.txt
  js/shared/exported-runtime-methods.txt
Due: lint-ocaml

Add cookies to app requests if SEMGREP_COOKIES_FILE is set
  cli/src/semgrep/app/session.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm/results.txt
Due: none

Change to use the relative path
  cli/src/semgrep/config_resolver.py
  cli/tests/e2e/test_check.py
Due: none

separate out calls
  cli/src/semgrep/app/session.py
Due: none

Update comment
  cli/src/semgrep/config_resolver.py
Due: none

dbg: prep for testing
  .github/workflows/nightly.yml
Due: none

fix: don't fail if first-time checkout
  .github/workflows/build-test-osx-m1.yaml
  .github/workflows/build-test-osx-x86.yaml
  .github/workflows/nightly.yml
Due: none

fix: force uninstall
  .github/workflows/nightly.yml
Due: none

fix: cleanup locks
  .github/workflows/nightly.yml
Due: none

Add parsing support for PNPM workspaces
  cli/src/semdep/parsers/pnpm.py
  cli/tests/e2e/rules/dependency_aware/js-pnpm-sca.yaml
  cli/tests/e2e/targets/dependency_aware/pnpm-workspaces/foo.js
  cli/tests/e2e/targets/dependency_aware/pnpm-workspaces/pnpm-lock.yaml
Due: none

Update cli/tests/e2e/test_check.py
  cli/tests/e2e/test_check.py
Due: none

fixup
  cli/src/semdep/parsers/pnpm.py
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm-workspaces/results.txt
Due: none

Move new CLI option to the section with the other new options
  src/osemgrep/cli_scan/Scan_CLI.ml
Due: lint-ocaml

Fix search for project root
  libs/commons/Testutil_files.mli
  src/osemgrep/targeting/Git_project.ml
  src/osemgrep/targeting/Realpath.ml
  src/osemgrep/targeting/Unit_semgrepignore.ml
Due: lint-ocaml

Update expected output for test_dependency_aware_rules test
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm/results.txt
Due: none

Fix some aspects of target filtering in osemgrep (#7396)
  cli/src/semgrep/target_manager.py
  cli/tests/conftest.py
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm/results.txt
  cli/tests/semgrep_runner.py
  libs/commons/Testutil_files.ml
  libs/commons/Testutil_files.mli
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/core/CLI_common.mli
  src/osemgrep/main/Main.ml
  src/osemgrep/targeting/Git_path.ml
  src/osemgrep/targeting/Git_project.ml
  src/osemgrep/targeting/Git_project.mli
  src/osemgrep/targeting/Gitignore_files.ml
  src/osemgrep/targeting/Gitignore_files.mli
  src/osemgrep/targeting/Gitignore_filter.mli
  src/osemgrep/targeting/Gitignore_syntax.ml
  src/osemgrep/targeting/Gitignore_syntax.mli
  src/osemgrep/targeting/Glob_matcher.ml
  src/osemgrep/targeting/Glob_matcher.mli
  src/osemgrep/targeting/Include_filter.ml
  src/osemgrep/targeting/Realpath.ml
  src/osemgrep/targeting/Semgrepignore.ml
  src/osemgrep/targeting/Semgrepignore.mli
  src/osemgrep/targeting/Unit_glob.ml
  src/osemgrep/targeting/Unit_semgrepignore.ml
  src/reporting/JSON_report.ml
  src/targeting/Find_target.ml
  src/targeting/Find_target.mli
Due: lint-ocaml

emma's comment
  src/experiments/misc/Raja_experiment.ml
Due: lint-ocaml

bugfix: fix bug with -raja on List.hd exn (#7410)
  src/experiments/misc/Raja_experiment.ml
Due: lint-ocaml

Upgrade thedocker container with pre-build opam packages
  .github/workflows/build-test-core-x86.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  Dockerfile
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
