Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml, gitignore-to-dockerignore

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations

Update pytest snapshots
  cli/tests/e2e/snapshots/test_join_rules/test_join_rules/rulesjoin_rulesinlinetaint.yaml-join_rulesuser-input-with-unescaped-extension/results.json
Due: none

Update README.md
  README.md
Due: none

feat!: propagate arbitrary expressions to singly assigned variables (#5989)
  changelog.d/pa-1821.added
  cli/tests/e2e/snapshots/test_check/test_basic_rule__absolute/results.json
  cli/tests/e2e/snapshots/test_check/test_basic_rule__local/results.json
  cli/tests/e2e/snapshots/test_check/test_basic_rule__relative/results.json
  cli/tests/e2e/snapshots/test_check/test_cdn_ruleset_resolution/results.json
  cli/tests/e2e/snapshots/test_check/test_default_rule__file/results.json
  cli/tests/e2e/snapshots/test_check/test_default_rule__folder/results.json
  cli/tests/e2e/snapshots/test_check/test_hidden_rule__explicit/results.json
  cli/tests/e2e/snapshots/test_check/test_multiple_configs_different_origins/results.json
  cli/tests/e2e/snapshots/test_check/test_multiple_configs_file/results.json
  cli/tests/e2e/snapshots/test_check/test_registry_rule/results.json
  cli/tests/e2e/snapshots/test_max_target_bytes/test_max_target_bytes/1MB/results.json
  semgrep-core/src/analyzing/Constant_propagation.ml
  semgrep-core/src/analyzing/Dataflow_svalue.mli
  semgrep-core/tests/OTHER/rules/sym_prop_exp.js
  semgrep-core/tests/OTHER/rules/sym_prop_exp.yaml
  semgrep-core/tests/OTHER/rules/sym_prop_exp_no_propagate.js
  semgrep-core/tests/OTHER/rules/sym_prop_exp_no_propagate.yaml
  semgrep-core/tests/OTHER/rules/sym_prop_non_constant_exp.js
  semgrep-core/tests/OTHER/rules/sym_prop_non_constant_exp.yaml
Due: lint-ocaml

added usage of sym prop as last resort (#6010)
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/OTHER/rules/sym_prop_non_literal.java
  semgrep-core/tests/OTHER/rules/sym_prop_non_literal.yaml
Due: lint-ocaml

apply suggestions
  semgrep-core/src/core/Output_from_core_util.ml
  semgrep-core/src/reporting/Matching_report.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings1/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings1/out.json
Due: none

fix!: allowed other matching to use m_todo_kind (#6023)
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/swift/if_let.sgrep
  semgrep-core/tests/swift/if_let.swift
Due: lint-ocaml

Fix bad comment syntax in setup-m1-builder.sh (#6027)
  scripts/setup-m1-builder.sh
Due: shellcheck

style(sca): rename SCA to supply chain
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/formatter/text.py
Due: none

Update README.md (#6034)
  README.md
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_ci/test_config_run/autofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_config_run/noautofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_output/test_sca_output/results.txt
Due: none

style(sca): rename SCA to supply chain (#6035)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/formatter/text.py
  cli/tests/e2e/snapshots/test_ci/test_config_run/autofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_config_run/noautofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_output/test_sca_output/results.txt
Due: none

Revert "style(sca): rename SCA to supply chain (#6035)"
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/formatter/text.py
  cli/tests/e2e/snapshots/test_ci/test_config_run/autofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_config_run/noautofix/results.txt
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins-missing-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/autofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---disable-nosem/output.txt
  cli/tests/e2e/snapshots/test_ci/test_nosem/noautofix---enable-nosem/output.txt
  cli/tests/e2e/snapshots/test_output/test_sca_output/results.txt
Due: none

delete deepexprstmt generic test
  semgrep-core/tests/generic/deep_exprstmt.generic
Due: none

Allow backend sending rules as json instead of yaml string
  cli/src/semgrep/util.py
Due: none

Remove unnecessary dependency on the semgrep_core library, for now
  semgrep-core/src/parsing/pfff/dune
  semgrep-core/src/parsing/pfff/ruby_to_generic.ml
Due: lint-ocaml

Brendon's review
  cli/src/semgrep/config_resolver.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_config_resolver/test_new_feature_registry_config/output.txt
Due: none

fix CI
  cli/src/semgrep/config_resolver.py
Due: none

Experiment with jsonnet (#6009)
  Dockerfile
  Makefile
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
  cli/src/semgrep/config_resolver.py
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_config_resolver.py
  cli/tests/e2e/test_metrics.py
Due: none

fix!: multiline tokens range reporting (#6016)
  cli/tests/e2e/rules/multiline.yaml
  cli/tests/e2e/snapshots/test_check/test_multiline/results.json
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings1/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings1/out.json
  cli/tests/e2e/targets/multiline/stupid.py
  cli/tests/e2e/test_check.py
  semgrep-core/src/core/Output_from_core_util.ml
  semgrep-core/src/reporting/Matching_report.ml
Due: lint-ocaml

Solidity: correctly parse try statements
  changelog.d/gh-6031.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
  semgrep-core/tests/solidity/misc_try_as_lambda.sgrep
  semgrep-core/tests/solidity/misc_try_as_lambda.sol
Due: lint-ocaml

Solidity: correctly parse try statements (#6040)
  changelog.d/gh-6031.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
  semgrep-core/tests/solidity/misc_try_as_lambda.sgrep
  semgrep-core/tests/solidity/misc_try_as_lambda.sol
Due: lint-ocaml

Java: correctly parse class literal patterns
  changelog.d/gh-6002.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/misc_class_literal.java
  semgrep-core/tests/java/misc_class_literal.sgrep
Due: lint-ocaml

Java: correctly parse class literal patterns (#6041)
  changelog.d/gh-6002.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/misc_class_literal.java
  semgrep-core/tests/java/misc_class_literal.sgrep
Due: lint-ocaml

Add semgrep-jsonnet
  .gitmodules
Due: none

feat!: new pattern operators (#5916)
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/rule_lang.py
  semgrep-core/src/cli-lib/Cli_lib.ml
  semgrep-core/src/core/Report.mli
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/engine/Match_rules.ml
  semgrep-core/src/engine/Match_search_mode.ml
  semgrep-core/src/engine/Match_tainting_mode.ml
  semgrep-core/src/engine/Specialize_formula.ml
  semgrep-core/src/engine/Specialize_formula.mli
  semgrep-core/src/metachecking/Check_rule.ml
  semgrep-core/src/metachecking/Translate_rule.ml
  semgrep-core/src/metachecking/Translate_rule.mli
  semgrep-core/src/optimizing/Analyze_rule.ml
  semgrep-core/src/parsing/Parse_rule.ml
  semgrep-core/src/runner/Run_semgrep.ml
  semgrep-core/src/tainting/Dataflow_tainting.ml
  semgrep-core/tests/OTHER/rules/metavar_cond.yaml
  semgrep-core/tests/OTHER/rules/metavar_cond2.yaml
  semgrep-core/tests/OTHER/rules/metavar_cond_octal.yaml
  semgrep-core/tests/OTHER/rules/metavar_regex.yaml
Due: lint-ocaml

Add semgrep-jsonnet (#6042)
  .gitmodules
Due: none

delete deepexprstmt generic test (#6037)
  semgrep-core/tests/generic/deep_exprstmt.generic
Due: none

Adding jsonnet in lang.json and collateral evolutions
  semgrep-core/src/core/ast/Pretty_print_AST.ml
  semgrep-core/src/parsing/Check_pattern.ml
  semgrep-core/src/parsing/Parse_pattern.ml
  semgrep-core/src/parsing/Parse_target.ml
  semgrep-core/src/targeting/Guess_lang.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_cli_test/test_cli_test_show_supported_languages/results.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error.json
Due: none

fix CI
  cli/tests/e2e/snapshots/test_cli_test/test_cli_test_show_supported_languages/results.txt
Due: none

fix CI again
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error.json
Due: none

cleanup Rule.ml
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/parsing/Parse_rule.ml
Due: lint-ocaml

cleanup Rule.ml (#6044)
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/parsing/Parse_rule.ml
Due: lint-ocaml

const-prop: Fix evaluation of subtraction
  changelog.d/pa-1846.fixed
  semgrep-core/src/analyzing/Dataflow_svalue.ml
  semgrep-core/tests/OTHER/rules/cp_subtraction.go
  semgrep-core/tests/OTHER/rules/cp_subtraction.yaml
  semgrep-core/tests/OTHER/rules/cp_subtraction1.go
  semgrep-core/tests/OTHER/rules/cp_subtraction1.yaml
Due: lint-ocaml

const-prop: Fix evaluation of subtraction (#6045)
  changelog.d/pa-1846.fixed
  semgrep-core/src/analyzing/Dataflow_svalue.ml
  semgrep-core/tests/OTHER/rules/cp_subtraction.go
  semgrep-core/tests/OTHER/rules/cp_subtraction.yaml
  semgrep-core/tests/OTHER/rules/cp_subtraction1.go
  semgrep-core/tests/OTHER/rules/cp_subtraction1.yaml
Due: lint-ocaml
