Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

fix(secrets): don't generate SAST targets for Secrets Flask endpoints (semgrep/semgrep-proprietary#1638)
  changelog.d/scrt-609.fixed
Due: none

chore: Bump version to 1.78.0
  CHANGELOG.md
  changelog.d/code-6634.fixed
  changelog.d/code-7269.added
  changelog.d/scrt-609.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

forgotten work
  cli/setup.py
  full-test.js
  full-test.yaml
  minimal.js
  tests/rules/taint_object_funcdef_1.js
  tests/rules/taint_object_funcdef_1.yaml
Due: none

Experimental semgrep(.exe) entry point (semgrep/semgrep-proprietary#1741)
  Makefile
  src/main/Main.ml
  src/main/dune
Due: lint-ocaml

Refactor libs/paths/Project.ml, handle more VCSs part1 (semgrep/semgrep-proprietary#1742)
  libs/git_wrapper/Git_project.ml
  libs/git_wrapper/Git_project.mli
  libs/paths/Fppath.ml
  libs/paths/Fppath.mli
  libs/paths/List_files.mli
  libs/paths/Project.ml
  libs/paths/Project.mli
  libs/paths/Testutil_paths.ml
  libs/paths/Testutil_paths.mli
  libs/paths/Unit_list_files.ml
  libs/paths/dune
  src/targeting/Find_targets.ml
  src/targeting/Find_targets_old.ml
  tests/snapshots/semgrep-core/84cced48c6d1/stdxxx
Due: lint-ocaml

feat(move-on-aptos): basic support for Move-on-Aptos (#10333)
  .gitmodules
  dune-project
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.ml
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.mli
  languages/move-on-aptos/generic/dune
  src/engine/tests/Unit_engine.ml
  src/main/flags.sh
  src/parsing/Unit_parsing.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/dune
  src/printing/Pretty_print_AST.ml
  stats/parsing-stats/lang/move_on_aptos/projects.txt
  tests/parsing/move_on_aptos/test.move
Due: shellcheck, lint-ocaml

feat(rule-rater): rate all other rule kinds (semgrep/semgrep-proprietary#1744)
  .gitmodules
  dune-project
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.ml
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.mli
  languages/move-on-aptos/generic/dune
  src/engine/tests/Unit_engine.ml
  src/main/flags.sh
  src/parsing/Unit_parsing.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/dune
  src/printing/Pretty_print_AST.ml
  stats/parsing-stats/lang/move_on_aptos/projects.txt
  tests/parsing/move_on_aptos/test.move
Due: shellcheck, lint-ocaml

feat(sca): Added Golang Pseudo-version Comparison logic (semgrep/semgrep-proprietary#1740)
  changelog.d/sc-1601.added
  cli/src/semdep/golang_version.py
  cli/src/semdep/package_restrictions.py
  cli/tests/default/e2e-other/test_golang_version.py
Due: none

feat: end-to-end stub for pattern when implementation (semgrep/semgrep-proprietary#1732)
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/Raw_tree.ml
  libs/ast_generic/Raw_tree.mli
  libs/lib_parsing/Parsed_int.ml
  libs/lib_parsing/Parsed_int.mli
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  src/analyzing/Constant_propagation.ml
  src/analyzing/Dataflow_when.ml
  src/analyzing/Dataflow_when.mli
  src/analyzing/Eval_generic_partial.ml
  src/analyzing/Eval_generic_partial.mli
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/engine/Eval_generic.ml
  src/engine/Eval_generic.mli
  src/engine/Match_dependency.ml
  src/engine/Match_search_mode.ml
  src/engine/Xpattern_matcher.ml
  src/engine/tests/Unit_engine.ml
  src/matching/Match_patterns.ml
Due: lint-ocaml

Update to latest semgrep-interfaces (semgrep/semgrep-proprietary#1760)
  cli/src/semgrep/metrics.py
Due: none

Update to a more recent tree-sitter-c-sharp, Apr 2024 (semgrep/semgrep-proprietary#1762)
  languages/csharp/generic/Parse_csharp_tree_sitter.ml
Due: lint-ocaml

feat(rule syntax): embed matches into metavariables (semgrep/semgrep-proprietary#1730)
  src/core/Metavariable.ml
  src/core/Metavariable.mli
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/core/Rule.ml
  src/engine/Match_dependency.ml
  src/engine/Match_search_mode.ml
  src/engine/Metavariable_pattern.ml
  src/engine/Range_with_metavars.ml
  src/engine/Xpattern_matcher.ml
  src/fixing/Autofix_printer.ml
  src/matching/Match_patterns.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Translate_rule.ml
  src/optimizing/Analyze_rule.ml
  src/parsing/Parse_rule_formula.ml
  tests/rules/as_metavariable.py
  tests/rules/as_metavariable.yaml
  tests/rules/as_metavariable2.py
  tests/rules/as_metavariable2.yaml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
  tests/snapshots/semgrep-core/a5f8cca91ee4/stdout
Due: lint-ocaml

feat: gc before historical scan (semgrep/semgrep-proprietary#1755)
  changelog.d/scrt-630.added
  changelog.d/scrt-630.fixed
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
Due: lint-ocaml

refactor: Hide representation of pre/post processor set (semgrep/semgrep-proprietary#1685)
  src/core_scan/Pre_post_core_scan.ml
  src/core_scan/Pre_post_core_scan.mli
Due: lint-ocaml

chore: report autofix and ignore count from LS (semgrep/semgrep-proprietary#1749)
  PRIVACY.md
  changelog.d/pdx-autofix-ignore.added
  js/language_server/src/tests/integration.test.ts
  src/osemgrep/core/Metrics_.ml
  src/osemgrep/language_server/LS.ml
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/custom_commands/Autofix_cmd.ml
  src/osemgrep/language_server/custom_commands/Autofix_cmd.mli
  src/osemgrep/language_server/custom_commands/Ignore_cmd.ml
  src/osemgrep/language_server/custom_commands/Ignore_cmd.mli
  src/osemgrep/language_server/custom_commands/dune
  src/osemgrep/language_server/notifications/Notification_handler.ml
  src/osemgrep/language_server/requests/Code_actions.ml
  src/osemgrep/language_server/requests/Execute_command.mli
  src/osemgrep/language_server/requests/Initialize_request.ml
  src/osemgrep/language_server/requests/dune
  src/osemgrep/language_server/server/LS_metrics.ml
  src/osemgrep/language_server/server/LS_metrics.mli
  src/osemgrep/language_server/server/Session.ml
Due: lint-ocaml

Use sh syntax, not bash in 'make core-bc' (semgrep/semgrep-proprietary#1763)
  Makefile
Due: none

cleanup: Move tests to the right location (semgrep/semgrep-proprietary#1769)
  tests/rules/taint_clean_in_try_no_finally.py
  tests/rules/taint_clean_in_try_no_finally.yaml
Due: none

Fix build-test-manylinux-x86 CI check
  .github/workflows/build-test-manylinux-x86.jsonnet
  .github/workflows/build-test-manylinux-x86.yml
Due: none

feat(rule-rater): rate all other rule kinds (semgrep/semgrep-proprietary#1744)
  .github/workflows/build-test-manylinux-x86.jsonnet
  .github/workflows/build-test-manylinux-x86.yml
  .gitmodules
  dune-project
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.ml
  languages/move-on-aptos/generic/Parse_move_on_aptos_tree_sitter.mli
  languages/move-on-aptos/generic/dune
  src/engine/tests/Unit_engine.ml
  src/main/flags.sh
  src/parsing/Unit_parsing.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/dune
  src/printing/Pretty_print_AST.ml
  stats/parsing-stats/lang/move_on_aptos/projects.txt
  tests/parsing/move_on_aptos/test.move
Due: shellcheck, lint-ocaml
