Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

feat(new syntax): translate taint rules to new syntax (#7228)
  src/core/Rule.ml
  src/metachecking/Translate_rule.ml
  src/parsing/Parse_rule.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint.ml
Due: lint-ocaml

Simple fixes following PR #8190 (#8483)
  cli/tests/qa/test_public_repos.py
  js/languages/cpp/Parser.ml
  js/languages/java/Parser.ml
  js/languages/python/Parser.ml
  js/languages/typescript/Parser.ml
  src/parsing/Pfff_or_tree_sitter.ml
  src/parsing_languages/Parse_pattern2.ml
Due: lint-ocaml

cleanup cli/Makefile and add time estimation for the make xxx-tests
  cli/Makefile
Due: none

misc
  cli/Makefile
Due: none

Fix README.md typo (#8482)
  README.md
Due: none

cleanup cli/Makefile and add time estimation for the make xxx-tests (#8488)
  cli/Makefile
Due: none

osemgrep: remove need for PYTEST_OSEMGREP_PATH
  cli/Makefile
  cli/tests/semgrep_runner.py
Due: none

osemgrep: remove need for PYTEST_OSEMGREP_PATH (#8489)
  cli/Makefile
  cli/tests/semgrep_runner.py
Due: none

osemgrep: fix SEMGREP_BASE_COMMAND to also use --experimental
  cli/tests/semgrep_runner.py
Due: none

osemgrep: fix SEMGREP_BASE_COMMAND to also use --experimental (#8490)
  cli/tests/semgrep_runner.py
Due: none

osemgrep: switching to real e2e testing, part 1
  cli/tests/conftest.py
  cli/tests/e2e/test_config_resolver.py
  cli/tests/e2e/test_login.py
  cli/tests/e2e/test_metrics.py
  cli/tests/e2e/test_parse_rate_metrics.py
  cli/tests/e2e/test_publish.py
  cli/tests/semgrep_runner.py
Due: none

osemgrep: switching to real e2e testing, part 1 (#8492)
  cli/tests/conftest.py
  cli/tests/e2e/test_config_resolver.py
  cli/tests/e2e/test_login.py
  cli/tests/e2e/test_metrics.py
  cli/tests/e2e/test_parse_rate_metrics.py
  cli/tests/e2e/test_publish.py
  cli/tests/semgrep_runner.py
Due: none

remove semgrep shouldafound
  changelog.d/shouldafound.changed
  cli/src/semgrep/cli.py
  cli/src/semgrep/commands/shouldafound.py
  cli/src/semgrep/env.py
  cli/tests/e2e/snapshots/test_help/test_help_text/--help/help.txt
  cli/tests/e2e/snapshots/test_help/test_help_text/-h/help.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-11512123123/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-X__X/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-11512123123/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-X__X/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_args/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args1/results.txt
  cli/tests/e2e/test_shouldafound.py
  cli/tests/unit/test_shouldafound.py
  src/osemgrep/cli/CLI.ml
  src/osemgrep/configuring/Semgrep_envvars.ml
  src/osemgrep/configuring/Semgrep_envvars.mli
Due: lint-ocaml

remove semgrep shouldafound (#8493)
  changelog.d/shouldafound.changed
  cli/src/semgrep/cli.py
  cli/src/semgrep/commands/shouldafound.py
  cli/src/semgrep/env.py
  cli/tests/e2e/snapshots/test_help/test_help_text/--help/help.txt
  cli/tests/e2e/snapshots/test_help/test_help_text/-h/help.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-11512123123/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-X__X/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-11512123123/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-X__X/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_args/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args1/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args0/results.txt
  cli/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args1/results.txt
  cli/tests/e2e/test_shouldafound.py
  cli/tests/unit/test_shouldafound.py
  src/osemgrep/cli/CLI.ml
  src/osemgrep/configuring/Semgrep_envvars.ml
  src/osemgrep/configuring/Semgrep_envvars.mli
Due: lint-ocaml

osemgrep: remove dump_ast.py
  changelog.d/dumpast.changed
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/dump_ast.py
  cli/tests/e2e/test_dump_ast.py
Due: none

remove also xlang.py, empty file
  cli/src/semgrep/xlang.py
Due: none

osemgrep: remove dump_ast.py (#8494)
  changelog.d/dumpast.changed
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/dump_ast.py
  cli/src/semgrep/xlang.py
  cli/tests/e2e/test_dump_ast.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarenuget-sca-simple.yaml-dependency_awarenuget/results.txt
Due: none

feat(julia): replace assigns with vardefs (#8470)
  changelog.d/pa-3001.fixed
  languages/julia/generic/Parse_julia_tree_sitter.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  tests/rules/julia_typed_mvar.jl
  tests/rules/julia_typed_mvar.yaml
Due: lint-ocaml

add test, remove extraneous stuff
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/do_block_metavar.jl
  tests/patterns/julia/do_block_metavar.sgrep
Due: lint-ocaml

remove final TODOs, clean up
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

changelog
  changelog.d/pa-3007.fixed
Due: none

more lockfile content
  cli/src/semdep/parse_lockfile.py
  cli/tests/e2e/rules/dependency_aware/nuget-sca-simple.yaml
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarenuget-sca-simple.yaml-dependency_awarenuget-large/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarenuget-sca-simple.yaml-dependency_awarenuget/results.txt
  cli/tests/e2e/targets/dependency_aware/nuget-large/packages.lock.json
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

fix interp exp in import, add test
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/import_metavar.jl
  tests/patterns/julia/import_metavar.sgrep
Due: lint-ocaml

add test for let taint
  tests/rules/julia_let_taint.jl
  tests/rules/julia_let_taint.yaml
Due: none

initial addition of verification field to Pattern_match.t
  src/core/Pattern_match.ml
  src/engine/Match_search_mode.ml
  src/engine/Xpattern_matcher.ml
  src/matching/Match_patterns.ml
Due: lint-ocaml

feat: NuGet C# lockfile parser (#8484)
  changelog.d/gh-8484.added
  cli/src/semdep/parse_lockfile.py
  cli/src/semdep/parsers/packages_lock_c_sharp.py
  cli/src/semgrep/target_manager.py
  cli/tests/e2e/rules/dependency_aware/nuget-sca-simple.yaml
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarenuget-sca-simple.yaml-dependency_awarenuget-large/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarenuget-sca-simple.yaml-dependency_awarenuget/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarepython-poetry-sca.yaml-dependency_awarenuget/results.txt
  cli/tests/e2e/targets/dependency_aware/nuget-large/packages.lock.json
  cli/tests/e2e/targets/dependency_aware/nuget/packages.lock.json
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

running through cli works
  src/osemgrep/networking/Rule_fetching.ml
Due: lint-ocaml

chore: Improve benchmarks docs and usability
  Makefile
  perf/README.md
  scripts/run-benchmarks.sh
Due: shellcheck

Work in progress
  cli/tests/e2e/rules/version-constraints.yaml
  cli/tests/e2e/snapshots/test_version_constraints/test_version_constraints/results.json
  cli/tests/e2e/targets/version-constraints/x.py
  cli/tests/e2e/test_version_constraints.py
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/parsing/Parse_rule.ml
  src/reporting/Semgrep_error_code.ml
Due: lint-ocaml

feat(julia): update translation, allow metavars as idents (#8486)
  changelog.d/pa-3007.fixed
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/do_block_metavar.jl
  tests/patterns/julia/do_block_metavar.sgrep
  tests/patterns/julia/import_metavar.jl
  tests/patterns/julia/import_metavar.sgrep
  tests/rules/julia_let_taint.jl
  tests/rules/julia_let_taint.yaml
Due: lint-ocaml

almost working
  libs/ojsonnet/Core_jsonnet2.ml
  libs/ojsonnet/Desugar_jsonnet.ml
  libs/ojsonnet/Desugar_jsonnet.mli
  libs/ojsonnet/Eval_jsonnet2.ml
  libs/ojsonnet/Eval_jsonnet_subst.ml
  libs/ojsonnet/Test_ojsonnet.ml
  libs/ojsonnet/Unit_jsonnet.ml
  libs/ojsonnet/Unit_jsonnet_subst.ml
  libs/ojsonnet/Value_jsonnet2.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/parsing/Parse_rule.ml
  src/tests/Test.ml
Due: lint-ocaml

make sarif support calls
  cli/src/semgrep/formatter/sarif.py
  cli/tests/unit/test_formatters.py
Due: none

osemgrep: rename __main__.py to simple main.py and remove some shebang
  cli/bin/pysemgrep
  cli/bin/semgrep
  cli/src/semgrep/cli.py
  cli/src/semgrep/main.py
Due: none

comments
  cli/bin/semgrep
  cli/setup.py
Due: none

misc
  cli/src/semgrep/console.py
Due: none

misc
  cli/src/semgrep/main.py
Due: none

no utf8
  cli/src/semgrep/main.py
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
