Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

fix(cli): populate `ignores` field correctly when using `--sarif-output` (semgrep/semgrep-proprietary#6551)
  changelog.d/gh-6651.fixed
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/tests/default/e2e-other/test_ci.py
Due: none

feat(cli): Honor nosemgrep_disabled scan config setting in `semgrep ci` (semgrep/semgrep-proprietary#6566)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/tests/default/e2e-other/test_ci.py
Due: none

feat(ci): cut osx-x86 `make test` to subset smoke test (semgrep/semgrep-proprietary#6500)
  .github/workflows/libs/semgrep.libsonnet
  Makefile
  src/core/Test_tags.ml
  src/core/Test_tags.mli
  src/tests/Test.ml
Due: lint-ocaml

feat(ci): use depot's arm runners (semgrep/semgrep-proprietary#6444)
  .github/actionlint.yaml
  Makefile
Due: none

chore: split `Dockerfile` by glibc family (semgrep/semgrep-proprietary#6553)
  .github/workflows/libs/docker.libsonnet
Due: none

chore: update ocaml-tree-sitter-core submodule to use tree-sitter 0.20.8 (semgrep/semgrep-proprietary#6562)
  changelog.d/ocaml-tree-sitter-core-bump.infra
Due: none

fix(tests): turn off git commit signing when running pytest (semgrep/semgrep-proprietary#6333)
  cli/Makefile
Due: none

fix: add `event` trigger type to `wait-for` logic (semgrep/semgrep-proprietary#6507)
  .github/workflows/libs/actions.libsonnet
Due: none

fix: improved constant propagation in Pro (semgrep/semgrep-proprietary#6480)
  src/analyzing/Dataflow_svalue.ml
  src/analyzing/Dataflow_svalue.mli
  src/analyzing/tests/Unit_dataflow.ml
  tests/rules/constprop_bitwise.py
  tests/rules/constprop_bitwise.yaml
  tests/rules/constprop_go.go
  tests/rules/constprop_go.yaml
  tests/rules/constprop_java.java
  tests/rules/constprop_java.yaml
  tests/rules/constprop_php.php
  tests/rules/constprop_php.yaml
  tests/rules/constprop_sccp.py
  tests/rules/constprop_sccp.yaml
  tests/rules/constprop_sccp_integration.py
  tests/rules/constprop_sccp_integration.yaml
  tests/rules/sym_prop_merge.py
Due: lint-ocaml

chore(partial-scans): add atd types and cli flag for specifying partial scan rule ids (semgrep/semgrep-proprietary#6311)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1.atd
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1.jsonschema
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1.proto
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1.py
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1.ts
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1_j.ml
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1_j.mli
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1_t.ml
  cli/src/semgrep/semgrep_interfaces/semgrep_output_v1_t.mli
  cli/tests/default/unit/test_scans_v2.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/networking/Semgrep_App.ml
Due: lint-ocaml

fix(interfaces): change customer metrics in guardian to represent deployments as lists (semgrep/semgrep-proprietary#6601)
  cli/src/semgrep/semgrep_interfaces/semgrep_metrics.atd
  cli/src/semgrep/semgrep_interfaces/semgrep_metrics.py
  src/osemgrep/core/Metrics_.ml
Due: lint-ocaml

feat: distinguish malicious output in table from basic (semgrep/semgrep-proprietary#6590)
  changelog.d/SC-3504.changed
  cli/src/semgrep/core_targets_plan.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarebasic-and-malicious.yaml-dependency_awarebasic_and_malicious/results.txt
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/e2e/rules/dependency_aware/basic-and-malicious.yaml
  cli/tests/default/e2e/targets/dependency_aware/basic_and_malicious/app.js
  cli/tests/default/e2e/targets/dependency_aware/basic_and_malicious/yarn.lock
Due: none

fix: truncate SARIF rule IDs to 255 chars to meet GitHub upload limit
  src/osemgrep/reporting/Sarif_output.ml
Due: lint-ocaml

refactor(ci): do not recompress wheel (semgrep/semgrep-proprietary#6608)
  .github/workflows/libs/semgrep.libsonnet
  scripts/build-wheels.sh
Due: shellcheck

feat(ci): migrate `build-test-linux` to depot bake (semgrep/semgrep-proprietary#6556)
  .github/workflows/libs/bake.libsonnet
  .github/workflows/libs/uses.json
  .github/workflows/libs/useslockfile.json
Due: none

feat(ci): build test images -> ecr -> download & run in GHA (semgrep/semgrep-proprietary#6612)
  .github/workflows/libs/bake.libsonnet
  .github/workflows/libs/docker.libsonnet
Due: none

refactor(ci): build wheel from source (semgrep/semgrep-proprietary#6609)
  cli/README.md
  cli/pyproject.toml
  cli/setup.py
  scripts/build-wheels.sh
Due: shellcheck

refactor: `workdir:` instead of `./scripts/chroot` in whl jobs (semgrep/semgrep-proprietary#6610)
  .github/workflows/libs/semgrep.libsonnet
Due: none

refactor: rely on `wheel-test` stages to validate wheel (semgrep/semgrep-proprietary#6611)
  Dockerfile
  scripts/validate-wheel.sh
Due: shellcheck

fix(ci): `setup-ocaml` cache hash key by `*.opam.*.locked` files (semgrep/semgrep-proprietary#6586)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
