Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

fix(c/cpp): parse c with cpp (semgrep/semgrep-proprietary#1618)
  .gitmodules
  changelog.d/code-6899.fixed
  js/language_server/Makefile
  js/languages/Makefile
  js/languages/c/Makefile
  js/languages/c/Parser.ml
  js/languages/c/dune
  js/languages/c/package-lock.json
  js/languages/c/package.json
  js/languages/c/tests/index.test.js
  js/languages/cpp/Parser.ml
  js/languages/shared/Makefile.include
  js/tests/index.test.js
  languages/c/ast/Log_parser_c.ml
  languages/c/ast/ast_c.ml
  languages/c/ast/ast_c_build.ml
  languages/c/ast/ast_c_build.mli
  languages/c/ast/dune
  languages/c/ast/lib_parsing_c.ml
  languages/c/ast/lib_parsing_c.mli
  languages/c/generic/c_to_generic.ml
  languages/c/generic/c_to_generic.mli
  languages/c/generic/dune
  languages/c/menhir/dune
  languages/c/menhir/parse_c.ml
  languages/c/menhir/parse_c.mli
  languages/c/menhir/test_parsing_c.ml
  languages/c/menhir/test_parsing_c.mli
  languages/c/tree-sitter/Parse_c_tree_sitter.ml
  languages/c/tree-sitter/Parse_c_tree_sitter.mli
  languages/c/tree-sitter/Preprocessor_c.ml
  languages/c/tree-sitter/Preprocessor_c.mli
  languages/c/tree-sitter/dune
  src/main/flags.sh
  src/parsing/Unit_parsing.ml
  src/parsing/tests/Test_parsing.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/dune
Due: shellcheck, lint-ocaml

add precommit for gitignore to dockerignore (semgrep/semgrep-proprietary#1910)
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
Due: gitignore-to-dockerignore

refactor: Improve type safety for marshaling (semgrep/semgrep-proprietary#1889)
  dune-project
  libs/marshaling/Marshaled.ml
  libs/marshaling/Marshaled.mli
  libs/marshaling/dune
Due: lint-ocaml

fix `--junit-xml-output` flag (semgrep/semgrep-proprietary#1899)
  changelog.d/saf-1437.fixed
  cli/src/semgrep/commands/scan.py
  cli/tests/default/e2e/snapshots/test_output/test_junit_xml_output_flag/expected.xml
  cli/tests/default/e2e/test_output.py
Due: none

dogfood: run p/defaults-v2 scan and ci --subdir (semgrep/semgrep-proprietary#1902)
  scripts/test-pro.sh
Due: shellcheck

pro: matching: Fix $MVARs to bind to global ids with id_info intact (semgrep/semgrep-proprietary#1877)
  changelog.d/code-7336.fixed
  interfaces/Rule_options.atd
  libs/ast_generic/AST_generic.ml
  src/engine/Match_tainting_mode.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Matching_generic.ml
Due: lint-ocaml

refactoring: split more OSS/src/core in OSS/src/target (semgrep/semgrep-proprietary#1892)
  .gitignore
  src/core/dune
  src/rule/Mini_rule.ml
  src/target/Lockfile_kind.ml
  src/target/Lockfile_xtarget.ml
  src/target/Manifest_kind.ml
  src/target/Target.ml
  src/target/Target.mli
  src/target/Xtarget.ml
  src/target/Xtarget.mli
  src/target/dune
Due: gitignore-to-dockerignore, lint-ocaml

feat(rule-parsing): emit proper output on fatal rule errors (semgrep/semgrep-proprietary#1865)
  js/engine/Main.ml
  libs/commons/Fpath_.ml
  libs/commons/Fpath_.mli
  src/core/Core_error.ml
  src/core/Rule.ml
  src/core_cli/Core_command.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/osemgrep/reporting/Cli_json_output.ml
Due: lint-ocaml

fix(tests): log out before running tests in `Test_LS_e2e` (semgrep/semgrep-proprietary#1887)
  js/node_shared/unix.js
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/cli_login/Test_login_subcommand.mli
  src/osemgrep/cli_utils/Cli_utils.ml
  src/osemgrep/cli_utils/Cli_utils.mli
  src/osemgrep/cli_utils/dune
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/dune
  src/osemgrep/tests/Test_osemgrep.ml
  src/osemgrep/tests/dune
Due: lint-ocaml

refactoring: remove nested Rule_error.Error module, and add .mli (semgrep/semgrep-proprietary#1884)
  src/core/Rule_error.ml
  src/core/Rule_error.mli
  src/core/Visit_rule.ml
  src/core/Visit_rule.mli
  src/core_cli/Core_command.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_helpers.ml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: lint-ocaml

Capture and log stderr when running external commands with UCmd (semgrep/semgrep-proprietary#1852)
  Makefile
  js/Makefile
  js/libpcre/Makefile
  js/libpcre/dune
  js/node_shared/unix.js
  libs/commons/UCmd.ml
  libs/commons/UCmd.mli
  src/osemgrep/cli_scan/Test_scan_subcommand.ml
  src/osemgrep/configuring/Semgrep_settings.ml
  src/osemgrep/configuring/Semgrep_settings.mli
  tests/snapshots/semgrep-core/84cced48c6d1/stdxxx
  tests/snapshots/semgrep-core/a1eb714b5efd/stdxxx
Due: lint-ocaml

Cache rule validation (semgrep/semgrep-proprietary#1879)
  cli/src/semgrep/config_resolver.py
Due: none

Move libs/marshalling/ to libs/commons/ (semgrep/semgrep-proprietary#1895)
  dune-project
  libs/commons/Marshaled.ml
  libs/commons/Marshaled.mli
  libs/commons/UMarshal_.ml
  libs/commons/UMarshal_.mli
  libs/commons2/common2.ml
  libs/commons2/common2.mli
  libs/marshaling/Marshaled.ml
  libs/marshaling/dune
  src/core_cli/Core_CLI.ml
  src/experiments/misc/Experiments.ml
Due: lint-ocaml

Remove cli_utils/, introduce networking/Testutil_login (semgrep/semgrep-proprietary#1900)
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/cli_login/dune
  src/osemgrep/cli_utils/dune
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/dune
  src/osemgrep/networking/Testutil_login.ml
  src/osemgrep/networking/Testutil_login.mli
  src/osemgrep/tests/Test_osemgrep.ml
  src/osemgrep/tests/dune
Due: lint-ocaml

fix: when retrieving valid code targets, check the product (semgrep/semgrep-proprietary#1844)
  changelog.d/saf-1087.fixed
Due: none

refactoring: extract Rule_error.ml from Rule.ml, and Visit_rule.ml (semgrep/semgrep-proprietary#1883)
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/core/Core_result.ml
  src/core/Core_result.mli
  src/core/Rule.ml
  src/core/Rule_error.ml
  src/core/Visit_rule.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_command.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/core_scan/Pre_post_core_scan.ml
  src/core_scan/Pre_post_core_scan.mli
  src/engine/Match_search_mode.ml
  src/engine/tests/Test_dataflow_tainting.ml
  src/engine/tests/Unit_engine.ml
  src/matching/Matching_visitor.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Check_rule.mli
  src/metachecking/Translate_rule.ml
  src/metachecking/Translate_rule.mli
  src/optimizing/Analyze_rule.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_formula.mli
  src/parsing/Parse_rule_helpers.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

chore(perf): gate as-metavariable (semgrep/semgrep-proprietary#1875)
  src/core/Pattern_match.ml
  src/core/Rule.ml
  src/engine/Match_env.ml
  src/engine/Match_search_mode.ml
  src/matching/Match_patterns.ml
  src/matching/Match_patterns.mli
  src/metachecking/Check_rule.ml
  src/optimizing/Analyze_rule.ml
Due: lint-ocaml

Run also semgrep ci --pro-intrafile in semgrep.yml (semgrep/semgrep-proprietary#1893)
  .github/workflows/semgrep.jsonnet
  .github/workflows/semgrep.yml
Due: none

chore: Bump version to 1.81.0
  CHANGELOG.md
  changelog.d/code-6899.fixed
  changelog.d/code-7336.fixed
  changelog.d/incremental_debug.changed
  changelog.d/saf-1087.fixed
  changelog.d/saf-1437.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

chore: Update Java library definitions (semgrep/semgrep-proprietary#1908)
  changelog.d/java-library-definitions.changed
Due: none

fix(multistep): Fixing metavariable comparison between steps (semgrep/semgrep-proprietary#1905)
  changelog.d/saf-1061.fixed
Due: none

Create managed scan environment (semgrep/semgrep-proprietary#1913)
  cli/src/semgrep/meta.py
Due: none

fix: lsp js move merge issues (semgrep/semgrep-proprietary#1914)
  .github/workflows/tests.jsonnet
Due: none

Update Semgrepignore default value (semgrep/semgrep-proprietary#1876)
  changelog.d/gh-1876.added
  cli/src/semgrep/templates/.semgrepignore
  src/targeting/Semgrepignore.ml
Due: lint-ocaml

chore: add back trace logging (semgrep/semgrep-proprietary#1906)
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
  src/core_cli/Core_command.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Pre_post_core_scan.ml
  src/engine/Match_rules.ml
  src/engine/Match_tainting_mode.ml
  src/reporting/Core_json_output.ml
  src/target/Target.ml
  src/target/Target.mli
  tests/snapshots/semgrep-core/84cced48c6d1/stdxxx
Due: lint-ocaml
