Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

clean up js files
  js/node_shared/unix.js
  js/shared/core.js
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarego-sca.yaml-dependency_awarego_toolchain/results.txt
Due: none

Fix setup script
  scripts/osx-setup-for-release.sh
Due: shellcheck

updated language
  README.md
Due: none

skip showing rules and products for pattern mode
  cli/bin/sg
  cli/setup.py
  cli/src/semgrep/scan_report.py
  cli/src/semgrep/state.py
Due: none

Update README with latest CLI commands and language support (#8933)
  README.md
Due: none

fix typos
  README.md
Due: none

fix(ls): Use libev to better handle FDs (#9113)
  Makefile
  dune-project
  libs/lwt_platform/Lwt_platform.mli
  libs/lwt_platform/js/Lwt_platform.ml
  libs/lwt_platform/unix/Lwt_platform.ml
  scripts/osx-setup-for-release.sh
  semgrep.opam
  src/osemgrep/language_server/LS.ml
  src/osemgrep/language_server/Test_LS_e2e.ml
Due: shellcheck, lint-ocaml

fixes typos
  README.md
Due: none

fix: readme typos (#9118)
  README.md
Due: none

Fix Tok.end_pos_of_loc to handle trailing newlines (#9104)
  changelog.d/lang-18.fixed
  cli/tests/e2e/snapshots/test_check/test_multiline/results.json
  cli/tests/e2e/snapshots/test_metavariable_pattern/test1/results.json
  cli/tests/e2e/snapshots/test_output/test_yaml_metavariables/report.json
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Unit_tok.ml
  src/tests/Test.ml
Due: lint-ocaml

Mark 'not osempass' test with 'osemfail'
  cli/pyproject.toml
  cli/tests/e2e/test_aliengrep.py
  cli/tests/e2e/test_api.py
  cli/tests/e2e/test_autofix.py
  cli/tests/e2e/test_baseline.py
  cli/tests/e2e/test_check.py
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_cli_test.py
  cli/tests/e2e/test_config_resolver.py
  cli/tests/e2e/test_dependency_aware_rules.py
  cli/tests/e2e/test_exclude_include.py
  cli/tests/e2e/test_fixtest.py
  cli/tests/e2e/test_ignores.py
  cli/tests/e2e/test_join_rules.py
  cli/tests/e2e/test_log_file.py
  cli/tests/e2e/test_login.py
  cli/tests/e2e/test_match_based_id.py
  cli/tests/e2e/test_max_target_bytes.py
  cli/tests/e2e/test_message_interpolation.py
  cli/tests/e2e/test_meta.py
  cli/tests/e2e/test_metavariable_regex_const_prop.py
  cli/tests/e2e/test_metrics.py
  cli/tests/e2e/test_missing_file.py
  cli/tests/e2e/test_multi_config_fail.py
  cli/tests/e2e/test_nosemgrep.py
  cli/tests/e2e/test_output.py
  cli/tests/e2e/test_parse_rate_metrics.py
  cli/tests/e2e/test_pro_rule_skipping.py
  cli/tests/e2e/test_publish.py
  cli/tests/e2e/test_rule_parser.py
  cli/tests/e2e/test_rule_validation.py
  cli/tests/e2e/test_semgrep_core_parse_error.py
  cli/tests/e2e/test_spacegrep.py
  cli/tests/e2e/test_utility_commands.py
Due: none

Remove 'osempass' markers since they're redundant with 'not osemfail'
  cli/Makefile
  cli/pyproject.toml
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationmulti-pattern-inside.yaml-message_interpolationmulti_pattern_inside.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationmulti-pattern-inside.yaml-message_interpolationmulti_pattern_inside_nested.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpattern-either.yaml-message_interpolationpattern_either_basic.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpattern-inside.yaml-message_interpolationpattern_inside_basic.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpattern-inside.yaml-message_interpolationpattern_inside_complex.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpattern-not-inside.yaml-message_interpolationpattern_not_inside_basic.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpattern-not-inside.yaml-message_interpolationpattern_not_inside_complex.py/results.json
  cli/tests/e2e/snapshots/test_message_interpolation/test_message_interpolation/rulesmessage_interpolationpropagated-constant.yaml-message_interpolationpropagated_constant.py/results.json
  cli/tests/e2e/test_aliengrep.py
  cli/tests/e2e/test_api.py
  cli/tests/e2e/test_autofix.py
  cli/tests/e2e/test_baseline.py
  cli/tests/e2e/test_check.py
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_cli_test.py
  cli/tests/e2e/test_help.py
  cli/tests/e2e/test_ignores.py
  cli/tests/e2e/test_match_based_id.py
  cli/tests/e2e/test_max_target_bytes.py
  cli/tests/e2e/test_message_interpolation.py
  cli/tests/e2e/test_metavariable_matching.py
  cli/tests/e2e/test_metavariable_pattern.py
  cli/tests/e2e/test_nosemgrep.py
  cli/tests/e2e/test_output.py
  cli/tests/e2e/test_paths.py
  cli/tests/e2e/test_performance.py
  cli/tests/e2e/test_pro_rule_skipping.py
  cli/tests/e2e/test_rule_id.py
  cli/tests/e2e/test_rule_parser.py
  cli/tests/e2e/test_rule_validation.py
  cli/tests/e2e/test_severity.py
  cli/tests/e2e/test_spacegrep.py
  cli/tests/e2e/test_utility_commands.py
  cli/tests/e2e/test_version_constraints.py
Due: none

Update test snapshot (how did it get in?)
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarego-sca.yaml-dependency_awarego_toolchain/results.txt
Due: none

Update test snapshot (how did it get in?) (#9119)
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarego-sca.yaml-dependency_awarego_toolchain/results.txt
Due: none

try ubuntu
  .github/workflows/check-semgrep-pro.jsonnet
  .github/workflows/check-semgrep-pro.yml
Due: none

remove homebrew stuff of austin in platform-agnostic target
  Makefile
Due: none

try back alpine
  .github/workflows/check-semgrep-pro.jsonnet
  .github/workflows/check-semgrep-pro.yml
Due: none

Commutativity support for comparison operators EQ and NOT_EQ
  changelog.d/pa-3140.added
  interfaces/Rule_options.atd
  src/matching/Generic_vs_generic.ml
  tests/rules/option_commutative_compop.php
  tests/rules/option_commutative_compop.yaml
Due: lint-ocaml

Fix --severity regression
  changelog.d/gh-9062.fixed
  cli/src/semgrep/run_scan.py
  cli/tests/e2e/snapshots/test_severity/test_severity_error/results.json
  cli/tests/e2e/test_severity.py
Due: none

Commutativity support for comparison operators EQ and NOT_EQ (#9122)
  changelog.d/pa-3140.added
  interfaces/Rule_options.atd
  src/matching/Generic_vs_generic.ml
  tests/rules/option_commutative_compop.php
  tests/rules/option_commutative_compop.yaml
Due: lint-ocaml

Fix --severity regression (#9123)
  changelog.d/gh-9062.fixed
  cli/src/semgrep/run_scan.py
  cli/tests/e2e/snapshots/test_severity/test_severity_error/results.json
  cli/tests/e2e/test_severity.py
Due: none

Fix --sarif in the presence of errors
  changelog.d/gh-9091.fixed
  cli/src/semgrep/error.py
  cli/src/semgrep/formatter/sarif.py
  cli/tests/e2e/snapshots/test_output/test_sarif_output_when_errors/results.sarif
  cli/tests/e2e/test_output.py
Due: none

Fix --sarif in the presence of errors (#9124)
  changelog.d/gh-9091.fixed
  cli/src/semgrep/error.py
  cli/src/semgrep/formatter/sarif.py
  cli/tests/e2e/snapshots/test_output/test_sarif_output_when_errors/results.sarif
  cli/tests/e2e/test_output.py
Due: none

Heejong's review
  changelog.d/gh-5897.added
  tests/rules/taint_exact_sanitizer.py
  tests/rules/taint_exact_sanitizer.yaml
  tests/rules/taint_exact_sources.py
  tests/rules/taint_exact_sources.yaml
Due: none

tainting: Add `exact` option to sources and sanitizers (#9096)
  changelog.d/gh-5897.added
  src/core/Rule.ml
  src/engine/Match_tainting_mode.ml
  src/metachecking/Translate_rule.ml
  src/parsing/Parse_rule.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Taint.ml
  src/tainting/Taint_smatch.ml
  src/tainting/Taint_smatch.mli
  tests/rules/taint_exact_sanitizer.py
  tests/rules/taint_exact_sanitizer.yaml
  tests/rules/taint_exact_sources.py
  tests/rules/taint_exact_sources.yaml
  tests/rules/taint_param_default.yaml
Due: lint-ocaml

fixup! fix(sca): use only line dependency was found in
  changelog.d/sc-727.changed
Due: none

cleanup
  js/languages/Makefile
  js/tests/Test_jsoo.ml
  libs/commons/Testutil.mli
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/server/Session.ml
Due: lint-ocaml

comments, more cleanup based on dif
  js/node_shared/Semgrep_node_js_shared.ml
  js/tests/Test_jsoo.ml
  libs/commons/Testutil.mli
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/server/RPC_server.ml
Due: lint-ocaml

pause change
  src/osemgrep/language_server/Test_LS_e2e.ml
Due: lint-ocaml

skip printing header and progress bar for pattern invocations
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/scan_report.py
Due: none

changelog entry
  changelog.d/gh-9117.added
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
