Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm-v6/results.txt
Due: none

osemgrep: rename core_match_results to core_output (#8553)
  cli/src/semgrep/core_output.py
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
  cli/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
  js/README.md
  js/engine/Main.ml
  js/engine/tests/__snapshots__/index.test.js.snap
  libs/commons/File_type.ml
  libs/commons/File_type.mli
  semgrep.opam
  src/experiments/misc/Raja_experiment.ml
  src/experiments/misc/Raja_experiment.mli
  src/metachecking/Check_rule.ml
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Core_runner.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/language_server/Processed_run.ml
  src/osemgrep/language_server/Unit_LS.ml
  src/reporting/JSON_report.ml
  src/reporting/JSON_report.mli
  src/reporting/Output_from_core_util.ml
  src/reporting/Output_from_core_util.mli
  src/reporting/Unit_reporting.ml
  src/runner/Run_semgrep.ml
  tests/semgrep_output/core_output/core_output1.json
Due: lint-ocaml

Print help message when running semgrep without any argument
  changelog.d/gh-4457.fixed
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

Print help message when running semgrep without any argument (#8562)
  changelog.d/gh-4457.fixed
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

osemgrep: split CLI.ml in separate Help.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli/Help.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
Due: lint-ocaml

provide 2 messages
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli/Help.mli
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_help/test_help_text/--help/help.txt
  cli/tests/e2e/snapshots/test_help/test_help_text/-h/help.txt
Due: none

osemgrep: split CLI.ml in separate Help.ml (#8563)
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli/Help.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
Due: lint-ocaml

Add colors to 'semgrep' help message
  dune-project
  semgrep.opam
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli/dune
  src/osemgrep/core/CLI_common.ml
Due: lint-ocaml

set multiple platform tags for linux_aarch64 in setup.py
  cli/setup.py
  scripts/build-wheels.sh
Due: shellcheck

add comments
  cli/setup.py
Due: none

fix
  cli/setup.py
Due: none

update changelog
  changelog.d/gh-8565.fixed
Due: none

cli: simplify python wheel building + properly publish aarch64 musllinux wheel (#8565)
  changelog.d/gh-8565.fixed
  cli/setup.py
  scripts/build-wheels.sh
Due: shellcheck

Add colors to 'semgrep' help message (#8564)
  dune-project
  semgrep.opam
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli/dune
  src/osemgrep/core/CLI_common.ml
Due: lint-ocaml

matching: Make `metavariable-type` to default to false
  changelog.d/pa-3027.fixed
  src/engine/Match_search_mode.ml
  tests/rules/metavar_type_invalid.java
  tests/rules/metavar_type_invalid.yaml
Due: lint-ocaml

fix: distinguish import from using
  languages/julia/generic/Parse_julia_tree_sitter.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  tests/patterns/julia/import_import.jl
  tests/patterns/julia/import_import.sgrep
  tests/patterns/julia/using_import.jl
  tests/patterns/julia/using_import.sgrep
Due: lint-ocaml

add tests
  tests/patterns/julia/import_alias.jl
  tests/patterns/julia/import_alias.sgrep
  tests/patterns/julia/import_import.jl
Due: none

other out for using as case, add tests
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/using_alias.jl
  tests/patterns/julia/using_alias.sgrep
Due: lint-ocaml

fix tests
  tests/patterns/julia/using_alias.jl
  tests/patterns/julia/using_import.jl
Due: none

precommit changes
  cli/tests/e2e/test_ci.py
Due: none

changelog update
  changelog.d/cli-timestamp.added
Due: none

changelog
  changelog.d/cli-timestamp.added
Due: none

update privacy.md
  PRIVACY.md
Due: none

changelog
  changelog.d/pa-3028.fixed
Due: none

Make semgrep user a regular user
  Dockerfile
Due: none

parse let as block
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/let_ellipsis.jl
  tests/patterns/julia/let_ellipsis.sgrep
Due: lint-ocaml

changelog
  changelog.d/pa-3029.fixed
Due: none

feat: dump patterns from rule (#8559)
  src/core/Rule.ml
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

precommit fixes
  cli/src/semgrep/meta.py
  cli/tests/e2e/test_ci.py
Due: none

Remove group
  Dockerfile
Due: none

Default options, explicit uid and homedir
  Dockerfile
Due: none

fix test
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

fix(SSC): Correctly parse pnpm-lock v6+ packages (#8560)
  changelog.d/sc-1033.fixed
  cli/src/semdep/parsers/pnpm.py
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm-v6/results.txt
  cli/tests/e2e/targets/dependency_aware/pnpm-v6/pnpm-lock.yaml
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none
