Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations

fix(pre-commit): add back semgrep in precommit (#7045)
  .pre-commit-config.yaml
  cli/src/semgrep/commands/install.py
  tests/precommit_dogfooding/bandit.yml
  tests/precommit_dogfooding/python.yml
Due: none

osemgrep: use git ls-files when possible (#7049)
  libs/commons/Common.ml
  libs/commons/Common.mli
  libs/commons/FPath.ml
  src/osemgrep/TOPORT/target_manager.py
  src/targeting/Find_target.ml
  src/targeting/Git.ml
  src/targeting/Git.mli
Due: lint-ocaml

fix metavariable localization, add test
  src/core/Metavariable.ml
  src/engine/Match_search_mode.ml
  src/engine/Metavariable_pattern.ml
  tests/rules/persistent_metavariable_pattern.py
  tests/rules/persistent_metavariable_pattern.yaml
Due: lint-ocaml

comment and changelog
  changelog.d/pa-2490.added
  src/core/Metavariable.ml
Due: lint-ocaml

typo
  src/engine/Metavariable_pattern.ml
Due: lint-ocaml

feat(js): Allow metavar ellipsis in template strings
  changelog.d/template-metavar-ellipsis.feat
  src/core/Pattern.ml
  src/matching/Generic_vs_generic.ml
  tests/patterns/js/ellipsis_metavar_tagged_template.js
  tests/patterns/js/ellipsis_metavar_tagged_template.sgrep
  tests/patterns/js/ellipsis_metavar_template.js
  tests/patterns/js/ellipsis_metavar_template.sgrep
  tests/rules/ellipsis_metavar_template.js
  tests/rules/ellipsis_metavar_template.yaml
Due: lint-ocaml

test: linting
  .github/workflows/release.yml
Due: none

test: linting
  .github/workflows/push-docker.yaml
Due: none

Reorganize release steps to match order of execution (#7013)
  .github/workflows/release.yml
Due: none

Remove hack that always added p/deepsemgrep to ci runs
  cli/src/semgrep/commands/ci.py
Due: none

apply suggestions
  .github/workflows/test-semgrep-pro.yaml
  .github/workflows/tests.yml
Due: none

improved test
  tests/rules/persistent_metavariable_pattern.py
  tests/rules/persistent_metavariable_pattern.yaml
Due: none

fix test again
  tests/rules/.bash_history
  tests/rules/persistent_metavariable_pattern.py
Due: none

add testing script, use outputs to set docker tag, mount script for use in testing
  .github/workflows/test-semgrep-pro.yaml
  scripts/test-pro.sh
Due: shellcheck

representation for unique names with tokens
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Visitor_AST.ml
  src/analyzing/Dataflow_svalue.ml
  src/matching/Generic_vs_generic.ml
  src/naming/Naming_AST.ml
  src/printing/Pretty_print_AST.ml
Due: lint-ocaml

pre-commit
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Visitor_AST.ml
  src/analyzing/Dataflow_svalue.ml
  src/naming/Naming_AST.ml
  src/printing/Pretty_print_AST.ml
Due: lint-ocaml

change possible parents hook, prefer unique names to dotted
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
Due: lint-ocaml

kill the equal overload
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

clean up a bit
  libs/ast_generic/AST_generic.ml
  src/matching/Generic_vs_generic.ml
Due: lint-ocaml

apply suggestion, add comment
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

last fix
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
Due: lint-ocaml

Delete .bash_history
  tests/rules/.bash_history
Due: none

appease checker
  .github/workflows/test-semgrep-pro.yaml
Due: none

more fixes
  .github/workflows/test-semgrep-pro.yaml
Due: none

fix??
  .github/workflows/test-semgrep-pro.yaml
Due: none

feat!: persist metavariable pattern bindings (#7052)
  changelog.d/pa-2490.added
  src/core/Metavariable.ml
  src/engine/Match_search_mode.ml
  src/engine/Metavariable_pattern.ml
  src/engine/Metavariable_pattern.mli
  tests/rules/persistent_metavariable_pattern.py
  tests/rules/persistent_metavariable_pattern.yaml
Due: lint-ocaml

fix the output
  .github/workflows/test-semgrep-pro.yaml
Due: none

fix output, require pushing docker
  .github/workflows/test-semgrep-pro.yaml
  .github/workflows/tests.yml
Due: none

swithc off of dev
  .github/workflows/tests.yml
Due: none

use the image directly
  .github/workflows/test-semgrep-pro.yaml
Due: none

reinstate the command
  .github/workflows/test-semgrep-pro.yaml
Due: none

see images
  .github/workflows/push-docker.yaml
Due: none

that was a mistake
  .github/workflows/push-docker.yaml
  .github/workflows/test-semgrep-pro.yaml
Due: none

omg there was a pr-
  .github/workflows/test-semgrep-pro.yaml
Due: none

Diagnostics
  .github/workflows/test-semgrep-pro.yaml
Due: none

better path?
  .github/workflows/test-semgrep-pro.yaml
Due: none

osemgrep: start to use Fpath from dbuenzli for target_roots
  libs/commons/FPath.mli
  libs/commons/FilePath.ml
  libs/commons/FilePath.mli
  libs/commons/tests/Unit_FPath.ml
  semgrep.opam
  src/osemgrep/cli_scan/Dump_subcommand.ml
  src/osemgrep/cli_scan/Dump_subcommand.mli
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Test_subcommand.ml
  src/osemgrep/cli_scan/Test_subcommand.mli
  src/targeting/Find_target.ml
  src/targeting/Find_target.mli
  src/targeting/dune
Due: lint-ocaml

Work in progress
  .pre-commit-config.yaml
  src/osemgrep/targeting/Gitignore_syntax.ml
  src/osemgrep/targeting/Gitignore_syntax.mli
  src/osemgrep/targeting/Glob_lexer.mll
  src/osemgrep/targeting/Glob_matcher.ml
  src/osemgrep/targeting/Glob_matcher.mli
  src/osemgrep/targeting/Glob_parser.mll
Due: lint-ocaml

osemgrep: start to use Fpath from dbuenzli for target_roots (#7057)
  libs/commons/FPath.mli
  libs/commons/FilePath.ml
  libs/commons/FilePath.mli
  libs/commons/tests/Unit_FPath.ml
  semgrep.opam
  src/osemgrep/cli_scan/Dump_subcommand.ml
  src/osemgrep/cli_scan/Dump_subcommand.mli
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Test_subcommand.ml
  src/osemgrep/cli_scan/Test_subcommand.mli
  src/targeting/Find_target.ml
  src/targeting/Find_target.mli
  src/targeting/dune
Due: lint-ocaml
