Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT

Fix comment in test example
  tests/rules/taint_match_on_source.py
Due: none

tainting: Enable matching on the source (#9277)
  changelog.d/pa-3272.added
  interfaces/Rule_options.atd
  src/engine/Match_tainting_mode.ml
  tests/rules/taint_match_on_source.py
  tests/rules/taint_match_on_source.yaml
Due: lint-ocaml

debug segfault and progress indicator
  libs/commons/Logging.ml
  libs/commons/Logging.mli
  libs/commons/Logging_helpers.ml
  src/core_scan/Core_scan.ml
  src/optimizing/Analyze_rule.ml
  src/optimizing/dune
Due: lint-ocaml

remove parmap as speedup not visible
  src/optimizing/Analyze_rule.ml
  src/optimizing/dune
Due: lint-ocaml

instrument parsers for seg fault
  libs/commons/Logging.ml
  libs/commons/Logging.mli
  src/core_scan/Core_scan.ml
  src/parsing/Pfff_or_tree_sitter.ml
Due: lint-ocaml

Cleanup semgrep show and add 'semgrep show version'
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_show/Show_CLI.ml
  src/osemgrep/cli_show/Show_CLI.mli
  src/osemgrep/cli_show/Show_subcommand.ml
Due: lint-ocaml

try test_engine stuff in test_command
  src/osemgrep/cli_test/Test_subcommand.ml
Due: lint-ocaml

Cleanup semgrep show and add 'semgrep show version' (#9309)
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_show/Show_CLI.ml
  src/osemgrep/cli_show/Show_CLI.mli
  src/osemgrep/cli_show/Show_subcommand.ml
Due: lint-ocaml

comments and rename things
  js/language_server/Makefile
  js/language_server/dune
  js/language_server/src/semgrep-lsp-bindings.ts
  js/languages/dockerfile/Makefile
Due: none

Fix custom methods sent w/ no params
  src/osemgrep/language_server/custom_requests/Login.ml
  src/osemgrep/language_server/notifications/LoginFinish.ml
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
Due: lint-ocaml

Fix startup crash
  changelog.d/language-server.fixed
Due: none

Fix docker makefile
  js/languages/dockerfile/Makefile
Due: none

ignore better, and reintroduce match
  src/osemgrep/language_server/custom_requests/Login.ml
  src/osemgrep/language_server/notifications/LoginFinish.ml
Due: lint-ocaml

Couple osx release with homebrew setup target
  Makefile
  scripts/osx-setup-for-release.sh
Due: shellcheck

Fix vue makefile
  js/languages/vue/Makefile
Due: none

fix tests
  cli/tests/e2e/targets/semgrep-publish/multirule/multirule.yaml
  libs/commons/Logs_helpers.ml
  libs/commons/Logs_helpers.mli
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/cli_publish/Test_publish_subcommand.ml
  src/osemgrep/cli_publish/Test_publish_subcommand.mli
  src/osemgrep/cli_publish/dune
  src/tests/Test.ml
  src/tests/dune
Due: lint-ocaml

fix(ls): don't crash on custom methods sent w/ no params (#9310)
  changelog.d/language-server.fixed
  src/osemgrep/language_server/custom_requests/Login.ml
  src/osemgrep/language_server/notifications/LoginFinish.ml
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
Due: lint-ocaml

maybe: fix makefile for macos arm
  Makefile
Due: none

restore make_lang_regression_tests
  src/engine/Unit_engine.ml
  src/engine/Unit_engine.mli
Due: lint-ocaml

Fix makefile
  js/language_server/Makefile
Due: none

Fix maybe??
  Makefile
Due: none

maybe fix again
  Makefile
  scripts/osx-setup-for-release.sh
Due: shellcheck

Make prefix less fragile
  Makefile
Due: none

Add TODO after Pad's review
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

Comments
  scripts/osx-setup-for-release.sh
Due: shellcheck

Add changelog
  changelog.d/language-server.fixed
Due: none

rename
  changelog.d/language-server-macos.fixed
Due: none

fix(gha): Couple osx release with homebrew setup target (#9311)
  Makefile
  changelog.d/language-server-macos.fixed
  scripts/osx-setup-for-release.sh
Due: shellcheck

Don't be ridiculous about sed
  js/language_server/Makefile
Due: none

narrow down test failure
  src/osemgrep/tests/Test_osemgrep.ml
  src/tests/Test.ml
Due: lint-ocaml

cli stuff
  cli/tests/e2e/test_baseline.py
  cli/tests/e2e/test_check.py
  cli/tests/e2e/test_cli_test.py
  cli/tests/e2e/test_config_resolver.py
  cli/tests/e2e/test_help.py
  cli/tests/e2e/test_login.py
  cli/tests/e2e/test_parse_rate_metrics.py
  cli/tests/e2e/test_publish.py
  cli/tests/e2e/test_utility_commands.py
  cli/tests/qa/test_public_repos.py
  cli/tests/semgrep_runner.py
Due: none

Update README
  js/Makefile
  js/README.md
  js/e2e/.babelrc
  js/e2e/Makefile
  js/e2e/index.test.ts
  js/e2e/package.json
  js/e2e/rules.json
Due: none

pre-commit
  cli/tests/semgrep_runner.py
Due: none

fix tests
  cli/tests/conftest.py
  cli/tests/e2e/test_login.py
  cli/tests/e2e/test_metrics.py
  cli/tests/e2e/test_publish.py
  cli/tests/semgrep_runner.py
Due: none

wip: debug trace
  src/core_cli/Core_command.ml
  src/core_scan/Core_scan.ml
  src/metachecking/Unit_metachecking.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml
