Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

Rename environment variable `LOG_TAGS` to `SEMGREP_LOG_TAGS` (#10087)
  changelog.d/gh-10087.changed
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
Due: lint-ocaml

New logging tags `default` and `all`. (#10089)
  changelog.d/gh-10089.changed
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  libs/commons/Logs_.ml
Due: lint-ocaml

Replace '_tmp_' with '_temp_ in function names exposed by CapTmp and UTmp for consistency.
  languages/go/menhir/parse_go.ml
  languages/java/menhir/parse_java.ml
  languages/javascript/menhir/parse_js.ml
  languages/ocaml/menhir/unit_parsing_ml.ml
  languages/python/menhir/Parse_python.ml
  languages/tree-sitter-to-generic/Parse_vue_tree_sitter.ml
  libs/commons/CapTmp.ml
  libs/commons/CapTmp.mli
  libs/commons/UTmp.ml
  libs/commons/UTmp.mli
  libs/commons2/common2.ml
  libs/ojsonnet/Std_jsonnet.ml
  src/core/Range.ml
  src/core_cli/Core_CLI.ml
  src/engine/Metavariable_pattern.ml
  src/engine/Xpattern_matcher.ml
  src/fixing/Autofix.ml
  src/fixing/tests/Unit_autofix_printer.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Unit_Login.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

Use `temp_` consistently instead of a mix of `tmp_` and `temp_` (#10090)
  languages/go/menhir/parse_go.ml
  languages/java/menhir/parse_java.ml
  languages/javascript/menhir/parse_js.ml
  languages/ocaml/menhir/unit_parsing_ml.ml
  languages/python/menhir/Parse_python.ml
  languages/tree-sitter-to-generic/Parse_vue_tree_sitter.ml
  libs/commons/CapTmp.ml
  libs/commons/CapTmp.mli
  libs/commons/UTmp.ml
  libs/commons/UTmp.mli
  libs/commons2/common2.ml
  libs/ojsonnet/Std_jsonnet.ml
  src/core/Range.ml
  src/core_cli/Core_CLI.ml
  src/engine/Metavariable_pattern.ml
  src/engine/Xpattern_matcher.ml
  src/fixing/Autofix.ml
  src/fixing/tests/Unit_autofix_printer.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Unit_Login.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

tracing: include a ppx option to open a trace inside a function (#10081)
  libs/tracing/ppx/ppx_tracing.ml
  libs/tracing/ppx_tests/nested_let.ml
Due: lint-ocaml

Remove CODEOWNERS for .github
  .github/CODEOWNERS
Due: none

Remove CODEOWNERS for .github (#10095)
  .github/CODEOWNERS
Due: none

fix test: handle dirty folders
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/server/Session.ml
Due: lint-ocaml

feat(lsp): search with includes/excludes (#9945)
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/paths/Ppath.ml
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/language_server/custom_requests/Search.mli
  src/osemgrep/language_server/custom_requests/dune
  src/osemgrep/language_server/server/Session.ml
Due: lint-ocaml

feat: generate preview in core
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/language_server/custom_requests/dune
Due: lint-ocaml

generate larger preview
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

feat: space heuristics for preview, ... for cutoffs
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

fix language select param, and move filtering to later
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

don't emit ellipsis for previews which have prefixing whitespace
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

use cat to get file contents
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

feat(lsp): match previews for `/semgrep/search` (#9949)
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/language_server/custom_requests/dune
Due: lint-ocaml

feat: allow simple positive and negative patterns for /semgrep/search
  src/core/Rule.ml
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
Due: lint-ocaml

refactor: make flow nicer, separate lang gen and rule gen
  src/core/Rule.ml
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
Due: lint-ocaml

add comments
  .envrc
  flake.nix
Due: none

fix after merge
  src/osemgrep/language_server/custom_requests/Search.ml
Due: lint-ocaml

fix jsonnet
  .github/workflows/build-test-javascript.yml
Due: none

comments and yq
  cli/pyproject.toml
  cli/setup.py
  flake.nix
Due: none

fix merge issue?
  js/libpcre/runtime.js
Due: none

feat: nix for building Semgrep! (#10080)
  .dockerignore
  .envrc
  .gitignore
  cli/pyproject.toml
  cli/setup.py
  dune-project
  flake.lock
  flake.nix
  scripts/release/bump
  semgrep.opam
Due: gitignore-to-dockerignore

omit CLI errors to scan endpoint
  cli/src/semgrep/app/scans.py
Due: none

fix: set content-length on requests
  libs/networking/http_helpers/http_helpers.ml
Due: lint-ocaml

fix: Fix ./scripts/release/bump
  scripts/release/bump
Due: none

Make sure to use 'Testutil.mask_temp_paths'
  libs/commons/Testutil.ml
  semgrep.jsonnet
  src/targeting/Unit_find_targets.ml
Due: lint-ocaml

fix: Fix ./scripts/release/bump (#10099)
  scripts/release/bump
Due: none

chore: Bump version to 1.69.0
  CHANGELOG.md
  changelog.d/gh-10039.fixed
  changelog.d/gh-10044.changed
  changelog.d/gh-10087.changed
  changelog.d/gh-10089.changed
  changelog.d/saf-885.added
  changelog.d/saf-897.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

Use latest semgrep-interface
  CHANGELOG.md
  src/osemgrep/core/Metrics_.ml
  src/rpc/RPC.ml
Due: lint-ocaml

typo
  CHANGELOG.md
Due: none

comment
  .envrc
Due: none

more comments
  flake.nix
Due: none

Update Copyright and add a few comments in Makefile
  COPYRIGHT
  Dockerfile
  Makefile
Due: none

Add a few files in .semgrepignore
  .semgrepignore
Due: none

devops: Run make core-test in OSX arm64 runs
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
Due: none

Start using Logs.src instead of tags
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
  libs/commons/Pcre_.ml
  libs/commons/dune
Due: lint-ocaml
