Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

CLI: Better verbose info about partially analyzed files
  changelog.d/pa-2683.changed
  cli/src/semgrep/output.py
  cli/src/semgrep/target_manager.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_check/test_max_memory/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error_2.txt
  cli/tests/e2e/snapshots/test_cli_test/test_parse_errors/errors.txt
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_check/test_max_memory/error.txt
  cli/tests/e2e/snapshots/test_check/test_spacegrep_timeout/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error_2.txt
  cli/tests/e2e/snapshots/test_cli_test/test_parse_errors/errors.txt
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
Due: none

riperoni
  js/engine/Makefile
Due: none

CLI: Allow --pro to take a single target that is not a dir (#7606)
  changelog.d/misc-1.changed
  cli/src/semgrep/core_runner.py
Due: none

Don't skip over an expected closing brace (#7607)
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Unit_Match.ml
Due: lint-ocaml

fix compilation error after develop merge
  src/ls/Unit_LS.ml
Due: lint-ocaml

feat(lsp-ocaml): Port LS to OCaml (#7598)
  changelog.d/pa-lsp.added
  cli/src/semgrep/lsp/config.py
  cli/src/semgrep/lsp/convert.py
  cli/src/semgrep/lsp/metrics.py
  cli/src/semgrep/lsp/run_semgrep.py
  cli/src/semgrep/lsp/schema.json
  cli/src/semgrep/lsp/server.py
  cli/src/semgrep/lsp/types.py
  cli/src/semgrep/metrics.py
  cli/tests/conftest.py
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag1/metrics-payload.json
  cli/tests/e2e/test_ls.py
  cli/tests/e2e/test_lsp.py
  semgrep.opam
  src/core_cli/Core_CLI.ml
  src/core_cli/dune
  src/experiments/lsp/LSP_client.ml
  src/experiments/lsp/dune
  src/ls/CodeActions.ml
  src/ls/CodeActions.mli
  src/ls/Diagnostics.ml
  src/ls/Diagnostics.mli
  src/ls/Git_helper.ml
  src/ls/Git_helper.mli
  src/ls/LS.ml
  src/ls/LS.mli
  src/ls/Lsp_util.ml
  src/ls/Lsp_util.mli
  src/ls/Processed_run.ml
  src/ls/Processed_run.mli
  src/ls/Session.ml
  src/ls/Session.mli
  src/ls/Unit_LS.ml
  src/ls/Unit_LS.mli
  src/ls/dune
  src/matching/dune
  src/runner/Runner_config.ml
  tests/Test.ml
  tests/dune
Due: lint-ocaml

bring back libpcre + move yaml stuff into libyaml
  js/Makefile
  js/engine/.babelrc
  js/engine/Makefile
  js/engine/dune
  js/engine/package-lock.json
  js/engine/package.json
  js/engine/pcre.js
  js/engine/src/index.d.ts
  js/engine/src/index.js
  js/engine/src/index.test.js
  js/engine/src/index.test.ts
  js/engine/src/index.ts
  js/engine/tsconfig.json
  js/libpcre/Makefile
  js/libpcre/Makefile.include
  js/libpcre/dune
  js/libpcre/package-lock.json
  js/libpcre/package.json
  js/libpcre/runtime.js
  js/libpcre/runtime.test.js
  js/libyaml/Makefile
  js/libyaml/Makefile.include
  js/libyaml/dune
  js/libyaml/package.json
  js/libyaml/runtime.js
  js/libyaml/runtime.test.js
  js/libyaml/tsconfig.json
Due: none

fix
  js/languages/dockerfile/dune
  js/libpcre/dune
  js/libyaml/dune
Due: none

fix libpcre makefile
  js/libpcre/Makefile
Due: none

wire up pcre to dockerfile parser
  js/languages/dockerfile/tests/index.test.js
  js/libpcre/runtime.js
  js/libpcre/runtime.test.js
Due: none

fix(taint): update keys with `Taints.map` (#7564)
  changelog.d/pa-2682.fixed
  src/tainting/Taint.ml
  tests/rules/labeled_propagators.py
  tests/rules/labeled_propagators.yaml
Due: lint-ocaml

fix semgrep-dev docker build
  dockerfiles/semgrep-dev.Dockerfile
Due: none

fix: git URL parsing for subgroups
  cli/src/semgrep/external/git_url_parser.py
Due: none

tests: add tests for git url parsing
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_meta.py
Due: none

add changelog
  changelog.d/pa-2669.fixed
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-unparsable_url/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-self-hosted/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-unparsable_url/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---emacs/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---gitlab-sast/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---gitlab-secrets/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---json/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---sarif/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/autofix---vim/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---emacs/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---gitlab-sast/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---gitlab-secrets/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---json/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---sarif/results.txt
  cli/tests/e2e/snapshots/test_ci/test_outputs/noautofix---vim/results.txt
  cli/tests/e2e/snapshots/test_ci/test_query_dependency/output.txt
Due: none

init
  src/core_cli/Core_CLI.ml
  src/engine/Match_interactive_mode.ml
  src/runner/Run_semgrep.ml
  src/runner/Runner_config.ml
Due: lint-ocaml

refactor: Create `Naming_utils` module
  src/naming/Naming_AST.ml
  src/naming/Naming_AST.mli
  src/naming/Naming_utils.ml
  src/naming/Naming_utils.mli
Due: lint-ocaml

Check python version, add known context
  dockerfiles/semgrep-dev.Dockerfile
Due: none

Avoid Bash-specific features and pipes
  dockerfiles/semgrep-dev.Dockerfile
Due: none

fix semgrep-dev docker build (#7610)
  dockerfiles/semgrep-dev.Dockerfile
Due: none

refactor: Create `Naming_utils` module (#7613)
  src/naming/Naming_AST.ml
  src/naming/Naming_AST.mli
  src/naming/Naming_utils.ml
  src/naming/Naming_utils.mli
Due: lint-ocaml

bring back libpcre + move yaml stuff into libyaml (#7609)
  js/Makefile
  js/engine/.babelrc
  js/engine/Makefile
  js/engine/dune
  js/engine/package-lock.json
  js/engine/package.json
  js/engine/pcre.js
  js/engine/src/index.d.ts
  js/engine/src/index.js
  js/engine/src/index.test.js
  js/engine/src/index.test.ts
  js/engine/src/index.ts
  js/engine/tsconfig.json
  js/languages/dockerfile/dune
  js/languages/dockerfile/tests/index.test.js
  js/libpcre/Makefile
  js/libpcre/Makefile.include
  js/libpcre/dune
  js/libpcre/package-lock.json
  js/libpcre/package.json
  js/libpcre/runtime.js
  js/libpcre/runtime.test.js
  js/libyaml/Makefile
  js/libyaml/Makefile.include
  js/libyaml/dune
  js/libyaml/package.json
  js/libyaml/runtime.js
  js/libyaml/runtime.test.js
  js/libyaml/tsconfig.json
Due: none

osemgrep: adjust TOPORT/ with latest pysemgrep lsp code
  libs/commons/dune
  src/osemgrep/TOPORT/lsp/__init__.py
  src/osemgrep/TOPORT/lsp/config.py
  src/osemgrep/TOPORT/lsp/convert.py
  src/osemgrep/TOPORT/lsp/metrics.py
  src/osemgrep/TOPORT/lsp/run_semgrep.py
  src/osemgrep/TOPORT/lsp/schema.json
  src/osemgrep/TOPORT/lsp/server.py
  src/osemgrep/TOPORT/lsp/types.py
  src/osemgrep/TOPORT/oct_11_2022_apr_13_2023.diff
  src/osemgrep/TOPORT/output_extra.py
  src/osemgrep/TOPORT/profile_manager.py
Due: none

osemgrep: adjust TOPORT/ with latest pysemgrep lsp code (#7614)
  libs/commons/dune
  src/osemgrep/TOPORT/lsp/__init__.py
  src/osemgrep/TOPORT/lsp/config.py
  src/osemgrep/TOPORT/lsp/convert.py
  src/osemgrep/TOPORT/lsp/metrics.py
  src/osemgrep/TOPORT/lsp/run_semgrep.py
  src/osemgrep/TOPORT/lsp/schema.json
  src/osemgrep/TOPORT/lsp/server.py
  src/osemgrep/TOPORT/lsp/types.py
  src/osemgrep/TOPORT/oct_11_2022_apr_13_2023.diff
  src/osemgrep/TOPORT/output_extra.py
  src/osemgrep/TOPORT/profile_manager.py
Due: none

osemgrep: cleanup reporting code
  libs/commons/Fmt_helpers.ml
  libs/commons/Fmt_helpers.mli
  libs/commons/dune
  src/core/Lang_job.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Output.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/reporting/Matches_report.ml
  src/osemgrep/reporting/Matches_report.mli
  src/osemgrep/reporting/Skipped_report.ml
  src/osemgrep/reporting/Skipped_report.mli
  src/osemgrep/reporting/Status_report.ml
  src/osemgrep/reporting/Status_report.mli
  src/osemgrep/reporting/Summary_report.ml
  src/osemgrep/reporting/Summary_report.mli
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
  src/runner/Runner_config.ml
Due: lint-ocaml

improve Status_report.mli
  src/core/Lang_job.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/reporting/Status_report.ml
  src/osemgrep/reporting/Status_report.mli
Due: lint-ocaml

osemgrep: cleanup reporting code (#7615)
  libs/commons/Fmt_helpers.ml
  libs/commons/Fmt_helpers.mli
  libs/commons/dune
  src/core/Lang_job.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Output.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/reporting/Matches_report.ml
  src/osemgrep/reporting/Matches_report.mli
  src/osemgrep/reporting/Skipped_report.ml
  src/osemgrep/reporting/Skipped_report.mli
  src/osemgrep/reporting/Status_report.ml
  src/osemgrep/reporting/Status_report.mli
  src/osemgrep/reporting/Summary_report.ml
  src/osemgrep/reporting/Summary_report.mli
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
  src/runner/Runner_config.ml
Due: lint-ocaml

use /usr/bin/env bash instead of /bin/bash
  js/languages/shared/generate-semgrep-js.sh
Due: shellcheck

cleanup: new Metavariable.mli, use Fpath
  src/core/Metavariable.ml
  src/core/Metavariable.mli
  src/core_cli/Core_CLI.ml
  src/optimizing/Metavariable_capture.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/parsing/Parse_equivalences.ml
  src/parsing/Parse_equivalences.mli
  src/runner/Run_semgrep.ml
  src/runner/Runner_config.ml
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
