Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b

feat(metrics): Mask details of reported registry queries
  semgrep/semgrep/metrics.py
Due: none

insertedContent is a string as per the scheme
  semgrep/semgrep/formatter/sarif.py
Due: none

remove unused import
  semgrep/semgrep/formatter/sarif.py
Due: none

Update pytest snapshots
  semgrep/tests/e2e/snapshots/test_ci/test_outputs/autofix---sarif/results.out
  semgrep/tests/e2e/snapshots/test_ci/test_outputs/noautofix---sarif/results.out
  semgrep/tests/e2e/snapshots/test_output/test_output_format/--sarif/results.out
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_include_nosemgrep/results.sarif
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_with_autofix/results.sarif
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_with_nosemgrep_and_error/results.sarif
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_with_source/results.sarif
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_with_source_edit/results.sarif
Due: none

Update build script
  scripts/osx-m1-release.sh
Due: shellcheck

Revert "include sca output in app findings (#5385)"
  semgrep/semgrep/rule_match.py
Due: none

Revert "include sca output in app findings (#5385)" (#5428)
  semgrep/semgrep/rule_match.py
Due: none

Update build script (#5427)
  scripts/osx-m1-release.sh
Due: shellcheck

remove posargs
  semgrep/tox.ini
Due: none

bump schema to latest version
  semgrep/semgrep/formatter/sarif.py
Due: none

put 'text' back
  semgrep/semgrep/formatter/sarif.py
Due: none

pre-commit
  CHANGELOG.md
Due: none

chore: Bump version to 0.95.1
  CHANGELOG.md
  semgrep/semgrep/__init__.py
  setup.py
Due: none

feat(metrics): Mask details of reported registry queries (#5426)
  semgrep/semgrep/metrics.py
Due: none

chore: Bump version to 0.96.0
  CHANGELOG.md
  semgrep/semgrep/__init__.py
  setup.py
Due: none

text should be string as per the scheme, not an array
  semgrep/semgrep/formatter/sarif.py
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update pytest snapshots
  semgrep/tests/e2e/snapshots/test_ci/test_outputs/autofix---sarif/results.out
  semgrep/tests/e2e/snapshots/test_output/test_sarif_output_with_autofix/results.sarif
Due: none

Don't scan the file system (to create test suites) on module initialization. (#5431)
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/src/engine/Unit_engine.mli
  semgrep-core/src/metachecking/Unit_metachecking.ml
  semgrep-core/src/metachecking/Unit_metachecking.mli
  semgrep-core/src/parsing/Unit_parsing.ml
  semgrep-core/src/parsing/Unit_parsing.mli
  semgrep-core/src/reporting/Unit_reporting.ml
  semgrep-core/src/reporting/Unit_reporting.mli
  semgrep-core/tests/Test.ml
Due: lint-ocaml

Clean up regexp matching: - use unanchored matching for metavar-regex as specified by the documentation - switch from Str to Pcre for metavar-regex - keep only the PCRE implementation in Regexp_engine
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/engine/Match_search_rules.ml
  semgrep-core/src/optimizing/Analyze_rule.ml
  semgrep-core/src/optimizing/Mini_rules_filter.ml
  semgrep-core/src/parsing/Parse_rule.ml
  semgrep-core/src/utils/Regexp_engine.ml
  semgrep-core/src/utils/Regexp_engine.mli
Due: lint-ocaml

Fix anchored_match
  semgrep-core/src/utils/Regexp_engine.ml
Due: lint-ocaml

Rename "error" to "finding" when referring to semgrep findings
  semgrep-core/src/core/Semgrep_error_code.ml
Due: lint-ocaml

[Java] support patterns like package $X (#5424)
  CHANGELOG.md
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/java/metavar_package.java
  semgrep-core/tests/java/metavar_package.sgrep
Due: lint-ocaml

AST_to_IL: Add basic translation for XML elements
  CHANGELOG.md
  semgrep-core/src/analyzing/AST_to_IL.ml
  semgrep-core/tests/OTHER/rules/sym_prop_react.js
  semgrep-core/tests/OTHER/rules/sym_prop_react.yaml
  semgrep-core/tests/OTHER/rules/taint_react.js
  semgrep-core/tests/OTHER/rules/taint_react.yaml
Due: lint-ocaml

AST_to_IL: Add basic translation for XML elements (#5434)
  CHANGELOG.md
  semgrep-core/src/analyzing/AST_to_IL.ml
  semgrep-core/tests/OTHER/rules/sym_prop_react.js
  semgrep-core/tests/OTHER/rules/sym_prop_react.yaml
  semgrep-core/tests/OTHER/rules/taint_react.js
  semgrep-core/tests/OTHER/rules/taint_react.yaml
Due: lint-ocaml

[Java] support for Text Blocks
  CHANGELOG.md
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/parsing/textblocks.java
Due: lint-ocaml

[Java] support for Text Blocks (#5435)
  CHANGELOG.md
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/parsing/textblocks.java
Due: lint-ocaml

update CST and semgrep-tsx
  semgrep-core/src/parsing/tree_sitter/CST_tree_sitter_typescript.ml
Due: lint-ocaml

progress
  semgrep-core/src/parsing/tree_sitter/Parse_typescript_tree_sitter.ml
Due: lint-ocaml

fill TODOs
  semgrep-core/src/parsing/tree_sitter/Parse_typescript_tree_sitter.ml
Due: lint-ocaml

this should fix PA-1405
  CHANGELOG.md
  semgrep-core/src/parsing/tree_sitter/Parse_typescript_tree_sitter.ml
  semgrep-core/tests/ts/parsing/abstract.ts
Due: lint-ocaml

fixed airflow public repo!
  semgrep/tests/public_repos.py
Due: none

[TS] update to latest tree-sitter-typescript (#5436)
  CHANGELOG.md
  semgrep-core/src/parsing/tree_sitter/CST_tree_sitter_typescript.ml
  semgrep-core/src/parsing/tree_sitter/Parse_typescript_tree_sitter.ml
  semgrep-core/tests/ts/parsing/abstract.ts
  semgrep/tests/public_repos.py
Due: lint-ocaml

fix(deep): Skip matching against resolved name when pattern is metavariable
  semgrep-core/src/matching/Generic_vs_generic.ml
Due: lint-ocaml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add(test): test functionality that checks autofix behavior (#5190)
  CHANGELOG.md
  semgrep/semgrep/constants.py
  semgrep/semgrep/test.py
  semgrep/semgrep/util.py
  semgrep/tests/e2e/rules/fixtest/test1.yaml
  semgrep/tests/e2e/rules/fixtest/test2.yaml
  semgrep/tests/e2e/rules/fixtest/test3.yaml
  semgrep/tests/e2e/rules/fixtest/test4.yaml
  semgrep/tests/e2e/rules/fixtest/test5.yaml
  semgrep/tests/e2e/snapshots/test_cli_test/test_cli_test_basic/results.json
  semgrep/tests/e2e/snapshots/test_cli_test/test_cli_test_multiline_annotations/results.txt
  semgrep/tests/e2e/snapshots/test_cli_test/test_cli_test_yaml_language/results.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test1_json/test-results.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test1_no_json/output.txt
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test2_json/test-results.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test2_no_json/output.txt
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test3_json/test-results.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test3_no_json/output.txt
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test4_json/error.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test4_json/error.txt
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test4_no_json/error.txt
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test5_json/test-results.json
  semgrep/tests/e2e/snapshots/test_fixtest/test_fixtest_test5_no_json/output.txt
  semgrep/tests/e2e/targets/fixtest/test1.fixed.py
  semgrep/tests/e2e/targets/fixtest/test1.py
  semgrep/tests/e2e/targets/fixtest/test2.py
  semgrep/tests/e2e/targets/fixtest/test3.fixed.py
  semgrep/tests/e2e/targets/fixtest/test3.py
  semgrep/tests/e2e/targets/fixtest/test4.fixed.py
  semgrep/tests/e2e/targets/fixtest/test4.py
  semgrep/tests/e2e/test_fixtest.py
Due: none

fix changelog
  CHANGELOG.md
Due: none

Add .dockerfile generating pre-commit hook
  .dockerignore
  .pre-commit-config.yaml
Due: none
