Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

fix(sca): fix tuple unpack error (semgrep/semgrep-proprietary#5397)
  cli/src/semgrep/commands/ci.py
Due: none

perf(plan): optimize object creation to speedup planning (semgrep/semgrep-proprietary#5399)
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/rule.py
Due: none

chore(monitoring): add more traces for sca related scan activities (semgrep/semgrep-proprietary#5405)
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/symbol_analysis.py
Due: none

test(ci): use opam cache mirror
  Makefile
Due: none

feat(sca): upload subproject-specific symbol analysis from ci (semgrep/semgrep-proprietary#5209)
  changelog.d/sc-3038.added
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/rpc_call.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/symbol_analysis.py
  cli/tests/default/unit/test_symbol_analysis.py
Due: none

feat: Translating Java Qualified Super (semgrep/semgrep-proprietary#5313)
  changelog.d/code-9210.fixed
  languages/java/ast/ast_java.ml
  languages/java/generic/java_to_generic.ml
  languages/java/tree-sitter/Parse_java_tree_sitter.ml
  tests/parsing/java/qualified_super.java
  tests/snapshots/semgrep-core/666678533c5a/name
  tests/snapshots/semgrep-core/666678533c5a/stdout
Due: lint-ocaml

fix(ci): resolve semgrep dogfood finding (semgrep/semgrep-proprietary#5396)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/nightly.yml
  .github/workflows/test-e2e-semgrep-ci.jsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
Due: none

feat: use opam lockfiles by default on `make setup` (semgrep/semgrep-proprietary#5075)
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  scripts/pick-lockfile.sh
Due: gitignore-to-dockerignore, shellcheck

feat(multicore): emit warning if -j > number of available CPUs (semgrep/semgrep-proprietary#5403)
  changelog.d/saf-2474.added
  src/core_scan/Core_scan.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
Due: lint-ocaml

feat: Translating Scala qualified super as IdSpecial (semgrep/semgrep-proprietary#5395)
  changelog.d/code-9212.fixed
  languages/scala/generic/scala_to_generic.ml
  src/ast_generic/AST_generic.ml
  tests/parsing/scala/qualified_super.scala
  tests/snapshots/semgrep-core/fdf357eb7aed/name
  tests/snapshots/semgrep-core/fdf357eb7aed/stdout
Due: lint-ocaml

fix: always use `opam.org/cache` mirror for all installs (semgrep/semgrep-proprietary#5414)
  Makefile
Due: none

chore(mcp): remove support for SSE transport (semgrep/semgrep-proprietary#5382)
  changelog.d/saf-2462.changed
  cli/src/semgrep/commands/mcp.py
  cli/src/semgrep/mcp/README.md
  cli/tests/default/mcp/test_sse_client.py
Due: none

feat(perf): cache `Target` hash values (semgrep/semgrep-proprietary#5407)
  changelog.d/gh-5407.fixed
  cli/src/semgrep/types.py
Due: none

fix(ci): Fix benchmarking regression PR comment (semgrep/semgrep-proprietary#5416)
  perf/compare-perf
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
