Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

fix: normalize absolute paths
  libs/paths/Ppath.ml
Due: lint-ocaml

add flag with url argument (#9935)
  changelog.d/saf-885.added
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
  libs/tracing/Tracing.mli
  libs/tracing/js/Tracing.ml
  libs/tracing/unix/Tracing.ml
  perf/run-benchmarks
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan_config.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
Due: lint-ocaml

WiP run plan debug output fix
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/scan_report.py
  cli/src/semgrep/target_manager.py
Due: none

nix!
  .gitignore
  flake.lock
  flake.nix
Due: gitignore-to-dockerignore

fix: bump opam version properly
  dune-project
  scripts/release/bump
  semgrep.opam
Due: none

osemgrep sarif v1
  cli/src/semgrep/error.py
  cli/src/semgrep/metrics.py
  cli/src/semgrep/output.py
  src/osemgrep/core/Metrics_.ml
  src/rpc/RPC.ml
Due: lint-ocaml

tracing: include a ppx option to open a trace in the middle of a function
  libs/tracing/ppx/ppx_tracing.ml
  libs/tracing/ppx_tests/nested_let.ml
Due: lint-ocaml

fix default
  flake.nix
Due: none

commit missing files
  cli/src/semgrep/error.py
  cli/src/semgrep/formatter/osemgrep_sarif.py
  cli/tests/default/e2e/test_osemgrep_output.py
Due: none

fix: use Testutil tmp masking
  src/osemgrep/tests/Test_target_selection.ml
  tests/snapshots/semgrep-core/0307ab87fd4c/stdout
  tests/snapshots/semgrep-core/7c0c5fe922a0/stdout
Due: lint-ocaml

make pre-commit happy
  .dockerignore
  flake.nix
Due: gitignore-to-dockerignore

pre-commit what
  .dockerignore
Due: gitignore-to-dockerignore

osemgrep sarif v1
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/formatter/base.py
  cli/src/semgrep/formatter/osemgrep_sarif.py
  cli/src/semgrep/metrics.py
  cli/src/semgrep/ocaml.py
  cli/src/semgrep/output.py
  cli/tests/default/e2e/test_osemgrep_output.py
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/core/Metrics_.ml
  src/osemgrep/reporting/Output.mli
  src/rpc/RPC.ml
  src/rpc/dune
Due: lint-ocaml

Update file targeting for the second run of inter-file diff scan
  changelog.d/saf-897.fixed
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/scan_report.py
  src/reporting/Core_json_output.ml
Due: lint-ocaml

update
  changelog.d/saf-897.fixed
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/target_mode.py
Due: none

Add a test for targets that are absolute paths (fails) TODO: create a separate PR for managing temporary files and renaming 'UTmp.with_tmp_file' to 'UTmp.with_temp_file', add options etc.
  libs/commons/UFile.ml
  libs/commons/UFile.mli
  libs/commons/UTmp.mli
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

Update file targeting for the second run of inter-file diff scan (#10006)
  changelog.d/saf-897.fixed
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/scan_report.py
  cli/src/semgrep/target_mode.py
  src/reporting/Core_json_output.ml
Due: lint-ocaml

Martin's review
  changelog.d/gh-10044.changed
  libs/commons/Logs_.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

debug: Do not log any debug message unless it matches some tag (#10076)
  changelog.d/gh-10044.changed
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  libs/commons/Logs_.ml
Due: lint-ocaml

Undo recent changes in 'has_tag' function so that it does what its name says and results in logging all log messages by default, like before.
  libs/commons/Logs_.ml
Due: lint-ocaml

Rename environment variable LOG_TAGS to SEMGREP_LOG_TAGS to keep the user's environment clean and tidy.
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
Due: lint-ocaml

Treat SEMGREP_LOG_TAGS and SEMGREP_LOG_LEVEL similarly.
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
Due: lint-ocaml

Don't print tags for log messages at levels other than Debug since filtering by tag only applies to the Debug level.
  libs/commons/Logs_.ml
Due: lint-ocaml

Update changelog
  changelog.d/gh-10087.changed
Due: none

Update changelog
  changelog.d/gh-10089.changed
Due: none

Update test snapshot
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

add direnv
  .dockerignore
  .envrc
  .gitignore
Due: gitignore-to-dockerignore
