Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

feat: add python 3.14 jobs (semgrep/semgrep-proprietary#4780)
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  changelog.d/gh-11250.added
  cli/setup.py
Due: none

chore: bump ruamel (semgrep/semgrep-proprietary#4779)
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
Due: none

chore: remove jsonschema as a python dependency (semgrep/semgrep-proprietary#4788)
  .pre-commit-config.yaml
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
Due: none

feat(parallelism): shared memoization metrics (semgrep/semgrep-proprietary#4748)
  libs/parallelism/SharedMemo.ml
  libs/parallelism/SharedMemo.mli
  libs/parallelism/dune
  libs/parallelism/tests/Unit_SharedMemo.ml
  src/core/Range.ml
  src/engine/Xpattern_matcher.ml
  src/matching/SubAST_generic.ml
  src/prefiltering/Analyze_rule.ml
Due: lint-ocaml

fix(parallelism): threadsafe =~ memoization (semgrep/semgrep-proprietary#4770)
  libs/commons/Common.ml
Due: lint-ocaml

fix(auth): allow auth to localhost (semgrep/semgrep-proprietary#4769)
  cli/src/semgrep/app/session.py
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/util.py
  cli/tests/default/unit/test_util.py
Due: none

fix: cleanup validation tempfile before exit (semgrep/semgrep-proprietary#4751)
  changelog.d/saf-2257.fixed
  cli/src/semgrep/config_resolver.py
Due: none

chore: fix markers (semgrep/semgrep-proprietary#4803)
  cli/tests/default/unit/test_util.py
Due: none

chore(ux): Avoid task failed successfully case for `show` subcommand (semgrep/semgrep-proprietary#4798)
  changelog.d/grow-630.fixed
  src/osemgrep/cli_show/Whoami.ml
Due: lint-ocaml

Add OCaml end-to-end tests for transitive reachability (semgrep/semgrep-proprietary#4714)
  libs/commons/Testutil_e2e.ml
  libs/commons/Testutil_e2e.mli
  libs/commons/Testutil_files.ml
  libs/commons/Testutil_files.mli
  src/core/Test_tags.ml
  src/core/Test_tags.mli
Due: lint-ocaml

chore(tests): fix tests (semgrep/semgrep-proprietary#4808)
  cli/tests/default/unit/test_util.py
Due: none

scala: Allow partial case-clause patterns (semgrep/semgrep-proprietary#4789)
  changelog.d/code-9118.added
  languages/scala/ast/AST_scala.ml
  languages/scala/generic/scala_to_generic.ml
  languages/scala/recursive_descent/Parser_scala_recursive_descent.ml
  tests/patterns/scala/case_clause.scala
  tests/patterns/scala/case_clause.sgrep
Due: lint-ocaml

chore: bump mcp (semgrep/semgrep-proprietary#4790)
  .pre-commit-config.yaml
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
  cli/tests/default/mcp/test_stdio_client.py
Due: none

fix(mcp): fix resource closure in streamable-http (semgrep/semgrep-proprietary#4802)
  changelog.d/saf-2264.fixed
  cli/src/semgrep/commands/mcp.py
  cli/tests/default/mcp/test_streamable_client.py
Due: none

Add Result_.list_map function (semgrep/semgrep-proprietary#4775)
  libs/collections/List_.ml
  libs/collections/List_.mli
  libs/collections/Result_.ml
  libs/collections/Result_.mli
  libs/collections/tests/Collections_tests.ml
  libs/collections/tests/Unit_Result_.ml
  libs/collections/tests/Unit_Result_.mli
  libs/commons/tests/Commons_tests.ml
Due: lint-ocaml

Upgrade Testo to latest (semgrep/semgrep-proprietary#4811)
  .dockerignore
Due: gitignore-to-dockerignore

Truncate individual test logs from the inside if too long (semgrep/semgrep-proprietary#4812)
  scripts/run-core-test
Due: none

ci: Fix mock in test_metrics.py (semgrep/semgrep-proprietary#4816)
  cli/tests/default/e2e/test_metrics.py
Due: none

chore: kill `defusedxml` (semgrep/semgrep-proprietary#4804)
  .pre-commit-config.yaml
  cli/Pipfile.lock
  cli/setup.py
Due: none

Fix: Added CallSpecial to implicit return nodes (semgrep/semgrep-proprietary#4809)
  changelog.d/code-9101.fixed
  src/analyzing/Implicit_return.ml
  src/core_cli/Core_actions.ml
  tests/patterns/ruby/implicit_return.rb
  tests/patterns/scala/implicit_return.scala
  tests/snapshots/semgrep-core/9d4edceb95f4/stdout
  tests/snapshots/semgrep-core/cd62d6a5768d/stdout
Due: lint-ocaml

Add guidance for tree-sitter extras and heredoc body stitching (semgrep/semgrep-proprietary#4817)
  languages/ruby/tree-sitter/Parse_ruby_tree_sitter.ml
  libs/lib_parsing_tree_sitter/Parse_tree_sitter_helpers.mli
Due: lint-ocaml

pro: scala: matching: Support for http4s $M -> ... / $X / ... (semgrep/semgrep-proprietary#4813)
  changelog.d/code-9114.added
  src/matching/Pattern_vs_code.ml
  src/matching/Pattern_vs_code.mli
Due: lint-ocaml

feat: tsan docker image (semgrep/semgrep-proprietary#4763)
  .github/workflows/libs/docker.libsonnet
  Makefile
  dune-project
  semgrep.opam
  src/main/flags.sh
Due: shellcheck

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
