Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

feat(mcp): use OAuth to connect to MCP via HTTP/SSE (semgrep/semgrep-proprietary#5372)
  changelog.d/saf-2453.added
  cli/pyproject.toml
  cli/src/semgrep/commands/mcp.py
  cli/src/semgrep/mcp/models.py
  cli/src/semgrep/mcp/server.py
  cli/src/semgrep/mcp/utilities/token_verifier.py
  cli/src/semgrep/mcp/utilities/tracing.py
  cli/src/semgrep/mcp/utilities/utils.py
  cli/uv.lock
  mypy-tests.ini
  mypy.ini
Due: none

feat(mcp): send OAuth metrics (semgrep/semgrep-proprietary#5393)
  changelog.d/saf-2453.added
  cli/src/semgrep/mcp/hooks/inject_secure_defaults.py
  cli/src/semgrep/mcp/hooks/post_tool.py
  cli/src/semgrep/mcp/hooks/stop.py
  cli/src/semgrep/mcp/semgrep.py
  cli/src/semgrep/mcp/semgrep_context.py
  cli/src/semgrep/mcp/server.py
  cli/src/semgrep/mcp/utilities/tracing.py
  cli/src/semgrep/mcp/utilities/utils.py
  cli/src/semgrep/metrics.py
  src/osemgrep/core/Metrics_.ml
Due: lint-ocaml

feat: use uv in nix for proper python support (semgrep/semgrep-proprietary#5468)
  .envrc
  Makefile
  devShells.nix
  flake.lock
  flake.nix
  pysemgrep.nix
  scripts/add-pysemgrep-to-path.sh
Due: shellcheck

feat(ci): Only run x86 macOS builds on develop (semgrep/semgrep-proprietary#5472)
  .github/workflows/libs/gha.libsonnet
Due: none

chore: exit `semgrep login` with exit code 0 if the user is logged in (semgrep/semgrep-proprietary#5470)
  cli/src/semgrep/commands/login.py
  cli/tests/default/e2e-other/test_login.py
  src/osemgrep/cli_login/Login_subcommand.ml
Due: lint-ocaml

tracing(sca): add better tracing for dependency resolution (semgrep/semgrep-proprietary#5479)
  cli/src/semdep/parsers/cargo.py
  cli/src/semdep/parsers/composer.py
  cli/src/semdep/parsers/gem.py
  cli/src/semdep/parsers/go_mod.py
  cli/src/semdep/parsers/gradle.py
  cli/src/semdep/parsers/mix.py
  cli/src/semdep/parsers/package_lock.py
  cli/src/semdep/parsers/packages_lock_c_sharp.py
  cli/src/semdep/parsers/pipfile.py
  cli/src/semdep/parsers/pnpm.py
  cli/src/semdep/parsers/poetry.py
  cli/src/semdep/parsers/pom_tree.py
  cli/src/semdep/parsers/pubspec_lock.py
  cli/src/semdep/parsers/requirements.py
  cli/src/semdep/parsers/swiftpm.py
  cli/src/semdep/parsers/yarn.py
  cli/src/semgrep/resolve_dependency_source.py
Due: none

tracing(targeting): add tracing to get_all_files (semgrep/semgrep-proprietary#5481)
  cli/src/semgrep/target_manager.py
Due: none

pro: tainting: Fork Match_tainting_mode.check_rules (semgrep/semgrep-proprietary#5476)
  src/ast_generic/AST_generic.ml
  src/engine/Formula_cache.mli
  src/engine/Match_rules.ml
  src/engine/Match_tainting_mode.ml
  src/engine/OSS_match_tainting_mode.ml
  src/engine/OSS_match_tainting_mode.mli
  src/engine/tests/Test_dataflow_tainting.ml
  src/engine/tests/Unit_engine.ml
  src/rule/Rule.ml
  src/rule/Xpattern.ml
  src/tainting/Taint.ml
  src/tainting/Taint_spec_match.mli
Due: lint-ocaml

chore: cleanup some tracing (semgrep/semgrep-proprietary#5482)
  src/core_scan/Core_scan.ml
  src/engine/Match_rules.ml
Due: lint-ocaml

fix(project_config): Add error handling to `semgrep ci` loading of .semgrepconfig.yml (semgrep/semgrep-proprietary#5477)
  cli/src/semgrep/app/project_config.py
  cli/src/semgrep/commands/ci.py
  cli/tests/default/unit/test_project_config.py
Due: none

chore(interfaces): bump interfaces (semgrep/semgrep-proprietary#5456)
  dune-project
  opam-lockfiles/semgrep.opam.linux-amd64.locked
  opam-lockfiles/semgrep.opam.linux-arm64.locked
  opam-lockfiles/semgrep.opam.mac-arm64.locked
  opam-lockfiles/semgrep.opam.mac-x86.locked
  opam-lockfiles/semgrep.opam.windows-x86.locked
  semgrep.opam
  semgrep.opam.template
  src/osemgrep/cli_ci/Ci_subcommand.ml
Due: lint-ocaml

feat(tracing): code owners for tracing (semgrep/semgrep-proprietary#5491)
  cli/src/semdep/parsers/cargo.py
  cli/src/semdep/parsers/composer.py
  cli/src/semdep/parsers/gem.py
  cli/src/semdep/parsers/go_mod.py
  cli/src/semdep/parsers/gradle.py
  cli/src/semdep/parsers/mix.py
  cli/src/semdep/parsers/package_lock.py
  cli/src/semdep/parsers/packages_lock_c_sharp.py
  cli/src/semdep/parsers/pipfile.py
  cli/src/semdep/parsers/pnpm.py
  cli/src/semdep/parsers/poetry.py
  cli/src/semdep/parsers/pom_tree.py
  cli/src/semdep/parsers/pubspec_lock.py
  cli/src/semdep/parsers/requirements.py
  cli/src/semdep/parsers/swiftpm.py
  cli/src/semdep/parsers/yarn.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/rpc_call.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/symbol_analysis.py
  cli/src/semgrep/telemetry.py
Due: none

chore(tracing): rearrange/clarify trace levels (semgrep/semgrep-proprietary#5492)
  libs/telemetry/Tracing.ml
  libs/telemetry/Tracing.mli
  src/engine/OSS_match_tainting_mode.ml
  src/typing/Typing.ml
Due: lint-ocaml

feat: Handling Scala linearization (semgrep/semgrep-proprietary#5094)
  changelog.d/code-9213.fixed
  src/core/Type.ml
  src/core/Type.mli
  src/matching/Pattern_vs_code.ml
Due: lint-ocaml

feat(mal-deps): add flag to force mal-deps scan even if disabled (semgrep/semgrep-proprietary#5455)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  src/osemgrep/cli_ci/Ci_CLI.ml
Due: lint-ocaml

Handle NPM versions with SemVer rather than PEP440 [SC-3001] (semgrep/semgrep-proprietary#5434)
  changelog.d/sc-3001.fixed
  cli/pyproject.toml
  cli/src/semdep/package_restrictions.py
  cli/src/semdep/semver_specifier.py
  cli/src/semgrep/dependency_aware_rule.py
  cli/tests/default/unit/test_golang_version.py
  cli/tests/default/unit/test_semver_matching.py
  cli/tests/default/unit/test_version_matching.py
  cli/uv.lock
Due: none

fix(ci): Fix CLI test output formatting in OSS (semgrep/semgrep-proprietary#5493)
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
Due: none

fix: invalid `README.md` reference in `pyproject.toml (semgrep/semgrep-proprietary#5465)
  cli/pyproject.toml
  cli/setup.py
Due: none

chore(ci): clean up python/uv setup in our builds. (semgrep/semgrep-proprietary#5452)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/libs/useslockfile.json
  .github/workflows/lint.yml
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  scripts/build-wheels.sh
  scripts/release/bump
Due: shellcheck

feat(ci): Use larger runners on arm64 macOS (semgrep/semgrep-proprietary#5466)
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
Due: none

fix(ci): Fix bump-version script for uv flow (semgrep/semgrep-proprietary#5496)
  scripts/release/bump
Due: none
