Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

XML: support attribute pattern
  changelog.d/gh-7344.fixed
  languages/html/generic/Parse_html_tree_sitter.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  src/core/Metavariable.ml
  src/fixing/Autofix_printer.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
  src/matching/Match_patterns.ml
  src/parsing/tests/Test_parsing.ml
  src/reporting/JSON_report.ml
  tests/patterns/html/metavar_attr_value.html
  tests/patterns/html/metavar_tag.html
  tests/patterns/html/misc_many_features.html
  tests/patterns/xml/misc_attribute_pattern.sgrep
  tests/patterns/xml/misc_attribute_pattern.xml
Due: lint-ocaml

Min ocaml extension example
  semgrep.opam
  setup.py
  src/core_cli/Core_CLI.ml
  src/core_cli/dune
  src/experiments/ls/CodeAction.ml
  src/experiments/ls/Diagnostics.ml
  src/experiments/ls/Diagnostics.mli
  src/experiments/ls/LS.ml
  src/experiments/ls/dune
  src/experiments/lsp/LSP_client.ml
  src/runner/Run_semgrep.ml
  src/runner/Runner_config.ml
Due: lint-ocaml

WIP: Taint maturity tests
  src/analyzing/AST_to_IL.ml
  src/engine/Unit_engine.ml
  tests/taint_maturity/csharp/taint_intraproc_if.cs
  tests/taint_maturity/csharp/taint_intraproc_if.yaml
  tests/taint_maturity/csharp/taint_intraproc_seq.cs
  tests/taint_maturity/csharp/taint_intraproc_seq.yaml
  tests/taint_maturity/java/taint_intraproc_if.java
  tests/taint_maturity/java/taint_intraproc_if.yaml
  tests/taint_maturity/java/taint_intraproc_seq.java
  tests/taint_maturity/java/taint_intraproc_seq.yaml
  tests/taint_maturity/python/taint_intraproc_if.py
  tests/taint_maturity/python/taint_intraproc_if.yaml
  tests/taint_maturity/python/taint_intraproc_seq.py
  tests/taint_maturity/python/taint_intraproc_seq.yaml
  tests/tainting_rules/python/tainting.py
Due: lint-ocaml

style: fix Pro Engine -> Pro engine (#7347)
  cli/src/semgrep/core_runner.py
Due: none

style: Hide fail-open errors + refactor stuff
  cli/src/semgrep/app/auth.py
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/error_handler.py
Due: none

style: Update padding between table sections
  cli/src/semgrep/semgrep_main.py
Due: none

Done with this round of migration to Fpath. Woohoo, it compiles!
  js/Main.ml
  libs/commons/Arg_helpers.ml
  libs/commons/Arg_helpers.mli
  libs/commons/Logging_helpers.ml
  libs/commons/Logging_helpers.mli
  src/core_cli/Core_CLI.ml
  src/experiments/synthesizing/Test_synthesizing.mli
  src/metachecking/Check_rule.ml
  src/metachecking/Check_rule.mli
  src/metachecking/Test_metachecking.ml
  src/metachecking/Test_metachecking.mli
  src/metachecking/Translate_rule.ml
  src/metachecking/Translate_rule.mli
  src/metachecking/Unit_metachecking.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Rule_fetching.ml
  src/osemgrep/cli_scan/Rule_fetching.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
  src/runner/Runner_config.ml
Due: lint-ocaml

chore: remove releasing binaries
  .github/workflows/release.yml
Due: none

Update snapshots to read from a snapshots file
  perf/compare-bench-findings
  perf/rules/deepsemgrep-sqli-rules.yaml
  perf/snapshots/ci_interfile_small_repos_baseline.json
  perf/snapshots/ci_small_repos_baseline.json
  scripts/run-pro-benchmarks.sh
Due: shellcheck

Return a git root without a trailing slash
  src/osemgrep/targeting/Git_project.ml
  src/osemgrep/targeting/Unit_semgrepignore.ml
Due: lint-ocaml

Fix code that determines git path from project root and full path
  src/osemgrep/targeting/Git_path.ml
Due: lint-ocaml

Fix 'make' by addding missing decorator as instructed
  cli/tests/performance/test_semdep.py
Due: none

Fix path
  scripts/run-pro-benchmarks.sh
Due: shellcheck

XML: support attribute pattern (#7352)
  changelog.d/gh-7344.fixed
  languages/html/generic/Parse_html_tree_sitter.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  src/core/Metavariable.ml
  src/fixing/Autofix_printer.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
  src/matching/Match_patterns.ml
  src/parsing/tests/Test_parsing.ml
  src/reporting/JSON_report.ml
  tests/patterns/html/metavar_attr_value.html
  tests/patterns/html/metavar_tag.html
  tests/patterns/html/misc_many_features.html
  tests/patterns/xml/misc_attribute_pattern.sgrep
  tests/patterns/xml/misc_attribute_pattern.xml
Due: lint-ocaml

improvements
  cli/src/semdep/parse_lockfile.py
  cli/src/semdep/parsers/pnpm.py
Due: none

chore: remove releasing binaries (#7355)
  .github/workflows/release.yml
Due: none

misc: fix code to compile also with semgrep 4.12.0
  languages/terraform/generic/Terraform_to_generic.ml
  languages/terraform/tree-sitter/Parse_terraform_tree_sitter.ml
  src/matching/SubAST_generic.ml
  src/osemgrep/targeting/Glob_matcher.ml
  src/osemgrep/targeting/dune
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

misc: fix code to compile also with semgrep 4.12.0 (#7357)
  languages/terraform/generic/Terraform_to_generic.ml
  languages/terraform/tree-sitter/Parse_terraform_tree_sitter.ml
  src/matching/SubAST_generic.ml
  src/osemgrep/targeting/Glob_matcher.ml
  src/osemgrep/targeting/dune
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

migration: add a few functions to File.mli
  libs/commons/File.ml
  libs/commons/File.mli
  libs/commons/File_type.ml
  libs/lib_parsing/Skip_code.ml
  src/targeting/Find_target.ml
  src/targeting/Skip_target.ml
  src/targeting/Unit_guess_lang.ml
Due: lint-ocaml

migration: add a few functions to File.mli (#7359)
  libs/commons/File.ml
  libs/commons/File.mli
  libs/commons/File_type.ml
  libs/lib_parsing/Skip_code.ml
  src/targeting/Find_target.ml
  src/targeting/Skip_target.ml
  src/targeting/Unit_guess_lang.ml
Due: lint-ocaml

Semgrep.js: move parsing language code out of the default engine
  semgrep.jsonnet
  src/core_cli/Core_CLI.ml
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_pattern.mli
  src/parsing/Parse_target.ml
  src/parsing/Parse_target.mli
  src/parsing/dune
  src/parsing/tests/dune
  src/parsing_languages/Parse_pattern_bis.ml
  src/parsing_languages/Parse_pattern_bis.mli
  src/parsing_languages/Parse_target_bis.ml
  src/parsing_languages/Parse_target_bis.mli
  src/parsing_languages/Parsing_init.ml
  src/parsing_languages/Parsing_init.mli
  src/parsing_languages/dune
  tests/Test.ml
  tests/dune
Due: lint-ocaml

tainting: First batch of taint maturity tests
  src/analyzing/AST_to_IL.ml
  src/engine/Unit_engine.ml
  tests/taint_maturity/c/taint_if.c
  tests/taint_maturity/c/taint_if.yaml
  tests/taint_maturity/c/taint_seq.c
  tests/taint_maturity/c/taint_seq.yaml
  tests/taint_maturity/csharp/taint_if.cs
  tests/taint_maturity/csharp/taint_if.yaml
  tests/taint_maturity/csharp/taint_seq.cs
  tests/taint_maturity/csharp/taint_seq.yaml
  tests/taint_maturity/java/taint_if.java
  tests/taint_maturity/java/taint_if.yaml
  tests/taint_maturity/java/taint_seq.java
  tests/taint_maturity/java/taint_seq.yaml
  tests/taint_maturity/php/taint_if.php
  tests/taint_maturity/php/taint_if.yaml
  tests/taint_maturity/php/taint_seq.php
  tests/taint_maturity/php/taint_seq.yaml
  tests/taint_maturity/python/taint_if.py
  tests/taint_maturity/python/taint_if.yaml
  tests/taint_maturity/python/taint_seq.py
  tests/taint_maturity/python/taint_seq.yaml
  tests/tainting_rules/python/tainting.py
Due: lint-ocaml

Clean up
  tests/taint_maturity/c/taint_if.yaml
  tests/taint_maturity/csharp/taint_if.yaml
  tests/taint_maturity/java/taint_if.yaml
  tests/taint_maturity/php/taint_if.yaml
  tests/taint_maturity/python/taint_if.yaml
Due: none

Yoann's review
  src/engine/Unit_engine.ml
Due: lint-ocaml

Fix build errors after rebasing
  src/engine/Unit_engine.ml
Due: lint-ocaml

rename files
  semgrep.jsonnet
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_target.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_pattern2.mli
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/Parse_target2.mli
  src/parsing_languages/Parsing_init.mli
Due: lint-ocaml

tainting: First batch of taint maturity tests (#7358)
  src/analyzing/AST_to_IL.ml
  src/engine/Unit_engine.ml
  tests/taint_maturity/c/taint_if.c
  tests/taint_maturity/c/taint_if.yaml
  tests/taint_maturity/c/taint_seq.c
  tests/taint_maturity/c/taint_seq.yaml
  tests/taint_maturity/csharp/taint_if.cs
  tests/taint_maturity/csharp/taint_if.yaml
  tests/taint_maturity/csharp/taint_seq.cs
  tests/taint_maturity/csharp/taint_seq.yaml
  tests/taint_maturity/java/taint_if.java
  tests/taint_maturity/java/taint_if.yaml
  tests/taint_maturity/java/taint_seq.java
  tests/taint_maturity/java/taint_seq.yaml
  tests/taint_maturity/php/taint_if.php
  tests/taint_maturity/php/taint_if.yaml
  tests/taint_maturity/php/taint_seq.php
  tests/taint_maturity/php/taint_seq.yaml
  tests/taint_maturity/python/taint_if.py
  tests/taint_maturity/python/taint_if.yaml
  tests/taint_maturity/python/taint_seq.py
  tests/taint_maturity/python/taint_seq.yaml
  tests/tainting_rules/python/tainting.py
Due: lint-ocaml

fix:: GitHub metadata
  cli/src/semgrep/meta.py
Due: none

fix: GitLab meta, use get_opt
  cli/src/semgrep/meta.py
Due: none

fix compilation errors
  src/core_cli/Core_CLI.ml
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parsing_init.ml
Due: lint-ocaml

fix: tests, don't use get_opt, standardize semgrep vars first
  cli/src/semgrep/meta.py
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push-special-env-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push-special-env-vars/findings_and_ignores.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push-special-env-vars/meta.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push-special-env-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-special-env-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-special-env-vars/findings_and_ignores.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-special-env-vars/meta.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-special-env-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push-special-env-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push-special-env-vars/findings_and_ignores.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push-special-env-vars/meta.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push-special-env-vars/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-special-env-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-special-env-vars/findings_and_ignores.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-special-env-vars/meta.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-special-env-vars/results.txt
  cli/tests/e2e/test_ci.py
Due: none

changelog
  changelog.d/pa-2644.fixed
Due: none

set init at the right place
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

Semgrep.js: move parsing language code out of the default engine (#7360)
  semgrep.jsonnet
  src/core_cli/Core_CLI.ml
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_pattern.mli
  src/parsing/Parse_target.ml
  src/parsing/Parse_target.mli
  src/parsing/dune
  src/parsing/tests/dune
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_pattern2.mli
  src/parsing_languages/Parse_target2.ml
  src/parsing_languages/Parse_target2.mli
  src/parsing_languages/Parsing_init.ml
  src/parsing_languages/Parsing_init.mli
  src/parsing_languages/dune
  tests/Test.ml
  tests/dune
Due: lint-ocaml

Semgrep.js: comment in js/dune files
  js/Main.ml
  js/dune
Due: lint-ocaml

add tests
  cli/tests/e2e/rules/dependency_aware/js-pnpm-sca.yaml
  cli/tests/e2e/targets/dependency_aware/pnpm/foo.js
  cli/tests/e2e/targets/dependency_aware/pnpm/pnpm-lock.yaml
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
