Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Add built-in support for identifying Django views (semgrep/semgrep-proprietary#1751)
  .github/workflows/.codemapignore
  .github/workflows/Makefile
  .github/workflows/test-semgrep-pro.jsonnet
  .github/workflows/test-semgrep-pro.yml
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  src/core/Metavariable.ml
  src/core/Metavariable.mli
  src/core/Rule.ml
  src/engine/Match_search_mode.ml
  src/engine/Match_search_mode.mli
  src/metachecking/Check_rule.ml
  src/metachecking/Translate_rule.ml
  src/optimizing/Analyze_rule.ml
  src/parsing/Parse_rule_formula.ml
Due: lint-ocaml

chore: Bump version to 1.79.0
  CHANGELOG.md
  changelog.d/code-6923.fixed
  changelog.d/move_on_aptos.added
  changelog.d/nosemgrep_exn.fixed
  changelog.d/pdx-autofix-ignore.added
  changelog.d/saf-1127.fixed
  changelog.d/saf-1135.fixed
  changelog.d/sc-1601.added
  changelog.d/scrt-630.added
  changelog.d/scrt-630.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

fix: use `G.New` in struct packing for ellipsis support
  languages/move_on_aptos/generic/Parse_move_on_aptos_tree_sitter.ml
Due: lint-ocaml

fix: rewrite attribute convertor using transpilation
  languages/move_on_aptos/generic/Parse_move_on_aptos_tree_sitter.ml
Due: lint-ocaml

Pro_main: remove the special handling "osemgrep" code (semgrep/semgrep-proprietary#1808)
  scripts/run-benchmarks.sh
Due: shellcheck

cleanup core_run_for_osemgrep type, new Rule.rules_and_errors alias (semgrep/semgrep-proprietary#1809)
  src/core/Rule.ml
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/core_scan/Core_scan_config.ml
  src/core_scan/Pre_post_core_scan.ml
  src/core_scan/Pre_post_core_scan.mli
  src/core_scan/dune
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
Due: lint-ocaml

Add new Common.let/ and unify its use across the codebase (semgrep/semgrep-proprietary#1811)
  libs/commons/Common.ml
  libs/commons/Common.mli
  src/fixing/Autofix.ml
  src/fixing/Autofix_printer.ml
  src/osemgrep/cli_scan/Diff_scan.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/configuring/Semgrep_settings.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/printing/Ugly_print_AST.ml
  src/rpc/RPC.ml
Due: lint-ocaml

feat: add flag and pro hooks for pattern when (semgrep/semgrep-proprietary#1800)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
  src/analyzing/Constant_propagation.ml
  src/analyzing/Dataflow_when.ml
  src/analyzing/Dataflow_when.mli
  src/engine/Eval_generic.ml
  src/engine/Pro_hooks.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/core/Engine_type.ml
  src/osemgrep/core/Metrics_.ml
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
Due: lint-ocaml

Cleanup more Scan_subcommand.ml, Diff_scan.ml, core_run_for_osemgrep (semgrep/semgrep-proprietary#1812)
  src/core/Differential_scan_config.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/cli_scan/Diff_scan.ml
  src/osemgrep/cli_scan/Diff_scan.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
Due: lint-ocaml

fix: Undo lazy pattern parsing (semgrep/semgrep-proprietary#1767)
  changelog.d/saf-789.fixed
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error.json
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.json
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
  cli/tests/default/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml/results.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
  js/tests/index.test.js
  src/core/Xpattern.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_command.ml
  src/engine/Match_search_mode.ml
  src/metachecking/Check_rule.ml
  src/optimizing/Analyze_rule.ml
  src/osemgrep/cli_show/Test_show_subcommand.ml
  src/osemgrep/language_server/Unit_LS.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/parsing/Parse_rule_formula.ml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: lint-ocaml

fix(sca): Change optional dataclass attribute to use Python <3.10 syntax (semgrep/semgrep-proprietary#1814)
  cli/src/semdep/golang_version.py
Due: none

ci: some test cases except `let` destruction
  stats/parsing-stats/lang/move_on_aptos/projects.txt
  tests/rules/pattern_move_func_signature.move
  tests/rules/pattern_move_func_signature.yaml
  tests/rules/pattern_move_standalone_mod_member.move
  tests/rules/pattern_move_standalone_mod_member.yaml
  tests/rules/pattern_move_struct_member.move
  tests/rules/pattern_move_struct_member.yaml
Due: none

fix: bad test case
  tests/rules/pattern_move_func_signature.move
Due: none

ci: `let` bind pattern
  tests/rules/pattern_move_let_bind.move
  tests/rules/pattern_move_let_bind.yaml
Due: none

Add coupling comment in Rule.ml about min-version filtering (semgrep/semgrep-proprietary#1819)
  CHANGELOG.md
  src/core/Rule.ml
Due: lint-ocaml

GHA: add a new bump_cache global (semgrep/semgrep-proprietary#1820)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
Due: none

Added comments in Metrics_.ml and cleanup in toplevel Makefile (semgrep/semgrep-proprietary#1822)
  src/osemgrep/core/Metrics_.ml
Due: lint-ocaml

cli_install -> cli_install_ci, and remove cli_ui (semgrep/semgrep-proprietary#1824)
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli_install_ci/Install_ci_CLI.ml
  src/osemgrep/cli_install_ci/Install_ci_CLI.mli
  src/osemgrep/cli_install_ci/Install_ci_subcommand.ml
  src/osemgrep/cli_install_ci/Install_ci_subcommand.mli
  src/osemgrep/cli_install_ci/dune
  src/osemgrep/cli_login/dune
  src/osemgrep/cli_scan/dune
  src/osemgrep/cli_ui/dune
  src/osemgrep/reporting/Console_Spinner.ml
  src/osemgrep/reporting/Console_Spinner.mli
  src/osemgrep/reporting/dune
Due: lint-ocaml

split test_login.py in separate testing functions (semgrep/semgrep-proprietary#1825)
  cli/Makefile
  cli/tests/default/e2e-other/test_login.py
  src/osemgrep/cli_login/Logout_subcommand.ml
  tests/snapshots/semgrep-core/d7bb68fbd2a0/stderr
Due: lint-ocaml

Add opentelemetry dependency to CLI (semgrep/semgrep-proprietary#1818)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
Due: none

Switch to osemgrep logout (and remove pysemgrep logout code) (semgrep/semgrep-proprietary#1826)
  cli/src/semgrep/app/auth.py
  cli/src/semgrep/cli.py
  cli/src/semgrep/commands/login.py
  cli/tests/default/e2e-other/test_publish.py
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli_login/Login_CLI.ml
  src/osemgrep/cli_login/Login_CLI.mli
  src/osemgrep/cli_login/Login_subcommand.ml
  src/osemgrep/cli_login/Logout_CLI.ml
  src/osemgrep/cli_login/Logout_CLI.mli
  src/osemgrep/cli_login/Logout_subcommand.ml
Due: lint-ocaml

switch to osemgrep for 'semgrep install-semgrep-pro --custom-binary' and delete some pysemgrep code (semgrep/semgrep-proprietary#1828)
  cli/src/semgrep/commands/install.py
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_CLI.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_CLI.mli
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/cli_login/Login_subcommand.ml
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
