Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

cli: continue using old endpoint for now (#7323)
  cli/src/semgrep/app/scans.py
Due: none

DRAFT: v0 of pnpm parser
  cli/src/semdep/parsers/pnpm.py
Due: none

refactor: Convert SubAST_generic to generated visitor (#7322)
  src/matching/SubAST_generic.ml
Due: lint-ocaml

refactor: Convert src/optimizing to generated visitors (#7316)
  src/optimizing/Analyze_pattern.ml
  src/optimizing/Bloom_annotation.ml
  src/optimizing/Caching.ml
Due: lint-ocaml

feat: allow string literal metavariables in julia (#7312)
  changelog.d/pa-2630.fixed
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/rules/string_mvar_julia.jl
  tests/rules/string_mvar_julia.yaml
Due: lint-ocaml

Stackoverflow FTW
  Makefile
Due: none

feat(rust): allow let patterns to percolate taint (#7315)
  changelog.d/pa-2605.fixed
  languages/rust/generic/Parse_rust_tree_sitter.ml
  src/analyzing/AST_to_IL.ml
  tests/rules/tainted_pattern_lval.rs
  tests/rules/tainted_pattern_lval.yaml
Due: lint-ocaml

Docker: update to returntocorp/ocaml:alpine-2023-03-03 (#7309)
  Dockerfile
  Makefile
Due: none

GHA: update to returntocorp/ocaml:alpine-2023-03-03
  .circleci/config.yml
  .github/workflows/build-test-core-x86.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Makefile
Due: none

GHA: update to returntocorp/ocaml:alpine-2023-03-03 (#7325)
  .circleci/config.yml
  .github/workflows/build-test-core-x86.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Makefile
Due: none

circleCI: small cleanup
  .circleci/config.yml
Due: none

circleCI: small cleanup (#7326)
  .circleci/config.yml
Due: none

CI: remove use of a dune cache
  .github/workflows/semgrep.yml
  .github/workflows/tests.yml
  Dockerfile
Due: none

CI: remove use of a dune cache (#7327)
  .github/workflows/semgrep.yml
  .github/workflows/tests.yml
  Dockerfile
Due: none

fix(metrics): Send metrics for app scans (#7294)
  cli/src/semgrep/app/session.py
  cli/src/semgrep/cli.py
  cli/src/semgrep/command.py
  cli/src/semgrep/metrics.py
  cli/src/semgrep/state.py
  cli/tests/e2e/test_ci.py
Due: none

Perf: update to 1.14.0 instead of 0.122.0 for baseline
  .github/workflows/tests.yml
Due: none

Perf: update to 1.14.0 instead of 0.122.0 for baseline (#7329)
  .github/workflows/tests.yml
Due: none

New semgrep-core -raja flags, for quick experiments
  cli/src/semgrep/core_output.py
  cli/src/semgrep/formatter/json.py
  src/configuring/Flag_semgrep.ml
  src/core_cli/Core_CLI.ml
  src/experiments/misc/Raja_experiment.ml
  src/experiments/misc/Raja_experiment.mli
  src/experiments/misc/dune
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/reporting/JSON_report.ml
  src/runner/Run_semgrep.ml
Due: lint-ocaml

Use the CLI image as the main image. Write all the languages to keep people focussed on getting started as the main CTA and prevent people from going to the docs. Fix some typos
  README.md
  images/semgrep-scan-cli.jpg
Due: none

Update README.md
  README.md
Due: none

refactor: Migrate Match_patterns.ml to new visitor
  libs/ast_generic/Matching_visitor.ml
  src/matching/Match_patterns.ml
Due: lint-ocaml

fix(SSC): Fix maven comparison bug (#7307)
  changelog.d/sc-656.changed
  cli/src/semdep/maven_version.py
  cli/src/semdep/parsers/util.py
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_ci/test_query_dependency/output.txt
Due: none

fixup! Merge branch 'develop' into brendon/dependencyquery
  cli/tests/e2e/test_ci.py
Due: none

fix pre-commit
  README.md
Due: none

Update changelog for #7294
  changelog.d/pa-2592.fixed
Due: none

Update changelog for #7294 (#7333)
  changelog.d/pa-2592.fixed
Due: none

Add changes to readme (#7298)
  README.md
  images/semgrep-api-token.jpg
  images/semgrep-auto-config-example.jpg
  images/semgrep-ci-cd-popup.jpg
  images/semgrep-example-rules-editor.jpg
  images/semgrep-login.jpg
  images/semgrep-main-image.jpg
  images/semgrep-scan-cli.jpg
Due: none

change to absolute URLs and make images clickable
  README.md
Due: none

add: necessary changes for dependency search (#7319)
  changelog.d/depsearch.added
  cli/src/semgrep/app/scans.py
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_query_dependency/complete.json
  cli/tests/e2e/snapshots/test_ci/test_query_dependency/output.txt
  cli/tests/e2e/test_ci.py
Due: none

Revise supply chain rule type table
  cli/src/semgrep/core_runner.py
Due: none

Make image urls absolute and make them clickable
  README.md
Due: none

Tests: add benchmarks for pro
  perf/run-benchmarks
  scripts/run-benchmarks.sh
Due: shellcheck

Update workflow
  .github/workflows/tests.yml
Due: none

Update to 1.14.0 to match develop
  scripts/run-benchmarks.sh
Due: shellcheck

Make image urls absolute and make them clickable (#7337)
  README.md
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
