Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Update product flag help to provide more details and guidance (#9679)
  changelog.d/pa-3383.changed
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
Due: lint-ocaml

add logging for install-semgrep-pro
  Dockerfile
  cli/src/semgrep/commands/install.py
Due: none

Try adding another library
  Makefile
Due: none

Change library
  Makefile
Due: none

Remove unnecessary library. Am now convinced I have the ones I need
  Makefile
Due: none

Try adding it as libcurl
  Makefile
Due: none

Try removing --assume-depexts
  Makefile
Due: none

Try adding the apk add -i thing ocaml suggests
  Makefile
Due: none

Fix indent
  Makefile
Due: none

Separate out the index file
  Makefile
Due: none

Fix makefile syntax
  Makefile
Due: none

I'm just blindly experimenting at this point
  Makefile
Due: none

comment
  Dockerfile
Due: none

chore: Bump version to 1.59.0
  CHANGELOG.md
  changelog.d/gh-3070.fixed
  changelog.d/gh-3362.fixed
  changelog.d/gh-9609.changed
  changelog.d/gh-9628-2.fixed
  changelog.d/gh-9628.fixed
  changelog.d/gh-9642.changed
  changelog.d/gh-9661.changed
  changelog.d/lsp-fingerprints.fixed
  changelog.d/pa-3272.changed
  changelog.d/pa-3370.added
  changelog.d/pa-3372.fixed
  changelog.d/pa-3373.fixed
  changelog.d/pa-3375.fixed
  changelog.d/pa-3383.changed
  changelog.d/rules-6457.changed
  changelog.d/scrt-320.changed
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core/Version.ml
Due: lint-ocaml

Mark test osempass
  cli/tests/e2e/test_output_sarif.py
Due: none

osemgrep: ignore pattern-propagators too
  src/osemgrep/reporting/Cli_json_output.ml
Due: lint-ocaml

add --debug to semgrep install-semgrep-pro
  cli/src/semgrep/commands/install.py
Due: none

Update comment now that propagators are exluded
  src/osemgrep/reporting/Cli_json_output.ml
Due: lint-ocaml

capabilities: introduce CLI.caps
  src/main/Main.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/tests/Osemgrep_tests.ml
  src/osemgrep/tests/Osemgrep_tests.mli
  src/osemgrep/tests/Test_osemgrep.ml
  src/osemgrep/tests/Test_osemgrep.mli
  src/osemgrep/tests/Test_target_selection.mli
  src/tests/Test.ml
Due: lint-ocaml

add --debug to semgrep install-semgrep-pro (#9686)
  cli/src/semgrep/commands/install.py
Due: none

capabilities: introduce CLI.caps (#9687)
  src/main/Main.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/tests/Osemgrep_tests.ml
  src/osemgrep/tests/Osemgrep_tests.mli
  src/osemgrep/tests/Test_osemgrep.ml
  src/osemgrep/tests/Test_osemgrep.mli
  src/osemgrep/tests/Test_target_selection.mli
  src/tests/Test.ml
Due: lint-ocaml

change to semgrep inc
  languages/c/tree-sitter/Preprocessor_c.ml
  languages/cpp/tree-sitter/Preprocessor_cpp.ml
Due: lint-ocaml

tainting: Pro: Track taint via static class fields and globals
  changelog.d/pa-3378.added
  semgrep.yml
  src/il/IL.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
  src/tainting/Taint_lval_env.ml
Due: lint-ocaml

Pad's review
  changelog.d/pa-3378.added
  src/tainting/Taint.mli
  src/tainting/Taint_lval_env.ml
Due: lint-ocaml

tainting: Pro: Track taint via static class fields and globals (#9672)
  changelog.d/pa-3378.added
  semgrep.yml
  src/il/IL.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
  src/tainting/Taint_lval_env.ml
Due: lint-ocaml

chore: remove mentions of deep-semgrep
  .github/workflows/start-release.jsonnet
  cli/src/semgrep/commands/install.py
  libs/ast_generic/AST_generic.ml
  src/engine/Unit_engine.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_CLI.ml
  tools/otarzan/README.md
Due: lint-ocaml

bump semgrep-vscode semgrep version (#9660)
  .github/workflows/start-release.jsonnet
  .github/workflows/start-release.yml
Due: none

chore: remove mentions of deep-semgrep (#9689)
  .github/workflows/start-release.jsonnet
  cli/src/semgrep/commands/install.py
  libs/ast_generic/AST_generic.ml
  src/engine/Unit_engine.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_CLI.ml
  tools/otarzan/README.md
Due: lint-ocaml

Add needed libraries
  dune-project
Due: none

Update the actual semgrep.opam
  semgrep.opam
Due: none

Add curl-dev
  dune-project
  semgrep.opam
Due: none

Save the experiment with lwt
  libs/tracing/Tracing.ml
Due: lint-ocaml

Add curl to Makefile
  Makefile
Due: none

Try different library
  Makefile
Due: none

experiment: use opentelemetry as a tracing collector
  libs/tracing/Tracing.ml
  libs/tracing/dune
  src/core_scan/Core_scan.ml
Due: lint-ocaml

Initial support for tracing via Opentelemetry
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
  libs/tracing/Tracing.ml
  libs/tracing/dune
  libs/tracing/ppx/ppx_tracing.ml
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan_config.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
Due: lint-ocaml

link a static version of libcurl (+ friends)
  .dockerignore
  .gitignore
  Makefile
  src/main/flags.sh
Due: gitignore-to-dockerignore, shellcheck

fixup! Add curl-dev
  dune-project
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
