Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

refactoring: cleanup Git_wrapper.ml, remove get_ prefix (semgrep/semgrep-proprietary#1866)
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/Unit_git_wrapper.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_actions.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/cli_scan/Diff_scan.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/core/Auth.ml
  src/osemgrep/core/Auth.mli
  src/osemgrep/language_server/Test_LS_e2e.ml
  src/osemgrep/language_server/Test_LS_e2e.mli
  src/osemgrep/language_server/server/Session.ml
  src/parsing/Parse_contribution.ml
  src/parsing/Parse_contribution.mli
  src/tests/Test.ml
Due: lint-ocaml

feat: pattern when v0 (semgrep/semgrep-proprietary#1803)
  libs/ast_generic/AST_generic.ml
  src/analyzing/CFG_build.ml
  src/analyzing/Dataflow_svalue.ml
  src/analyzing/Dataflow_when.ml
  src/analyzing/Dataflow_when.mli
  src/analyzing/Eval_generic_partial.ml
  src/analyzing/Eval_generic_partial.mli
  src/analyzing/Implicit_return.ml
  src/engine/Eval_generic.ml
  src/engine/Eval_generic.mli
  src/engine/Match_search_mode.ml
  src/engine/tests/Unit_engine.ml
  src/il/Display_IL.ml
  src/il/IL.ml
  src/il/IL_helpers.ml
  src/tainting/Dataflow_tainting.ml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: lint-ocaml

feat(test): rule diagnosis (semgrep/semgrep-proprietary#1753)
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_test/Diagnosis.ml
  src/osemgrep/cli_test/Test_CLI.ml
  src/osemgrep/cli_test/Test_CLI.mli
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/cli_test/Unit_test_subcommand.ml
  src/osemgrep/cli_test/Unit_test_subcommand.mli
  src/tests/Test.ml
  tests/snapshots/semgrep-core/30971d76f42d/name
  tests/snapshots/semgrep-core/30971d76f42d/stdxxx
  tests/snapshots/semgrep-core/3e5448ffb606/name
  tests/snapshots/semgrep-core/3e5448ffb606/stdxxx
  tests/snapshots/semgrep-core/4823773fc66b/name
  tests/snapshots/semgrep-core/4823773fc66b/stdxxx
  tests/snapshots/semgrep-core/958abd4d536d/name
  tests/snapshots/semgrep-core/958abd4d536d/stdxxx
  tests/snapshots/semgrep-core/c49a2132d28d/name
  tests/snapshots/semgrep-core/c49a2132d28d/stdxxx
Due: lint-ocaml

naming: python: Improve on module resolution (semgrep/semgrep-proprietary#1836)
  changelog.d/code-7069.fixed
Due: none

feat: require authentication before using pro features (semgrep/semgrep-proprietary#1775)
  changelog.d/saf-1137.added
  cli/src/semgrep/core_runner.py
Due: none

refactor(rule-parsing): rule errors with files (semgrep/semgrep-proprietary#1864)
  js/engine/Main.ml
  libs/commons/Fpath_.ml
  libs/commons/Fpath_.mli
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/core/Rule.ml
  src/core_cli/Core_command.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Check_rule.mli
  src/metachecking/Translate_rule.mli
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_formula.mli
  src/parsing/Parse_rule_helpers.ml
Due: lint-ocaml

bug(sca): package-lock parser handles NPM packages not inside `node_modules/` (semgrep/semgrep-proprietary#1653)
  changelog.d/sc-1576.fixed
  cli/src/semdep/parsers/package_lock.py
  cli/tests/default/e2e-other/parsers/test_package_lock.py
Due: none

chore: Bump version to 1.80.0
  CHANGELOG.md
  changelog.d/cdx-460.added
  changelog.d/cdx-460.fixed
  changelog.d/code-7069.fixed
  changelog.d/saf-1137.added
  changelog.d/saf-1143.fixed
  changelog.d/saf-789.fixed
  changelog.d/sc-1576.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

Dogfood semgrep ci --debug and the canary (semgrep/semgrep-proprietary#1869)
  CHANGELOG.md
  changelog.d/cdx-460.added
  changelog.d/cdx-460.fixed
  changelog.d/code-7069.fixed
  changelog.d/saf-1137.added
  changelog.d/saf-1143.fixed
  changelog.d/saf-789.fixed
  changelog.d/sc-1576.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

Remove empty locations internally
  languages/cpp/ast/ast_cpp.ml
  languages/dockerfile/tree-sitter/Parse_dockerfile_tree_sitter.ml
  languages/php/menhir/lexer_php.mll
  libs/lib_parsing/Pos.ml
  libs/lib_parsing/Pos.mli
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  libs/lib_parsing/Unit_tok.ml
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/engine/tests/Test_compare_matches.ml
  src/engine/tests/Unit_engine.ml
  src/reporting/Core_json_output.ml
  src/reporting/Nosemgrep.ml
Due: lint-ocaml

Revert "Remove empty locations internally"
  languages/cpp/ast/ast_cpp.ml
  languages/dockerfile/tree-sitter/Parse_dockerfile_tree_sitter.ml
  languages/php/menhir/lexer_php.mll
  libs/lib_parsing/Pos.ml
  libs/lib_parsing/Pos.mli
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  libs/lib_parsing/Unit_tok.ml
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/engine/tests/Test_compare_matches.ml
  src/engine/tests/Unit_engine.ml
  src/reporting/Core_json_output.ml
  src/reporting/Nosemgrep.ml
Due: lint-ocaml

pysemgrep: let share stderr with semgrep-core-pro instead of pipe (semgrep/semgrep-proprietary#1871)
  changelog.d/incremental_debug.changed
  cli/Makefile
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
Due: none

chore(perf): gate as-metavariable (semgrep/semgrep-proprietary#1875)
  src/core/Pattern_match.ml
  src/core/Rule.ml
  src/engine/Match_env.ml
  src/engine/Match_search_mode.ml
  src/matching/Match_patterns.ml
  src/matching/Match_patterns.mli
  src/metachecking/Check_rule.ml
  src/optimizing/Analyze_rule.ml
Due: lint-ocaml

feat(rule-parsing): emit proper output on fatal rule errors (semgrep/semgrep-proprietary#1865)
  js/engine/Main.ml
  libs/commons/Fpath_.ml
  libs/commons/Fpath_.mli
  src/core/Core_error.ml
  src/core/Rule.ml
  src/core_cli/Core_command.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/osemgrep/reporting/Cli_json_output.ml
Due: lint-ocaml

refactoring: extract Rule_error.ml from Rule.ml, and Visit_rule.ml (semgrep/semgrep-proprietary#1883)
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/core/Core_result.ml
  src/core/Core_result.mli
  src/core/Rule.ml
  src/core/Rule_error.ml
  src/core/Visit_rule.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_command.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/core_scan/Pre_post_core_scan.ml
  src/core_scan/Pre_post_core_scan.mli
  src/engine/Match_search_mode.ml
  src/engine/tests/Test_dataflow_tainting.ml
  src/engine/tests/Unit_engine.ml
  src/matching/Matching_visitor.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Check_rule.mli
  src/metachecking/Translate_rule.ml
  src/metachecking/Translate_rule.mli
  src/optimizing/Analyze_rule.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Validate_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
  src/osemgrep/language_server/custom_requests/Search.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_formula.mli
  src/parsing/Parse_rule_helpers.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

refactoring: remove nested Rule_error.Error module, and add .mli (semgrep/semgrep-proprietary#1884)
  src/core/Rule_error.ml
  src/core/Rule_error.mli
  src/core/Visit_rule.ml
  src/core/Visit_rule.mli
  src/core_cli/Core_command.ml
  src/osemgrep/cli_publish/Publish_subcommand.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_helpers.ml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: lint-ocaml

pro: matching: Fix $MVARs to bind to global ids with id_info intact (semgrep/semgrep-proprietary#1877)
  changelog.d/code-7336.fixed
  interfaces/Rule_options.atd
  libs/ast_generic/AST_generic.ml
  src/engine/Match_tainting_mode.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Matching_generic.ml
Due: lint-ocaml

Capture and log stderr when running external commands with UCmd (semgrep/semgrep-proprietary#1852)
  Makefile
  js/Makefile
  js/libpcre/Makefile
  js/libpcre/dune
  js/node_shared/unix.js
  libs/commons/UCmd.ml
  libs/commons/UCmd.mli
  src/osemgrep/cli_scan/Test_scan_subcommand.ml
  src/osemgrep/configuring/Semgrep_settings.ml
  src/osemgrep/configuring/Semgrep_settings.mli
  tests/snapshots/semgrep-core/84cced48c6d1/stdxxx
  tests/snapshots/semgrep-core/a1eb714b5efd/stdxxx
Due: lint-ocaml

fix: when retrieving valid code targets, check the product (semgrep/semgrep-proprietary#1844)
  changelog.d/saf-1087.fixed
Due: none

Cache rule validation (semgrep/semgrep-proprietary#1879)
  cli/src/semgrep/config_resolver.py
Due: none

refactoring: split more OSS/src/core in OSS/src/target (semgrep/semgrep-proprietary#1892)
  .gitignore
  src/core/dune
  src/rule/Mini_rule.ml
  src/target/Lockfile_kind.ml
  src/target/Lockfile_xtarget.ml
  src/target/Manifest_kind.ml
  src/target/Target.ml
  src/target/Target.mli
  src/target/Xtarget.ml
  src/target/Xtarget.mli
  src/target/dune
Due: gitignore-to-dockerignore, lint-ocaml

parser template update
  languages/circom/generic/Parse_circom_tree_sitter.ml
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
