Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

chore: upload wheels artifacts for linux/osx (semgrep/semgrep-proprietary#3561)
  .github/workflows/libs/semgrep.libsonnet
Due: none

chore: cleanup ucommon stderr to not include mutable state. (semgrep/semgrep-proprietary#3597)
  libs/commons/UCommon.ml
  libs/commons/UCommon.mli
  libs/lib_parsing/Parsing_error.ml
Due: lint-ocaml

fix(SAF-1855): make mutable state in Log_ domain-local (semgrep/semgrep-proprietary#3577)
  libs/commons/Logs_.ml
Due: lint-ocaml

feat(windows): add windows as binary install target to osemgrep (semgrep/semgrep-proprietary#3233)
  libs/commons/Platform.ml
  libs/commons/Platform.mli
  libs/ograph/ograph_call_dot_gv.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
Due: lint-ocaml

chore(windows): update ocaml-opentelemetry (semgrep/semgrep-proprietary#3601)
  dune-project
  semgrep.opam
Due: none

Add API caching layer for transitive reachability (semgrep/semgrep-proprietary#3524)
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
Due: lint-ocaml

Remove Core_runner.adjust_targets_hook (semgrep/semgrep-proprietary#3594)
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
Due: lint-ocaml

Reduce Cap.mli; remove unused capabilities (semgrep/semgrep-proprietary#3611)
  TCB/Cap.ml
  TCB/Cap.mli
Due: lint-ocaml

chore: remove OCaml 5.3.0 checks (semgrep/semgrep-proprietary#3598)
  TCB/Cap.ml
  libs/commons/UCommon.ml
  src/main/Main.ml
Due: lint-ocaml

chore: remove unused print functions from UCommon. (semgrep/semgrep-proprietary#3604)
  libs/commons/UCommon.ml
  libs/commons/UCommon.mli
Due: lint-ocaml

Delete TCB.ml (semgrep/semgrep-proprietary#3612)
  TCB/No_TCB.ml
  TCB/TCB.ml
  libs/commons/Commons_TCB.ml
  libs/commons/dune
  libs/commons2/dune
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Unit_git_wrapper.ml
  libs/git_wrapper/dune
  src/main/dune
  src/osemgrep/cli/dune
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_show/dune
Due: lint-ocaml

fix(windows): reconfigure stdout,stderr to use UTF-8 encoding (semgrep/semgrep-proprietary#3591)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  cli/src/semgrep/console_scripts/entrypoint.py
  cli/src/semgrep/console_scripts/pysemgrep.py
Due: none

chore: refactor build_wheel_steps a bit (semgrep/semgrep-proprietary#3567)
  .github/workflows/libs/semgrep.libsonnet
Due: none

fix: make failure to parse package.json non-fatal (semgrep/semgrep-proprietary#3335)
  changelog.d/code-8227.fixed
Due: none

feat: add `Domains.map`. (semgrep/semgrep-proprietary#3544)
  libs/parallelism/Domains.ml
  libs/parallelism/Domains.mli
  libs/parallelism/dune
  src/main/flags.sh
Due: shellcheck, lint-ocaml

chore(windows): pin notty to Windows compatible dev version (semgrep/semgrep-proprietary#3582)
  semgrep.opam
  semgrep.opam.template
Due: none

Cleanup Core_scan part2, remove hook_parse_and_resolve_name (semgrep/semgrep-proprietary#3588)
  TCB/Cap.ml
  TCB/Cap.mli
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/core_scan/Core_scan_config.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
Due: lint-ocaml

Cleanup Core_scan part3, remove propagators hook (semgrep/semgrep-proprietary#3592)
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
Due: lint-ocaml

feat(ci): park pypi in pro repo (semgrep/semgrep-proprietary#3558)
  .github/workflows/release.jsonnet
  .github/workflows/release.yml
Due: none

chore: squat on osemgrep name (semgrep/semgrep-proprietary#3559)
  cli/park.cfg
Due: none

chore: remove `Concurrency` lib (semgrep/semgrep-proprietary#3607)
  dune-project
  libs/concurrency/Concurrency.ml
  libs/concurrency/Concurrency.mli
  libs/concurrency/Lock_protected.ml
  libs/concurrency/Lock_protected.mli
  libs/concurrency/dune
Due: lint-ocaml

chore: remove `semgrep interactive`. (semgrep/semgrep-proprietary#3614)
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
Due: lint-ocaml

Adjust SSC TR to new explanation type (semgrep/semgrep-proprietary#3595)
  cli/src/semdep/matchers/base.py
  cli/src/semdep/matchers/gradle.py
  cli/src/semdep/matchers/pip_requirements.py
  cli/src/semgrep/formatter/text.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_changed_subprojects.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_dependency_source.py
  cli/tests/default/unit/test_resolve_subprojects.py
  cli/tests/default/unit/test_subproject.py
  cli/tests/default/unit/test_subproject_matchers.py
  src/osemgrep/cli_ci/Test_is_blocking_helpers.ml
  src/osemgrep/reporting/Cli_json_output.ml
  src/osemgrep/reporting/Text_output.ml
  src/reporting/Core_json_output.ml
  src/sca/Dependency_source.ml
  src/target/Target.ml
Due: lint-ocaml
