Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

semgrep: make semgrep happy
  src/osemgrep/cli_interactive/Pointed_zipper.ml
Due: lint-ocaml

refactor: change printf to echo for shellcheck
  scripts/run-core-test.sh
Due: shellcheck

Anchor aliengrep ellipses at the end of patterns where otherwise they wouldn't be useful. Fixes https://github.com/returntocorp/semgrep/issues/7881
  Makefile
  libs/aliengrep/Conf.ml
  libs/aliengrep/Conf.mli
  libs/aliengrep/Pat_AST.ml
  libs/aliengrep/Pat_AST.mli
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Pat_lexer.ml
  libs/aliengrep/Pat_lexer.mli
  libs/aliengrep/Pat_parser.ml
  libs/aliengrep/Unit_Match.ml
  libs/aliengrep/Unit_Pat_parser.ml
  test
Due: lint-ocaml

Update changelog
  changelog.d/gh-7881.fixed
Due: none

tainting: Add options to ignore taint based on types
  interfaces/Rule_options.atd
  src/tainting/Dataflow_tainting.ml
  src/typing/Typing.ml
  tests/rules/taint_assume_safe_booleans.py
  tests/rules/taint_assume_safe_booleans.yaml
  tests/rules/taint_assume_safe_numbers.py
  tests/rules/taint_assume_safe_numbers.yaml
Due: lint-ocaml

chore: Bump version to 1.24.1
  CHANGELOG.md
  changelog.d/sc-749.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

Added search to semgrep ls
  changelog.d/ls-search.added
  cli/src/semgrep/lsp/server.py
  cli/tests/e2e/test_ls.py
  src/language_server/LS.ml
  src/language_server/custom_requests/Convert_utils.ml
  src/language_server/custom_requests/Convert_utils.mli
  src/language_server/custom_requests/Search.ml
  src/language_server/custom_requests/Search.mli
  src/language_server/custom_requests/dune
Due: lint-ocaml

Implement anchored ellipsis where it makes sense (#7934)
  Makefile
  changelog.d/gh-7881.fixed
  libs/aliengrep/Conf.ml
  libs/aliengrep/Conf.mli
  libs/aliengrep/Pat_AST.ml
  libs/aliengrep/Pat_AST.mli
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Pat_lexer.ml
  libs/aliengrep/Pat_lexer.mli
  libs/aliengrep/Pat_parser.ml
  libs/aliengrep/Unit_Match.ml
  libs/aliengrep/Unit_Pat_parser.ml
  test
Due: lint-ocaml

Add aliengrep test that now works
  cli/tests/e2e/snapshots/test_aliengrep/test_aliengrep/rulesaliengrephttpresponse.yaml-aliengrephttpresponse.txt/results.json
  cli/tests/e2e/test_aliengrep.py
Due: none

fix changelog
  changelog.d/gh-7787.fixed
Due: none

taint analysis #7787: Check function calls without parameters or parenthesis in Ruby
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

move codes to ast_to_il
  changelog.d/gh-7787.fixed
  src/analyzing/AST_to_IL.ml
  src/analyzing/AST_to_IL.mli
  src/engine/Match_tainting_mode.ml
  src/engine/Match_tainting_mode.mli
  src/engine/Test_dataflow_tainting.ml
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

Add aliengrep test that now works (#7939)
  cli/tests/e2e/snapshots/test_aliengrep/test_aliengrep/rulesaliengrephttpresponse.yaml-aliengrephttpresponse.txt/results.json
  cli/tests/e2e/test_aliengrep.py
Due: none

Add caseless option for aliengrep matching
  cli/tests/e2e/rules/aliengrep/httpresponse.yaml
  interfaces/Rule_options.atd
  libs/aliengrep/Conf.ml
  libs/aliengrep/Conf.mli
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Unit_Match.ml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

Update changelog
  changelog.d/gh-7883.added
Due: none

taint analysis #7787: Check function calls without parameters or parenthesis in Ruby (#7906)
  changelog.d/gh-7787.fixed
  src/analyzing/AST_to_IL.ml
  src/analyzing/AST_to_IL.mli
  src/engine/Match_tainting_mode.ml
  src/engine/Match_tainting_mode.mli
  src/engine/Test_dataflow_tainting.ml
Due: lint-ocaml

Add option for case-insensitive matching with aliengrep (#7940)
  changelog.d/gh-7883.added
  cli/tests/e2e/rules/aliengrep/httpresponse.yaml
  interfaces/Rule_options.atd
  libs/aliengrep/Conf.ml
  libs/aliengrep/Conf.mli
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Unit_Match.ml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

const-prop: Fix bug detecting overflow in multiplication (#7926)
  changelog.d/gh-7893.fixed
  src/analyzing/Dataflow_svalue.ml
  tests/rules/cp_mults.py
  tests/rules/cp_mults.yaml
Due: lint-ocaml

feat(pro): Restructure some things for pro-join (#7841)
  src/core/Rule.ml
  src/parsing/Parse_rule.ml
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
Due: lint-ocaml

clean up yaml memory offset overrides (#7931)
  js/engine/Main.ml
  js/engine/Yaml_ctypes_overrides.ml
  js/engine/core.js
  js/libyaml/Makefile.include
  js/libyaml/extra.c
Due: lint-ocaml

Nat's review
  src/tainting/Dataflow_tainting.ml
  src/typing/Typing.ml
Due: lint-ocaml

tainting: Add options to ignore taint based on types (#7936)
  interfaces/Rule_options.atd
  src/tainting/Dataflow_tainting.ml
  src/typing/Typing.ml
  tests/rules/taint_assume_safe_booleans.py
  tests/rules/taint_assume_safe_booleans.yaml
  tests/rules/taint_assume_safe_numbers.py
  tests/rules/taint_assume_safe_numbers.yaml
Due: lint-ocaml

Elixir: introduce a proper AST_elixir.ml
  languages/elixir/ast/AST_elixir.ml
  languages/elixir/generic/Parse_elixir_tree_sitter.ml
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

Update README.md to update Slack (#7930)
  README.md
Due: none

fix: Remove special-case for typed-metavar matching (#7929)
  src/core/Type.ml
  src/matching/Generic_vs_generic.ml
  src/typing/Typing.ml
  tests/patterns/java/typed_metavar_class.java
Due: lint-ocaml

progress
  languages/elixir/ast/AST_elixir.ml
  languages/elixir/generic/Parse_elixir_tree_sitter.ml
Due: lint-ocaml

progress
  languages/elixir/ast/AST_elixir.ml
  languages/elixir/generic/Elixir_to_generic.ml
  languages/elixir/generic/Elixir_to_generic.mli
  languages/elixir/generic/Parse_elixir_tree_sitter.ml
  languages/elixir/generic/Parse_elixir_tree_sitter.mli
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
Due: lint-ocaml

feat(Java): Guess types when we can't resolve them definitively
  changelog.d/heuristics.added
  src/core/Type.ml
  src/typing/Typing.ml
  src/typing/Typing_heuristics.ml
  src/typing/Typing_heuristics.mli
  tests/patterns/java/metavar_typed_bool.java
Due: lint-ocaml

Potential fix for ReDoS vulnerability
  cli/src/semgrep/external/git_url_parser.py
  src/osemgrep/TOPORT/external/git_url_parser.py
Due: none

Update changelog
  changelog.d/gh-7943.fixed
Due: none

Fix for ReDoS vulnerability (#7943)
  changelog.d/gh-7943.fixed
  cli/src/semgrep/external/git_url_parser.py
  src/osemgrep/TOPORT/external/git_url_parser.py
Due: none

fix libyaml mark values
  js/engine/tests/index.test.js
  js/libyaml/runtime.js
  src/parsing/yaml_to_generic.ml
Due: lint-ocaml

embed JSON parser in engine
  js/engine/Main.ml
  js/languages/Makefile
  js/languages/json/Makefile
  js/languages/json/Parser.ml
  js/languages/json/dune
  js/languages/json/package-lock.json
  js/languages/json/package.json
  js/languages/json/tests/index.test.js
  js/languages/json/tests/test.json
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
