Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests

Replace List.map with Common.map in Parse_swift_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

Move analysis failures into skipped section of text output (#4952)
  CHANGELOG.md
  semgrep/semgrep/output.py
  semgrep/semgrep/semgrep_main.py
  semgrep/semgrep/target_manager.py
  semgrep/tests/e2e/snapshots/test_check/test_max_memory/error.txt
  semgrep/tests/e2e/snapshots/test_check/test_max_memory/results.json
  semgrep/tests/e2e/snapshots/test_check/test_spacegrep_timeout/error.txt
  semgrep/tests/e2e/snapshots/test_check/test_timeout_threshold/error.txt
  semgrep/tests/e2e/snapshots/test_check/test_timeout_threshold/error_2.txt
  semgrep/tests/e2e/snapshots/test_check/test_timeout_threshold/results.json
  semgrep/tests/e2e/snapshots/test_cli_test/test_parse_errors/errors.json
  semgrep/tests/e2e/snapshots/test_nosemgrep/test_nosem_rule__invalid_id/error.txt
  semgrep/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/invalid_python.py/error.txt
Due: none

Replace List.map with Common.map in Parse_swift_tree_sitter.ml (#4966)
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

changelog
  CHANGELOG.md
Due: none

Make SEMGREP_URL and SEMGREP_APP_URL consistent
  semgrep/semgrep/commands/ci.py
  semgrep/semgrep/commands/login.py
  semgrep/semgrep/commands/publish.py
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/constants.py
  semgrep/semgrep/semgrep_app.py
Due: none

Merge registry and app URLs
  semgrep/semgrep/commands/ci.py
  semgrep/semgrep/commands/login.py
  semgrep/semgrep/commands/publish.py
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/constants.py
  semgrep/semgrep/semgrep_app.py
Due: none

Support the NO_COLOR env variable (#4742)
  semgrep/semgrep/util.py
  semgrep/tests/e2e/snapshots/test_output/test_output_highlighting__force_color_and_no_color/results.txt
  semgrep/tests/e2e/snapshots/test_output/test_output_highlighting__no_color/results.txt
  semgrep/tests/e2e/test_output.py
Due: none

Fix snapshot
  semgrep/tests/e2e/snapshots/test_join_rules/test_join_rules/rulesjoin_rulesinlineinline-rules.yaml-join_rulesuser-input-with-unescaped-extension/results.json
Due: none

Rules with invalid patterns fail fast
  semgrep-core/src/runner/Run_semgrep.ml
Due: lint-ocaml

Fixup
  semgrep-core/src/runner/Run_semgrep.ml
Due: lint-ocaml

changelog (#4967)
  CHANGELOG.md
Due: none

Update semgrep/semgrep/commands/login.py
  semgrep/semgrep/commands/login.py
Due: none

Tests and changelog
  CHANGELOG.md
  semgrep/tests/e2e/rules/invalid-rules/invalid-pattern.yaml
  semgrep/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml-basicstupid.js/results.json
  semgrep/tests/e2e/test_rule_validation.py
Due: none

allow loading single rule without `rules` superkey
  semgrep/semgrep/config_resolver.py
Due: none

Review updates
  README.md
  entrypoint.sh
  scripts/validate-docker-build.sh
  scripts/validate-docker-release.sh
Due: shellcheck

Make it possible to run any command in docker image (#4930)
  Dockerfile
  README.md
  entrypoint.sh
  scripts/validate-docker-build.sh
  scripts/validate-docker-release.sh
Due: shellcheck

Make SEMGREP_URL and SEMGREP_APP_URL consistent (#4928)
  semgrep/semgrep/commands/ci.py
  semgrep/semgrep/commands/login.py
  semgrep/semgrep/commands/publish.py
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/constants.py
  semgrep/semgrep/semgrep_app.py
Due: none

Rules with invalid patterns fail fast (#4969)
  CHANGELOG.md
  semgrep-core/src/runner/Run_semgrep.ml
  semgrep/tests/e2e/rules/invalid-rules/invalid-pattern.yaml
  semgrep/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml-basicstupid.js/results.json
  semgrep/tests/e2e/test_rule_validation.py
Due: lint-ocaml

fix schema for tests
  semgrep/semgrep/rule_schema.yaml
  semgrep/tests/e2e/rules/syntax/good_toplevel.yaml
  semgrep/tests/e2e/rules/syntax/missing-field.yaml
  semgrep/tests/e2e/rules/syntax/missing-toplevel.yaml
Due: none

update tests
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-field/error-in-color.txt
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-field/error.json
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-toplevel/error-in-color.txt
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-toplevel/error.json
Due: none

chore(cli): removed the include/exclude paths for the individual rules from the verbose output
  semgrep/semgrep/target_manager.py
Due: none

promoting scala to GA officially
  parsing-stats/lang/scala/projects.txt
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
  semgrep-core/tests/scala/deep_expr_operator.scala
  semgrep-core/tests/scala/dots_method_chaining.scala
  semgrep-core/tests/scala/dots_method_chaining.sgrep
  semgrep-core/tests/scala/equivalence_constant_propagation.scala
  semgrep-core/tests/scala/equivalence_eq.scala
Due: lint-ocaml

promoting scala to GA officially
  parsing-stats/lang/scala/projects.txt
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
Due: lint-ocaml

more GA tests, typed metavars
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
  semgrep-core/tests/Test.ml
  semgrep-core/tests/scala/equivalence_eq.scala
  semgrep-core/tests/scala/equivalence_naming_import.scala
  semgrep-core/tests/scala/equivalence_naming_import.sgrep
  semgrep-core/tests/scala/metavar_anno.scala
  semgrep-core/tests/scala/metavar_key_value.scala
  semgrep-core/tests/scala/metavar_key_value.sgrep
  semgrep-core/tests/scala/metavar_typed.scala
  semgrep-core/tests/scala/metavar_typed.sgrep
Due: lint-ocaml

Update pytest snapshots
  semgrep/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml-basicstupid.js/results.json
Due: none

reuse TypedExpr for typed metavars
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
Due: lint-ocaml
