Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaregradle/results.txt
Due: none

osemgrep: handle --optimizations all, pass -fast to semgrep-core (#6296)
  semgrep-core/src/core/Flag_semgrep.ml
  semgrep-core/src/core_cli/Core_CLI.ml
  semgrep-core/src/engine/Match_env.ml
  semgrep-core/src/engine/Match_extract_mode.ml
  semgrep-core/src/engine/Match_rules.ml
  semgrep-core/src/engine/Test_dataflow_tainting.ml
  semgrep-core/src/engine/Test_engine.ml
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/src/metachecking/Unit_metachecking.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/runner/Run_semgrep.ml
  semgrep-core/src/runner/Runner_config.ml
Due: lint-ocaml

changelog
  changelog.d/sc-256.fixed
Due: none

test: Autofix printing stats
  autofix-printing-stats/.gitignore
  autofix-printing-stats/projects.txt
  autofix-printing-stats/run
Due: none

don't allow M1 builds to brew cleanup
  .github/workflows/release.yml
Due: none

add doc
  .github/workflows/release.yml
Due: none

osemgrep: basic json output!
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/runner/Run_semgrep.ml
  semgrep-core/src/runner/Run_semgrep.mli
  semgrep.yml
Due: lint-ocaml

fix: remove gradle as a separate supply chain ecosystem (#6297)
  changelog.d/sc-256.fixed
  cli/src/semdep/find_lockfiles.py
  cli/src/semdep/parse_lockfile.py
  cli/tests/e2e/rules/dependency_aware/java-gradle-sca.yaml
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaregradle/results.txt
Due: none

don't allow M1 builds to brew cleanup (#6301)
  .github/workflows/release.yml
Due: none

hmm
  semgrep-core/src/analyzing/Dataflow_core.ml
Due: lint-ocaml

osemgrep: adjust TODOPORT/ more (#6289)
  semgrep-core/src/osemgrep/TOPORT/cli.py
  semgrep-core/src/osemgrep/TOPORT/constants.py
  semgrep-core/src/osemgrep/TOPORT/default_group.py
  semgrep-core/src/osemgrep/TOPORT/error.py
  semgrep-core/src/osemgrep/TOPORT/fork_subprocess.py
  semgrep-core/src/osemgrep/cli/CLI.ml
  semgrep-core/src/osemgrep/core/Constants.ml
  semgrep-core/src/osemgrep/core/Exit_code.ml
Due: lint-ocaml

semgrep-jsonnet config: use a specific semgrep version rather than (#6286)
  .pre-commit-config.yaml
Due: none

fix(autofix): Add binary operator expression printing (#6284)
  cli/tests/e2e/snapshots/test_autofix/test_autofix/rulesautofixthree-autofixes.yaml-autofixthree-autofixes.py-dryrun/results.json
  cli/tests/e2e/snapshots/test_autofix/test_autofix/rulesautofixthree-autofixes.yaml-autofixthree-autofixes.py-not-dryrun/autofix/three-autofixes.py-fixed
  cli/tests/e2e/snapshots/test_autofix/test_autofix/rulesautofixthree-autofixes.yaml-autofixthree-autofixes.py-not-dryrun/results.json
  semgrep-core/src/core/ast/Ugly_print_AST.ml
  semgrep-core/src/fixing/Autofix_metavar_replacement.ml
  semgrep-core/src/fixing/Autofix_printer.ml
  semgrep-core/src/fixing/Hybrid_print.ml
  semgrep-core/src/fixing/tests/Unit_autofix_printer.ml
  semgrep-core/tests/patterns/python/fix_binop.fix
  semgrep-core/tests/patterns/python/fix_binop.fixed
  semgrep-core/tests/patterns/python/fix_binop.py
  semgrep-core/tests/patterns/python/fix_binop.sgrep
  semgrep-core/tests/patterns/python/fix_within_binop.fix
  semgrep-core/tests/patterns/python/fix_within_binop.fixed
  semgrep-core/tests/patterns/python/fix_within_binop.py
  semgrep-core/tests/patterns/python/fix_within_binop.sgrep
Due: lint-ocaml

Update 'make dev' + documentation (#6285)
  semgrep-core/Makefile
Due: none

chore: rename cli/ to main/ and cli-lib to cli/ in semgrep-core (#6280)
  Dockerfile
  cli/tests/e2e/test_ci.py
  scripts/release/bump
  semgrep-core/debug
  semgrep-core/src/cli-bridge/Semgrep_bridge_core.ml
  semgrep-core/src/cli-bridge/dune
  semgrep-core/src/core_cli/Core_CLI.ml
  semgrep-core/src/core_cli/dune
  semgrep-core/src/core_cli/version.ml
  semgrep-core/src/main/Main.ml
  semgrep-core/src/main/dune
  semgrep-core/src/main/flags.sh
  semgrep-core/src/osemgrep/cli-lib/dune
  semgrep-core/src/osemgrep/cli/CLI.ml
  semgrep-core/src/osemgrep/cli/CLI.mli
  semgrep-core/src/osemgrep/cli/dune
  semgrep-core/src/osemgrep/main/Main.ml
  semgrep-core/src/osemgrep/main/dune
  semgrep-core/src/osemgrep/semgrep-scan/dune
  semgrep-core/src/spacegrep/src/bin/dune
  semgrep.yml
Due: shellcheck, lint-ocaml

osemgrep: start support for --json (#6294)
  semgrep-core/src/osemgrep/TOPORT/commands/scan.py
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/tests/osemgrep/osemgrep.yml
Due: lint-ocaml

osemgrep: simplify Scan_CLI.ml and Semgrep_scan.ml (#6292)
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.mli
  semgrep-core/src/osemgrep/core/Constants.ml
Due: lint-ocaml

osemgrep: adjust TOPORT/, remove stuff that was ported by Martin (#6288)
  semgrep-core/src/cli-bridge/dune
  semgrep-core/src/core_cli/dune
  semgrep-core/src/main/dune
  semgrep-core/src/osemgrep/TOPORT/Makefile
  semgrep-core/src/osemgrep/TOPORT/__init__.py
  semgrep-core/src/osemgrep/TOPORT/__main__.py
  semgrep-core/src/osemgrep/TOPORT/app/__init__.py
  semgrep-core/src/osemgrep/TOPORT/commands/__init__.py
  semgrep-core/src/osemgrep/TOPORT/external/__init__.py
  semgrep-core/src/osemgrep/TOPORT/formatter/__init__.py
  semgrep-core/src/osemgrep/TOPORT/lsp/__init__.py
  semgrep-core/src/osemgrep/TOPORT/output_from_core.py
  semgrep-core/src/osemgrep/cli/dune
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Metrics.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.mli
  semgrep-core/src/osemgrep/cli_scan/dune
  semgrep-core/src/osemgrep/core/CLI_common.ml
  semgrep-core/src/osemgrep/core/Constants.ml
  semgrep-core/src/osemgrep/core/Error.ml
  semgrep-core/src/osemgrep/core/Error.mli
  semgrep-core/src/osemgrep/core/Exit_code.ml
  semgrep-core/src/osemgrep/core/Exit_code.mli
  semgrep-core/src/osemgrep/core/Finding.ml
  semgrep-core/src/osemgrep/core/Parsing_data.ml
  semgrep-core/src/osemgrep/core/Rule_lang.ml
  semgrep-core/src/osemgrep/core/dune
  semgrep-core/src/osemgrep/main/dune
  semgrep-core/src/osemgrep/targeting/Target_manager.ml
  semgrep-core/src/osemgrep/targeting/dune
  semgrep-core/src/osemgrep/utils/dune
Due: lint-ocaml

osemgrep: continue adjusting TOPORT (#6290)
  semgrep-core/src/osemgrep/TOPORT/commands/scan.py
  semgrep-core/src/osemgrep/TOPORT/semgrep_core.py
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/dune
  semgrep-core/src/osemgrep/core/CLI_common.ml
  semgrep-core/src/osemgrep/core/Constants.ml
  semgrep-core/src/osemgrep/utils/Cmdliner_helpers.ml
Due: lint-ocaml

chore: Bump version to 0.117.0
  CHANGELOG.md
  changelog.d/gh-5971.added
  changelog.d/pa-1902.fixed
  changelog.d/sc-247.fixed
  changelog.d/sc-256.fixed
  changelog.d/sc-293.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  semgrep-core/src/core_cli/version.ml
  setup.py
Due: lint-ocaml

osemgrep: basic json output! (#6302)
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/runner/Run_semgrep.ml
  semgrep-core/src/runner/Run_semgrep.mli
  semgrep.yml
Due: lint-ocaml

osemgrep: progress on test_check.py::test_basic_rule__local
  cli/tests/semgrep_runner.py
  semgrep-core/src/osemgrep/TOPORT/commands/scan.py
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
Due: lint-ocaml

osemgrep: progress on test_check.py::test_basic_rule__local (#6307)
  cli/tests/semgrep_runner.py
  semgrep-core/src/osemgrep/TOPORT/commands/scan.py
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.ml
  semgrep-core/src/osemgrep/cli_scan/Scan_CLI.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
Due: lint-ocaml

osemgrep: improve JSON output for test_check::test_basic_rule
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
Due: lint-ocaml

osemgrep: improve JSON output for test_check::test_basic_rule (#6310)
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
Due: lint-ocaml

osemgrep: more improvement to JSON output for basic_test
  semgrep-core/src/metachecking/Check_rule.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/osemgrep/cli_scan/dune
  semgrep-core/src/reporting/JSON_report.ml
  semgrep-core/src/reporting/JSON_report.mli
  semgrep-core/src/reporting/Matching_report.ml
  semgrep-core/src/reporting/Matching_report.mli
  semgrep-core/src/runner/Run_semgrep.ml
Due: lint-ocaml

misc
  semgrep-core/src/metachecking/Check_rule.ml
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
Due: lint-ocaml

add(error): exit gracefully if running on linux arm64
  cli/src/semgrep/cli.py
Due: none

fixup! add(error): exit gracefully if running on linux arm64
  changelog.d/arm-fail.added
  cli/src/semgrep/cli.py
Due: none

Add authorization
  .github/workflows/release.yml
  .github/workflows/start-release.yml
Due: none

add .npm to default semgrepignore
  cli/src/semgrep/templates/.semgrepignore
Due: none

osemgrep: more improvement to JSON output for basic_test (#6312)
  semgrep-core/src/metachecking/Check_rule.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.ml
  semgrep-core/src/osemgrep/cli_scan/Core_runner.mli
  semgrep-core/src/osemgrep/cli_scan/Semgrep_scan.ml
  semgrep-core/src/osemgrep/cli_scan/dune
  semgrep-core/src/reporting/JSON_report.ml
  semgrep-core/src/reporting/JSON_report.mli
  semgrep-core/src/reporting/Matching_report.ml
  semgrep-core/src/reporting/Matching_report.mli
  semgrep-core/src/runner/Run_semgrep.ml
Due: lint-ocaml

fix changelog
  changelog.d/app-2437.changed
Due: none

add to changelog.md instead
  CHANGELOG.md
  changelog.d/app-2437.changed
Due: none

add changelog
  changelog.d/gh-6315.changed
Due: none

pre commit fix
  changelog.d/gh-6315.changed
Due: none

chore: Fix Travis CI configs changelog entry (#6316)
  CHANGELOG.md
  changelog.d/app-24
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
