Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations

ojsonnet: add some [@@profiling]
  semgrep-core/src/ojsonnet/interpreting/Desugar_jsonnet.ml
  semgrep-core/src/ojsonnet/interpreting/Eval_jsonnet.ml
  semgrep-core/src/osemgrep/cli_scan/Rule_fetching.ml
Due: lint-ocaml

ojsonnet: add some [@@profiling] (#6741)
  semgrep-core/src/ojsonnet/interpreting/Desugar_jsonnet.ml
  semgrep-core/src/ojsonnet/interpreting/Eval_jsonnet.ml
  semgrep-core/src/osemgrep/cli_scan/Rule_fetching.ml
Due: lint-ocaml

added tests for imported matching, refactored m_name
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/rules/imported_matching.py
  semgrep-core/tests/rules/imported_matching.yaml
  semgrep-core/tests/rules/metavar_regex_import.js
  semgrep-core/tests/rules/metavar_regex_import.yaml
Due: lint-ocaml

remove id_type comparison, change test
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/tests/patterns/python/misc_class_regression.py
Due: lint-ocaml

Go: extra test for function argument matching
  semgrep-core/tests/patterns/go/misc_functype_0arg_bis.go
  semgrep-core/tests/patterns/go/misc_functype_0arg_bis.sgrep
Due: none

Go: extra test for function argument matching (#6746)
  semgrep-core/tests/patterns/go/misc_functype_0arg_bis.go
  semgrep-core/tests/patterns/go/misc_functype_0arg_bis.sgrep
Due: none

circleCI: switch to semgrep:develop for semgrep jsonnet
  .circleci/config.yml
Due: none

fix CI
  semgrep-core/src/core_cli/Core_CLI.ml
Due: lint-ocaml

more fixes
  .circleci/config.yml
Due: none

circleCI: switch to semgrep:develop for semgrep jsonnet (#6747)
  .circleci/config.yml
  semgrep-core/src/core_cli/Core_CLI.ml
Due: lint-ocaml

add back match
  semgrep-core/tests/patterns/python/misc_class_regression.py
Due: none

cleanup
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/patterns/python/misc_class_regression.py
  semgrep-core/tests/rules/imported_matching.yaml
Due: lint-ocaml

fix yaml parsing for literal and folded styles, add e2e test
  cli/tests/e2e/rules/yaml_key.yaml
  cli/tests/e2e/snapshots/test_output/test_yaml_metavariables/report.json
  cli/tests/e2e/targets/yaml/target.yaml
  cli/tests/e2e/test_output.py
  semgrep-core/src/parsing/other/yaml_to_generic.ml
Due: lint-ocaml

changelog
  changelog.d/pa-2347.fixed
Due: none

Add support for records and tuples to otarzan
  semgrep-core/src/experiments/otarzan/lib/Print.ml
  semgrep-core/src/parsing/tree_sitter/Parse_ocaml_tree_sitter.ml
  semgrep-core/src/pfff/lang_ml/parsing/ast_ml.ml
Due: lint-ocaml

fix: Use GH API to get merge base instead of fetching
  changelog.d/gha-mergebase.fixed
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/git.py
  cli/src/semgrep/meta.py
  cli/src/semgrep/semgrep_main.py
Due: none

Add support for records and tuples to otarzan (#6751)
  semgrep-core/src/experiments/otarzan/lib/Print.ml
  semgrep-core/src/parsing/tree_sitter/Parse_ocaml_tree_sitter.ml
  semgrep-core/src/pfff/lang_ml/parsing/ast_ml.ml
Due: lint-ocaml

cli: don't retry non-HTTP exceptions + provide a more descriptive error for SSL cert hostname mismatches
  cli/src/semgrep/app/session.py
Due: none

slightly better approach
  cli/src/semgrep/app/session.py
Due: none

demo of pattern-inside-taint using taint pattern
  semgrep-core/src/engine/Match_tainting_mode.ml
  semgrep-core/tests/OTHER/rules/pattern-inside-taint.java
  semgrep-core/tests/OTHER/rules/pattern-inside-taint.yaml
  semgrep-core/tests/OTHER/rules/pattern-inside-taint2.js
  semgrep-core/tests/OTHER/rules/pattern-inside-taint2.yaml
  semgrep-core/tests/OTHER/rules/pattern-inside-taint3.py
  semgrep-core/tests/OTHER/rules/pattern-inside-taint3.yaml
Due: lint-ocaml

parse julia, update semgrep-julia, add projects, add changelog
  changelog.d/pa-2362.fixed
  parsing-stats/lang/julia/projects.txt
  semgrep-core/src/parsing/tree_sitter/Parse_julia_tree_sitter.ml
Due: lint-ocaml

blah blah blah why didnt you take out the List.maps brandon why didnt you run pre-commit brandon why aren't you a doctor brandon quit your kvetching and let me push code damnit
  semgrep-core/src/parsing/tree_sitter/Parse_julia_tree_sitter.ml
Due: lint-ocaml

apply suggestions
  parsing-stats/lang/julia/projects.txt
  semgrep-core/src/parsing/tree_sitter/Parse_julia_tree_sitter.ml
Due: lint-ocaml

feat(julia): support the julia language (#6765)
  changelog.d/pa-2362.fixed
  parsing-stats/lang/julia/projects.txt
  semgrep-core/src/parsing/tree_sitter/Parse_julia_tree_sitter.ml
Due: lint-ocaml

fix pre-commit check-ast
  semgrep-core/src/pfff/commons_core/python_ocaml.py
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit check-shebang-scripts-are-executable
  semgrep-core/src/pfff/env.sh
Due: shellcheck

fix pre-commit trailing-whitespace
  semgrep-core/src/pfff/lang_php/parsing/lib_parsing_php.ml
Due: lint-ocaml

fix pre-commit mypy
  .pre-commit-config.yaml
Due: none

fix pre-commit black
  semgrep-core/src/pfff/commons_core/python_ocaml.py
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit reorder-python-imports
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit pyupgrade
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit flake8
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit prettier
  semgrep-core/src/pfff/docs/official-grammars/index.html
Due: none

fix pre-commit pyupgrade 2nd part
  semgrep-core/src/pfff/scripts/get_includes.py
Due: none

fix pre-commit prettier 2nd part
  semgrep-core/src/pfff/docs/official-grammars/ml/full-grammar.html
Due: none
