Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

chore(sca): switch to typed sca info for cli output (semgrep/semgrep-proprietary#3157)
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/formatter/base.py
Due: none

chore(tr): set up TR RPC call (semgrep/semgrep-proprietary#3162)
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/rpc_call.py
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_CLI.mli
  src/rpc/RPC.ml
  src/rpc/RPC.mli
  src/rpc/RPC_return.mli
Due: lint-ocaml

tainting: Avoid fake tokens in taint-traces' tainted tokens (semgrep/semgrep-proprietary#3174)
  src/core/Taint_trace.ml
  src/core_scan/Report_pro_findings.ml
  src/reporting/Core_json_output.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
  src/tainting/Taint_lval_env.ml
Due: lint-ocaml

Fix `range not found` error in metavar pattern match (semgrep/semgrep-proprietary#3148)
  changelog.d/code-8007.fixed
  tests/rules/metavariable_name_resolution.java
Due: none

Move Subproject from subproject.py to ATD (semgrep/semgrep-proprietary#3167)
  cli/src/semdep/matchers/base.py
  cli/src/semdep/matchers/gradle.py
  cli/src/semdep/matchers/pip_requirements.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/core_targets_plan.py
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/scan_report.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_changed_subprojects.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_subprojects.py
  cli/tests/default/unit/test_subproject.py
  cli/tests/default/unit/test_subproject_matchers.py
Due: none

ci: Bump opam cache (semgrep/semgrep-proprietary#3134)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
Due: none

nix: Filter all dev dependencies in nix (semgrep/semgrep-proprietary#3135)
  .envrc
  Makefile
  semgrep.nix
Due: none

fix(lsp): only use string `Diagnostic.message`s (semgrep/semgrep-proprietary#3186)
  changelog.d/code-8120.fixed
  src/lsp/scan_helpers/Diagnostics.ml
Due: lint-ocaml

ci: Always run build curl step (semgrep/semgrep-proprietary#3146)
  Makefile
  scripts/build-static-libcurl.sh
Due: shellcheck

ci: Add test step to build-test osx (semgrep/semgrep-proprietary#3137)
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.jsonnet
  .github/workflows/build-test-osx-x86.yml
Due: none

ci: add local dependencies to opam file (semgrep/semgrep-proprietary#3136)
  Dockerfile
  Makefile
  dune-project
  semgrep.nix
  semgrep.opam
  semgrep.opam.template
Due: none

ci: Remove some dependency makefile steps (semgrep/semgrep-proprietary#3110)
  .circleci/config.yml
  .github/workflows/build-test-core-x86.jsonnet
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  Dockerfile
  Makefile
  src/main/flags.sh
Due: shellcheck

ci: Remove macos install step (semgrep/semgrep-proprietary#3133)
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.jsonnet
  .github/workflows/build-test-osx-x86.yml
  Makefile
Due: none

Improve mypy checks on test code (semgrep/semgrep-proprietary#3169)
  cli/Pipfile
  cli/Pipfile.lock
  cli/src/semgrep/target_manager.py
  cli/tests/default/e2e-other/test_ci.py
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/unit/targeting/test_exclude.py
  cli/tests/default/unit/targeting/test_include.py
  cli/tests/default/unit/targeting/test_target_manager.py
  cli/tests/default/unit/test_filter_changed_subprojects.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_match_hashes.py
  cli/tests/default/unit/test_rule_match.py
  cli/tests/default/unit/test_subproject.py
  cli/tests/qa/test_public_repos.py
  mypy-tests.ini
  mypy.ini
Due: none

cleanup capabilities used for SSC TR and cleanup some SSC TR OCaml code (semgrep/semgrep-proprietary#3181)
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_CLI.mli
  src/rpc/RPC.ml
  src/rpc/RPC.mli
  src/rpc/RPC_return.mli
Due: lint-ocaml

SSC TR: fix rpc call, pass the right set of findings (semgrep/semgrep-proprietary#3182)
  cli/src/semgrep/dependency_aware_rule.py
Due: none

Fix regression in test: typed_metavar_var.java (semgrep/semgrep-proprietary#3176)
  changelog.d/code-7991.fixed
  src/core/Type.ml
Due: lint-ocaml

Remove the unrelated make check from make build in cli/ (semgrep/semgrep-proprietary#3185)
  cli/Makefile
Due: none

deep: Treat JS targets as TS targets for inter-file analysis (semgrep/semgrep-proprietary#3127)
  changelog.d/code-8076.added
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
Due: lint-ocaml

Build semgrep-core-proprietary (semgrep/semgrep-proprietary#3116)
  cli/setup.py
  scripts/build-wheels.sh
Due: shellcheck

cleanup Transitive_reachability.ml and generate TransitiveReachable and try toy repo (semgrep/semgrep-proprietary#3197)
  cli/src/semgrep/dependency_aware_rule.py
Due: none

chore: run all OSS lint checks in pro (semgrep/semgrep-proprietary#3203)
  .github/workflows/lint.jsonnet
  .github/workflows/lint.yml
Due: none

ci: fix windows OSS action (semgrep/semgrep-proprietary#3205)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

chore(sca): `yarn.lock` can now accurately capture `npm` organization scope (semgrep/semgrep-proprietary#3106)
  changelog.d/sc-2107.fixed
  cli/src/semdep/parsers/yarn.py
  cli/tests/default/e2e-other/parsers/test_yarn.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_parsing/targetsdependency_awareosv_parsingyarncommits.v1yarn.lock/dependencies.json
  cli/tests/default/e2e-other/snapshots/test_ssc/test_parsing/targetsdependency_awareosv_parsingyarnmultiple-constraints.v1yarn.lock/dependencies.json
  cli/tests/default/e2e-other/snapshots/test_ssc/test_parsing/targetsdependency_awareosv_parsingyarnscoped-packages.v1yarn.lock/dependencies.json
Due: none

fix: windows OSS workflow (REAL!!) (semgrep/semgrep-proprietary#3207)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

fix: flaky ls test (semgrep/semgrep-proprietary#3195)
  src/lsp/Test_LS_e2e.ml
  src/lsp/notifications/Notification_handler.ml
  src/lsp/server/Session.ml
  src/lsp/server/Session.mli
Due: lint-ocaml

feat: expose metavariable-name.modules (semgrep/semgrep-proprietary#3188)
  changelog.d/code-8121.added
  src/engine/Match_search_mode.ml
  src/parsing/Parse_rule_formula.ml
Due: lint-ocaml

fix: flaky osemgrep test (semgrep/semgrep-proprietary#3206)
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

chore: fix dockerfile lint issues (semgrep/semgrep-proprietary#3204)
  .pre-commit-config.yaml
  Dockerfile
Due: none

Add Windows dev setup fixes, workarounds, and documentation (semgrep/semgrep-proprietary#3175)
  Makefile
Due: none

Fix windows one more time (semgrep/semgrep-proprietary#3208)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

refactor: use `Cmdliner` for `Show_CLI` (semgrep/semgrep-proprietary#3130)
  src/osemgrep/cli_show/Show_CLI.ml
Due: lint-ocaml

feat: improve `show debug` flags (semgrep/semgrep-proprietary#3131)
  src/osemgrep/cli_show/Show_CLI.ml
  src/osemgrep/cli_show/Show_CLI.mli
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_show/dune
Due: lint-ocaml

feat(sca): enable dynamic resolution for multi-lockfile dependency sources (semgrep/semgrep-proprietary#3177)
  cli/src/semgrep/resolve_dependency_source.py
Due: none

Add #unavaliable token
  languages/swift/generic/Parse_swift_tree_sitter.ml
Due: lint-ocaml

Add & as an referencable operator
  languages/swift/generic/Parse_swift_tree_sitter.ml
  tests/patterns/swift/switch_expression.sgrep
  tests/patterns/swift/switch_expression.swift
Due: lint-ocaml

Add support for if/switch expressions
  languages/swift/generic/Parse_swift_tree_sitter.ml
  tests/parsing/swift/if_switch_expression.swift
  tests/patterns/swift/if_expression.sgrep
  tests/patterns/swift/if_expression.swift
  tests/patterns/swift/switch_expression.sgrep
  tests/patterns/swift/switch_expression.swift
Due: lint-ocaml

Add support for for_statement_collection
  languages/swift/generic/Parse_swift_tree_sitter.ml
Due: lint-ocaml

Add support for willSet/didSet blocks
  languages/swift/generic/Parse_swift_tree_sitter.ml
  tests/parsing/swift/statements.swift
Due: lint-ocaml
