Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint, lint-ocaml

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.7.1

hadolint:
  name: hadolint
  language: docker_image
  entry: hadolint/hadolint:v1.18.0 hadolint
  args:
  - --ignore
  - DL3008
  - --ignore
  - DL3018

lint-ocaml:
  name: Re-indent OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Bump to 0.44.0 (#2828)
  CHANGELOG.md
  semgrep/semgrep/__init__.py
  setup.py
Due: none

Audit mode test
  .github/workflows/lint.yml
Due: none

Try again...
  scripts/build-wheels.sh
Due: shellcheck

Try with policy enabled
  scripts/build-wheels.sh
Due: shellcheck

Use semgrep-core benchmarks as a submodule of run-benchmarks
  perf/run-benchmarks
  perf/semgrep_core_benchmark.py
Due: none

Updated comments
  perf/run-benchmarks
  perf/semgrep_core_benchmark.py
Due: none

Use ocaml ruleset in policy
  .circleci/config.yml
Due: none

Try push again
  .github/workflows/lint.yml
Due: none

Use ocaml ruleset in policy (#2833)
  .circleci/config.yml
Due: none

Use semgrep-core benchmarks as a submodule of run-benchmarks (#2832)
  perf/run-benchmarks
  perf/semgrep_core_benchmark.py
Due: none

Ellipses in template strings don't match string literals
  semgrep-core/src/matching/Generic_vs_generic.ml
Due: lint-ocaml

Added test and comment
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/tests/js/dots_template_literals.js
  semgrep-core/tests/js/dots_template_literals.sgrep
Due: lint-ocaml

[wip] Pass whole rule to semgrep-core; bypass evaluation logic but still return results
  semgrep/semgrep/core_runner.py
Due: none

[wip] Add --experimental flag for sending rules directly to semgrep-core
  semgrep/semgrep/cli.py
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/semgrep_main.py
Due: none

Pass experimental flag to semgrep when running with --test
  semgrep/semgrep/test.py
Due: none

[Go] parse correctly 'for ...' header in Go patterns
  scripts/generate_test_matrix.py
  semgrep-core/src/parsing/pfff/go_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_go_tree_sitter.ml
  semgrep-core/tests/go/dots_for.go
  semgrep-core/tests/go/dots_for.sgrep
Due: lint-ocaml

Revert "Bump lxml from 4.6.2 to 4.6.3 in /semgrep (#2831)"
  semgrep/Pipfile.lock
Due: none

update (pin) lxml to 4.6.3 because of a security update
  semgrep/Pipfile
  semgrep/Pipfile.lock
Due: none

[Go] parse correctly 'for ...' header in Go patterns (#2839)
  scripts/generate_test_matrix.py
  semgrep-core/src/parsing/pfff/go_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_go_tree_sitter.ml
  semgrep-core/tests/go/dots_for.go
  semgrep-core/tests/go/dots_for.sgrep
Due: lint-ocaml

Adding the new Comby OPAM package as a dependecy
  semgrep-core/semgrep.opam
Due: none

Simple test program using comby
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/engine/Test_comby.ml
  semgrep-core/src/engine/Test_comby.mli
  semgrep-core/src/engine/dune
Due: lint-ocaml

Try 'on: push'
  .github/workflows/lint.yml
Due: none

Integrate fast v2 (#2836)
  semgrep/semgrep/cli.py
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/semgrep_main.py
  semgrep/semgrep/test.py
Due: none

Update ruamel, unify calls, add security tests
  scripts/generate_test_matrix.py
  scripts/merge-rules.py
  semgrep/Pipfile.lock
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/rule_lang.py
  semgrep/setup.py
  semgrep/tests/unit/test_error.py
  semgrep/tests/unit/test_yaml_parsing.py
Due: none

Add note to remind folks to update the docker image with opam dependencies
  semgrep-core/semgrep.opam
Due: none

Use pathspec to match include/exclude files.
  semgrep/semgrep/target_manager.py
  semgrep/setup.py
Due: none

Use members of jsonschema.exceptions.ValidationError rather than YAML string parsing
  semgrep/semgrep/rule_lang.py
Due: none

Add note to remind folks to update the docker image with opam dependencies (#2850)
  semgrep-core/semgrep.opam
Due: none

Update ruamel, unify calls, add security tests (#2848)
  scripts/generate_test_matrix.py
  scripts/merge-rules.py
  semgrep/Pipfile.lock
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/rule_lang.py
  semgrep/setup.py
  semgrep/tests/unit/test_error.py
  semgrep/tests/unit/test_yaml_parsing.py
Due: none

[Go] correctly parse select/switch clauses like in tree-sitter
  semgrep-core/tests/go/dots_select_cases.go
  semgrep-core/tests/go/dots_select_cases.sgrep
Due: none

[Go] correctly parse select/switch clauses like in tree-sitter (#2853)
  semgrep-core/tests/go/dots_select_cases.go
  semgrep-core/tests/go/dots_select_cases.sgrep
Due: none

Add flag for using a set instead of a bloom filter
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/core/Flag_semgrep.ml
  semgrep-core/src/core/ast/Bloom_filter.ml
  semgrep-core/src/optimizing/Bloom_annotation.ml
Due: lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  hadolint: any of: Dockerfile, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
