Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

yeet taint mode
  semgrep-core/src/core/Rule.ml
Due: lint-ocaml

Update "new style" tests
  semgrep-core/tests/OTHER/rules/metavar_cond.yaml
  semgrep-core/tests/OTHER/rules/metavar_cond2.yaml
  semgrep-core/tests/OTHER/rules/metavar_cond_octal.yaml
  semgrep-core/tests/OTHER/rules/metavar_regex.yaml
Due: none

Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Only run tempalted rules code if rules are present
  semgrep-core/src/parsing/Parse_rule.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad5/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad5/error.json
Due: none

deleted some dead code
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/core/Rule.ml
  semgrep-core/src/engine/Match_rules.ml
  semgrep-core/src/engine/Match_tainting_mode.ml
  semgrep-core/src/engine/Test_dataflow_tainting.ml
  semgrep-core/src/engine/Test_dataflow_tainting.mli
  semgrep-core/src/parsing/Parse_rule.ml
Due: lint-ocaml

killed parsing union enums differently
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

Use local installation of tree-sitter
  Dockerfile
  Makefile
  scripts/install-alpine-semgrep-core
  scripts/install-tree-sitter-runtime
  semgrep-core/Makefile
Due: none

List.map -> Common.map
  semgrep-core/src/engine/Specialize_formula.ml
  semgrep-core/src/parsing/Parse_rule.ml
Due: lint-ocaml

Don't try to build tree-sitter CLI
  Dockerfile
  Makefile
  scripts/install-alpine-semgrep-core
  scripts/osx-m1-release.sh
  scripts/osx-release.sh
Due: shellcheck

Update pytest snapshots
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
Due: none

Parse $this as IdSpecial in PHP tree-sitter parser
  changelog.d/gh-5594.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_php_tree_sitter.ml
  semgrep-core/tests/php/gh_5594.php
  semgrep-core/tests/php/gh_5594.sgrep
Due: lint-ocaml

Parse die() as exit() in tree-sitter PHP
  changelog.d/gh-5880.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_php_tree_sitter.ml
  semgrep-core/tests/php/gh_5880.php
  semgrep-core/tests/php/gh_5880.sgrep
Due: lint-ocaml

fix(fail-open): [APP-2073] Skip fail-open for exit code 1
  cli/src/semgrep/error_handler.py
  cli/tests/e2e/test_ci.py
Due: none

Add changelog file
  changelog.d/app-2073.fixed
Due: none

Zach/fail open exclude blocking (#5920)
  changelog.d/app-2073.fixed
  cli/src/semgrep/error_handler.py
  cli/tests/e2e/test_ci.py
Due: none

chore: Bump version to 0.110.0
  CHANGELOG.md
  changelog.d/app-2073.fixed
  changelog.d/gh-5382.changed
  cli/setup.py
  cli/src/semgrep/__init__.py
  semgrep-core/src/cli/version.ml
  setup.py
Due: lint-ocaml

Fix typo in CONTRIBUTING.md (#5913)
  CONTRIBUTING.md
Due: none

applied suggestions
  changelog.d/pa-1700.fixed
  semgrep-core/src/matching/Matching_generic.ml
Due: lint-ocaml

fixup! More deletions
  cli/src/semdep/find_lockfiles.py
  cli/src/semgrep/target_manager.py
Due: none

compat fix
  cli/src/semgrep/rule_lang.py
Due: none

AST-based autofix
  cli/src/semgrep/autofix.py
  semgrep-core/src/core/Mini_rule.ml
  semgrep-core/src/core/Pattern_match.ml
  semgrep-core/src/engine/Match_env.ml
  semgrep-core/src/engine/Match_search_mode.ml
  semgrep-core/src/engine/Match_tainting_mode.ml
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/src/experiments/synthesizing/Unit_synthesizer_targets.ml
  semgrep-core/src/matching/Match_patterns.ml
  semgrep-core/src/reporting/Autofix.ml
  semgrep-core/src/reporting/JSON_report.ml
  semgrep-core/src/runner/Run_semgrep.ml
Due: lint-ocaml

change variable names to correspond with the app
  cli/src/semgrep/app/scans.py
Due: none

more modifiers and literal patterns
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

literal pattern test
  semgrep-core/tests/swift/parsing/statements.swift
Due: none

changes to date
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/parsing/Test_parsing.ml
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

added some comments for clarity
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

added parsing for swift enums
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
  semgrep-core/tests/swift/parsing/statements.swift
Due: lint-ocaml

add tests
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
  semgrep-core/tests/swift/parsing/statements.swift
Due: lint-ocaml

added tests
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
  semgrep-core/tests/swift/parsing/expressions.swift
  semgrep-core/tests/swift/parsing/statements.swift
Due: lint-ocaml

changed var and let to use keyword attrs, comments
  semgrep-core/src/parsing/tree_sitter/Parse_swift_tree_sitter.ml
Due: lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
