Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Update the logic for inferring semgrep_repo_name from the ci providers
  cli/src/semgrep/meta.py
Due: none

refactor: Make Path_test_utils.ml
  libs/paths/Path_test_utils.ml
  libs/paths/Unit_list_files.ml
Due: lint-ocaml

Update osemgrep as well
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Git_metadata.mli
  src/osemgrep/cli_ci/Github_metadata.mli
Due: lint-ocaml

Actually send the display name via the metadata
  cli/src/semgrep/meta.py
Due: none

Not sure why pre-commit didn't run
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/meta.py
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.mli
Due: lint-ocaml

squash! Reorganise target types
  libs/lib_parsing/dune
  src/core/Lockfile_xtarget.ml
  src/core_scan/Core_scan.ml
  src/targeting/Find_targets.ml
Due: lint-ocaml

Clara's review
  cli/src/semgrep/meta.py
Due: none

Switch semgrep-core to Info log level (#9757)
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

Masking another JSON field that changes frequently
  cli/tests/conftest.py
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
  cli/tests/e2e/test_metrics.py
Due: none

Masking another JSON field that changes frequently (#9759)
  cli/tests/conftest.py
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
  cli/tests/e2e/test_metrics.py
Due: none

refactor: Make Path_test_utils.ml (#9758)
  libs/paths/Path_test_utils.ml
  libs/paths/Unit_list_files.ml
Due: lint-ocaml

Switch to standard jsonnet and yq for GHA
  .github/workflows/Makefile
  .github/workflows/build-test-core-x86-ocaml5.yml
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-javascript.yml
  .github/workflows/build-test-manylinux-aarch64.yml
  .github/workflows/build-test-manylinux-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/check-semgrep-pro-version.yml
  .github/workflows/check-semgrep-pro.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/release-homebrew.jsonnet
  .github/workflows/release-homebrew.yml
  .github/workflows/release.jsonnet
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/start-release.yml
  .github/workflows/test-e2e-semgrep-ci.jsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
  .github/workflows/test-semgrep-pro.yml
  .github/workflows/tests.yml
  .github/workflows/update-semgrep-rules.yml
  scripts/jsonnet_to_yaml.sh
Due: shellcheck

Switch to standard jsonnet and yq for GHA (#9760)
  .github/workflows/Makefile
  .github/workflows/build-test-core-x86-ocaml5.yml
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-javascript.yml
  .github/workflows/build-test-manylinux-aarch64.yml
  .github/workflows/build-test-manylinux-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/check-semgrep-pro-version.yml
  .github/workflows/check-semgrep-pro.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/release-homebrew.jsonnet
  .github/workflows/release-homebrew.yml
  .github/workflows/release.jsonnet
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/start-release.yml
  .github/workflows/test-e2e-semgrep-ci.jsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
  .github/workflows/test-semgrep-pro.yml
  .github/workflows/tests.yml
  .github/workflows/update-semgrep-rules.yml
  scripts/jsonnet_to_yaml.sh
Due: shellcheck

testing: this should fail pre-submit
  .github/workflows/build-test-docker.yaml
Due: none

have to change a jsonnet file to test
  .github/workflows/release.jsonnet
Due: none

WIP: check that GHA are up to date
  .github/workflows/lint.yml
Due: none

install jsonnet and yq
  .github/workflows/lint.yml
Due: none

yq is already installed in runners
  .github/workflows/lint.yml
Due: none

Revert "testing: this should fail pre-submit"
  .github/workflows/build-test-docker.yaml
Due: none

fixup
  .github/workflows/lint.yml
Due: none

changelog
  changelog.d/gh-8953.added
Due: none

Ensure Target_location is removed
  src/core/Target_location.ml
  src/core/Target_location.mli
Due: lint-ocaml

Rename functions from x_of_origin -> mk_x
  js/engine/Main.ml
  src/core/Target.ml
  src/core/Target.mli
  src/core_scan/Core_scan.ml
  src/engine/Test_engine.ml
  src/osemgrep/core_runner/Core_runner.ml
Due: lint-ocaml

squash! Rename Source to Origin
  libs/lib_parsing/Origin.mli
  src/core/Target.mli
  src/engine/Xpattern_match_aliengrep.ml
  src/engine/Xpattern_match_regexp.ml
  src/engine/Xpattern_match_spacegrep.ml
Due: lint-ocaml

Rename `Target.target_path` -> `Target.path`
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/core/Target.ml
  src/core/Target.mli
  src/core/Xtarget.ml
  src/matching/Match_patterns.ml
Due: lint-ocaml

cli: Group "missing plugin" errors and report as one warning
  changelog.d/ea-842.changed
  cli/src/semgrep/error.py
  cli/src/semgrep/output.py
Due: none

Fix broken doc links
  src/core/Lockfile_xtarget.ml
  src/core/Target.mli
Due: lint-ocaml

cli: Group "missing plugin" errors and report as one warning (#9749)
  changelog.d/ea-842.changed
  cli/src/semgrep/error.py
  cli/src/semgrep/output.py
Due: none

Clean up - asserts are no longer needed since we track the test output
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

Target documentation cleanup
  src/core/Target.mli
Due: lint-ocaml

fixup! squash! Rename Source to Origin
  libs/lib_parsing/Origin.mli
Due: lint-ocaml

Clean up - asserts are no longer needed since we track the test output (#9762)
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

chore: Bump version to 1.61.0
  CHANGELOG.md
  changelog.d/ea-320.added
  changelog.d/ea-842.changed
  changelog.d/gh-8953.added
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core/Version.ml
Due: lint-ocaml

Rename `Target.Code` to `Target.Regular`
  js/engine/Main.ml
  src/core/Target.ml
  src/core/Target.mli
  src/core/Xtarget.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/engine/Test_engine.ml
  src/osemgrep/core_runner/Core_runner.ml
Due: lint-ocaml

add new cloud url and expect tests to fail
  cli/src/semgrep/scan_report.py
Due: none

Do not use `and` in Target.mli
  src/core/Target.mli
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
