Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

fix: fix taint by not substituting top-level args twice
  src/tainting/Taint.ml
  src/tainting/Taint.mli
Due: lint-ocaml

feat: add Alex as codeowner on workflows
  .github/CODEOWNERS
Due: none

feat: add Alex as codeowner on workflows (#7665)
  .github/CODEOWNERS
Due: none

fix: ensure that semgrep pro won't be failing when PR is from a fork (#7658)
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
Due: none

fix: ensure pro tests run on develop and on non-fork PRs
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
  .github/workflows/tests.yml
Due: none

Add POC Search
  cli/tests/e2e/test_ls.py
  src/language_server/LS.ml
Due: lint-ocaml

Switch to Bos and remove LWT monad when we can
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/dune
  src/language_server/Git_wrapper_lwt.ml
  src/language_server/Git_wrapper_lwt.mli
  src/language_server/LS.ml
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/Session.mli
  src/language_server/Unit_LS.ml
  src/language_server/dune
Due: lint-ocaml

Add few helpers about Cmdliner (SHA1 and Uri.t)
  libs/commons/Cmdliner_helpers.ml
  libs/commons/Cmdliner_helpers.mli
  libs/commons/dune
Due: lint-ocaml

Introduce the new Meta.ml module (which reimplement meta.py from semgrep)
  src/osemgrep/cli_ci/Meta.ml
  src/osemgrep/cli_ci/Meta.mli
  src/osemgrep/cli_ci/dune
Due: lint-ocaml

fix: ensure pro tests run on develop and on non-fork PRs (#7667)
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
  .github/workflows/tests.yml
Due: none

Delete more toplevel .opam files
  ast_generic.opam
  commons.opam
  lib_parsing.opam
  process_limits.opam
  profiling.opam
  spacegrep.opam
Due: none

Add digestif, emile and bos as dependency for semgrep
  commons.opam
  dune-project
  semgrep.opam
Due: none

Apply aryx's review code on the translation of meta.py into OCaml
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Git_metadata.mli
  src/osemgrep/cli_ci/Github_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.mli
  src/osemgrep/cli_ci/Glom.ml
  src/osemgrep/cli_ci/Glom.mli
  src/osemgrep/cli_ci/Meta.ml
  src/osemgrep/cli_ci/Project_metadata.ml
  src/osemgrep/cli_ci/Project_metadata.mli
Due: lint-ocaml

Delete more toplevel .opam files (#7670)
  ast_generic.opam
  commons.opam
  lib_parsing.opam
  process_limits.opam
  profiling.opam
  spacegrep.opam
Due: none

delete more toplevel entries
  doc/playground-example.png
  log_config.json.ex1
  log_config.json.ex2
Due: none

refactor: Drop 'trasnfo' from Tok.t (Tok.kind is the new Tok.t)
  languages/cpp/ast/ast_cpp.ml
  languages/cpp/menhir/parse_cpp.ml
  languages/cpp/menhir/parsing_hacks.ml
  languages/cpp/menhir/parsing_hacks_define.ml
  languages/java/ast/ast_java.ml
  languages/javascript/ast/ast_js.ml
  languages/javascript/ast/visitor_js.ml
  languages/php/ast/cst_php.ml
  languages/php/menhir/parsing_hacks_php.ml
  languages/python/menhir/Visitor_python.ml
  languages/ruby/dyp/parse_ruby.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Meta_AST.ml
  libs/lib_parsing/Parsing_error.ml
  libs/lib_parsing/Parsing_helpers.ml
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  libs/lib_parsing/lib_ast_fuzzy.ml
  libs/ojsonnet/Parse_jsonnet.ml
  src/engine/Match_extract_mode.ml
  src/engine/Xpattern_matcher.ml
  src/matching/Matching_generic.ml
  src/parsing/Pfff_or_tree_sitter.ml
  src/parsing/yaml_to_generic.ml
  src/reporting/Semgrep_error_code.ml
Due: lint-ocaml

delete more toplevel entries (#7671)
  doc/playground-example.png
  log_config.json.ex1
  log_config.json.ex2
Due: none

Delete commons.opam
  commons.opam
Due: none

added: more informative error message for unsupported language (#7662)
  cli/src/semgrep/semgrep_types.py
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error.json
Due: none

refactor: Delete Map_AST.mk_visitor (#7657)
  libs/ast_generic/Map_AST.ml
Due: lint-ocaml

Implement the Meta module (#7616)
  dune-project
  libs/commons/Cmdliner_helpers.ml
  libs/commons/Cmdliner_helpers.mli
  libs/commons/dune
  semgrep.opam
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Git_metadata.mli
  src/osemgrep/cli_ci/Github_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.mli
  src/osemgrep/cli_ci/Glom.ml
  src/osemgrep/cli_ci/Glom.mli
  src/osemgrep/cli_ci/Project_metadata.ml
  src/osemgrep/cli_ci/Project_metadata.mli
  src/osemgrep/cli_ci/dune
Due: lint-ocaml

osemgrep scan: support "--config policy" (#7656)
  src/osemgrep/cli_login/Login_subcommand.ml
  src/osemgrep/cli_login/Logout_subcommand.ml
  src/osemgrep/cli_scan/Rule_fetching.ml
  src/osemgrep/cli_scan/Rule_fetching.mli
  src/osemgrep/configuring/Semgrep_settings.ml
  src/osemgrep/configuring/Semgrep_settings.mli
  src/osemgrep/core/Constants.ml
  src/osemgrep/networking/Network.ml
  src/osemgrep/networking/Network.mli
Due: lint-ocaml

Adjust gitignore for the few deleted .opam files
  .dockerignore
  .gitignore
Due: gitignore-to-dockerignore

refactor: Drop 'trasnfo' from Tok.t (Tok.kind is the new Tok.t) (#7655)
  languages/cpp/ast/ast_cpp.ml
  languages/cpp/menhir/parse_cpp.ml
  languages/cpp/menhir/parsing_hacks.ml
  languages/cpp/menhir/parsing_hacks_define.ml
  languages/java/ast/ast_java.ml
  languages/javascript/ast/ast_js.ml
  languages/javascript/ast/visitor_js.ml
  languages/php/ast/cst_php.ml
  languages/php/menhir/parsing_hacks_php.ml
  languages/python/menhir/Visitor_python.ml
  languages/ruby/dyp/parse_ruby.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Meta_AST.ml
  libs/lib_parsing/Parsing_error.ml
  libs/lib_parsing/Parsing_helpers.ml
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  libs/lib_parsing/lib_ast_fuzzy.ml
  libs/ojsonnet/Parse_jsonnet.ml
  src/engine/Match_extract_mode.ml
  src/engine/Xpattern_matcher.ml
  src/matching/Matching_generic.ml
  src/parsing/Pfff_or_tree_sitter.ml
  src/parsing/yaml_to_generic.ml
  src/reporting/Semgrep_error_code.ml
Due: lint-ocaml

Adjust gitignore for the few deleted .opam files (#7672)
  .dockerignore
  .gitignore
Due: gitignore-to-dockerignore

cut: demote log level to debug
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

osemgrep: filter generic/regex rules based on include/exclude
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/reporting/Status_report.ml
  src/targeting/Find_target.ml
Due: lint-ocaml

Bump version number for Generic AST
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

http: use a lowercase "content-type" header, this satisfies http2
  src/osemgrep/networking/Network.ml
Due: lint-ocaml

use Common.map instead of List.map (pre-commit)
  src/osemgrep/reporting/Status_report.ml
Due: lint-ocaml

ocamlformat
  src/osemgrep/configuring/Semgrep_settings.ml
Due: lint-ocaml

osemgrep: Filter rules (esp. generic & regex) (#7673)
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/reporting/Matches_report.ml
  src/osemgrep/reporting/Status_report.ml
  src/targeting/Find_target.ml
Due: lint-ocaml

Bump version number for Generic AST (#7674)
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

osemgrep: Fix login logout (#7675)
  src/osemgrep/configuring/Semgrep_settings.ml
  src/osemgrep/networking/Network.ml
Due: lint-ocaml

dont use liquid for package.json creation
  js/languages/shared/Makefile.include
  js/languages/shared/generate-package-json.sh
Due: shellcheck

osemgrep: print a message when logged out
  src/osemgrep/cli_login/Logout_subcommand.ml
Due: lint-ocaml

fix flakey js tests (#7676)
  js/languages/shared/Makefile.include
  js/languages/shared/generate-package-json.sh
Due: shellcheck

osemgrep: print a message when logged out (#7677)
  src/osemgrep/cli_login/Logout_subcommand.ml
Due: lint-ocaml

refactor: Delete Map_AST.ml entirely
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  libs/ast_generic/Map_AST.ml
  src/engine/Metavariable_pattern.ml
  src/matching/Apply_equivalences.ml
Due: lint-ocaml

Fix git output bug
  libs/git_wrapper/Git_wrapper.ml
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
