Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

fix: remove offending test case
  stats/parsing-stats/lang/typescript/projects.txt
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelog4shell.yaml-dependency_awarelog4j/results.txt
Due: none

custom patch the json_doc methods
  cli/src/semdep/parsers/package_lock.py
  cli/src/semdep/parsers/util.py
Due: none

some formatting
  cli/src/semdep/parsers/package_lock.py
  cli/src/semdep/parsers/util.py
Due: none

cleanup
  cli/src/semdep/parsers/pnpm.py
Due: none

make recursion limit setable with env var
  cli/src/semdep/parsers/util.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-pnpm-sca.yaml-dependency_awarepnpm/results.txt
Due: none

fix(jsonnet): support relative paths for imports of local files
  cli/src/semgrep/config_resolver.py
Due: none

Add more repos
  perf/configs/ci_interfile_small_repos.yaml
  perf/snapshots/ci_interfile_small_repos_baseline.json
Due: none

fix(ruby): restore GA parse rate (#7379)
  stats/parsing-stats/lang/ruby/projects.txt
Due: none

fix(java): restore GA parse rate (#7377)
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelog4shell.yaml-dependency_awarelog4j/results.txt
  languages/java/tree-sitter/Parse_java_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
  stats/parsing-stats/lang/java/projects.txt
Due: lint-ocaml

fix(jsonnet): support relative paths for imports of local files (#7382)
  cli/src/semgrep/config_resolver.py
Due: none

Osemgrep: add calls to Parsing_init.init() too
  src/core_cli/Core_CLI.ml
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
  cli/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml-basicstupid.py/results.json
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
Due: none

Osemgrep: add calls to Parsing_init.init() too (#7384)
  src/core_cli/Core_CLI.ml
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

comment
  src/core/Xpattern.ml
Due: lint-ocaml

abort semgrep-core when we have a parse error in a pattern
  src/runner/Run_semgrep.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
  cli/tests/e2e/snapshots/test_rule_validation/test_validation_of_invalid_rules/rulesinvalid-rulesinvalid-pattern.yaml-basicstupid.py/results.json
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
Due: none

comment
  src/runner/Run_semgrep.ml
Due: lint-ocaml

Add rule parse progress, restyle lockfile errors (#7370)
  changelog.d/rule-progress.added
  cli/src/semdep/parse_lockfile.py
  cli/src/semdep/parsers/util.py
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/console.py
  cli/src/semgrep/core_runner.py
  semgrep.yml
Due: none

try again
  Makefile
  src/runner/Run_semgrep.ml
Due: lint-ocaml

precommit
  perf/compare-bench-findings
  perf/configs/ci_interfile_small_repos.yaml
  perf/rules/deepsemgrep-sqli-rules.yaml
  perf/run-benchmarks
  perf/snapshots/ci_interfile_small_repos_baseline.json
  scripts/run-pro-benchmarks.sh
Due: shellcheck

fix regex
  cli/src/semdep/parsers/pnpm.py
Due: none

Declare ppx_inline_test as an opam dependency
  semgrep.opam
Due: none

chore: add script to read semgrep-core timing
  scripts/processing-output/read-core-timing.py
Due: none

feat(be): ✨ Add -D flag to allow reuploading of deleted rules
  cli/src/semgrep/commands/publish.py
Due: none

fix(be): 📝 Added changelog
  changelog.d/gh-7388.added
Due: none

Pin ppx_sexp_conv version to work around bug in v0.15.1.
  semgrep.opam
Due: none

Fix syntax for version constraints on ppx_sexp_conv
  semgrep.opam
Due: none

Determine requested engine before dumping the path
  cli/src/semgrep/commands/scan.py
Due: none

fix: remove old checkouts on non-hermetic runners
  .github/workflows/build-test-osx-m1.yaml
  .github/workflows/build-test-osx-x86.yaml
Due: none

fix: remove .gitmodules
  .github/workflows/build-test-osx-m1.yaml
  .github/workflows/build-test-osx-x86.yaml
Due: none

dbg: inspect .gitmodules
  .github/workflows/build-test-osx-m1.yaml
Due: none

dbg: inspect dir
  .github/workflows/build-test-osx-m1.yaml
Due: none

dbg: inspect dir after removal
  .github/workflows/build-test-osx-m1.yaml
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
