Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Wire Python and Scala parser test libraries into test runner (semgrep/semgrep-proprietary#5930)
  src/tests/Test.ml
  src/tests/dune
Due: lint-ocaml

feat: reuse cached taint configs in run-taint-twice mode (semgrep/semgrep-proprietary#5899)
  src/core/tests/Unit_disk_cache.ml
Due: lint-ocaml

Deep_tainting: remove redundant deserialization in run_taint_analysis (semgrep/semgrep-proprietary#5906)
  src/core/Disk_cache.ml
  src/core/Disk_cache.mli
Due: lint-ocaml

pro: tainting: Inter-file taint tracking through final globals (semgrep/semgrep-proprietary#5925)
  changelog.d/LANG-275.added
  languages/typescript/tree-sitter/Parse_typescript_tree_sitter.ml
Due: lint-ocaml

feat: add option to toggle dynlink musl build (semgrep/semgrep-proprietary#5874)
  cli/pyproject.toml
  scripts/build-static-libcurl.sh
  src/main/flags.sh
Due: shellcheck

feat: add option to toggle dynlink osx build (semgrep/semgrep-proprietary#5804)
  .github/workflows/libs/semgrep.libsonnet
Due: none

fix(sca): prevent requirement parser dropping deps (semgrep/semgrep-proprietary#5937)
  changelog.d/SC-3379.fixed
  cli/src/semdep/parsers/requirements.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_parsing/targetsdependency_awareosv_parsingrequirementsbare-then-pinnedrequirements.txt/dependencies.json
  cli/tests/default/e2e-other/snapshots/test_ssc/test_parsing/targetsdependency_awareosv_parsingrequirementsfile-format-examplerequirements.txt/dependencies.json
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_with_uppercase_package_name/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement_pip/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_pip/results.txt
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/e2e/targets/dependency_aware/osv_parsing/requirements/bare-then-pinned/requirements.txt
Due: none

chore(backend): implement lwt v2 config download (semgrep/semgrep-proprietary#5936)
  src/lsp_legacy/Legacy_unit_ls.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
Due: lint-ocaml

fix: use full project-relative path for single-file scanning roots (semgrep/semgrep-proprietary#5947)
  changelog.d/gh-11560.fixed
  cli/src/semgrep/target_manager.py
  cli/tests/default/e2e/test_paths.py
Due: none

perf: pro: tainting: Skip not-applicable rules (semgrep/semgrep-proprietary#5944)
  src/tainting/Taint_coverage_stats.ml
  src/tainting/Taint_coverage_stats.mli
Due: lint-ocaml

pro: tainting: Track taint through lambda calls (semgrep/semgrep-proprietary#5898)
  changelog.d/LANG-268.added
Due: none

fix: bump jwt (semgrep/semgrep-proprietary#5951)
  cli/pyproject.toml
  cli/uv.lock
Due: none

fix(dependency-resolution): log errors for dependencies that were skipped (semgrep/semgrep-proprietary#5940)
  cli/src/semdep/parsers/requirements.py
  cli/src/semgrep/scan_report.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_with_uppercase_package_name/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement_pip/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_pip/results.txt
  cli/tests/default/e2e-other/test_ssc.py
Due: none

fix: cleanup some old OSS tests (semgrep/semgrep-proprietary#5955)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  Dockerfile
  Makefile
Due: none

chore(ucmd): add UCmd method to run command with timeout, use for lockfileless (semgrep/semgrep-proprietary#5880)
  libs/commons/UCmd.ml
  libs/commons/UCmd.mli
  libs/commons/tests/Unit_UCmd.ml
  libs/commons/tests/dune
  libs/parallelism/Parallelism_config.ml
  src/rpc/RPC.ml
  src/rpc/RPC_return.mli
Due: lint-ocaml

chore: remove dead networking code from osemgrep install-semgrep-pro (semgrep/semgrep-proprietary#5741)
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
Due: lint-ocaml

chore: fix snapshot tests for requirements.txt (semgrep/semgrep-proprietary#5958)
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_with_uppercase_package_name/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement_pip/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_pip/results.txt
  cli/tests/default/e2e-other/test_ssc.py
Due: none

fix: raise error when target discovery RPC fails instead of returning empty results (semgrep/semgrep-proprietary#5890)
  changelog.d/ENGINE-2626.fixed
  cli/src/semgrep/rpc_call.py
  cli/tests/default/unit/test_rpc_call.py
Due: none

chore(backend): add metrics and spans to track when we switch to v2 (semgrep/semgrep-proprietary#5965)
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/dune
Due: lint-ocaml

Revert #5890 (semgrep/semgrep-proprietary#5978)
  changelog.d/ENGINE-2626.fixed
  cli/src/semgrep/rpc_call.py
  cli/tests/default/unit/test_rpc_call.py
Due: none

feat(sca): add --x-dump-subprojects-and-exit option to dump subprojects to a path and exit (semgrep/semgrep-proprietary#5622)
  .dockerignore
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_resolve_subprojects.py
  src/osemgrep/cli_ci/Ci_CLI.ml
Due: gitignore-to-dockerignore, lint-ocaml

chore(sca-lfs): add --x-computed-dependencies-dir to read precomputed dependencies from filesystem (semgrep/semgrep-proprietary#5645)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/core_targets_plan.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/sca/Dependency_source.ml
  src/sca/Sbom.ml
  src/sca/Sbom.mli
Due: lint-ocaml

chore: enforce `uv.lock` is updated and used (semgrep/semgrep-proprietary#5918)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  cli/Makefile
  scripts/build-wheels.sh
Due: shellcheck

Move remaining OSS unit tests into dedicated directories (semgrep/semgrep-proprietary#5907)
  languages/python/menhir/tests/Unit_parsing_python.ml
  languages/python/menhir/tests/Unit_parsing_python.mli
  languages/python/menhir/tests/dune
  languages/regexp/tests/Unit_parsing.ml
  languages/regexp/tests/dune
  languages/scala/recursive_descent/tests/Unit_parsing_scala.ml
  languages/scala/recursive_descent/tests/Unit_parsing_scala.mli
  languages/scala/recursive_descent/tests/dune
  libs/git_wrapper/tests/Unit_git_wrapper.ml
  libs/git_wrapper/tests/Unit_git_wrapper.mli
  libs/git_wrapper/tests/dune
  libs/gitignore/tests/Unit_gitignore.ml
  libs/gitignore/tests/Unit_gitignore.mli
  libs/gitignore/tests/dune
  libs/glob/tests/Unit_glob.ml
  libs/glob/tests/Unit_glob.mli
  libs/glob/tests/dune
  libs/lib_parsing/tests/Unit_parsed_float.ml
  libs/lib_parsing/tests/Unit_tok.ml
  libs/lib_parsing/tests/dune
  libs/ojsonnet/tests/Unit_jsonnet.ml
  libs/ojsonnet/tests/Unit_jsonnet.mli
  libs/ojsonnet/tests/dune
  libs/paths/tests/Unit_Ppath.ml
  libs/paths/tests/Unit_Ppath.mli
  libs/paths/tests/Unit_Rpath.ml
  libs/paths/tests/Unit_Rpath.mli
  libs/paths/tests/Unit_list_files.ml
  libs/paths/tests/Unit_list_files.mli
  libs/paths/tests/dune
  libs/process_limits/tests/Unit_cgroup_limits.ml
  libs/process_limits/tests/Unit_cgroup_limits.mli
  libs/process_limits/tests/Unit_memory_limit.ml
  libs/process_limits/tests/Unit_memory_limit.mli
  libs/process_limits/tests/dune
  src/tests/Test.ml
  src/tests/dune
Due: lint-ocaml

metavariable-type: Allow checking the type of type names (semgrep/semgrep-proprietary#5912)
  changelog.d/LANG-271.added
  changelog.d/LANG-271.fixed
  src/matching/Pattern_vs_code.ml
  src/parsing/Parse_metavariable_type.ml
Due: lint-ocaml

Deep_tainting: marshal taint configs to disk between phases (semgrep/semgrep-proprietary#5897)
  changelog.d/ENGINE-2582.changed
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
