Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint, lint-ocaml

.pre-commit-config.yaml:

exclude: "^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\\.md"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^semgrep\/tests\/.+$|^perf\/bench\/gitlab-rules\/.+$$
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.6
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.790"
    hooks:
      - id: mypy
        exclude: ^semgrep\/tests\/.+$|^setup.py$|^scripts\/.+$|^parsing-stats\/.+$|^perf\/.+$$
        args: [--config, mypy.ini, --show-error-codes]
      - id: mypy
        alias: mypy-test
        name: mypy (test files)
        files: ^semgrep\/tests\/.+$
        args: [--config, mypy-tests.ini, --show-error-codes]

  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.8.4"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear==20.1.4"]
        args: ["--select=B,E9,F4,F63,F7,F82"]

  - repo: https://github.com/returntocorp/semgrep
    rev: 'v0.43.0'
    hooks:
      - id: semgrep
        name: Semgrep Python
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/python', '--error']
      - id: semgrep
        name: Semgrep Bandit
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/bandit', '--error']

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck:v0.7.1
        files: "[.]sh$"

  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        language: docker_image
        files: "Dockerfile"
        entry: hadolint/hadolint:v1.18.0 hadolint
        args: ["--ignore", "DL3008", "--ignore", "DL3018"]


  # Run develop semgrep. Only used in CI
  # To run locally use `pre-commit run --hook-stage manual semgrep-docker-develop`
  - repo: https://github.com/returntocorp/semgrep
    rev: 'v0.43.0'
    hooks:
      - id: semgrep-docker-develop
        name: Semgrep Develop Python
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/python', '--error']
        stages: [manual]
      - id: semgrep-docker-develop
        name: Semgrep Develop Bandit
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/bandit', '--error']
        stages: [manual]

  # Reformat OCaml code (ml, mli) with ocamlformat if ocamlformat is
  # present. If ocamlformat is missing, this step will succeed.
  # This allows pure python users to run 'pre-commit run --all' without
  # installing opam and ocamlformat.
  #
  - repo: local
    hooks:
      - id: lint-ocaml
        name: Reformat OCaml code
        entry: ./scripts/lint-ocaml
        language: script
        files: "\\.mli?$"

Do something about stack overflows (#3625)
  CHANGELOG.md
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/cli/dune
  semgrep-core/src/system/Memory_limit.ml
  semgrep-core/src/system/Memory_limit.mli
  semgrep-core/src/system/Unit_memory_limit.ml
  semgrep-core/src/system/Unit_memory_limit.mli
  semgrep-core/src/system/dune
  semgrep-core/tests/Test.ml
  semgrep-core/tests/dune
Due: lint-ocaml

Use ocaml-tree-sitter-core as a git submodule that's directly part of the semgrep-core build.
  .gitmodules
  scripts/install-tree-sitter-runtime
  semgrep-core/src/ocaml-tree-sitter/.gitignore
  semgrep-core/src/ocaml-tree-sitter/README
Due: none

Don't build the executables defined in the git submodules. This leaves only semgrep-core and spacegrep. Shaves off 3-4% from the build time and keeps bin/ clean.
  semgrep-core/dune
Due: none

Fix script
  scripts/install-tree-sitter-runtime
Due: none

Clean up
  .gitignore
Due: none

Fix references to ocaml-tree-sitter in makefile
  Makefile
Due: none

Try to fix the CI error
  Dockerfile
  Makefile
  scripts/install-alpine-semgrep-core
  semgrep-core/.gitignore
Due: hadolint

Use ocaml-tree-sitter-core as a submodule (#3652)
  .gitignore
  .gitmodules
  Dockerfile
  Makefile
  scripts/install-alpine-semgrep-core
  scripts/install-tree-sitter-runtime
  semgrep-core/.gitignore
  semgrep-core/dune
  semgrep-core/src/ocaml-tree-sitter/.gitignore
  semgrep-core/src/ocaml-tree-sitter/README
Due: hadolint

Add basic support for parsing Hack files (#3650)
  parsing-stats/lang/hack/projects.txt
  parsing-stats/run-lang
  semgrep-core/src/parsing/Parse_pattern.ml
  semgrep-core/src/parsing/Parse_target.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.mli
  semgrep-core/tests/hack/test.hack
Due: lint-ocaml

fix ocamlformat
  semgrep-core/src/parsing/Parse_target.ml
Due: lint-ocaml

changelog
  CHANGELOG.md
Due: none

fix ocamlformat (#3654)
  CHANGELOG.md
  semgrep-core/src/parsing/Parse_target.ml
Due: lint-ocaml

[OCaml] support for partial let in
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/tests/ocaml/partial_let.ml
  semgrep-core/tests/ocaml/partial_let.sgrep
Due: lint-ocaml

[OCaml] support for partial let in (#3655)
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/tests/ocaml/partial_let.ml
  semgrep-core/tests/ocaml/partial_let.sgrep
Due: lint-ocaml

[Hack] small cleanup to Parse_hack_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
Due: lint-ocaml

enable back warnings
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
Due: lint-ocaml

[OCaml] convert correctly lets to VarDef, not FuncDef
  CHANGELOG.md
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/tests/ocaml/dots_let_body.ml
  semgrep-core/tests/ocaml/dots_let_body.sgrep
Due: lint-ocaml

Report semgrep-core's message upon a parse error
  CHANGELOG.md
  semgrep/semgrep/core_exception.py
Due: none

[OCaml] convert correctly lets to VarDef, not FuncDef (#3658)
  CHANGELOG.md
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/tests/ocaml/dots_let_body.ml
  semgrep-core/tests/ocaml/dots_let_body.sgrep
Due: lint-ocaml

[Hack] small cleanup to Parse_hack_tree_sitter.ml (#3656)
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
Due: lint-ocaml

[OCaml] adding parenthesis in AST for constructor calls
  CHANGELOG.md
  semgrep-core/dune
  semgrep-core/src/analyzing/lrvalue.ml
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/Map_AST.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_ocaml_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_rust_tree_sitter.ml
  semgrep-core/tests/ocaml/misc_ctor_one_arg.ml
  semgrep-core/tests/ocaml/misc_ctor_one_arg.sgrep
Due: lint-ocaml

[OCaml] adding parenthesis in AST for constructor calls (#3659)
  CHANGELOG.md
  semgrep-core/dune
  semgrep-core/src/analyzing/lrvalue.ml
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/Map_AST.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/ml_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_ocaml_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_rust_tree_sitter.ml
  semgrep-core/tests/ocaml/misc_ctor_one_arg.ml
  semgrep-core/tests/ocaml/misc_ctor_one_arg.sgrep
Due: lint-ocaml

Report semgrep-core's message upon a parse error (#3657)
  CHANGELOG.md
  semgrep/semgrep/core_exception.py
Due: none

[C++] add tree-sitter boilerplate file
  semgrep-core/src/parsing/Parse_target.ml
  semgrep-core/src/parsing/pfff/cpp_to_generic.ml
  semgrep-core/src/parsing/pfff/cpp_to_generic.mli
  semgrep-core/src/parsing/tree_sitter/Parse_cpp_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_cpp_tree_sitter.mli
Due: lint-ocaml

Remove location information in cli errors with temp files
  semgrep/semgrep/error.py
Due: none

Updated snapshots
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  semgrep/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
Due: none

Changelog
  CHANGELOG.md
Due: none

[C++] add tree-sitter boilerplate file (#3661)
  semgrep-core/src/parsing/Parse_target.ml
  semgrep-core/src/parsing/pfff/cpp_to_generic.ml
  semgrep-core/src/parsing/pfff/cpp_to_generic.mli
  semgrep-core/src/parsing/tree_sitter/Parse_cpp_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_cpp_tree_sitter.mli
Due: lint-ocaml

Remove per-pattern running from semgrep python (#3607)
  .github/workflows/tests.yml
  perf/bench/r2c-rules/r2c-ci.yml
  perf/bench/semgrep-app/r2c-ci.yml
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/error.py
  semgrep/semgrep/evaluation.py
  semgrep/semgrep/metavariable_comparison.py
  semgrep/semgrep/old_core_runner.py
  semgrep/semgrep/pattern.py
  semgrep/semgrep/rule.py
  semgrep/semgrep/rule_match.py
  semgrep/semgrep/rule_schema.yaml
  semgrep/semgrep/semgrep_main.py
  semgrep/semgrep/semgrep_types.py
  semgrep/semgrep/spacegrep.py
  semgrep/semgrep/util.py
  semgrep/tests/e2e/rules/equivalence.yaml
  semgrep/tests/e2e/snapshots/test_check/test_invalid_regex_with_any_language_rule/error.json
  semgrep/tests/e2e/test_api.py
  semgrep/tests/e2e/test_debugging_json.py
  semgrep/tests/e2e/test_equivalence.py
  semgrep/tests/unit/test_error.py
  semgrep/tests/unit/test_evaluation.py
Due: none
