Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

feat(be): ✨ Initial contributors collection
  cli/Pipfile
  cli/Pipfile.lock
  cli/src/semgrep/contributors.py
  cli/src/semgrep/semgrep_main.py
Due: none

refactor: move back Lang_job.ml out of semgrep-core, not needed (#7799)
  src/core_cli/Core_CLI.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/core/Lang_job.ml
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
  src/runner/Runner_config.ml
Due: lint-ocaml

osemgrep: handle the paths: include: and exclude:
  .dockerignore
  .gitignore
  semgrep.jsonnet
  src/core/Rule.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/parsing/Parse_rule.ml
  src/runner/Run_semgrep.ml
  src/targeting/Filter_target.ml
  src/targeting/Filter_target.mli
Due: gitignore-to-dockerignore, lint-ocaml

refactor: Remove custom visit_expr method
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

chore: Bump version to 1.22.0
  CHANGELOG.md
  changelog.d/cleanup-1.changed
  changelog.d/cleanup-2.changed
  changelog.d/gh-6318.fixed
  changelog.d/gh-7317.fixed
  changelog.d/gh-7694.fixed
  changelog.d/gh-7757.added
  changelog.d/lockfileparse.added
  changelog.d/pa-2570.added
  changelog.d/pa-2710.added
  changelog.d/pa-2711.added
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

review: fix typo in test
  tests/patterns/kotlin/single_interpolated_ident.sgrep
Due: none

chore: create Homebrew PRs in standard format
  .github/workflows/release.yml
Due: none

osemgrep: handle the paths: include: and exclude: (#7801)
  .dockerignore
  .gitignore
  semgrep.jsonnet
  src/core/Rule.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/parsing/Parse_rule.ml
  src/runner/Run_semgrep.ml
  src/targeting/Filter_target.ml
  src/targeting/Filter_target.mli
Due: gitignore-to-dockerignore, lint-ocaml

refactor: Remove custom visit_expr method (#7802)
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

fix: sym-prop: Make sure we perform cycle checks
  changelog.d/pa-2740.fixed
  src/analyzing/Constant_propagation.ml
  tests/rules/sym_prop_no_cycle.py
  tests/rules/sym_prop_no_cycle.yaml
Due: lint-ocaml

Add extra safe guards to prevent cycles in id_svalue
  semgrep.yml
  src/analyzing/Constant_propagation.ml
  src/analyzing/Dataflow_svalue.ml
  src/analyzing/Dataflow_svalue.mli
  src/runner/Run_semgrep.ml
Due: lint-ocaml

tried update to latest semgrep-interface but failed
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/reporting/JSON_report.ml
Due: lint-ocaml

refactor: use Fpath.t for scanned field, and a few collateral change
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/Session.mli
  src/language_server/Unit_LS.ml
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Core_runner.mli
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
Due: lint-ocaml

refactor: use Fpath.t for scanned field, and a few collateral change (#7808)
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/Session.mli
  src/language_server/Unit_LS.ml
  src/osemgrep/cli_scan/Cli_json_output.ml
  src/osemgrep/cli_scan/Core_runner.ml
  src/osemgrep/cli_scan/Core_runner.mli
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
Due: lint-ocaml

fixes
  cli/src/semgrep/core_output.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/formatter/json.py
  cli/src/semgrep/formatter/text.py
  cli/src/semgrep/output.py
  cli/src/semgrep/parsing_data.py
  cli/src/semgrep/rule_lang.py
  cli/src/semgrep/rule_match.py
  cli/tests/unit/test_formatters.py
  cli/tests/unit/test_match_hashes.py
  cli/tests/unit/test_rule_match.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_check/test_regex_rule__invalid_expression/error.txt
  cli/tests/e2e/snapshots/test_metavariable_pattern/test1/results.json
  cli/tests/e2e/snapshots/test_output/test_sarif_output_with_dataflow_traces/results.sarif
  cli/tests/e2e/snapshots/test_parse_rate_metrics/test_parse_metrics/parse-rates.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.json
  cli/tests/e2e/snapshots/test_rule_parser/test_rule_parser_cli_pattern/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
Due: none

bugfix1: not found by mypy :(
  cli/src/semgrep/error.py
  cli/src/semgrep/formatter/sarif.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_check/test_timeout/results.json
  cli/tests/e2e/snapshots/test_cli_test/test_parse_errors/errors.txt
  cli/tests/e2e/snapshots/test_metavariable_pattern/test1/results.json
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/out.json
Due: none

osemgrep: Output.output_result (which runs nosemgrep) returns now Out.cli_output
  src/osemgrep/cli_scan/Output.ml
  src/osemgrep/cli_scan/Output.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
Due: lint-ocaml

Specify README content type as Markdown
  setup.py
Due: none

Require partial_try to work for GA
  src/engine/Unit_engine.ml
  tests/patterns/csharp/partial_try.cs
  tests/patterns/go/partial_try.go
  tests/patterns/go/partial_try.sgrep
  tests/patterns/php/partial_try.php
  tests/patterns/python/partial_try.py
  tests/patterns/python/partial_try.sgrep
  tests/patterns/ruby/partial_try.rb
  tests/patterns/scala/partial_try.scala
  tests/patterns/ts/partial_try.ts
Due: lint-ocaml

chore: create Homebrew PRs in standard format (#7806)
  .github/workflows/release.yml
Due: none

fix: update snapshot test which should work now
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
Due: none

feat(be): 🐛 Collecting contributors
  cli/src/semgrep/contributors.py
  cli/src/semgrep/semgrep_main.py
  cli/src/semgrep/target_manager.py
Due: none

feat: allow ellipsis in catch for scala patterns
  languages/scala/recursive_descent/Parser_scala_recursive_descent.ml
  tests/patterns/scala/catch_ellipsis.scala
  tests/patterns/scala/catch_ellipsis.sgrep
Due: lint-ocaml

changelog
  changelog.d/gh-7807.fixed
Due: none

WIP handle {path} arguments in JS
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

osemgrep: Output.output_result (which runs nosemgrep) returns now Out.cli_output (#7810)
  src/osemgrep/cli_scan/Output.ml
  src/osemgrep/cli_scan/Output.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
Due: lint-ocaml

feat(be): 🐛 profiling
  cli/src/semgrep/semgrep_main.py
Due: none

fix: fix tests
  tests/patterns/scala/catch_ellipsis.scala
Due: none

feat(be): 🐛 latest contributions
  cli/src/semgrep/contributors.py
  cli/src/semgrep/semgrep_main.py
Due: none

feat(be): 🐛 ruff
  cli/src/semgrep/contributors.py
Due: none

swift: Support ellipsis in navigation suffix #7664
  languages/swift/generic/Parse_swift_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
  tests/patterns/swift/nav_exp_ellipsis.sgrep
  tests/patterns/swift/nav_exp_ellipsis.swift
Due: lint-ocaml

fix poetry parsing
  cli/tests/e2e/targets/dependency_aware/poetry_with_arbitrary_starting_comment/poetry.lock
  cli/tests/e2e/targets/dependency_aware/poetry_with_arbitrary_starting_comment/pyproject.toml
  cli/tests/e2e/targets/dependency_aware/poetry_with_arbitrary_starting_comment/sca-poetry.py
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarepython-poetry-sca.yaml-dependency_awarepoetry_with_arbitrary_starting_comment/results.txt
Due: none

fix
  cli/src/semdep/parsers/poetry.py
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
