Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint, lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  hadolint: any of: Dockerfile, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md

Support globstar (**) syntax in paths include/exclude with wcmatch. (#3173)
  mypy.ini
  semgrep/Pipfile.lock
  semgrep/semgrep/target_manager.py
  semgrep/setup.py
  semgrep/tests/unit/test_target_manager.py
Due: none

Update changelog and pipfile lock
  CHANGELOG.md
  semgrep/Pipfile.lock
Due: none

Add deprecation notice if using any experimental features not in optimized semgrep-core (#3493)
  semgrep/semgrep/semgrep_main.py
  semgrep/tests/e2e/snapshots/test_equivalence/test_equivalence/results.json
  semgrep/tests/e2e/test_api.py
Due: none

Update changelog and pipfile lock (#3511)
  CHANGELOG.md
  semgrep/Pipfile.lock
Due: none

Dockerize upload_private_rules script
  scripts/upload_private_rules.py
  upload/Dockerfile
  upload/Pipfile
  upload/Pipfile.lock
  upload/README.md
  upload/rule_schema.yaml
  upload/upload_private_rules.py
Due: hadolint

Add makefile and changable registry_base to upload
  upload/.gitignore
  upload/Makefile
  upload/README.md
  upload/rule_schema.yaml
  upload/upload_private_rules.py
Due: none

Remove testing consts
  upload/upload_private_rules.py
Due: none

readme change
  upload/README.md
Due: none

Put back warnings for Parse_rust_tree_sitter.ml and "fix" them
  semgrep-core/src/parsing/tree_sitter/Parse_rust_tree_sitter.ml
Due: lint-ocaml

update docker returntocorp/ocaml:alpine to one using 4.10.2
  Dockerfile
Due: hadolint

Put back warnings for Parse_rust_tree_sitter.ml and "fix" them (#3514)
  semgrep-core/src/parsing/tree_sitter/Parse_rust_tree_sitter.ml
Due: lint-ocaml

update to ppxlib 0.20.0 and OCaml 4.10.2 (#3509)
  CHANGELOG.md
  Dockerfile
  semgrep-core/semgrep.opam
Due: hadolint

Release 0.58.0
  CHANGELOG.md
  semgrep/semgrep/__init__.py
  setup.py
Due: none

fix CI
  scripts/lint-ocaml
  semgrep-core/dev/dev.opam
Due: none

comment and use latest ocaml-layer image which hopefully has
  .github/workflows/lint.yml
  scripts/lint-ocaml
Due: none

test
  .github/workflows/lint.yml
  scripts/lint-ocaml
Due: none

more test
  .github/workflows/lint.yml
Due: none

TEST
  .github/workflows/lint.yml
Due: none

lint.yml test
  .github/workflows/lint.yml
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

TEMPORARY change of pull_request_target to pull_request to debug lint.yml
  .github/workflows/lint.yml
Due: none

misc
  scripts/lint-ocaml
Due: none

update timing to 0.57.0
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

update timing to 0.57.0 (#3519)
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

Pipe semgrep-core stderr to stderr when --debug
  semgrep/semgrep/core_runner.py
Due: none

Switching back to ocp-indent for auto-reformatting of ocaml code, due to opam dependency conflicts when using ocaml 4.12 See https://github.com/returntocorp/ocaml-layer/pull/5#issuecomment-878997912
  .ocp-indent
  .pre-commit-config.yaml
  scripts/lint-ocaml
Due: none

Add a hack to report leading semicolons since we disabled ocamlformat
  scripts/lint-ocaml
Due: none

Update timing to 0.58 and docker image to more recent ocaml-layer
  .github/workflows/tests.yml
  CHANGELOG.md
  Dockerfile
Due: hadolint

switch to 4.10.2 also for osx-release.sh
  scripts/osx-release.sh
Due: shellcheck
