Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

log custom bdist get_tag output
  cli/setup.py
Due: none

sync
  src/osemgrep/networking/Scan_helper.ml
Due: lint-ocaml

fix(dockerfile): Add support for single-quoted strings in dockerfiles (#8228)
  changelog.d/gh-7780.fixed
  languages/dockerfile/ast/AST_dockerfile.ml
  languages/dockerfile/tree-sitter/Parse_dockerfile_tree_sitter.ml
  tests/patterns/dockerfile/strings.dockerfile
  tests/patterns/dockerfile/strings.sgrep
Due: lint-ocaml

test: pin setuptools
  scripts/build-wheels.sh
Due: shellcheck

add more logging
  cli/setup.py
Due: none

add back submodules, fix typo in logs
  .github/workflows/build-test-osx-m1.yaml
  cli/setup.py
Due: none

test: cat wheel info for setuptools, wheel
  scripts/build-wheels.sh
Due: shellcheck

test: inspect wheels on last known good state
  .github/workflows/build-test-osx-m1.yaml
Due: none

test: add better logs
  scripts/build-wheels.sh
Due: shellcheck

test: brew install python build wheels
  .github/workflows/build-test-osx-m1.yaml
Due: none

feat(typed metavar): Typed metavariable support for Rust
  changelog.d/gh-8200.added
  languages/rust/generic/Parse_rust_tree_sitter.ml
  tests/rules/typed_metavar_not_rust.rs
  tests/rules/typed_metavar_not_rust.yaml
Due: lint-ocaml

test: use brew python path
  scripts/build-wheels.sh
Due: shellcheck

chore: Bump version to 1.31.0
  CHANGELOG.md
  changelog.d/cod-16.added
  changelog.d/gh-7353.fixed
  changelog.d/gh-7780.fixed
  changelog.d/gh-8171.fixed
  changelog.d/gh-8183.added
  changelog.d/pa-2902.added
  changelog.d/pa-2903.fixed
  changelog.d/pa-2915.fixed
  changelog.d/pa-6442.fixed
  changelog.d/sc-772.added
  changelog.d/sc-824.added
  changelog.d/sc-834.fixed
  changelog.d/sc-866.added
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

dump more info
  scripts/build-wheels.sh
Due: shellcheck

fallback default to workaround inputs.multi-arch being null
  .github/workflows/release.yml
Due: none

fallback default to workaround inputs.multi-arch being null (#8231)
  .github/workflows/release.yml
Due: none

fix: [ci] update handling of multi-arch input for release
  .github/workflows/release.yml
Due: none

fix: pr feedback
  .github/workflows/release.yml
Due: none

Run working to see what sys.platform() is
  .github/workflows/build-test-osx-m1.yaml
Due: none

fix: [ci] update handling of multi-arch input for release (#8232)
  .github/workflows/release.yml
Due: none

chore: Bump version to 1.31.1
  CHANGELOG.md
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

enable multi-arch builds for releases
  .github/workflows/release.yml
  .github/workflows/start-release.yml
Due: none

update multi-arch pusher to push :latest
  .github/workflows/push-docker.yaml
Due: none

grr
  scripts/build-wheels.sh
Due: shellcheck

fix
  .github/workflows/release.yml
Due: none

fix: set needs block
  .github/workflows/release.yml
Due: none

enable multi-arch builds for releases (#8235)
  .github/workflows/release.yml
  .github/workflows/start-release.yml
Due: none

test: print uname info
  scripts/build-wheels.sh
Due: shellcheck

add bounds checking before float to int conversion
  src/parsing/Parse_rule.ml
Due: lint-ocaml

chore: Bump version to 1.31.2
  CHANGELOG.md
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

test: remove broken ls
  scripts/build-wheels.sh
Due: shellcheck

test: sysconfig get platform
  scripts/build-wheels.sh
Due: shellcheck

test: unstick runner
  scripts/build-wheels.sh
Due: shellcheck

feat: allow hover to be toggled from settings
  src/language_server/LS.ml
  src/language_server/Session.ml
  src/language_server/Session.mli
Due: lint-ocaml

More precise string types in Dockerfile AST (work in progress)
  languages/dockerfile/ast/AST_dockerfile.ml
  languages/dockerfile/generic/Dockerfile_to_generic.ml
  languages/dockerfile/tree-sitter/Parse_dockerfile_tree_sitter.ml
Due: lint-ocaml

tainting: Simplify preconditions when instantiating functions
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
Due: lint-ocaml

feat(typed metavar): Typed metavariable support for Rust (#8201)
  changelog.d/gh-8200.added
  languages/rust/generic/Parse_rust_tree_sitter.ml
  tests/rules/typed_metavar_not_rust.rs
  tests/rules/typed_metavar_not_rust.yaml
Due: lint-ocaml

remove multi-arch conditionals
  .github/workflows/build-test-docker.yaml
  .github/workflows/nightly.yml
  .github/workflows/push-docker.yaml
  .github/workflows/release.yml
  .github/workflows/start-release.yml
  .github/workflows/tests.yml
Due: none

have test-semgrep-pro use the arch-specific image
  .github/workflows/build-test-docker.yaml
  .github/workflows/test-semgrep-pro.yaml
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
