Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT

minimal repor
  languages/tree-sitter-to-generic/Parse_vue_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

fix html
  languages/tree-sitter-to-generic/Parse_vue_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

bad example
  languages/tree-sitter-to-generic/Parse_vue_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

fix rust macro args
  languages/rust/generic/Parse_rust_tree_sitter.ml
  tests/rules/macro_arg_taint.rs
  tests/rules/macro_arg_taint.yaml
Due: lint-ocaml

changelog
  changelog.d/pa-2902.fixed
Due: none

remove arm64 aborts
  cli/src/semgrep/cli.py
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

make it possible to toggle between depot and vanilla docker builds
  .github/workflows/build-test-docker.yaml
Due: none

osemgrep ci: add data to be sent to completed endpoint
  src/osemgrep/cli_ci/Ci_subcommand.ml
Due: lint-ocaml

fix version
  .github/workflows/build-test-docker.yaml
Due: none

take away metavar ellipsis change, use metavar ellipsis as not standalone
  changelog.d/pa-2915.fixed
  src/matching/Match_patterns.ml
  tests/patterns/rust/metavar_ellipsis.rs
  tests/patterns/rust/metavar_ellipsis.sgrep
Due: lint-ocaml

remove duplicate step
  .github/workflows/build-test-docker.yaml
Due: none

tweak
  .github/workflows/build-test-docker.yaml
Due: none

updates
  .github/workflows/build-test-docker.yaml
  .github/workflows/push-docker.yaml
Due: none

wire things up
  .github/workflows/build-test-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

tweak
  .github/workflows/push-docker.yaml
Due: none

keep the arm64 check but make it overridable
  cli/src/semgrep/cli.py
  src/osemgrep/cli/CLI.ml
Due: lint-ocaml

apply suggestions
  languages/typescript/tree-sitter/Boilerplate_tree_sitter_typescript.ml
Due: lint-ocaml

update opam
  dev/dev.opam
  semgrep.opam
Due: none

refactor: source code changes for ocaml 5.0
  languages/scala/recursive_descent/Parser_scala.mly
  src/language_server/LS.ml
Due: lint-ocaml

after dune build
  semgrep.opam
Due: none

dependency changes
  dune-project
  semgrep.opam
  src/language_server/LS.ml
Due: lint-ocaml

forgot to save
  .github/workflows/tests.yml
Due: none

fix
  .github/workflows/build-test-docker.yaml
Due: none

need to skip the check during docker build
  Dockerfile
  cli/src/semgrep/cli.py
Due: none

fix: julia empty catch pattern
  languages/julia/generic/Parse_julia_tree_sitter.ml
  tests/patterns/julia/empty_catch.jl
  tests/patterns/julia/empty_catch.sgrep
Due: lint-ocaml

im an idiot
  Dockerfile
Due: none

set SEMGREP_SKIP_ARM64_CHECK in Dockerfile too
  Dockerfile
Due: none

add logging to validation script
  scripts/validate-docker-build.sh
Due: shellcheck

more logging + tweak copying command
  .github/workflows/push-docker.yaml
Due: none

fix(julia): try catch, empty and ellipsis
  changelog.d/pa-2918.fixed
  languages/julia/generic/Parse_julia_tree_sitter.ml
  src/parsing/tests/Test_parsing.ml
  tests/patterns/julia/ellipsis_catch.jl
  tests/patterns/julia/ellipsis_catch.sgrep
  tests/patterns/julia/empty_catch.jl
Due: lint-ocaml

fix test-semgrep-pro
  .github/workflows/build-test-docker.yaml
Due: none

tweak validation script
  scripts/validate-docker-build.sh
Due: shellcheck

feat: allow tainted params that are patterns
  changelog.d/pa-2919.added
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  src/engine/Match_tainting_mode.ml
  tests/rules/taint_param_pattern.rs
  tests/rules/taint_param_pattern.yaml
Due: lint-ocaml

Build multi-arch docker images (#8205)
  .github/workflows/build-test-docker.yaml
  .github/workflows/push-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
  cli/src/semgrep/cli.py
  scripts/validate-docker-build.sh
Due: shellcheck

review: Iago's review
  changelog.d/pa-2902.fixed
  languages/rust/generic/Parse_rust_tree_sitter.ml
Due: lint-ocaml

change to added instead of fixed
  changelog.d/pa-2902.added
Due: none

specify target
  .github/workflows/release.yml
Due: none

starting testing set up for jsonnet
  libs/ojsonnet/Unit_jsonnet.ml
Due: lint-ocaml

feat: [nightly] install semgrep via brew non-interactively
  .github/workflows/nightly.yml
Due: none

use variable for last docker validation test as well
  scripts/validate-docker-build.sh
Due: shellcheck
