Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

chore(mcp): remove support for SSE transport (semgrep/semgrep-proprietary#5382)
  changelog.d/saf-2462.changed
  cli/src/semgrep/commands/mcp.py
  cli/src/semgrep/mcp/README.md
  cli/tests/default/mcp/test_sse_client.py
Due: none

feat(perf): cache `Target` hash values (semgrep/semgrep-proprietary#5407)
  changelog.d/gh-5407.fixed
  cli/src/semgrep/types.py
Due: none

fix(ci): Fix benchmarking regression PR comment (semgrep/semgrep-proprietary#5416)
  perf/compare-perf
Due: none

fix(ci): fix jsonnet templating s.t env isn't at job-level (semgrep/semgrep-proprietary#5415)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
Due: none

feat(sca): upload subproject-specific symbol analysis from ci (semgrep/semgrep-proprietary#5209)
  changelog.d/sc-3038.added
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/rpc_call.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/symbol_analysis.py
  cli/tests/default/unit/test_symbol_analysis.py
Due: none

feat: Translating Java Qualified Super (semgrep/semgrep-proprietary#5313)
  changelog.d/code-9210.fixed
  languages/java/ast/ast_java.ml
  languages/java/generic/java_to_generic.ml
  languages/java/tree-sitter/Parse_java_tree_sitter.ml
  tests/parsing/java/qualified_super.java
  tests/snapshots/semgrep-core/666678533c5a/name
  tests/snapshots/semgrep-core/666678533c5a/stdout
Due: lint-ocaml

fix(ci): resolve semgrep dogfood finding (semgrep/semgrep-proprietary#5396)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/nightly.yml
  .github/workflows/test-e2e-semgrep-ci.jsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
Due: none

feat: use opam lockfiles by default on `make setup` (semgrep/semgrep-proprietary#5075)
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  scripts/pick-lockfile.sh
Due: gitignore-to-dockerignore, shellcheck

fix(sca): fix tuple unpack error (semgrep/semgrep-proprietary#5397)
  cli/src/semgrep/commands/ci.py
Due: none

perf(plan): optimize object creation to speedup planning (semgrep/semgrep-proprietary#5399)
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/rule.py
Due: none

chore(monitoring): add more traces for sca related scan activities (semgrep/semgrep-proprietary#5405)
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/symbol_analysis.py
Due: none

feat(multicore): emit warning if -j > number of available CPUs (semgrep/semgrep-proprietary#5403)
  changelog.d/saf-2474.added
  src/core_scan/Core_scan.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
Due: lint-ocaml

feat: Translating Scala qualified super as IdSpecial (semgrep/semgrep-proprietary#5395)
  changelog.d/code-9212.fixed
  languages/scala/generic/scala_to_generic.ml
  src/ast_generic/AST_generic.ml
  tests/parsing/scala/qualified_super.scala
  tests/snapshots/semgrep-core/fdf357eb7aed/name
  tests/snapshots/semgrep-core/fdf357eb7aed/stdout
Due: lint-ocaml

fix: always use `opam.org/cache` mirror for all installs (semgrep/semgrep-proprietary#5414)
  Makefile
Due: none

fix(ci): Update setup-ocaml action for Cygwin issue (semgrep/semgrep-proprietary#5417)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/useslockfile.json
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

chore: don't version `semgrep.opam`/`OSS/dune-project`. (semgrep/semgrep-proprietary#5402)
  dune-project
  opam-lockfiles/semgrep.opam.linux-amd64.locked
  opam-lockfiles/semgrep.opam.linux-arm64.locked
  opam-lockfiles/semgrep.opam.mac-arm64.locked
  opam-lockfiles/semgrep.opam.mac-x86.locked
  opam-lockfiles/semgrep.opam.windows-x86.locked
  scripts/release/bump
  semgrep.opam
Due: none

chore: remove `tox` (semgrep/semgrep-proprietary#5421)
  cli/Pipfile
  cli/Pipfile.lock
  cli/pyproject.toml
Due: none

Review feedback
  languages/python/tree-sitter/Parse_python_tree_sitter.ml
Due: lint-ocaml

test: uv!
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/libs/uses.json
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  cli/Makefile
  cli/Pipfile
  cli/Pipfile.lock
  cli/pyproject.toml
  cli/setup.py
  cli/src/semgrep/app/auth.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/app/session.py
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/mcp/utilities/tracing.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/rpc.py
  cli/src/semgrep/rpc_call.py
  cli/src/semgrep/rule_lang.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/state.py
  cli/src/semgrep/symbol_analysis.py
  cli/src/semgrep/telemetry.py
  cli/tests/check-markers
  cli/uv.lock
Due: none

chore: cleanup pysemgrep telemetry (semgrep/semgrep-proprietary#5425)
  cli/src/semgrep/app/auth.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/app/session.py
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/mcp/utilities/tracing.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/rpc.py
  cli/src/semgrep/rpc_call.py
  cli/src/semgrep/rule_lang.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/state.py
  cli/src/semgrep/symbol_analysis.py
  cli/src/semgrep/telemetry.py
  libs/telemetry/Telemetry.ml
  mypy-tests.ini
Due: lint-ocaml

feat(ci): Use larger macOS runners (semgrep/semgrep-proprietary#5430)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.jsonnet
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
Due: none

fix(lockfiles): make gen script not use lockfile; force `opam install` to resolve the deps once more (semgrep/semgrep-proprietary#5437)
  scripts/pick-lockfile.sh
Due: shellcheck

feat: improved trace tags (semgrep/semgrep-proprietary#5428)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/engine.py
  cli/src/semgrep/meta.py
  cli/src/semgrep/telemetry.py
  src/core/Trace_data.ml
  src/core/Trace_data.mli
Due: lint-ocaml

chore(sca-perf): create index for sca finding creation to avoid unnecessary iteration (semgrep/semgrep-proprietary#5439)
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/run_scan.py
  cli/tests/default/unit/test_dependency_aware_rule.py
Due: none

perf(logging): dont keep reference to potentially large plan object after printing (semgrep/semgrep-proprietary#5440)
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/scan_report.py
Due: none

Revert "feat(ci): Use larger macOS runners (semgrep/semgrep-proprietary#5430)" (semgrep/semgrep-proprietary#5449)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.jsonnet
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
Due: none

fix: change names of unset trace attributes (semgrep/semgrep-proprietary#5448)
  cli/src/semgrep/meta.py
  cli/src/semgrep/telemetry.py
Due: none

chore(tracing): add traces for print_scan_status (semgrep/semgrep-proprietary#5454)
  cli/src/semgrep/scan_report.py
Due: none

feat(cli): switch to `uv` (semgrep/semgrep-proprietary#5420)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  changelog.d/uv.changed
  cli/Makefile
  cli/Pipfile
  cli/Pipfile.lock
  cli/pyproject.toml
  cli/setup.py
  cli/tests/check-markers
  cli/uv.lock
  scripts/generate-cheatsheet
  scripts/release/Pipfile
  scripts/release/Pipfile.lock
  scripts/release/pyproject.toml
  scripts/release/uv.lock
Due: none

fix: bump pyro-caml (semgrep/semgrep-proprietary#5433)
  Makefile
  opam-lockfiles/semgrep.opam.linux-amd64.locked
  opam-lockfiles/semgrep.opam.linux-arm64.locked
  opam-lockfiles/semgrep.opam.mac-arm64.locked
  opam-lockfiles/semgrep.opam.mac-x86.locked
  opam-lockfiles/semgrep.opam.windows-x86.locked
  semgrep.opam
  semgrep.opam.template
Due: none

Add missing test snapshot
  tests/snapshots/semgrep-core/8e740180b65e/name
  tests/snapshots/semgrep-core/8e740180b65e/stdout
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
