Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

feat: migrate to visitors-cleanroom (semgrep/semgrep-proprietary#6013)
  dune-project
  opam-lockfiles/semgrep.opam.linux-amd64.locked
  opam-lockfiles/semgrep.opam.linux-arm64.locked
  opam-lockfiles/semgrep.opam.mac-arm64.locked
  opam-lockfiles/semgrep.opam.mac-x86.locked
  opam-lockfiles/semgrep.opam.windows-x86.locked
  semgrep.opam
  semgrep.opam.template
  src/ast_generic/dune
  src/core/Type.mli
  src/core/dune
  src/il/dune
Due: lint-ocaml

feat: enable RTO by default (semgrep/semgrep-proprietary#6002)
  changelog.d/engine-2468.added
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/run_scan.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
Due: lint-ocaml

fix(engine): Log specific customer data only at DEBUG (semgrep/semgrep-proprietary#6026)
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
  src/engine/Eval_generic.ml
  src/matching/SubAST_generic.ml
  src/printing/Pretty_print_AST.ml
Due: lint-ocaml

refactor: Taint_rule_inst: separate mutable state from immutable (semgrep/semgrep-proprietary#5998)
  src/engine/Match_taint_spec.ml
  src/engine/Match_taint_spec.mli
  src/engine/OSS_match_tainting_mode.ml
  src/engine/tests/Test_dataflow_tainting.ml
  src/tainting/OSS_dataflow_tainting.ml
  src/tainting/Taint_rule_inst.ml
Due: lint-ocaml

chore(backend): download config using v2 backend (EIO) (semgrep/semgrep-proprietary#5975)
  changelog.d/SMS-2284.changed
  src/osemgrep/configuring/Semgrep_envvars.ml
  src/osemgrep/configuring/Semgrep_envvars.mli
  src/osemgrep/networking/Rule_fetching.ml
Due: lint-ocaml

Pin some SHAs (semgrep/semgrep-proprietary#6041)
  .github/workflows/check-submodule.yml
  .github/workflows/pr-checklist.yaml
Due: none

chore(backend): use v2 config download for lwt (semgrep/semgrep-proprietary#6035)
  src/lsp_legacy/Legacy_unit_ls.ml
  src/lsp_legacy/server/Legacy_session.ml
  src/osemgrep/networking/Rule_fetching.ml
Due: lint-ocaml

fix: raise error when target discovery RPC fails instead of returning empty results (semgrep/semgrep-proprietary#5980)
  changelog.d/ENGINE-2626.fixed
  cli/src/semgrep/rpc_call.py
  cli/tests/default/unit/test_rpc_call.py
Due: none

docs(mcp): Update README with Claude Code/Cursor plugin install steps
  cli/src/semgrep/mcp/README.md
Due: none

Remove trailing whitespace from README
  cli/src/semgrep/mcp/README.md
Due: none

test demo
  cli/src/semgrep/mcp/README.md
Due: none

Remove redundant Anthropic docs link from Windsurf section
  cli/src/semgrep/mcp/README.md
Due: none

Replace Loom demo with GitHub-hosted video
  cli/src/semgrep/mcp/README.md
Due: none

docs: Add one-click 'Add to Kiro' MCP install badge
  cli/src/semgrep/mcp/README.md
Due: none

Add two Kiro badges: local stdio and remote hosted
  cli/src/semgrep/mcp/README.md
Due: none

Fix Kiro docs links to correct URL
  cli/src/semgrep/mcp/README.md
Due: none

docs: remove LSP-specific comments from trace options (semgrep/semgrep-proprietary#6045)
  src/osemgrep/core/CLI_common.ml
  src/osemgrep/core/CLI_common.mli
Due: lint-ocaml

docs(mcp): Update README with Claude Code/Cursor plugin install steps (semgrep/semgrep-proprietary#6055)
  cli/src/semgrep/mcp/README.md
Due: none

pro: tainting: Improved support for variadic functions (semgrep/semgrep-proprietary#6031)
  changelog.d/LANG-375.added
  src/analyzing/AST_to_IL.ml
  src/analyzing/Fold_IL_params.ml
  src/il/IL.ml
  src/printing/Pretty_IL.ml
  src/tainting/Shape_and_sig.ml
Due: lint-ocaml

fix(parsing): prevent rule content from leaking into WARN/ERR logs (semgrep/semgrep-proprietary#6027)
  src/fixing/Autofix.ml
  src/parsing/Parse_rule_helpers.ml
Due: lint-ocaml

docs: replace markdown backticks with odoc [code] syntax in .mli files (semgrep/semgrep-proprietary#6048)
  libs/commons/JSON.mli
  libs/commons/Pcre2_.mli
  libs/commons/Pcre_.mli
  libs/commons/Random_.mli
  libs/commons/UFile.mli
  src/core/Core_profiling.mli
  src/core/Core_quick_profiling.mli
  src/core/Trace_data.mli
  src/engine/Match_taint_spec.mli
  src/tainting/OSS_taint_lval_env.mli
  src/tainting/Taint.mli
  src/targeting/Targeting_stat.mli
Due: lint-ocaml

Match_rules: Do not log entire rule (semgrep/semgrep-proprietary#6028)
  src/engine/Match_rules.ml
Due: lint-ocaml

fix: set DataDog env correctly (semgrep/semgrep-proprietary#6062)
  cli/src/semgrep/telemetry.py
  cli/tests/default/unit/test_telemetry.py
  src/core_cli/Core_CLI.ml
  src/osemgrep/core/CLI_common.ml
Due: lint-ocaml

feat(scala): use tree sitter (semgrep/semgrep-proprietary#6037)
  .dockerignore
  .gitmodules
  changelog.d/LANG-255.added
  cli/tests/default/e2e/snapshots/test_parse_rate_metrics/test_parse_metrics/parse-rates.json
  languages/scala/generic/Parse_scala_tree_sitter.ml
  languages/scala/generic/Parse_scala_tree_sitter.mli
  languages/scala/generic/dune
  src/parsing/Parse_metavariable_type.ml
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_target.ml
  tests/parsing/scala/constructor_annotation.scala
  tests/snapshots/semgrep-core/0274295ff6ba/stdout
  tests/snapshots/semgrep-core/095694a42ba6/stdout
  tests/snapshots/semgrep-core/0a9b35dbcb63/stdout
  tests/snapshots/semgrep-core/228259f24fed/stdout
  tests/snapshots/semgrep-core/2b82395e68af/stdout
  tests/snapshots/semgrep-core/3447133e771f/stdout
  tests/snapshots/semgrep-core/3530ae615898/stdout
  tests/snapshots/semgrep-core/44d1219831f8/stdout
  tests/snapshots/semgrep-core/5d2c19f38334/stdout
  tests/snapshots/semgrep-core/64145694c2c4/name
  tests/snapshots/semgrep-core/64145694c2c4/stdout
  tests/snapshots/semgrep-core/68457285e1cf/stdout
  tests/snapshots/semgrep-core/701c38557ea5/stdout
  tests/snapshots/semgrep-core/7f43ce013479/stdout
  tests/snapshots/semgrep-core/9d4edceb95f4/stdout
  tests/snapshots/semgrep-core/adad132b0fe6/stdout
  tests/snapshots/semgrep-core/b2ea8db53476/stdout
  tests/snapshots/semgrep-core/b74f7fd251c2/stdout
  tests/snapshots/semgrep-core/e63632ba3ce8/stdout
  tests/snapshots/semgrep-core/e680a52be9d8/stdout
  tests/snapshots/semgrep-core/e952923cb2e5/stdout
  tests/snapshots/semgrep-core/f02e4ac99c64/stdout
  tests/snapshots/semgrep-core/f07e0d46811e/stdout
  tests/snapshots/semgrep-core/fdf357eb7aed/stdout
Due: gitignore-to-dockerignore, lint-ocaml

Emit explicit warnings when RPC rule validation fails (semgrep/semgrep-proprietary#6071)
  changelog.d/gh-6071.fixed
  cli/src/semgrep/config_resolver.py
  cli/src/semgrep/rule_lang.py
  cli/tests/default/e2e-other/snapshots/test_download_config/test_new_feature_registry_config/output.txt
  cli/tests/default/e2e/snapshots/test_regex/test_regex_rule__invalid_expression/error.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad-three-layers/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad1/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad12/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad13/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad14/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad15/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad16/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad2/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad3/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad4/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad5/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad6/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad7/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad8/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/bad9/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badlanguage/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpaths1/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpaths2/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/badpattern/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-field/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser__failure__error_messages/missing-toplevel/error-in-color.txt
  cli/tests/default/e2e/snapshots/test_rule_parser/test_rule_parser_error_key_name_text/error.txt
  cli/tests/default/unit/test_config_resolver.py
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
