Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Parse die() as exit() in tree-sitter PHP (#5919)
  changelog.d/gh-5880.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_php_tree_sitter.ml
  semgrep-core/tests/php/gh_5880.php
  semgrep-core/tests/php/gh_5880.sgrep
Due: lint-ocaml

Parse $this as IdSpecial in PHP tree-sitter parser (#5918)
  changelog.d/gh-5594.fixed
  semgrep-core/src/parsing/tree_sitter/Parse_php_tree_sitter.ml
  semgrep-core/tests/php/gh_5594.php
  semgrep-core/tests/php/gh_5594.sgrep
Due: lint-ocaml

count lockfiles and dependencies in the target manager
  cli/src/semdep/find_lockfiles.py
  cli/src/semdep/parse_lockfile.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/lsp/config.py
  cli/src/semgrep/lsp/run_semgrep.py
  cli/src/semgrep/semgrep_main.py
  cli/src/semgrep/target_manager.py
Due: none

delete models.py
  cli/src/semdep/models.py
Due: none

comments
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/target_manager.py
Due: none

delete unused code
  cli/src/semgrep/target_manager.py
Due: none

update CI tests
  cli/tests/e2e/snapshots/test_ci/test_dryrun/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-pr/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins-missing-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-pr/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins-missing-vars/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/complete.json
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/complete.json
  cli/tests/e2e/snapshots/test_ci/test_github_ci_bad_base_sha/results.txt
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareansi-html.yaml-dependency_awareansi/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareawscli_vuln.yaml-dependency_awareawscli/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awaremonorepo.yaml-dependency_awaremonorepo/results.txt
Due: none

Add functionality to filter rules by id
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/semgrep_main.py
Due: none

Fixed rulename typo
  semgrep-core/tests/OTHER/rules/metavar_unification.yaml
Due: none

Implement $A must follow $B as a template
  semgrep-core/semgrep_suggesting.opam
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/core/il/Display_IL.ml
  semgrep-core/src/experiments/suggesting/Suggest.ml
  semgrep-core/src/experiments/suggesting/Temporal.ml
  semgrep-core/src/experiments/suggesting/Test_suggest.ml
  semgrep-core/src/experiments/suggesting/dune
  semgrep-core/src/runner/dune
Due: lint-ocaml

Document generation code
  semgrep-core/src/experiments/suggesting/Suggest.ml
  semgrep-core/src/experiments/suggesting/Temporal.ml
  semgrep-core/src/experiments/suggesting/Test_suggest.ml
Due: lint-ocaml

Added a comment explaining JSON change
  semgrep-core/src/parsing/pfff/json_to_generic.ml
Due: lint-ocaml

Fixed JSON parsing w.r.t. #5912 (#5935)
  changelog.d/pa-1763.fixed
  semgrep-core/src/parsing/pfff/json_to_generic.ml
  semgrep-core/tests/OTHER/rules/metavar_unification.json
  semgrep-core/tests/OTHER/rules/metavar_unification.yaml
Due: lint-ocaml

fix indentation bug
  cli/src/semgrep/target_manager.py
Due: none

present
  semgrep-core/src/parsing/Parse_target.ml
  semgrep-core/src/parsing/Test_parsing.ml
  semgrep-core/src/parsing/pfff/Python_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_python_tree_sitter.ml
Due: lint-ocaml

remove dependency on pyyaml
  .pre-commit-config.yaml
  cli/Pipfile
  cli/Pipfile.lock
  cli/setup.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/config_resolver.py
  cli/tests/e2e/test_ci.py
Due: none

chore: Bump version to 0.111.0
  CHANGELOG.md
  changelog.d/gh-2232.added
  changelog.d/gh-2956.infra
  changelog.d/gh-5594.fixed
  changelog.d/gh-5880.fixed
  changelog.d/pa-1700.fixed
  changelog.d/pa-1763.fixed
  changelog.d/pa-1772.fixed
  changelog.d/pa-1776.fixed
  changelog.d/pa-1778.fixed
  changelog.d/pm-194.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  semgrep-core/src/cli/version.ml
  setup.py
Due: lint-ocaml

Update changelog
  changelog.d/gh-5944.added
Due: none

Update ocaml-tree-sitter-core with additional options to the configure script (#5944)
  changelog.d/gh-5944.added
Due: none

Try avoiding dune error about broken symlink 'libtree-sitter.0.dylib'
  scripts/osx-release.sh
Due: shellcheck

tainting: Restore ArgToSink findings after taint labels
  changelog.d/pa-1750.fixed
  semgrep-core/src/tainting/Dataflow_tainting.ml
  semgrep-core/tests/OTHER/rules/taint_labels1.py
Due: lint-ocaml

update app finding test
  cli/tests/unit/snapshots/test_rule_match/test_rule_match_to_app_finding/results.json
  cli/tests/unit/test_rule_match.py
Due: none

tainting: Restore ArgToSink findings after taint labels (#5946)
  changelog.d/pa-1750.fixed
  semgrep-core/src/tainting/Dataflow_tainting.ml
  semgrep-core/tests/OTHER/rules/taint_labels1.py
Due: lint-ocaml

to date
  semgrep-core/src/parsing/tree_sitter/Parse_python_tree_sitter.ml
Due: lint-ocaml

Update cli/src/semgrep/config_resolver.py
  cli/src/semgrep/config_resolver.py
Due: none

use strings instead of paths, for serialization reasons
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/lsp/config.py
  cli/src/semgrep/semgrep_main.py
  cli/src/semgrep/target_manager.py
Due: none

lowercase names for ecosystems
  cli/src/semgrep/rule.py
Due: none

capitalization bugs
  cli/src/semgrep/dependency_aware_rule.py
  cli/src/semgrep/rule.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareansi-html.yaml-dependency_awareansi/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareawscli_vuln.yaml-dependency_awareawscli/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awaregeneric-sca.yaml-dependency_awaregeneric/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarego-sca.yaml-dependency_awarego/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaregradle/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-sca.yaml-dependency_awarejs/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelog4shell.yaml-dependency_awarelog4j/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awaremonorepo.yaml-dependency_awaremonorepo/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarepython-poetry-sca.yaml-dependency_awarepoetry/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareruby-sca.yaml-dependency_awareruby/results.txt
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarerust-sca.yaml-dependency_awarerust/results.txt
Due: none

revert macos runner version to 11
  .github/workflows/homebrew-core-head.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

update unit test snapshot
  cli/tests/unit/snapshots/test_rule_match/test_rule_match_to_app_finding/results.json
Due: none

add changelog entry
  changelog.d/devop-609.infra
Due: none

changelog
  changelog.d/sca-197.added
Due: none

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
