Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

pro: tainting: Track taint through lambda calls (semgrep/semgrep-proprietary#5898)
  changelog.d/LANG-268.added
Due: none

fix: bump jwt (semgrep/semgrep-proprietary#5951)
  cli/pyproject.toml
  cli/uv.lock
Due: none

fix(dependency-resolution): log errors for dependencies that were skipped (semgrep/semgrep-proprietary#5940)
  cli/src/semdep/parsers/requirements.py
  cli/src/semgrep/scan_report.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_with_uppercase_package_name/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement_pip/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_pip/results.txt
  cli/tests/default/e2e-other/test_ssc.py
Due: none

fix: cleanup some old OSS tests (semgrep/semgrep-proprietary#5955)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  Dockerfile
  Makefile
Due: none

chore(ucmd): add UCmd method to run command with timeout, use for lockfileless (semgrep/semgrep-proprietary#5880)
  libs/commons/UCmd.ml
  libs/commons/UCmd.mli
  libs/commons/tests/Unit_UCmd.ml
  libs/commons/tests/dune
  libs/parallelism/Parallelism_config.ml
  src/rpc/RPC.ml
  src/rpc/RPC_return.mli
Due: lint-ocaml

chore: remove dead networking code from osemgrep install-semgrep-pro (semgrep/semgrep-proprietary#5741)
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
Due: lint-ocaml

chore: fix snapshot tests for requirements.txt (semgrep/semgrep-proprietary#5958)
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_with_uppercase_package_name/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirement_pip/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_folder_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_dep_dupes_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_multiple_lockfiles_similar_deps/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_dep_dupes/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_folder_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_nested_no_src/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__requirements_lockfiles/rulesdependency_awarepython-requirements-sca.yaml-dependency_awarerequirements_pip/results.txt
  cli/tests/default/e2e-other/test_ssc.py
Due: none

fix: raise error when target discovery RPC fails instead of returning empty results (semgrep/semgrep-proprietary#5890)
  changelog.d/ENGINE-2626.fixed
  cli/src/semgrep/rpc_call.py
  cli/tests/default/unit/test_rpc_call.py
Due: none

chore(backend): add metrics and spans to track when we switch to v2 (semgrep/semgrep-proprietary#5965)
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/dune
Due: lint-ocaml

Revert #5890 (semgrep/semgrep-proprietary#5978)
  changelog.d/ENGINE-2626.fixed
  cli/src/semgrep/rpc_call.py
  cli/tests/default/unit/test_rpc_call.py
Due: none

feat(sca): add --x-dump-subprojects-and-exit option to dump subprojects to a path and exit (semgrep/semgrep-proprietary#5622)
  .dockerignore
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_resolve_subprojects.py
  src/osemgrep/cli_ci/Ci_CLI.ml
Due: gitignore-to-dockerignore, lint-ocaml

chore(sca-lfs): add --x-computed-dependencies-dir to read precomputed dependencies from filesystem (semgrep/semgrep-proprietary#5645)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/core_targets_plan.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/sca/Dependency_source.ml
  src/sca/Sbom.ml
  src/sca/Sbom.mli
Due: lint-ocaml

chore(dist): add option to dump and restore scan config for distributed scans (semgrep/semgrep-proprietary#5924)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/tests/default/unit/test_saved_scan_config.py
  src/osemgrep/cli_ci/Ci_CLI.ml
Due: lint-ocaml

Update uv and add cooldowns [SEC-1765] (semgrep/semgrep-proprietary#5983)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  Dockerfile
  cli/pyproject.toml
  cli/uv.lock
  scripts/release/pyproject.toml
  scripts/release/uv.lock
Due: none

test:
  .github/workflows/tests.yml
Due: none

fix(cli): remove misleading subcommand info from --help text
  src/osemgrep/cli/Help.ml
Due: lint-ocaml

chore(backend): POST retries for v2 (semgrep/semgrep-proprietary#5985)
  cli/src/semgrep/app/scans.py
  cli/tests/default/unit/test_scans_v2.py
Due: none

chore: cleanup compute taint configs for parallel (semgrep/semgrep-proprietary#5966)
  src/tainting/Taint_coverage_stats.ml
  src/tainting/Taint_coverage_stats.mli
Due: lint-ocaml

pro: tainting: Add globals' inferred taints to input envs (semgrep/semgrep-proprietary#5959)
  src/analyzing/Constant_propagation.ml
Due: lint-ocaml

Print unexpected diff in uv.lock during release (semgrep/semgrep-proprietary#5993)
  scripts/release/bump
Due: none

tainting: Defensively require real sources in findings (semgrep/semgrep-proprietary#5986)
  src/engine/OSS_match_tainting_mode.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
Due: lint-ocaml

Update bump version script to account for exclude-newer line (semgrep/semgrep-proprietary#5994)
  scripts/release/bump
Due: none

fix(lsp): distinguish unauthorized vs other errors in login verification (semgrep/semgrep-proprietary#5938)
  changelog.d/ide-login.fixed
  src/lsp_legacy/custom_requests/Legacy_login_status.ml
  src/lsp_legacy/requests/Legacy_request_handler.ml
  src/lsp_legacy/server/Legacy_lsp_.ml
  src/lsp_legacy/server/Legacy_lsp_.mli
  src/lsp_legacy/server/Legacy_session.ml
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
  src/osemgrep/networking/Semgrep_login.ml
  src/osemgrep/networking/Semgrep_login.mli
Due: lint-ocaml

chore: add test for concurrent map order (semgrep/semgrep-proprietary#5977)
  libs/parallelism/tests/Unit_Concurrent.ml
Due: lint-ocaml

feat: parallelize computing taint configs (semgrep/semgrep-proprietary#5967)
  changelog.d/ENGINE-2649.added
Due: none

feat: add I/O stats tracking to Disk_cache (semgrep/semgrep-proprietary#5910)
  src/core/Disk_cache.ml
  src/core/Disk_cache.mli
  src/core/tests/Unit_disk_cache.ml
Due: lint-ocaml

fix(ci): don't install deps via `pip install` in CI [SEC-1766] (semgrep/semgrep-proprietary#5991)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
Due: none

feat(taint): lower param defaults to IL (semgrep/semgrep-proprietary#5995)
  src/analyzing/AST_to_IL.ml
  src/analyzing/Fold_IL_params.ml
  src/analyzing/Fold_IL_params.mli
  src/il/IL.ml
  src/printing/Pretty_IL.ml
  src/tainting/OSS_taint_input_env.ml
  tests/rules/taint_param_default2.py
  tests/rules/taint_param_default2.yaml
  tests/rules/taint_param_default3.js
  tests/rules/taint_param_default3.yaml
Due: lint-ocaml

chore!(pypi): tag musllinux wheel accurately (semgrep/semgrep-proprietary#5805)
  changelog.d/musllinux-wheel-tag.changed
  cli/setup.py
Due: none

chore!(pypi): tag manylinux wheel accurately (semgrep/semgrep-proprietary#5806)
  changelog.d/manylinux-wheel-tag.changed
  cli/setup.py
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
