Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

changelog
  CHANGELOG.md
Due: none

Catch errors from semgrep run as validation errors
  semgrep/semgrep/commands/scan.py
Due: none

Update to latest pfff and semgrep-rules
  semgrep-core/src/core/il/IL.ml
Due: lint-ocaml

Develop broken
  CHANGELOG.md
Due: none

fix IL.ml for codemap
  semgrep-core/src/core/il/IL.ml
Due: lint-ocaml

pin ocaml-layer returntocorp/ocaml docker images to working version
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Develop broken (#5476)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CHANGELOG.md
  semgrep-core/src/core/il/IL.ml
Due: lint-ocaml

Restore use of Unit_metachecking.ml
  semgrep-core/tests/OTHER/errors/only_negative_terms.yaml
  semgrep-core/tests/Test.ml
Due: none

Restore use of Unit_metachecking.ml (#5477)
  semgrep-core/tests/OTHER/errors/only_negative_terms.yaml
  semgrep-core/tests/Test.ml
Due: none

Move around stuff in semgrep-interfaces/
  interfaces/AST_generic_v1.atd
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/core/Semgrep_output_v0.atd
  semgrep-core/src/core/dune
  semgrep-core/src/core/semgrep_output_v0.atd
  semgrep-core/src/experiments/api/AST_generic_to_v0.ml
  semgrep-core/src/experiments/api/AST_generic_to_v0.mli
  semgrep-core/src/experiments/api/AST_generic_to_v1.mli
  semgrep-core/src/experiments/api/AST_generic_v1.atd
  semgrep-core/src/experiments/api/ast_generic_v0.atd
  semgrep-core/src/experiments/api/dune
Due: lint-ocaml

Move around stuff in semgrep-interfaces/ (#5478)
  interfaces/AST_generic_v1.atd
  semgrep-core/src/cli/Main.ml
  semgrep-core/src/core/Semgrep_output_v0.atd
  semgrep-core/src/core/dune
  semgrep-core/src/core/semgrep_output_v0.atd
  semgrep-core/src/experiments/api/AST_generic_to_v0.ml
  semgrep-core/src/experiments/api/AST_generic_to_v0.mli
  semgrep-core/src/experiments/api/AST_generic_to_v1.mli
  semgrep-core/src/experiments/api/AST_generic_v1.atd
  semgrep-core/src/experiments/api/ast_generic_v0.atd
  semgrep-core/src/experiments/api/dune
Due: lint-ocaml

Bump ocaml from 4.12 to 4.14
  semgrep-core/semgrep.opam
Due: none

Update MacOS release scripts
  scripts/osx-m1-release.sh
  scripts/osx-release.sh
Due: shellcheck

Update aarch64/arm64/m1 build setup script
  scripts/setup-m1-builder.sh
Due: shellcheck

Update pytest snapshots
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/complete.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/findings.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/complete.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/findings.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/meta.json
Due: none

fix bitbucket git urls
  semgrep/semgrep/meta.py
  semgrep/tests/e2e/test_ci.py
Due: none

Update pytest snapshots
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/ignores.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/meta.json
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/output.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/output.txt
Due: none

Move docker image pins over
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
Due: none

Format with updated ocamlformat
  semgrep-core/src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

Avoid let* to avoid parsing error in semgrep
  semgrep-core/src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#5481)
  CHANGELOG.md
Due: none

Sort keys before hash id calculation traversal
  semgrep/semgrep/rule.py
  semgrep/semgrep/rule_match.py
Due: none

Rename pattern based id to match based id
  semgrep/semgrep/formatter/json.py
  semgrep/semgrep/rule_match.py
  semgrep/tests/e2e/rules/match_based_id/duplicates.yaml
  semgrep/tests/e2e/rules/match_based_id/formatting.yaml
  semgrep/tests/e2e/rules/match_based_id/join.yaml
  semgrep/tests/e2e/rules/match_based_id/operator.yaml
  semgrep/tests/e2e/snapshots/test_match_based_id/test_duplicate_matches_indexing/results.json
  semgrep/tests/e2e/targets/match_based_id/after/ellipse.c
  semgrep/tests/e2e/targets/match_based_id/after/formatting.c
  semgrep/tests/e2e/targets/match_based_id/after/join.py
  semgrep/tests/e2e/targets/match_based_id/after/meta-change.c
  semgrep/tests/e2e/targets/match_based_id/after/operator.c
  semgrep/tests/e2e/targets/match_based_id/after/taint.py
  semgrep/tests/e2e/targets/match_based_id/before/ellipse.c
  semgrep/tests/e2e/targets/match_based_id/before/formatting.c
  semgrep/tests/e2e/targets/match_based_id/before/join.py
  semgrep/tests/e2e/targets/match_based_id/before/meta-change.c
  semgrep/tests/e2e/targets/match_based_id/before/operator.c
  semgrep/tests/e2e/targets/match_based_id/before/taint.py
  semgrep/tests/e2e/targets/match_based_id/duplicates/duplicate1.py
  semgrep/tests/e2e/targets/match_based_id/duplicates/duplicate2.py
  semgrep/tests/e2e/test_match_based_id.py
Due: none

Made explicity sorting method and cleaned up print statements
  semgrep/semgrep/rule.py
  semgrep/tests/e2e/test_match_based_id.py
Due: none

Fix SemgrepResult usage in tests
  semgrep/tests/e2e/test_autofix.py
  semgrep/tests/e2e/test_check.py
  semgrep/tests/e2e/test_ignores.py
  semgrep/tests/e2e/test_join_rules.py
  semgrep/tests/e2e/test_messsage_interpolation.py
  semgrep/tests/e2e/test_metavariable_matching.py
  semgrep/tests/e2e/test_metavariable_regex_const_prop.py
  semgrep/tests/e2e/test_nosemgrep.py
  semgrep/tests/e2e/test_output.py
  semgrep/tests/e2e/test_paths.py
  semgrep/tests/e2e/test_severity.py
  semgrep/tests/e2e/test_spacegrep.py
Due: none

refactor: Rewrite test_dependency_aware_rules
  semgrep/semgrep/app/version.py
  semgrep/semgrep/commands/scan.py
  semgrep/tests/conftest.py
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareansi-html.yaml-dependency_awareansi.js/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareawscli_vuln.yaml-dependency_awareawscli_vuln.py/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awaregeneric-sca.yaml-dependency_awaregeneric.txt/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarego-sca.yaml-dependency_awaresca.go/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaresca-gradle.java/results.json
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaresca-gradle.java/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarejs-sca.yaml-dependency_awaresca.js/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelodash-4.17.19.yaml-dependency_awareuseslodash.js/results.json
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelodash-4.17.19.yaml-dependency_awareuseslodash.js/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarelog4shell.yaml-dependency_awarelog4shell.java/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awaremonorepo.yaml-dependency_awaremonorepo/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareno-pattern.yaml-dependency_aware/results.json
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareno-pattern.yaml-dependency_aware/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarepython-poetry-sca.yaml-dependency_awaresca-poetry.py/results.json
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarepython-poetry-sca.yaml-dependency_awaresca-poetry.py/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareruby-sca.yaml-dependency_awaresca.rb/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awarerust-sca.yaml-dependency_awaresca.rs/results.txt
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_no_lockfiles/results.json
  semgrep/tests/e2e/snapshots/test_dependency_aware_rules/test_no_lockfiles/results.txt
  semgrep/tests/e2e/test_dependency_aware_rules.py
Due: none

refactor: Rewrite test_shouldafound
  semgrep/semgrep/commands/scan.py
  semgrep/tests/conftest.py
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-11512123123/output.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-11512123123/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-X__X/output.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/None-X__X/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-11512123123/output.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-11512123123/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-X__X/output.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_findings_output/foobar-X__X/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_args/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_args/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args0/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args0-email_args1/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args0/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_args1-email_args1/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_flag0-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_flag0-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_flag1-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/False-message_flag1-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/None-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/None-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args0/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args0-email_args1/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args0/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_args1-email_args1/results.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_flag0-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_flag0-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_flag1-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/True-message_flag1-email_flag1/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/fooemail.com-email_flag0/shouldafound.txt
  semgrep/tests/e2e/snapshots/test_shouldafound/test_shouldafound_no_confirmation/fooemail.com-email_flag1/shouldafound.txt
  semgrep/tests/e2e/test_check.py
  semgrep/tests/e2e/test_shouldafound.py
Due: none

Update snapshots
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-pr/results.txt
  semgrep/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-pr/results.txt
  semgrep/tests/e2e/snapshots/test_output/test_output_format/--sarif/results.out
  semgrep/tests/e2e/test_ci.py
Due: none

Add missing pytest mark
  semgrep/tests/unit/test_rule.py
Due: none

Update hashing method to do entire pattern tree, not just validated
  semgrep/semgrep/rule.py
Due: none

Update changelog
  CHANGELOG.md
Due: none

Add docstring
  semgrep/semgrep/app/version.py
Due: none

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
