Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

Try adding another library
  Makefile
Due: none

Update semgrep.opam
  semgrep.opam
Due: none

Change library
  Makefile
Due: none

Separate out the index file
  Makefile
Due: none

more
  Makefile
  src/main/flags.sh
Due: shellcheck

Fix indent
  Makefile
Due: none

Try adding it as libcurl
  Makefile
Due: none

Try adding the apk add -i thing ocaml suggests
  Makefile
Due: none

Assume depexts
  Makefile
Due: none

I'm just blindly experimenting at this point
  Makefile
Due: none

Remove unnecessary library. Am now convinced I have the ones I need
  Makefile
Due: none

Fix makefile syntax
  Makefile
Due: none

bump ocaml image
  .github/workflows/build-test-core-x86-ocaml5.yml
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-javascript.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.yml
  Dockerfile
Due: none

update targeting pipeline
  interfaces/Input_to_core.atd
  src/core/Lockfile_target.ml
  src/core/Xtarget.ml
  src/core_scan/Core_scan.ml
  src/engine/Match_dependency.ml
  src/engine/Match_tainting_mode.ml
  src/engine/Metavariable_pattern.ml
  src/engine/Test_engine.ml
  src/engine/Unit_engine.ml
  src/osemgrep/core_runner/Core_runner.ml
Due: lint-ocaml

brotli
  src/main/flags.sh
Due: shellcheck

move parsing around
  src/core/Supply_chain.ml
  src/core_scan/Core_scan.ml
  src/parsing/Parse_package_lock.ml
Due: lint-ocaml

remove parser
  src/parsing/Parse_package_lock.ml
Due: lint-ocaml

let sanity prevail by building our own libcurl
  Dockerfile
  Makefile
  scripts/build-static-libcurl.sh
  src/main/flags.sh
Due: shellcheck

move to makefile
  Dockerfile
  Makefile
Due: none

tweak
  scripts/build-static-libcurl.sh
Due: shellcheck

forgot brotli
  scripts/build-static-libcurl.sh
Due: shellcheck

forgot zlib-static
  Makefile
Due: none

windows curl
  .github/workflows/build-test-windows-x86.jsonnet
Due: none

manifests
  interfaces/Input_to_core.atd
  src/core/Dependency.ml
  src/core/Lockfile_kind.ml
  src/core/Lockfile_target.ml
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/core/Rule.ml
  src/core/Supply_chain.ml
  src/core_scan/Core_scan.ml
  src/engine/Match_dependency.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

allow empty statements to have no range
  src/engine/Metavariable_pattern.ml
Due: lint-ocaml

askldjasldkjasldkjas
  .github/workflows/build-test-windows-x86.yml
Due: none

explicitly indicate a function prototype in C
  languages/c/generic/c_to_generic.ml
Due: lint-ocaml

Add Git_wrapper.object_size
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
Due: lint-ocaml

Add Git_wrapper.commit_timestamp
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/dune
Due: lint-ocaml

Add more Git_wrapper.sha derives (eq, ord, sexp)
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/dune
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
Due: none

Fix test that was failing to a chdir occurring after calling getcwd.
  libs/git_wrapper/Git_project.ml
  libs/git_wrapper/Git_project.mli
  libs/paths/Rfpath.ml
  libs/paths/Rfpath.mli
  tests/snapshots/semgrep-core/343da82ffbcb/stdout
  tests/snapshots/semgrep-core/bbb375beed7d/stdout
  tests/snapshots/semgrep-core/f4ba77a8739a/stdout
Due: lint-ocaml

Update test snapshots
  tests/snapshots/semgrep-core/17c29a0136d9/stdout
  tests/snapshots/semgrep-core/343da82ffbcb/stdout
  tests/snapshots/semgrep-core/bbb375beed7d/stdout
  tests/snapshots/semgrep-core/f4ba77a8739a/stdout
Due: none

Add Rfpath.is_valid
  libs/paths/Rfpath.ml
  libs/paths/Rfpath.mli
Due: lint-ocaml

Mark 5 tests as passing with osemgrep
  cli/tests/e2e/test_autofix.py
Due: none

explicitly indicate a function prototype in C (#9691)
  languages/c/generic/c_to_generic.ml
Due: lint-ocaml

Fix post-merge issues
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/tests/Test_target_selection.ml
  tests/snapshots/semgrep-core/17c29a0136d9/stdout
  tests/snapshots/semgrep-core/343da82ffbcb/stdout
  tests/snapshots/semgrep-core/36408fbb6ab3/stdout
Due: lint-ocaml

move metadata to core, do cli unique key in core
  src/core/Mini_rule.ml
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/core_cli/Core_command.ml
  src/engine/Match_env.ml
  src/engine/Match_search_mode.ml
  src/engine/Unit_engine.ml
  src/experiments/synthesizing/Unit_synthesizer_targets.ml
  src/matching/Match_patterns.ml
  src/osemgrep/reporting/Cli_json_output.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

lockfile-only findings
  interfaces/Input_to_core.atd
  src/core/Lockfile_kind.ml
  src/core/Lockfile_target.ml
  src/core/Manifest_kind.ml
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
  src/core_cli/Core_command.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/engine/Match_dependency.ml
  src/engine/Match_search_mode.ml
  src/engine/Xpattern_matcher.ml
  src/matching/Match_patterns.ml
  src/osemgrep/core_runner/Core_runner.ml
Due: lint-ocaml

add comment
  src/core_scan/Core_scan.ml
Due: lint-ocaml
