Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Fix a path
  src/osemgrep/language_server/Test_LS_e2e.ml
Due: lint-ocaml

Another yaml formatting workaround
  scripts/jsonnet_to_yaml.sh
Due: shellcheck

Replace 'tests/e2e' -> 'tests/default/e2e'
  .codemapignore
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  .semgrepignore
  cli/Makefile
  cli/src/semgrep/join_rule.py
  cli/src/semgrep/output.py
  cli/src/semgrep/rule_lang.py
  cli/tests/e2e-pysemgrep/test_utility_commands.py
  cli/tests/e2e/snapshots/test_test/test_cli_test_match_rules_same_message/result.txt
  cli/tests/unit/test_join_rule.py
  interfaces/Input_to_core.atd
  src/osemgrep/cli/Help.ml
  src/osemgrep/cli_login/Test_login_subcommand.ml
  src/osemgrep/cli_publish/Test_publish_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
Due: lint-ocaml

Fix paths to test targets and test rules
  cli/tests/conftest.py
Due: none

Update path exclusions in pre-commit config
  .pre-commit-config.yaml
  cli/Makefile
Due: none

Update pyproject.toml to make pytest default to tests/default
  cli/pyproject.toml
Due: none

Fix Python path issues
  cli/tests/default/e2e-pro/test_ci.py
  cli/tests/default/e2e/test_ignores.py
  cli/tests/default/e2e/test_rule_parser.py
  cli/tests/qa/test_public_repos.py
Due: none

Fix more paths to rules and targets
  cli/tests/default/e2e/test_metrics.py
  cli/tests/default/e2e/test_parse_rate_metrics.py
Due: none

Update pytest snapshots
  cli/tests/default/e2e/snapshots/test_ignores/test_semgrepignore/results.json
Due: none

fix js
  js/language_server/Main.ml
  js/tests/Test_jsoo.ml
Due: lint-ocaml

cleanup TCB/forbid_xxx.jsonnet, factorize in common.libsonnet
  TCB/common.libsonnet
  TCB/forbid_chdir.jsonnet
  TCB/forbid_everything.jsonnet
  TCB/forbid_exec.jsonnet
  TCB/forbid_misc.jsonnet
  TCB/forbid_tmp.jsonnet
Due: none

Use capabilities for chdir access
  TCB/Cap.ml
  TCB/Cap.mli
  TCB/CapSys.ml
  TCB/CapSys.mli
  TCB/forbid_chdir.jsonnet
  libs/commons/UFile.ml
  libs/commons/UFile.mli
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/lib_parsing/Parsing_stat.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Ci_subcommand.mli
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Git_metadata.mli
  src/osemgrep/cli_ci/Github_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.mli
  src/osemgrep/cli_install/Install_subcommand.ml
  src/osemgrep/cli_install/Install_subcommand.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Scan_subcommand.mli
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_show/Whoami.ml
  src/osemgrep/cli_show/Whoami.mli
  src/osemgrep/networking/Github_API.ml
  src/osemgrep/networking/Github_API.mli
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

cleanup TCB/forbid_xxx.jsonnet, factorize in common.libsonnet (#9882)
  TCB/common.libsonnet
  TCB/forbid_chdir.jsonnet
  TCB/forbid_everything.jsonnet
  TCB/forbid_exec.jsonnet
  TCB/forbid_misc.jsonnet
  TCB/forbid_tmp.jsonnet
Due: none

fix make test
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

Use capabilities for chdir access (#9884)
  TCB/Cap.ml
  TCB/Cap.mli
  TCB/CapSys.ml
  TCB/CapSys.mli
  TCB/forbid_chdir.jsonnet
  libs/commons/UFile.ml
  libs/commons/UFile.mli
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/lib_parsing/Parsing_stat.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Ci_subcommand.mli
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/cli_ci/Git_metadata.mli
  src/osemgrep/cli_ci/Github_metadata.ml
  src/osemgrep/cli_ci/Github_metadata.mli
  src/osemgrep/cli_install/Install_subcommand.ml
  src/osemgrep/cli_install/Install_subcommand.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Scan_subcommand.mli
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_show/Whoami.ml
  src/osemgrep/cli_show/Whoami.mli
  src/osemgrep/networking/Github_API.ml
  src/osemgrep/networking/Github_API.mli
  src/osemgrep/tests/Test_osemgrep.ml
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

Update to jsoo 5.5.2 (#9876)
  dune-project
  semgrep.opam
Due: none

Rpath.ml: small cleanup
  libs/paths/Rpath.ml
  libs/paths/Rpath.mli
Due: lint-ocaml

EXPERIMENT: Use C++ parser for C
  src/parsing_languages/Parse_pattern2.ml
  src/parsing_languages/Parse_target2.ml
Due: lint-ocaml

Rpath.ml: small cleanup (#9885)
  libs/paths/Rpath.ml
  libs/paths/Rpath.mli
Due: lint-ocaml

cli: Restore printing of intermediate files in inter-file taint traces
  cli/src/semgrep/formatter/text.py
Due: none

more snapshots!
  cli/tests/e2e-pro/snapshots/test_ci/test_dryrun/None/results.txt
  cli/tests/e2e-pro/snapshots/test_ci/test_lockfile_parse_failure_reporting/findings_and_ignores.json
Due: none

cli: Restore printing of intermediate files in inter-file taint traces (#9873)
  cli/src/semgrep/formatter/text.py
Due: none

targeting: Skip minified files automatically
  src/configuring/Limits_semgrep.ml
  src/core_scan/Core_scan.ml
  src/targeting/Skip_target.ml
  src/targeting/Skip_target.mli
Due: lint-ocaml

refactor: Pull out trim_cr util
  libs/commons/Common.ml
  libs/commons/String_.ml
  libs/commons/String_.mli
  libs/commons/tests/Unit_String_.ml
Due: lint-ocaml

Fix more paths to rules and targets
  cli/tests/default/e2e-pro/test_dependency_aware_rules.py
  cli/tests/default/e2e-pro/test_publish.py
  cli/tests/default/e2e/test_output.py
Due: none

Fix more paths
  cli/tests/default/e2e/test_ignores.py
  cli/tests/default/e2e/test_rule_parser.py
Due: none

Fix 'make qa'
  cli/Makefile
Due: none

refactor: Remove List_ -> Common dependency
  libs/commons/List_.ml
Due: lint-ocaml

Remove logging from checked output
  src/osemgrep/core/Pysemgrep.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

Update snapshot
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

Remove misplaced test snapshots
  cli/tests/e2e/snapshots/test_check/test_noextension_with_explicit_lang/results.json
  cli/tests/e2e/snapshots/test_misc/test_noextension_with_explicit_lang/results.json
Due: none

Update pytest snapshots
  cli/tests/default/e2e/snapshots/test_max_target_bytes/test_max_target_bytes_osemfail/1B/error.txt
  cli/tests/default/e2e/snapshots/test_misc/test_noextension_with_explicit_lang/results.json
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
