Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

use /usr/bin/env bash instead of /bin/bash (#7617)
  js/languages/shared/generate-semgrep-js.sh
Due: shellcheck

only run semgrep pro tests if repo is owned by returntocorp
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
Due: none

cleanup: new Metavariable.mli, use Fpath (#7618)
  src/core/Metavariable.ml
  src/core/Metavariable.mli
  src/core_cli/Core_CLI.ml
  src/optimizing/Metavariable_capture.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/parsing/Parse_equivalences.ml
  src/parsing/Parse_equivalences.mli
  src/runner/Run_semgrep.ml
  src/runner/Runner_config.ml
Due: lint-ocaml

Remove use of Skip_code in src/targeting/Skip_target.ml
  src/targeting/Find_target.ml
  src/targeting/Skip_target.ml
  src/targeting/Skip_target.mli
Due: lint-ocaml

osemgrep: matches report - highlight ellipsis correctly
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

Remove use of Skip_code in src/targeting/Skip_target.ml (#7620)
  src/targeting/Find_target.ml
  src/targeting/Skip_target.ml
  src/targeting/Skip_target.mli
Due: lint-ocaml

osemgrep: color complete log lines, avoid the logging level
  libs/commons/Logs_helpers.ml
Due: lint-ocaml

add changelog
  changelog.d/pa-2669.fixed
Due: none

tests: add tests for git url parsing
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_meta.py
Due: none

fix: git URL parsing for subgroups
  cli/src/semgrep/external/git_url_parser.py
Due: none

silly: committed a print
  cli/src/semgrep/external/git_url_parser.py
Due: none

review: add comment explaining persistent source taint
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

CLI: Better verbose info about partially analyzed files (#7608)
  changelog.d/pa-2683.changed
  cli/src/semgrep/output.py
  cli/src/semgrep/target_manager.py
  cli/tests/e2e/snapshots/test_check/test_max_memory/error.txt
  cli/tests/e2e/snapshots/test_check/test_spacegrep_timeout/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error.txt
  cli/tests/e2e/snapshots/test_check/test_timeout_threshold/error_2.txt
  cli/tests/e2e/snapshots/test_cli_test/test_parse_errors/errors.txt
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
Due: none

refactor(taint): allow multiple sink traces (#7581)
  changelog.d/pa-2708.added
  src/core/Pattern_match.ml
  src/engine/Match_extract_mode.ml
  src/engine/Match_tainting_mode.ml
  src/reporting/JSON_report.ml
  src/runner/Run_semgrep.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint.ml
  src/tainting/Taint.mli
Due: lint-ocaml

fix(cli): git URL parsing for subgroups (#7611)
  changelog.d/pa-2669.fixed
  cli/src/semgrep/external/git_url_parser.py
  cli/tests/e2e/test_ci.py
  cli/tests/e2e/test_meta.py
Due: none

fix: let lambdas in swift translate to IL
  changelog.d/pa-2718.fixed
  languages/swift/generic/Parse_swift_tree_sitter.ml
  tests/rules/swift_lambda_taint.swift
  tests/rules/swift_lambda_taint.yaml
Due: lint-ocaml

feat: added flag to not do name resolution/const prop
  src/configuring/Flag_semgrep.ml
  src/core_cli/Core_CLI.ml
  src/parsing/Parse_target.ml
Due: lint-ocaml

Clean up, comments, and move login nudge to VSCode
  cli/src/semgrep/lsp/config.py
  cli/src/semgrep/lsp/server.py
  cli/tests/e2e/test_ls.py
  src/core_cli/dune
  src/language_server/CodeActions.ml
  src/language_server/CodeActions.mli
  src/language_server/Convert_util.ml
  src/language_server/Convert_util.mli
  src/language_server/Diagnostics.ml
  src/language_server/Diagnostics.mli
  src/language_server/Git_helper.ml
  src/language_server/Git_helper.mli
  src/language_server/LS.ml
  src/language_server/LS.mli
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/Session.mli
  src/language_server/Unit_LS.ml
  src/language_server/Unit_LS.mli
  src/language_server/dune
  src/ls/CodeActions.mli
  src/ls/Git_helper.mli
  src/ls/LS.mli
  src/ls/Session.mli
  tests/dune
Due: lint-ocaml

init
  src/engine/Match_tainting_mode.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Taint.ml
  src/tainting/Taint.mli
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_output/test_sarif_output_with_dataflow_traces/results.sarif
Due: none

changed expr to precondition, added comparison of preconditions
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Taint.ml
  src/tainting/Taint.mli
  src/tainting/dune
Due: lint-ocaml

actually install deps first
  js/languages/shared/Makefile.include
Due: none

fix deps
  js/languages/shared/Makefile.include
Due: none

fix(kotlin): change translation of import
  languages/kotlin/generic/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

Fix nested level
  cli/src/semgrep/formatter/sarif.py
Due: none

Clean up, comments, and move login nudge to VSCode (#7625)
  cli/src/semgrep/lsp/config.py
  cli/src/semgrep/lsp/server.py
  cli/tests/e2e/test_ls.py
  src/core_cli/dune
  src/language_server/CodeActions.ml
  src/language_server/CodeActions.mli
  src/language_server/Convert_util.ml
  src/language_server/Convert_util.mli
  src/language_server/Diagnostics.ml
  src/language_server/Diagnostics.mli
  src/language_server/Git_helper.ml
  src/language_server/Git_helper.mli
  src/language_server/LS.ml
  src/language_server/LS.mli
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/Session.mli
  src/language_server/Unit_LS.ml
  src/language_server/Unit_LS.mli
  src/language_server/dune
  src/ls/CodeActions.mli
  src/ls/Git_helper.mli
  src/ls/LS.mli
  src/ls/Session.mli
  tests/dune
Due: lint-ocaml

osemgrep: matches report - highlight ellipsis correctly (#7621)
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

osemgrep: color complete log lines, avoid the logging level (#7622)
  libs/commons/Logs_helpers.ml
Due: lint-ocaml

fix(kotlin): change translation of import (#7628)
  languages/kotlin/generic/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

only run semgrep pro tests if repo is owned by returntocorp (#7619)
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
Due: none

fix typos remarked by @aryx
  libs/commons/Logs_helpers.ml
Due: lint-ocaml

fix typos remarked by @aryx (#7629)
  libs/commons/Logs_helpers.ml
Due: lint-ocaml

osemgrep, match report: fix highlighting (otherwise out of bounds)
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

new libs/ppath and libs/git_wrapper to factorize code
  git_wrapper.opam
  libs/commons/Common.ml
  libs/commons/Common.mli
  libs/commons/String_utils.mli
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/dune
  libs/gitignore/Gitignore_syntax.ml
  libs/gitignore/Gitignore_syntax.mli
  libs/gitignore/dune
  libs/ppath/Git_project.ml
  libs/ppath/Git_project.mli
  libs/ppath/Ppath.ml
  libs/ppath/Ppath.mli
  libs/ppath/Project.ml
  libs/ppath/dune
  ppath.opam
  src/language_server/CodeActions.ml
  src/language_server/Convert_utils.ml
  src/language_server/Convert_utils.mli
  src/language_server/Diagnostics.ml
  src/language_server/LS.ml
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/dune
  src/osemgrep/targeting/Gitignore_files.ml
  src/osemgrep/targeting/Gitignore_files.mli
  src/osemgrep/targeting/Gitignore_filter.ml
  src/osemgrep/targeting/Gitignore_filter.mli
  src/osemgrep/targeting/Include_filter.ml
  src/osemgrep/targeting/Include_filter.mli
  src/osemgrep/targeting/Semgrepignore.ml
  src/osemgrep/targeting/Semgrepignore.mli
  src/osemgrep/targeting/Unit_semgrepignore.ml
  src/targeting/Find_target.ml
  src/targeting/Git.ml
  src/targeting/Git.mli
  src/targeting/dune
Due: lint-ocaml

add some deprecated comments
  libs/commons/Common.ml
  libs/commons/Common.mli
Due: lint-ocaml

opam install
  .github/workflows/build-test-javascript.yaml
Due: none

new libs/ppath and libs/git_wrapper to factorize code (#7632)
  git_wrapper.opam
  libs/commons/Common.ml
  libs/commons/Common.mli
  libs/commons/String_utils.mli
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  libs/git_wrapper/dune
  libs/gitignore/Gitignore_syntax.ml
  libs/gitignore/Gitignore_syntax.mli
  libs/gitignore/dune
  libs/ppath/Git_project.ml
  libs/ppath/Git_project.mli
  libs/ppath/Ppath.ml
  libs/ppath/Ppath.mli
  libs/ppath/Project.ml
  libs/ppath/dune
  ppath.opam
  src/language_server/CodeActions.ml
  src/language_server/Convert_utils.ml
  src/language_server/Convert_utils.mli
  src/language_server/Diagnostics.ml
  src/language_server/LS.ml
  src/language_server/Processed_run.ml
  src/language_server/Processed_run.mli
  src/language_server/Session.ml
  src/language_server/dune
  src/osemgrep/targeting/Gitignore_files.ml
  src/osemgrep/targeting/Gitignore_files.mli
  src/osemgrep/targeting/Gitignore_filter.ml
  src/osemgrep/targeting/Gitignore_filter.mli
  src/osemgrep/targeting/Include_filter.ml
  src/osemgrep/targeting/Include_filter.mli
  src/osemgrep/targeting/Semgrepignore.ml
  src/osemgrep/targeting/Semgrepignore.mli
  src/osemgrep/targeting/Unit_semgrepignore.ml
  src/targeting/Find_target.ml
  src/targeting/Git.ml
  src/targeting/Git.mli
  src/targeting/dune
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
