Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

capture past the colon
  cli/src/semdep/parsers/yarn.py
Due: none

feat: resize ascii art based on terminal size
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
Due: lint-ocaml

refactor: use the height twice
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
Due: lint-ocaml

feat: print single pattern nicer
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
Due: lint-ocaml

fix another issue
  cli/src/semdep/parsers/yarn.py
Due: none

init unit tests
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
  src/osemgrep/cli_interactive/Pointed_zipper.ml
  src/osemgrep/cli_interactive/Pointed_zipper.mli
  src/osemgrep/cli_interactive/Unit_pointed_zipper.ml
  src/osemgrep/cli_interactive/dune
Due: lint-ocaml

feat(interactive): print single pattern nicer (#7924)
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
Due: lint-ocaml

feat(interactive): ascii art resizing (#7923)
  src/osemgrep/cli_interactive/Interactive_subcommand.ml
Due: lint-ocaml

chore: Fix `make core-install` command (#7920)
  Makefile
Due: none

js: fix libyaml bindings (#7918)
  js/engine/Main.ml
  js/engine/core.js
  js/examples/yaml.html
  js/languages/shared/Makefile.include
  js/libpcre/runtime.js
  js/libyaml/ctypes.js
  js/libyaml/runtime.js
  js/libyaml/runtime.test.js
  src/parsing/yaml_to_generic.ml
Due: lint-ocaml

fix(extract): Improve syntax (#7921)
  cli/tests/e2e/rules/extract_rules/python_jupyter_paths_exclude.yaml
  cli/tests/e2e/rules/extract_rules/python_jupyter_paths_include.yaml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

fix: Match metavariables against builtins in typed metavariables (#7905)
  changelog.d/typed-mvar.fixed
  src/matching/Generic_vs_generic.ml
  tests/patterns/java/metavar_typed_with_metavar.java
  tests/patterns/java/metavar_typed_with_metavar.sgrep
Due: lint-ocaml

Ppath: cleanup Ppath.mli, reduce the number of way to build a ppath
  languages/elixir/generic/Parse_elixir_tree_sitter.ml
  libs/gitignore/Unit_gitignore.ml
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
  src/osemgrep/targeting/Unit_semgrepignore.ml
Due: lint-ocaml

remove is_absolute from interface
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
Due: lint-ocaml

put back an abstract type
  libs/gitignore/Gitignore_filter.ml
  libs/gitignore/Parse_gitignore.ml
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
  src/osemgrep/targeting/Include_filter.ml
Due: lint-ocaml

comments
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
Due: lint-ocaml

misc
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
Due: lint-ocaml

get rid of is_relative
  libs/paths/Ppath.mli
Due: lint-ocaml

progress
  libs/paths/Git_project.ml
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
  src/osemgrep/targeting/Semgrepignore.ml
Due: lint-ocaml

get rid of normalize_path
  libs/paths/Git_project.ml
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
Due: lint-ocaml

no more of_fpath and make_absolute
  libs/paths/Ppath.mli
  src/targeting/Find_targets_old.ml
Due: lint-ocaml

last touch
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
Due: lint-ocaml

Ppath: cleanup Ppath.mli, reduce the number of way to build a ppath (#7925)
  languages/elixir/generic/Parse_elixir_tree_sitter.ml
  libs/gitignore/Gitignore_filter.ml
  libs/gitignore/Parse_gitignore.ml
  libs/gitignore/Unit_gitignore.ml
  libs/paths/Git_project.ml
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
  src/osemgrep/targeting/Include_filter.ml
  src/osemgrep/targeting/Semgrepignore.ml
  src/osemgrep/targeting/Unit_semgrepignore.ml
  src/targeting/Find_targets_old.ml
Due: lint-ocaml

const-prop: Fix bug detecting overflow in multiplication
  changelog.d/gh-7893.fixed
  src/analyzing/Dataflow_svalue.ml
  tests/rules/cp_mults.py
  tests/rules/cp_mults.yaml
Due: lint-ocaml

add comment
  cli/src/semdep/parsers/yarn.py
Due: none

add changelog
  changelog.d/sc-749.fixed
Due: none

break tests off
  cli/tests/e2e/targets/dependency_aware/yarn-v1-without-version-constraint/yarn.lock
  cli/tests/e2e/targets/dependency_aware/yarn/yarn.lock
Due: none

add test
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

chore: Bump version to 1.24.0
  CHANGELOG.md
  changelog.d/aliengrep.added
  changelog.d/gh-6780.fixed
  changelog.d/gh-7709.fixed
  changelog.d/gh-7911.fixed
  changelog.d/gh-7914.fixed
  changelog.d/pa-2507.added
  changelog.d/pa-2570.added
  changelog.d/pa-2570.changed
  changelog.d/typed-mvar.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareno-pattern.yaml-dependency_awareyarn-v1-without-version-constraint/results.txt
Due: none

Fix bug with yarn v1 parsing (#7865)
  changelog.d/sc-749.fixed
  cli/src/semdep/parsers/yarn.py
  cli/tests/e2e/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareno-pattern.yaml-dependency_awareyarn-v1-without-version-constraint/results.txt
  cli/tests/e2e/targets/dependency_aware/yarn-v1-without-version-constraint/yarn.lock
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none

Update README.md
  README.md
Due: none

Remove other changes
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_utils.ml
  libs/commons/Common.ml
  libs/commons/Common.mli
  src/runner/Join_util.ml
  src/runner/Run_semgrep.ml
  tests/join/abc/ab.py
  tests/join/abc/abc.py
  tests/join/abc/bc.py
  tests/join/abc/deep.yaml
  tests/join/abc_harder/ab.py
  tests/join/abc_harder/abc.py
  tests/join/abc_harder/bc.py
  tests/join/abc_harder/deep.yaml
  tests/join/abc_no_matches/ab.py
  tests/join/abc_no_matches/abc.py
  tests/join/abc_no_matches/bc.py
  tests/join/abc_no_matches/deep.yaml
  tests/join/search_abc_ref/abc.py
  tests/join/search_abc_ref/deep.yaml
  tests/join/secrets/deep.yaml
  tests/join/secrets/secrets_file.txt
  tests/join/secrets/use.py
  tests/join/secrets_python_only/deep.yaml
  tests/join/secrets_python_only/secrets_file.py
  tests/join/secrets_python_only/use.py
  tests/join/simple/constructor.yaml
  tests/join/simple/deep.yaml
  tests/join/simple/exec.yaml
  tests/join/simple/simple.java
Due: lint-ocaml

Restore Metavariable
  src/core/Metavariable.ml
  src/core/Metavariable.mli
Due: lint-ocaml

feat: run osemgrep tests after regular tests, emit warning
  Makefile
  scripts/run-core-test.sh
Due: shellcheck

fix: Remove special-case for typed-metavar matching
  src/core/Type.ml
  src/matching/Generic_vs_generic.ml
  src/typing/Typing.ml
  tests/patterns/java/typed_metavar_class.java
Due: lint-ocaml

clean up yaml memory offset overrides
  js/engine/Main.ml
  js/engine/Yaml_ctypes_overrides.ml
  js/engine/core.js
  js/libyaml/Makefile.include
  js/libyaml/extra.c
Due: lint-ocaml

feat: add unit tests for pointed_zipper
  src/osemgrep/cli_interactive/Pointed_zipper.ml
  src/osemgrep/cli_interactive/Pointed_zipper.mli
  src/osemgrep/cli_interactive/Unit_pointed_zipper.ml
Due: lint-ocaml

docs: add comment to run-core-test script
  scripts/run-core-test.sh
Due: shellcheck

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
