Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

tainting: Move function-CFG logic to Fun_CFG (semgrep/semgrep-proprietary#5228)
  src/analyzing/CFG_build.ml
  src/analyzing/CFG_build.mli
  src/analyzing/Constant_propagation.ml
  src/analyzing/Constant_propagation.mli
  src/analyzing/Dataflow_svalue.ml
  src/analyzing/Dataflow_svalue.mli
  src/analyzing/tests/Test_analyze_generic.ml
  src/engine/Match_tainting_mode.ml
  src/engine/Match_tainting_mode.mli
  src/il/Fun_CFG.ml
  src/il/Fun_CFG.mli
  src/il/IL.ml
  src/il/IL_helpers.ml
  src/il/IL_helpers.mli
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Taint_input_env.ml
  src/tainting/Taint_lambdas.ml
  src/tainting/Taint_lambdas.mli
  src/tainting/Taint_spec_match.ml
  src/tainting/Taint_spec_match.mli
Due: lint-ocaml

fix: update changelog.d with note for SAF-2020 (semgrep/semgrep-proprietary#5235)
  changelog.d/saf-2020.fixed
Due: none

test: windows no flexdll workaround
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

fix(ug): reinstate typescript symbol analysis (semgrep/semgrep-proprietary#5191)
  cli/src/semgrep/symbol_analysis.py
  cli/tests/default/unit/test_symbol_analysis.py
Due: none

Revert "fix(telemetry): Propagate opentelemetry context through threads" (semgrep/semgrep-proprietary#5239)
  .pre-commit-config.yaml
  cli/Pipfile.lock
  cli/setup.py
  cli/src/semgrep/tracing.py
Due: none

fix(saf-2422): mark tests that depend on rule fetching via net flakey (semgrep/semgrep-proprietary#5243)
  src/osemgrep/tests/Test_osemgrep.ml
Due: lint-ocaml

chore: Add tracing for RPC calls (semgrep/semgrep-proprietary#5222)
  cli/src/semgrep/rpc.py
  cli/src/semgrep/tracing.py
  src/core_cli/Core_CLI.ml
  src/rpc/RPC.ml
  src/rpc/dune
Due: lint-ocaml

feat: Print the trace ID with `--verbose` (semgrep/semgrep-proprietary#5233)
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
Due: none

Reapply fix(telemetry): Propagate opentelemetry context through threads (semgrep/semgrep-proprietary#5244)
  .pre-commit-config.yaml
  cli/Pipfile.lock
  cli/setup.py
  cli/src/semgrep/tracing.py
Due: none

chore(sca-matchers): add support for custom-named gradle lockfiles (semgrep/semgrep-proprietary#5225)
  changelog.d/SC-2999.added
  cli/src/semdep/matchers/gradle.py
  cli/tests/default/unit/test_subproject_matchers.py
Due: none

test:
  .github/workflows/build-test-windows-x86.yml
Due: none

chore: remove flexdll workaround (semgrep/semgrep-proprietary#5240)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

fix(sca): show resolution errors even in classic ux (semgrep/semgrep-proprietary#5254)
  cli/src/semgrep/scan_report.py
Due: none

fix: add `--force` to `semgrep login` (semgrep/semgrep-proprietary#5212)
  changelog.d/saf-2392.added
  cli/src/semgrep/commands/login.py
Due: none

Make core deduping steps preserve the order of matches (semgrep/semgrep-proprietary#5083)
  changelog.d/saf-2304.fixed
  src/core/Core_match.ml
Due: lint-ocaml

refactor: Remove extraneous parameter in rpc.py (semgrep/semgrep-proprietary#5245)
  cli/src/semgrep/rpc.py
Due: none

Chore: bump compiler SHA to include compiler version patch (semgrep/semgrep-proprietary#5246)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  Makefile
  semgrep.opam
  semgrep.opam.template
Due: none

chore: switch pytest backtraces to long (semgrep/semgrep-proprietary#5261)
  cli/Makefile
Due: none

feat(ci): validate compiler sha after builds (semgrep/semgrep-proprietary#5231)
  Dockerfile
  Makefile
  scripts/validate-compiler-sha.sh
Due: shellcheck

patch
  .github/workflows/build-test-windows-x86.yml
Due: none

fix: patch compiler script
  scripts/validate-compiler-sha.sh
Due: shellcheck

dataflow: Reduce use of "tmp"s in AST-to-IL (semgrep/semgrep-proprietary#5107)
  src/analyzing/AST_to_IL.ml
  src/analyzing/Dataflow_svalue.ml
  src/il/Fun_CFG.ml
  src/il/Fun_CFG.mli
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint_lambdas.ml
  src/tainting/Taint_lambdas.mli
  tests/snapshots/semgrep-core/cd62d6a5768d/stdout
Due: lint-ocaml

Revert "dataflow: Reduce use of "tmp"s in AST-to-IL (semgrep/semgrep-proprietary#5107)" (semgrep/semgrep-proprietary#5266)
  src/analyzing/AST_to_IL.ml
  src/analyzing/Dataflow_svalue.ml
  src/il/Fun_CFG.ml
  src/il/Fun_CFG.mli
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint_lambdas.ml
  src/tainting/Taint_lambdas.mli
  tests/snapshots/semgrep-core/cd62d6a5768d/stdout
Due: lint-ocaml

fix: use --force to login (semgrep/semgrep-proprietary#5259)
  changelog.d/saf-2392.added
  cli/src/semgrep/mcp/server.py
Due: none

chore: remove manual semgrep/ocaml pin in Makefile (semgrep/semgrep-proprietary#5263)
  Makefile
  dune-project
  semgrep.opam
  semgrep.opam.template
Due: none

Upgrade atdpy and its dependencies (semgrep/semgrep-proprietary#5267)
  .dockerignore
  dune-project
  semgrep.opam
Due: gitignore-to-dockerignore

test
  scripts/validate-compiler-sha.sh
Due: shellcheck

bump
  .github/workflows/build-test-windows-x86.yml
Due: none

switch to bash
  scripts/validate-compiler-sha.sh
Due: shellcheck

just scritp
  .github/workflows/build-test-windows-x86.yml
Due: none

pat
  .github/workflows/build-test-windows-x86.yml
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
