Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations

Support metavar and ellipsis on Raw_tree
  changelog.d/gh-3328.added
  languages/lisp/tree-sitter/Parse_clojure_tree_sitter.ml
  languages/lisp/tree-sitter/Parse_clojure_tree_sitter.mli
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Meta_AST.mli
  libs/ast_generic/Visitor_AST.ml
  src/core/Metavariable.ml
  src/engine/Unit_engine.ml
  src/fixing/Autofix_printer.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
  src/matching/Match_patterns.ml
  src/matching/Matching_generic.ml
  src/matching/Trace_matching.ml
  src/matching/Trace_matching.mli
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_target.ml
  src/reporting/JSON_report.ml
  tests/patterns/clojure/TODO/deep_exprstmt.clj
  tests/patterns/clojure/TODO/dots_nested_stmts.clj
  tests/patterns/clojure/concrete_syntax.clj
  tests/patterns/clojure/concrete_syntax.sgrep
  tests/patterns/clojure/dots_args.clj
  tests/patterns/clojure/dots_args.sgrep
  tests/patterns/clojure/dots_stmts.clj
  tests/patterns/clojure/dots_stmts.sgrep
  tests/patterns/clojure/dots_string.clj
  tests/patterns/clojure/dots_string.sgrep
  tests/patterns/clojure/metavar_arg.clj
  tests/patterns/clojure/metavar_arg.sgrep
  tests/patterns/clojure/metavar_call.clj
  tests/patterns/clojure/metavar_call.sgrep
  tests/patterns/clojure/metavar_equality_var.clj
  tests/patterns/clojure/metavar_equality_var.sgrep
Due: lint-ocaml

typo
  changelog.d/gh-3328.added
Due: none

typo and comment
  src/matching/Generic_vs_generic.ml
Due: lint-ocaml

Reorganize release steps to match order of execution
  .github/workflows/release.yml
Due: none

feat: refactor push-docker into separate workflow
  .github/workflows/build-test-docker.yaml
  .github/workflows/push-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Remove redundant ubuntu test step
  .github/workflows/tests.yml
Due: none

Remove redundant ubuntu test step (#7015)
  .github/workflows/tests.yml
Due: none

feat: factorize docker build/push on tests
  .github/workflows/build-test-docker.yaml
  .github/workflows/push-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: ensure correct args are used/passed
  .github/workflows/build-test-docker.yaml
  .github/workflows/tests.yml
Due: none

fix: push proper image
  .github/workflows/push-docker.yaml
  .github/workflows/tests.yml
Due: none

fix: require dockerfile input
  .github/workflows/build-test-docker.yaml
  .github/workflows/tests.yml
Due: none

fix: ensure release uses correct args
  .github/workflows/release.yml
Due: none

Give step an id so its outputs can be referenced
  .github/workflows/build-test-docker.yaml
Due: none

List images and digests
  .github/workflows/build-test-docker.yaml
Due: none

Load image after building
  .github/workflows/build-test-docker.yaml
Due: none

Explicitly load
  .github/workflows/build-test-docker.yaml
Due: none

Fix small regression introduced by #6966
  cli/tests/e2e/test_join_rules.py
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/Visitor_AST.ml
  libs/lib_parsing/Parse_info.ml
  libs/lib_parsing/Parse_info.mli
  src/core/Range.ml
  src/reporting/JSON_report.ml
Due: lint-ocaml

Support metavar and ellipsis on Raw_tree (#7012)
  changelog.d/gh-3328.added
  languages/lisp/tree-sitter/Parse_clojure_tree_sitter.ml
  languages/lisp/tree-sitter/Parse_clojure_tree_sitter.mli
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Meta_AST.mli
  libs/ast_generic/Visitor_AST.ml
  src/core/Metavariable.ml
  src/engine/Unit_engine.ml
  src/fixing/Autofix_printer.ml
  src/matching/Generic_vs_generic.ml
  src/matching/Generic_vs_generic.mli
  src/matching/Match_patterns.ml
  src/matching/Matching_generic.ml
  src/matching/Trace_matching.ml
  src/matching/Trace_matching.mli
  src/parsing/Parse_pattern.ml
  src/parsing/Parse_target.ml
  src/reporting/JSON_report.ml
  tests/patterns/clojure/TODO/deep_exprstmt.clj
  tests/patterns/clojure/TODO/dots_nested_stmts.clj
  tests/patterns/clojure/concrete_syntax.clj
  tests/patterns/clojure/concrete_syntax.sgrep
  tests/patterns/clojure/dots_args.clj
  tests/patterns/clojure/dots_args.sgrep
  tests/patterns/clojure/dots_stmts.clj
  tests/patterns/clojure/dots_stmts.sgrep
  tests/patterns/clojure/dots_string.clj
  tests/patterns/clojure/dots_string.sgrep
  tests/patterns/clojure/metavar_arg.clj
  tests/patterns/clojure/metavar_arg.sgrep
  tests/patterns/clojure/metavar_call.clj
  tests/patterns/clojure/metavar_call.sgrep
  tests/patterns/clojure/metavar_equality_var.clj
  tests/patterns/clojure/metavar_equality_var.sgrep
Due: lint-ocaml

check if we're getting into the validation script
  scripts/validate-docker-build.sh
Due: shellcheck

re-enable retries for "other" errors
  cli/src/semgrep/app/session.py
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_join_rules/test_recursive_join_rules/rulesjoin_rulesrecursiveflask-deep-stored-xss-exampleflask-stored-xss.yaml-join_rulesrecursiveflask-deep-stored-xss-example/results.json
Due: none

fix: only run validation on main docker image
  .github/workflows/build-test-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: remove testing changes to scripts
  scripts/validate-docker-build.sh
Due: shellcheck

fix: use booleans differently
  .github/workflows/build-test-docker.yaml
Due: none

Improve error message on malformed semgrep-core progress-bar output (#7006)
  cli/src/semgrep/core_runner.py
Due: none

feat(metrics): add the engine type to the metrics sent
  cli/src/semgrep/metrics.py
  cli/src/semgrep/semgrep_main.py
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/interfile_flag0/metrics-payload.json
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/interfile_flag1/metrics-payload.json
  cli/tests/e2e/test_metrics.py
Due: none

feat: factorize docker build/push on tests (#7016)
  .github/workflows/build-test-docker.yaml
  .github/workflows/push-docker.yaml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Changelog
  changelog.d/pa-2427.feat
Due: none

Update privacy doc
  PRIVACY.md
Due: none

add dry-run to docker push step
  .github/workflows/push-docker.yaml
  .github/workflows/tests.yml
Due: none

fix: facilitate testing
  .github/workflows/tests.yml
Due: none

re-enable retries for "other" errors (#7018)
  cli/src/semgrep/app/session.py
Due: none

fix: testing complete, finalize workflow
  .github/workflows/push-docker.yaml
  .github/workflows/tests.yml
Due: none

Move the place where the engine is sent
  PRIVACY.md
  cli/src/semgrep/metrics.py
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/interfile_flag0/metrics-payload.json
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/interfile_flag1/metrics-payload.json
Due: none

Test the core artifacts produced by the release process
  .github/workflows/tests.yml
Due: none

chore: Bump version to 1.7.0
  CHANGELOG.md
  changelog.d/gh-3328.added
  changelog.d/gh-6913.fixed
  changelog.d/pa-1849.added
  changelog.d/sc-557.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  setup.py
  src/core_cli/version.ml
Due: lint-ocaml

fix(js): Allow metavar ellipsis in template literals
  src/core/Pattern.ml
  src/matching/Generic_vs_generic.ml
  tests/patterns/js/ellipsis_metavar_tagged_template.js
  tests/patterns/js/ellipsis_metavar_tagged_template.sgrep
  tests/patterns/js/ellipsis_metavar_template.js
  tests/patterns/js/ellipsis_metavar_template.sgrep
Due: lint-ocaml

Adopt reusable workflow for push step in release
  .github/workflows/release.yml
Due: none

perfomance tests for lockfile parsers
  cli/tests/conftest.py
  cli/tests/e2e/test_dependency_aware_rules.py
Due: none
