Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

Address review comments
  libs/tracing/unix/Tracing.ml
  src/core_scan/Core_scan.ml
Due: lint-ocaml

Just consume everything
  cli/src/semdep/parsers/swiftpm.py
Due: none

Fully remove ppx for now
  libs/tracing/unix/Tracing.ml
  src/core_scan/Core_scan.ml
  src/core_scan/dune
Due: lint-ocaml

Find all lvals of the same base component for arg taint signature
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint_lval_env.ml
  src/tainting/Taint_lval_env.mli
Due: lint-ocaml

fix error
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

Fix issues with lockfile versioning
  cli/src/semdep/parsers/swiftpm.py
  cli/tests/e2e-pro/parsers/test_swiftpm.py
  cli/tests/e2e-pro/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareswift-sca.yaml-dependency_awareswiftpmv1/results.txt
  cli/tests/e2e-pro/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareswift-sca.yaml-dependency_awareswiftpmv2/results.txt
Due: none

update
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint_lval_env.ml
  src/tainting/Taint_lval_env.mli
Due: lint-ocaml

Change the type of scanning roots back to an alias for Fpath.t after realizing that they may contain symlinks that should not be resolved before determining the project root.
  libs/git_wrapper/Git_project.ml
  libs/git_wrapper/Git_project.mli
  libs/paths/Ppath.ml
  libs/paths/Ppath.mli
  libs/paths/Rfpath.ml
  libs/paths/Rpath.ml
  src/core/Scanning_root.ml
  src/core/Scanning_root.mli
  src/osemgrep/cli_scan/Ls_subcommand.mli
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_test/Test_CLI.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
  src/osemgrep/language_server/Unit_LS.ml
  src/osemgrep/language_server/notifications/Notification_handler.ml
  src/osemgrep/language_server/requests/Initialize_request.ml
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/language_server/server/Session.mli
  src/osemgrep/reporting/Targets_report.ml
  src/osemgrep/reporting/Targets_report.mli
  src/targeting/Find_targets.ml
  src/targeting/Find_targets.mli
  src/targeting/Find_targets_old.ml
  src/targeting/Find_targets_old.mli
Due: lint-ocaml

Fix type error in test code
  src/osemgrep/tests/Test_target_selection.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/e2e/snapshots/test_misc/test_max_memory/error.txt
  cli/tests/e2e/snapshots/test_misc/test_timeout_threshold/error.txt
  cli/tests/e2e/snapshots/test_misc/test_timeout_threshold/error_2.txt
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_test/test_parse_errors/errors.txt
Due: none

Change the type of scanning roots to Scanning_root.t for semgrep-core
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan_config.ml
  src/metachecking/Check_rule.ml
Due: lint-ocaml

Clean up
  libs/git_wrapper/Git_project.ml
  src/targeting/Find_targets.ml
Due: lint-ocaml

feat(matching): allow interpolated vars to work with metavariable regex (#9808)
  changelog.d/saf-865.added
  src/engine/Eval_generic.ml
  tests/rules/mvar_regex_interpolated_var.py
  tests/rules/mvar_regex_interpolated_var.yaml
  tests/rules/terraform_mvar_regex_interpolated_var.tf
  tests/rules/terraform_mvar_regex_interpolated_var.yaml
Due: lint-ocaml

Fix the warnings on "pattern-either" not valid
  .semgrepignore
  src/engine/Test_engine.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_helpers.ml
  src/parsing/Rule_file.ml
  src/parsing/Rule_file.mli
Due: lint-ocaml

Fix the warnings on "pattern-either" not valid (#9831)
  .semgrepignore
  src/engine/Test_engine.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/networking/Rule_fetching.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule.mli
  src/parsing/Parse_rule_formula.ml
  src/parsing/Parse_rule_helpers.ml
  src/parsing/Rule_file.ml
  src/parsing/Rule_file.mli
Due: lint-ocaml

Fix the warnings generated by the autofix code in 'make check'
  src/fixing/Autofix.ml
  src/fixing/Autofix_metavar_replacement.ml
  src/fixing/Autofix_printer.ml
  src/printing/Ugly_print_AST.ml
  src/printing/Ugly_print_AST.mli
Due: lint-ocaml

Fix the warnings generated by the autofix code in 'make check' (#9832)
  src/fixing/Autofix.ml
  src/fixing/Autofix_metavar_replacement.ml
  src/fixing/Autofix_printer.ml
  src/printing/Ugly_print_AST.ml
  src/printing/Ugly_print_AST.mli
Due: lint-ocaml

OCaml: handle 'x <- y' obj field assignment
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tests/parsing/ocaml/objfield_assign.ml
Due: lint-ocaml

OCaml: handle 'x <- y' obj field assignment (#9833)
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tests/parsing/ocaml/objfield_assign.ml
Due: lint-ocaml

Make scan summary URL tenant-aware (#9732)
  changelog.d/saf-353.fixed
  cli/src/semgrep/commands/ci.py
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/complete.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/findings_and_ignores.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/meta.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/results.txt
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/complete.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/findings_and_ignores.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/meta.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/results.txt
  cli/tests/e2e-pro/test_ci.py
  src/osemgrep/cli_ci/Ci_subcommand.ml
Due: lint-ocaml

chore(tracing): send traces to datadog (#9785)
  libs/tracing/unix/Tracing.ml
  perf/run-benchmarks
  scripts/run-benchmarks.sh
  src/core_scan/Core_scan.ml
  src/core_scan/dune
Due: shellcheck, lint-ocaml

Add link to swiftpm manifest spec
  cli/src/semdep/parsers/swiftpm.py
Due: none

Add swiftpm manifest/lockfile parser (#9652)
  changelog.d/sc-1217.added
  cli/src/semdep/parse_lockfile.py
  cli/src/semdep/parsers/poetry.py
  cli/src/semdep/parsers/swiftpm.py
  cli/src/semdep/parsers/util.py
  cli/src/semgrep/target_manager.py
  cli/tests/e2e-pro/parsers/test_swiftpm.py
  cli/tests/e2e-pro/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareswift-sca.yaml-dependency_awareswiftpmv1/results.txt
  cli/tests/e2e-pro/snapshots/test_dependency_aware_rules/test_dependency_aware_rules/rulesdependency_awareswift-sca.yaml-dependency_awareswiftpmv2/results.txt
  cli/tests/e2e-pro/test_dependency_aware_rules.py
  cli/tests/e2e/rules/dependency_aware/swift-sca.yaml
  cli/tests/e2e/targets/dependency_aware/swiftpm/v1/Package.resolved
  cli/tests/e2e/targets/dependency_aware/swiftpm/v1/Package.swift
  cli/tests/e2e/targets/dependency_aware/swiftpm/v2/Package.resolved
  cli/tests/e2e/targets/dependency_aware/swiftpm/v2/Package.swift
Due: none

feat: incremental printing of json results
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/reporting/Output.ml
  src/osemgrep/reporting/Output_format.ml
Due: lint-ocaml

Fix grouping bug in osemgrep output when there are two matches at the same location for different rules
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

Clean up logging
  src/osemgrep/reporting/Matches_report.ml
Due: lint-ocaml

feat: report findings that can only come from pro
  src/core/Engine_kind.ml
  src/core/Pattern_match.ml
  src/core/Pattern_match.mli
Due: lint-ocaml

Save correctly masked snapshot following testo bugfix https://github.com/semgrep/testo/pull/33
  tests/snapshots/semgrep-core/5e2155c776bf/stderr
Due: none

Move test_iter_with_view_into_neighbor_elements to List_ + fix + tests
  libs/commons/List_.ml
  libs/commons/List_.mli
  libs/commons/tests/Commons_tests.ml
  libs/commons/tests/Unit_List_.ml
  libs/commons/tests/Unit_List_.mli
  src/osemgrep/language_server/dune
  src/osemgrep/reporting/Matches_report.ml
  tests/snapshots/semgrep-core/789357efce0a/stdout
  tests/snapshots/semgrep-core/88adfd445de9/stdout
  tests/snapshots/semgrep-core/992b91bd45de/stdout
  tests/snapshots/semgrep-core/d13c7a2f597a/stdout
  tests/snapshots/semgrep-core/f831fd1c0c28/stdout
Due: lint-ocaml

AST_to_IL: Handle nested record patterns (#9828)
  changelog.d/flow-68.added
  src/analyzing/AST_to_IL.ml
  tests/rules/taint_nested_record_pattern.js
  tests/rules/taint_nested_record_pattern.yaml
Due: lint-ocaml

Additional git functionality
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
Due: lint-ocaml

Minor cleanup in Xtarget
  src/core/Xtarget.ml
Due: lint-ocaml

Update submodule for main
  src/reporting/Core_json_output.ml
Due: lint-ocaml
