Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  shellcheck: any of: [.]sh$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations
  lint-ocaml: any of: \.mli?$, but not: ^cli/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^cli/src/semgrep/external|\binvalid\b|^cli/.test_durations

Add changelog entry for new transform: field (#6844)
  .pre-commit-config.yaml
  changelog.d/gh-4477.fixed
  cli/scripts/compare.py
Due: none

chore: Bump version to 1.4.0
  CHANGELOG.md
  changelog.d/gh-4477.fixed
  changelog.d/gh-6793.fixed
  changelog.d/pa-2274.fixed
  changelog.d/pa-2366.added
  changelog.d/pa-2393.fixed
  changelog.d/pa-2396.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  semgrep-core/src/core_cli/version.ml
  setup.py
Due: lint-ocaml

fix
  .github/workflows/tests.yml
Due: none

grrr
  .github/workflows/tests.yml
Due: none

fix docker
  Dockerfile
Due: none

src/core/ast/ -> libs/ast_generic
  .dockerignore
  .gitignore
  ast_generic.opam
  graph_code.opam
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  libs/ast_generic/AST_utils.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Map_AST.mli
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Meta_AST.mli
  libs/ast_generic/Raw_tree.ml
  libs/ast_generic/Raw_tree.mli
  libs/ast_generic/Tok.ml
  libs/ast_generic/Tok.mli
  libs/ast_generic/Visitor_AST.ml
  libs/ast_generic/Visitor_AST.mli
  libs/ast_generic/dune
  libs/graph_code/dune
  pfff-graph_code.opam
  src/core/ast/dune
  src/core/parse_info_in_pfff
Due: gitignore-to-dockerignore, lint-ocaml

src/core/ast/ -> libs/ast_generic (#6852)
  .dockerignore
  .gitignore
  ast_generic.opam
  graph_code.opam
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_helpers.mli
  libs/ast_generic/AST_utils.ml
  libs/ast_generic/Map_AST.ml
  libs/ast_generic/Map_AST.mli
  libs/ast_generic/Meta_AST.ml
  libs/ast_generic/Meta_AST.mli
  libs/ast_generic/Raw_tree.ml
  libs/ast_generic/Raw_tree.mli
  libs/ast_generic/Tok.ml
  libs/ast_generic/Tok.mli
  libs/ast_generic/Visitor_AST.ml
  libs/ast_generic/Visitor_AST.mli
  libs/ast_generic/dune
  libs/graph_code/dune
  pfff-graph_code.opam
  src/core/ast/dune
  src/core/parse_info_in_pfff
Due: gitignore-to-dockerignore, lint-ocaml

sym-prop: Prevent infinite loops during matching
  changelog.d/pa-2324.fixed
  src/matching/Generic_vs_generic.ml
  src/matching/Matching_generic.ml
  src/matching/Matching_generic.mli
Due: lint-ocaml

Mv src/parsing/Parse_tree_sitter_helpers.ml -> libs/lib_parsing
  libs/lib_parsing/Parse_tree_sitter_helpers.ml
  libs/lib_parsing/Parse_tree_sitter_helpers.mli
  libs/lib_parsing/dune
  src/parsing/tree_sitter/Parse_hcl_tree_sitter.ml
  src/parsing/tree_sitter/Parse_vue_tree_sitter.ml
Due: lint-ocaml

Mv src/parsing/Parse_tree_sitter_helpers.ml -> libs/lib_parsing (#6854)
  libs/lib_parsing/Parse_tree_sitter_helpers.ml
  libs/lib_parsing/Parse_tree_sitter_helpers.mli
  libs/lib_parsing/dune
  src/parsing/tree_sitter/Parse_hcl_tree_sitter.ml
  src/parsing/tree_sitter/Parse_vue_tree_sitter.ml
Due: lint-ocaml

merge entity_code in graph_code
  entity_code.opam
  libs/entity_code/dune
  libs/graph_code/dune
  libs/graph_code/entity_code.ml
  libs/graph_code/entity_code.mli
Due: lint-ocaml

merge entity_code in graph_code (#6855)
  entity_code.opam
  libs/entity_code/dune
  libs/graph_code/dune
  libs/graph_code/entity_code.ml
  libs/graph_code/entity_code.mli
Due: lint-ocaml

const-prop: Recognize Python's `cond and X or Y` idiom
  changelog.d/gh-6079.added
  src/analyzing/Dataflow_svalue.ml
  tests/rules/cp_python_and_or.py
  tests/rules/cp_python_and_or.yaml
Due: lint-ocaml

const-prop: Recognize Python's `cond and X or Y` idiom (#6856)
  changelog.d/gh-6079.added
  src/analyzing/Dataflow_svalue.ml
  tests/rules/cp_python_and_or.py
  tests/rules/cp_python_and_or.yaml
Due: lint-ocaml

new libs/languages/go/ gathering all go stuff and parser_go.opam
  libs/languages/go/ast/ast_go.ml
  libs/languages/go/ast/dune
  libs/languages/go/generic/dune
  libs/languages/go/generic/go_to_generic.ml
  libs/languages/go/generic/go_to_generic.mli
  libs/languages/go/menhir/conflicts.txt
  libs/languages/go/menhir/dune
  libs/languages/go/menhir/lexer_go.mll
  libs/languages/go/menhir/lib_parsing_go.ml
  libs/languages/go/menhir/lib_parsing_go.mli
  libs/languages/go/menhir/pad.txt
  libs/languages/go/menhir/parse_go.ml
  libs/languages/go/menhir/parser_go.mly
  libs/languages/go/menhir/parsing_hacks_go.ml
  libs/languages/go/menhir/parsing_hacks_go.mli
  libs/languages/go/menhir/test_parsing_go.ml
  libs/languages/go/menhir/test_parsing_go.mli
  libs/languages/go/menhir/token_helpers_go.ml
  libs/languages/go/menhir/token_helpers_go.mli
  libs/languages/go/menhir/unit_parsing_go.ml
  libs/languages/go/menhir/unit_parsing_go.mli
  libs/languages/go/orig_spec/go.y
  libs/languages/go/orig_spec/lex.go
  libs/languages/go/orig_spec/rest_todo
  libs/languages/go/tree-sitter/Parse_go_tree_sitter.ml
  libs/languages/go/tree-sitter/Parse_go_tree_sitter.mli
  libs/languages/go/tree-sitter/dune
  parser_go.opam
  pfff-lang_go.opam
  src/core_cli/dune
  src/parsing/dune
  src/parsing/pfff/dune
  src/parsing/tree_sitter/dune
  tests/dune
Due: lint-ocaml

new libs/languages/go/ gathering all go stuff and parser_go.opam (#6859)
  libs/languages/go/ast/ast_go.ml
  libs/languages/go/ast/dune
  libs/languages/go/generic/dune
  libs/languages/go/generic/go_to_generic.ml
  libs/languages/go/generic/go_to_generic.mli
  libs/languages/go/menhir/conflicts.txt
  libs/languages/go/menhir/dune
  libs/languages/go/menhir/lexer_go.mll
  libs/languages/go/menhir/lib_parsing_go.ml
  libs/languages/go/menhir/lib_parsing_go.mli
  libs/languages/go/menhir/pad.txt
  libs/languages/go/menhir/parse_go.ml
  libs/languages/go/menhir/parser_go.mly
  libs/languages/go/menhir/parsing_hacks_go.ml
  libs/languages/go/menhir/parsing_hacks_go.mli
  libs/languages/go/menhir/test_parsing_go.ml
  libs/languages/go/menhir/test_parsing_go.mli
  libs/languages/go/menhir/token_helpers_go.ml
  libs/languages/go/menhir/token_helpers_go.mli
  libs/languages/go/menhir/unit_parsing_go.ml
  libs/languages/go/menhir/unit_parsing_go.mli
  libs/languages/go/orig_spec/go.y
  libs/languages/go/orig_spec/lex.go
  libs/languages/go/orig_spec/rest_todo
  libs/languages/go/tree-sitter/Parse_go_tree_sitter.ml
  libs/languages/go/tree-sitter/Parse_go_tree_sitter.mli
  libs/languages/go/tree-sitter/dune
  parser_go.opam
  pfff-lang_go.opam
  src/core_cli/dune
  src/parsing/dune
  src/parsing/pfff/dune
  src/parsing/tree_sitter/dune
  tests/dune
Due: lint-ocaml

parser_ocaml.opam
  .gitmodules
  libs/languages/ocaml/ast/ast_ml.ml
  libs/languages/ocaml/ast/dune
  libs/languages/ocaml/generic/dune
  libs/languages/ocaml/generic/ml_to_generic.ml
  libs/languages/ocaml/generic/ml_to_generic.mli
  libs/languages/ocaml/menhir/dune
  libs/languages/ocaml/menhir/lexer_ml.mll
  libs/languages/ocaml/menhir/lib_parsing_ml.ml
  libs/languages/ocaml/menhir/lib_parsing_ml.mli
  libs/languages/ocaml/menhir/license_parser_ml_mly.txt
  libs/languages/ocaml/menhir/parse_ml.ml
  libs/languages/ocaml/menhir/parse_ml.mli
  libs/languages/ocaml/menhir/parser_ml.mly
  libs/languages/ocaml/menhir/test_parsing_ml.ml
  libs/languages/ocaml/menhir/test_parsing_ml.mli
  libs/languages/ocaml/menhir/token_helpers_ml.ml
  libs/languages/ocaml/menhir/token_helpers_ml.mli
  libs/languages/ocaml/menhir/unit_parsing_ml.ml
  libs/languages/ocaml/menhir/unit_parsing_ml.mli
  libs/languages/ocaml/orig_spec/orig_ocaml.mly
  libs/languages/ocaml/orig_spec/orig_ocaml_4_10_menhir.mly
  libs/languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  libs/languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.mli
  libs/languages/ocaml/tree-sitter/dune
  parser_ocaml.opam
  pfff-lang_ml.opam
  src/core_cli/dune
  src/experiments/lsp/dune
  src/parsing/dune
  src/parsing/pfff/dune
  src/parsing/tree_sitter/dune
  tests/dune
  tools/otarzan/lib/dune
Due: lint-ocaml

parser_ocaml.opam (#6860)
  .gitmodules
  libs/languages/ocaml/ast/ast_ml.ml
  libs/languages/ocaml/ast/dune
  libs/languages/ocaml/generic/dune
  libs/languages/ocaml/generic/ml_to_generic.ml
  libs/languages/ocaml/generic/ml_to_generic.mli
  libs/languages/ocaml/menhir/dune
  libs/languages/ocaml/menhir/lexer_ml.mll
  libs/languages/ocaml/menhir/lib_parsing_ml.ml
  libs/languages/ocaml/menhir/lib_parsing_ml.mli
  libs/languages/ocaml/menhir/license_parser_ml_mly.txt
  libs/languages/ocaml/menhir/parse_ml.ml
  libs/languages/ocaml/menhir/parse_ml.mli
  libs/languages/ocaml/menhir/parser_ml.mly
  libs/languages/ocaml/menhir/test_parsing_ml.ml
  libs/languages/ocaml/menhir/test_parsing_ml.mli
  libs/languages/ocaml/menhir/token_helpers_ml.ml
  libs/languages/ocaml/menhir/token_helpers_ml.mli
  libs/languages/ocaml/menhir/unit_parsing_ml.ml
  libs/languages/ocaml/menhir/unit_parsing_ml.mli
  libs/languages/ocaml/orig_spec/orig_ocaml.mly
  libs/languages/ocaml/orig_spec/orig_ocaml_4_10_menhir.mly
  libs/languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  libs/languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.mli
  libs/languages/ocaml/tree-sitter/dune
  parser_ocaml.opam
  pfff-lang_ml.opam
  src/core_cli/dune
  src/experiments/lsp/dune
  src/parsing/dune
  src/parsing/pfff/dune
  src/parsing/tree_sitter/dune
  tests/dune
  tools/otarzan/lib/dune
Due: lint-ocaml

parser_jsonnet.opam and new libs/languages/jsonnet
  .gitmodules
  libs/languages/jsonnet/ast/AST_jsonnet.ml
  libs/languages/jsonnet/ast/dune
  libs/languages/jsonnet/tree-sitter/Parse_jsonnet_tree_sitter.ml
  libs/languages/jsonnet/tree-sitter/Parse_jsonnet_tree_sitter.mli
  libs/languages/jsonnet/tree-sitter/dune
  libs/ojsonnet/Check_jsonnet.ml
  libs/ojsonnet/Check_jsonnet.mli
  libs/ojsonnet/Core_jsonnet.ml
  libs/ojsonnet/Desugar_jsonnet.ml
  libs/ojsonnet/Desugar_jsonnet.mli
  libs/ojsonnet/Eval_jsonnet.ml
  libs/ojsonnet/Eval_jsonnet.mli
  libs/ojsonnet/Interpret_jsonnet.ml
  libs/ojsonnet/Interpret_jsonnet.mli
  libs/ojsonnet/Manifest_jsonnet.ml
  libs/ojsonnet/Manifest_jsonnet.mli
  libs/ojsonnet/Parse_jsonnet.ml
  libs/ojsonnet/Parse_jsonnet.mli
  libs/ojsonnet/Std_jsonnet.ml
  libs/ojsonnet/Std_jsonnet.mli
  libs/ojsonnet/Test_ojsonnet.ml
  libs/ojsonnet/Test_ojsonnet.mli
  libs/ojsonnet/Value_jsonnet.ml
  libs/ojsonnet/dune
  libs/ojsonnet/interpreting/dune
  libs/ojsonnet/parsing/dune
  libs/ojsonnet/tests/dune
  parser_jsonnet.opam
  src/core_cli/dune
  src/parsing/dune
  src/parsing/tree_sitter/dune
Due: lint-ocaml

parser_jsonnet.opam and new libs/languages/jsonnet (#6861)
  .gitmodules
  libs/languages/jsonnet/ast/AST_jsonnet.ml
  libs/languages/jsonnet/ast/dune
  libs/languages/jsonnet/tree-sitter/Parse_jsonnet_tree_sitter.ml
  libs/languages/jsonnet/tree-sitter/Parse_jsonnet_tree_sitter.mli
  libs/languages/jsonnet/tree-sitter/dune
  libs/ojsonnet/Check_jsonnet.ml
  libs/ojsonnet/Check_jsonnet.mli
  libs/ojsonnet/Core_jsonnet.ml
  libs/ojsonnet/Desugar_jsonnet.ml
  libs/ojsonnet/Desugar_jsonnet.mli
  libs/ojsonnet/Eval_jsonnet.ml
  libs/ojsonnet/Eval_jsonnet.mli
  libs/ojsonnet/Interpret_jsonnet.ml
  libs/ojsonnet/Interpret_jsonnet.mli
  libs/ojsonnet/Manifest_jsonnet.ml
  libs/ojsonnet/Manifest_jsonnet.mli
  libs/ojsonnet/Parse_jsonnet.ml
  libs/ojsonnet/Parse_jsonnet.mli
  libs/ojsonnet/Std_jsonnet.ml
  libs/ojsonnet/Std_jsonnet.mli
  libs/ojsonnet/Test_ojsonnet.ml
  libs/ojsonnet/Test_ojsonnet.mli
  libs/ojsonnet/Value_jsonnet.ml
  libs/ojsonnet/dune
  libs/ojsonnet/interpreting/dune
  libs/ojsonnet/parsing/dune
  libs/ojsonnet/tests/dune
  parser_jsonnet.opam
  src/core_cli/dune
  src/parsing/dune
  src/parsing/tree_sitter/dune
Due: lint-ocaml
