Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

feat: allow interpolated vars to work with metavariable regex
  src/engine/Eval_generic.ml
  tests/rules/mvar_regex_interpolated_var.py
  tests/rules/mvar_regex_interpolated_var.yaml
  tests/rules/terraform_mvar_regex_interpolated_var.tf
  tests/rules/terraform_mvar_regex_interpolated_var.yaml
Due: lint-ocaml

changelog
  changelog.d/saf-865.added
Due: none

remove pr2
  src/engine/Eval_generic.ml
Due: lint-ocaml

iago's review
  js/engine/tests/__snapshots__/index.test.js.snap
  src/engine/Match_search_mode.ml
Due: lint-ocaml

Repin benchmarks to have a more accurate comparison and update url
  libs/tracing/unix/Tracing.ml
  scripts/run-benchmarks.sh
Due: shellcheck, lint-ocaml

Add snapshots for now-passing full run with tenant name test
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/complete.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/findings_and_ignores.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/meta.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/autofix-github-push-with-app-url/results.txt
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/complete.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/findings_and_ignores.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/meta.json
  cli/tests/e2e-pro/snapshots/test_ci/test_full_run/noautofix-github-push-with-app-url/results.txt
Due: none

Update pytest snapshots
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/e2e/snapshots/test_exclude_include/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/e2e/snapshots/test_misc/test_max_memory/error.txt
  cli/tests/e2e/snapshots/test_misc/test_timeout_threshold/error.txt
  cli/tests/e2e/snapshots/test_misc/test_timeout_threshold/error_2.txt
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
  cli/tests/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/e2e/snapshots/test_test/test_parse_errors/errors.txt
Due: none

fix errors in test due to changes in mock approach
  cli/tests/e2e-pro/test_ci.py
Due: none

add changelog entry
  changelog.d/saf-353.fixed
Due: none

Add comment about scan mocks returning functions
  cli/tests/e2e-pro/test_ci.py
Due: none

refactor(rules): decouple conditions from `And`s (#9696)
  js/engine/tests/__snapshots__/index.test.js.snap
  src/core/Rule.ml
  src/engine/Match_search_mode.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Translate_rule.ml
  src/optimizing/Analyze_rule.ml
  src/osemgrep/reporting/Semgrep_hashing_functions.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule_formula.ml
Due: lint-ocaml

chore: Remove fork_subprocess.py
  cli/src/semgrep/fork_subprocess.py
  cli/tests/unit/test_fork_subprocess.py
Due: none

Provide functions to log paths that can't be converted to physical paths
  libs/paths/Rfpath.ml
  libs/paths/Rfpath.mli
  src/core_cli/Core_CLI.ml
  src/osemgrep/language_server/notifications/Notification_handler.ml
  src/osemgrep/language_server/requests/Initialize_request.ml
  src/osemgrep/language_server/scan_helpers/Scan_helpers.ml
Due: lint-ocaml

Fix package name
  src/osemgrep/language_server/dune
Due: none

chore: Remove fork_subprocess.py (#9811)
  cli/src/semgrep/fork_subprocess.py
  cli/tests/unit/test_fork_subprocess.py
Due: none

update version AST_generic.ml
  libs/ast_generic/AST_generic.ml
Due: lint-ocaml

OCaml: add parenthesis in AST_ocaml.ml for type parameters
  languages/ocaml/ast/AST_ocaml.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/ocaml/menhir/parser_ml.mly
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tools/otarzan/lib/Print.ml
Due: lint-ocaml

Update menhir parser, ast build and fix test
  languages/c/ast/ast_c_build.ml
  languages/cpp/menhir/parser_cpp.mly
  tests/patterns/cpp/misc_thread_local.sgrep
Due: lint-ocaml

OCaml: add parenthesis in AST_ocaml.ml for type parameters (#9812)
  languages/ocaml/ast/AST_ocaml.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/ocaml/menhir/parser_ml.mly
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tools/otarzan/lib/Print.ml
Due: lint-ocaml

Revert unneeded changes to generic
  languages/cpp/generic/cpp_to_generic.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Meta_AST.ml
  tests/patterns/cpp/misc_thread_local.cpp
Due: lint-ocaml

CI: Set 10 min timeout for Argo workflows
  .github/workflows/libs/util.libsonnet
  .github/workflows/trigger-semgrep-comparison-argo.yml
Due: none

Match C++'s thread local storage specifier (#9804)
  languages/c/ast/ast_c_build.ml
  languages/cpp/menhir/parser_cpp.mly
  languages/cpp/tree-sitter/Parse_cpp_tree_sitter.ml
  tests/patterns/cpp/misc_thread_local.cpp
  tests/patterns/cpp/misc_thread_local.sgrep
Due: lint-ocaml

Addd bracket for type parameters in AST_generic
  languages/cairo/generic/Parse_cairo_tree_sitter.ml
  languages/cpp/generic/cpp_to_generic.ml
  languages/csharp/generic/Parse_csharp_tree_sitter.ml
  languages/dart/generic/Parse_dart_tree_sitter.ml
  languages/go/generic/go_to_generic.ml
  languages/java/ast/ast_java.ml
  languages/java/generic/java_to_generic.ml
  languages/javascript/generic/js_to_generic.ml
  languages/jsonnet/generic/Jsonnet_to_generic.ml
  languages/julia/generic/Parse_julia_tree_sitter.ml
  languages/kotlin/generic/Parse_kotlin_tree_sitter.ml
  languages/lua/generic/Parse_lua_tree_sitter.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/python/generic/Python_to_generic.ml
  languages/ruby/generic/ruby_to_generic.ml
  languages/rust/generic/Parse_rust_tree_sitter.ml
  languages/scala/ast/AST_scala.ml
  languages/scala/generic/scala_to_generic.ml
  languages/scala/recursive_descent/Parser_scala_recursive_descent.ml
  languages/solidity/generic/Parse_solidity_tree_sitter.ml
  languages/swift/generic/Parse_swift_tree_sitter.ml
  languages/terraform/tree-sitter/Parse_terraform_tree_sitter.ml
  languages/tree-sitter-to-generic/Parse_hack_tree_sitter.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Meta_AST.ml
  src/analyzing/AST_to_IL.ml
  src/analyzing/Constant_propagation.ml
  src/matching/Generic_vs_generic.ml
  src/naming/Naming_AST.ml
Due: lint-ocaml

fix CI test
  src/matching/Generic_vs_generic.ml
Due: lint-ocaml

OCaml: add type arguments parenthesis in AST for autofix
  changelog.d/tparams.fixed
  languages/ocaml/ast/AST_ocaml.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/ocaml/menhir/parser_ml.mly
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tests/autofix/ocaml/poly_paren_type.fix
  tests/autofix/ocaml/poly_paren_type.fixed
  tests/autofix/ocaml/poly_paren_type.ml
  tests/autofix/ocaml/poly_paren_type.sgrep
  tools/otarzan/lib/Print.ml
Due: lint-ocaml

Addd bracket for type parameters in AST_generic (#9816)
  languages/cairo/generic/Parse_cairo_tree_sitter.ml
  languages/cpp/generic/cpp_to_generic.ml
  languages/csharp/generic/Parse_csharp_tree_sitter.ml
  languages/dart/generic/Parse_dart_tree_sitter.ml
  languages/go/generic/go_to_generic.ml
  languages/java/ast/ast_java.ml
  languages/java/generic/java_to_generic.ml
  languages/javascript/generic/js_to_generic.ml
  languages/jsonnet/generic/Jsonnet_to_generic.ml
  languages/julia/generic/Parse_julia_tree_sitter.ml
  languages/kotlin/generic/Parse_kotlin_tree_sitter.ml
  languages/lua/generic/Parse_lua_tree_sitter.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/python/generic/Python_to_generic.ml
  languages/ruby/generic/ruby_to_generic.ml
  languages/rust/generic/Parse_rust_tree_sitter.ml
  languages/scala/ast/AST_scala.ml
  languages/scala/generic/scala_to_generic.ml
  languages/scala/recursive_descent/Parser_scala_recursive_descent.ml
  languages/solidity/generic/Parse_solidity_tree_sitter.ml
  languages/swift/generic/Parse_swift_tree_sitter.ml
  languages/terraform/tree-sitter/Parse_terraform_tree_sitter.ml
  languages/tree-sitter-to-generic/Parse_hack_tree_sitter.ml
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/AST_generic_to_v1.ml
  libs/ast_generic/Meta_AST.ml
  src/analyzing/AST_to_IL.ml
  src/analyzing/Constant_propagation.ml
  src/matching/Generic_vs_generic.ml
  src/naming/Naming_AST.ml
Due: lint-ocaml

OCaml: add type arguments parenthesis in AST for autofix (#9817)
  changelog.d/tparams.fixed
  languages/ocaml/ast/AST_ocaml.ml
  languages/ocaml/generic/ocaml_to_generic.ml
  languages/ocaml/menhir/parser_ml.mly
  languages/ocaml/tree-sitter/Parse_ocaml_tree_sitter.ml
  tests/autofix/ocaml/poly_paren_type.fix
  tests/autofix/ocaml/poly_paren_type.fixed
  tests/autofix/ocaml/poly_paren_type.ml
  tests/autofix/ocaml/poly_paren_type.sgrep
  tools/otarzan/lib/Print.ml
Due: lint-ocaml

Revert "refactor(rules): decouple conditions from `And`s (#9696)"
  js/engine/tests/__snapshots__/index.test.js.snap
  src/core/Rule.ml
  src/engine/Match_search_mode.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Translate_rule.ml
  src/optimizing/Analyze_rule.ml
  src/osemgrep/reporting/Semgrep_hashing_functions.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule_formula.ml
Due: lint-ocaml

Revert "refactor(rules): decouple conditions from `And`s" (#9818)
  js/engine/tests/__snapshots__/index.test.js.snap
  src/core/Rule.ml
  src/engine/Match_search_mode.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Translate_rule.ml
  src/optimizing/Analyze_rule.ml
  src/osemgrep/reporting/Semgrep_hashing_functions.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_rule_formula.ml
Due: lint-ocaml

Use only the repo name and change local scans to instead be prepended with local_scan/ for clarity
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/meta.py
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Git_metadata.ml
Due: lint-ocaml

Add a GitBlob source
  libs/lib_parsing/Origin.ml
  libs/lib_parsing/Origin.mli
  libs/lib_parsing/dune
  src/core/Target.ml
  src/core_scan/Core_scan.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

Use `Timedesc.Timestamp.t`, not `Timedesc.t`.
  libs/commons/ATD_string_wrap.ml
  src/osemgrep/cli_ci/Git_metadata.ml
  src/osemgrep/core/Metrics_.ml
  src/osemgrep/reporting/Gitlab_output.ml
Due: lint-ocaml

fixup! Add a GitBlob source
  src/core_scan/Core_scan.ml
Due: lint-ocaml

Improve git_wrapper documentation
  libs/git_wrapper/Git_wrapper.mli
Due: lint-ocaml

fix: Git_wrapper.ls_tree filters paths with spaces
  libs/git_wrapper/Git_wrapper.ml
Due: lint-ocaml
