Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots|rules/syntax)|^semgrep-core/tests|^semgrep/semgrep/external|\binvalid\b

Style(README): update number of registry rules from 1k to 2k
  README.md
Due: none

test(js): Deduplicate variable names in test file
  semgrep-core/tests/js/infer_const_1.js
Due: none

update workflow to use semgrep-ci bot for all git actions (#5572)
  .github/workflows/start-release.yml
Due: none

Style(README): update number of registry rules from 1k to 2k (#5588)
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update release process + release scripts
  .github/workflows/start-release.yml
  .github/workflows/validate-release.yml
  scripts/validate-docker-release.sh
  scripts/validate-release.py
Due: shellcheck

feat: dont send projecturl for autoconfig (#5553)
  CHANGELOG.md
  cli/src/semgrep/config_resolver.py
Due: none

Automate release creation and validation + automated waiting (#5592)
  .github/workflows/start-release.yml
  .github/workflows/validate-release.yml
  scripts/validate-docker-release.sh
  scripts/validate-release.py
Due: shellcheck

Add PHP as a GA language to README
  README.md
Due: none

Update outdated link
  README.md
Due: none

Add PHP as GA to readme (#5593)
  README.md
Due: none

update git fetch logic in GHA, update snapshots
  cli/src/semgrep/meta.py
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-pr/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-pr/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/results.txt
  cli/tests/e2e/test_ci.py
Due: none

chore: Bump version to 0.99.0
  CHANGELOG.md
  cli/src/semgrep/__init__.py
  semgrep-core/src/cli/version.ml
  setup.py
Due: lint-ocaml

Fix path to dist.zip for the manylinux-wheel build
  .github/workflows/release.yml
Due: none

fix(deep): Retry match without resolved name (#5582)
  semgrep-core/src/matching/Generic_vs_generic.ml
Due: lint-ocaml

test(js): Deduplicate variable names in test file (#5589)
  semgrep-core/tests/js/infer_const_1.js
Due: none

Solidity: update to more recent tree-sitter-solidity
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
  semgrep-core/tests/solidity/parsing/unchecked.sol
Due: lint-ocaml

fix compilation errors
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
Due: lint-ocaml

last fixes
  semgrep-core/src/parsing/Unit_parsing.ml
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
Due: lint-ocaml

Solidity: update to more recent tree-sitter-solidity (#5599)
  semgrep-core/src/parsing/Unit_parsing.ml
  semgrep-core/src/parsing/tree_sitter/Parse_solidity_tree_sitter.ml
  semgrep-core/tests/solidity/parsing/unchecked.sol
Due: lint-ocaml

PHP: switch to GA
  CHANGELOG.md
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/tests/php/equivalence_constant_propagation.php
Due: lint-ocaml

PHP: switch to GA (#5601)
  CHANGELOG.md
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/tests/php/equivalence_constant_propagation.php
Due: lint-ocaml

PHP: support metavariable annotation
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/tests/php/metavar_anno.php
  semgrep-core/tests/php/metavar_anno.sgrep
  semgrep-core/tests/php/parsing/attributes.php
Due: lint-ocaml

don't use debug flag in tests, use clone_url
  cli/src/semgrep/meta.py
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-pr/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-gitlab/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/autofix-travis/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-azure-pipelines/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-bitbucket/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-buildkite/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-circleci/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-enterprise/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-pr/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-github-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab-push/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-gitlab/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-jenkins/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-local/results.txt
  cli/tests/e2e/snapshots/test_ci/test_full_run/noautofix-travis/results.txt
  cli/tests/e2e/test_ci.py
Due: none

changes to tests and snapshots
  cli/tests/e2e/snapshots/test_ci/test_github_ci_bad_base_sha/results.txt
  cli/tests/e2e/test_ci.py
Due: none

update workflows to include slack notifications of build status
  .github/workflows/start-release.yml
Due: none

PHP: support metavariable annotation (#5602)
  semgrep-core/src/engine/Unit_engine.ml
  semgrep-core/tests/php/metavar_anno.php
  semgrep-core/tests/php/metavar_anno.sgrep
  semgrep-core/tests/php/parsing/attributes.php
Due: lint-ocaml

AST_to_IL: Translate typed patterns
  CHANGELOG.md
  semgrep-core/src/analyzing/AST_to_IL.ml
  semgrep-core/tests/OTHER/rules/taint_foreach.java
  semgrep-core/tests/OTHER/rules/taint_foreach.yaml
Due: lint-ocaml

Fix path to dist.zip for the manylinux-wheel build (#5597)
  .github/workflows/release.yml
Due: none

chore: Bump version to 0.100.0
  CHANGELOG.md
  cli/src/semgrep/__init__.py
  semgrep-core/src/cli/version.ml
  setup.py
Due: lint-ocaml

Update target_manager.py
  cli/src/semgrep/target_manager.py
Due: none

use commit ref as checkout, update/mask snapshots
  cli/src/semgrep/meta.py
  cli/tests/e2e/snapshots/test_ci/test_github_ci_bad_base_sha/results.txt
  cli/tests/e2e/test_ci.py
Due: none

force no color for debug output
  cli/tests/e2e/snapshots/test_ci/test_github_ci_bad_base_sha/results.txt
  cli/tests/e2e/test_ci.py
Due: none

fix place that committer looks for snapshot tests
  .github/workflows/tests.yml
Due: none

update masks
  cli/tests/e2e/snapshots/test_ci/test_github_ci_bad_base_sha/results.txt
  cli/tests/e2e/test_ci.py
Due: none

update frequency of waiting for checks
  .github/workflows/start-release.yml
Due: none

manually bump version to get release workflows restarted
  .github/workflows/validate-release.yml
  cli/setup.py
Due: none

update bump script
  scripts/release/bump
Due: none

Update .github/workflows/start-release.yml
  .github/workflows/start-release.yml
Due: none
