Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

chore: benchmarks/push bins on release branches (semgrep/semgrep-proprietary#3763)
  .github/workflows/libs/gha.libsonnet
  .github/workflows/lint.yml
Due: none

chore: allow release workflow to work w/patch (semgrep/semgrep-proprietary#3712)
  .github/workflows/libs/actions.libsonnet
Due: none

feat: patch release branches/version bump! (semgrep/semgrep-proprietary#3738)
  scripts/release/bump
Due: none

Limit interfile runs to one core (semgrep/semgrep-proprietary#3760)
  Dockerfile
  changelog.d/interfile-num-jobs.fixed
  libs/parallelism/Parmap_.ml
  libs/parallelism/Parmap_.mli
  src/configuring/Num_jobs.ml
  src/configuring/Num_jobs.mli
  src/configuring/Resources.ml
  src/configuring/Resources.mli
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_CLI.mli
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan_config.ml
  src/core_scan/Parmap_targets.ml
  src/core_scan/Parmap_targets.mli
  src/lsp/server/User_settings.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/osemgrep/core_runner/Core_runner.mli
Due: lint-ocaml

feat(multicore): let `Core_scan_config.t` have a thread pool (semgrep/semgrep-proprietary#3552)
  TCB/Cap.ml
  TCB/dune
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan_config.ml
  src/core_scan/dune
  src/main/flags.sh
  src/osemgrep/core_runner/Core_runner.ml
Due: shellcheck, lint-ocaml

oscaml: pass the right capabilities for --allow-local-build (semgrep/semgrep-proprietary#3730)
  src/osemgrep/cli_test/Test_subcommand.mli
Due: lint-ocaml

oscaml: osemgrep: plug transitive reachability (semgrep/semgrep-proprietary#3733)
  src/core/SCA_match.ml
  src/reporting/Core_json_output.ml
  src/sca/Package.ml
Due: lint-ocaml

fix: pro release sha for tagging and version check (semgrep/semgrep-proprietary#3771)
  .github/workflows/libs/actions.libsonnet
Due: none

feat(multicore): Eio-aware Hook-like mutable value datatype (semgrep/semgrep-proprietary#3720)
  libs/commons/Result_.ml
  libs/commons/Result_.mli
  libs/commons/tests/Commons_tests.ml
  libs/commons/tests/Unit_Result_.ml
  libs/commons/tests/Unit_Result_.mli
  libs/parallelism/Scoped.ml
  libs/parallelism/Scoped.mli
  libs/parallelism/tests/Parallelism_tests.ml
  libs/parallelism/tests/Unit_Domains.ml
  libs/parallelism/tests/Unit_Scoped.ml
  libs/parallelism/tests/dune
Due: lint-ocaml

fix: replace non-utf8 characters in file targeting (semgrep/semgrep-proprietary#3777)
  cli/src/semgrep/rpc.py
Due: none

try
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

also add to extra artif
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

fix path
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

bump ts + copy dll
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
Due: none

try
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/semgrep.libsonnet
Due: none

also regex ocaml-tree-sitter-core
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/semgrep.libsonnet
Due: none

ci(windows): run cli_e2e tests on Windows (semgrep/semgrep-proprietary#3641)
  cli/src/semgrep/util.py
Due: none

matching: Handle grammar issues more gracefully (semgrep/semgrep-proprietary#3512)
  src/matching/SubAST_generic.ml
Due: lint-ocaml

chore: remove `Apply_equivalences` and related (semgrep/semgrep-proprietary#3749)
  interfaces/Rule_options.atd
  src/configuring/Flag_semgrep.ml
  src/core/Equivalence.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_actions.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan_config.ml
  src/engine/Match_env.ml
  src/engine/Match_search_mode.ml
  src/engine/tests/Unit_engine.ml
  src/matching/Apply_equivalences.ml
  src/matching/Apply_equivalences.mli
  src/matching/Match_patterns.ml
  src/matching/Match_patterns.mli
  src/matching/Unit_matcher.ml
  src/osemgrep/core_runner/Core_runner.ml
  src/parsing/Parse_equivalences.ml
  src/parsing/Parse_equivalences.mli
  src/parsing/Parse_rule.ml
  src/rule/Rule.ml
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: lint-ocaml

docs: tainting: Add TODO note (semgrep/semgrep-proprietary#3728)
  src/tainting/Dataflow_tainting.ml
  src/tainting/Shape_and_sig.ml
Due: lint-ocaml

chore(multicore): Meta_AST: remove mutable state (semgrep/semgrep-proprietary#3754)
  src/ast_generic/Meta_AST.ml
Due: lint-ocaml

refactor: Reuse visitor in Autofix_metavar_replacement (semgrep/semgrep-proprietary#3740)
  src/fixing/Autofix_metavar_replacement.ml
Due: lint-ocaml

feat: skip oss release on patch release (semgrep/semgrep-proprietary#3756)
  .github/workflows/libs/actions.libsonnet
Due: none

refactor: Reuse visitor in Autofix_printer (semgrep/semgrep-proprietary#3741)
  src/fixing/Autofix_printer.ml
Due: lint-ocaml

refactor: Reuse visitor in Naming_AST (semgrep/semgrep-proprietary#3742)
  src/naming/Naming_AST.ml
Due: lint-ocaml

Update tree-sitter-kotlin (semgrep/semgrep-proprietary#3745)
  languages/kotlin/generic/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

refactor: Reuse visitor in Check_pattern (semgrep/semgrep-proprietary#3743)
  src/parsing/Check_pattern.ml
Due: lint-ocaml

refactor: Reuse visitor in Taint_input_env (semgrep/semgrep-proprietary#3744)
  src/tainting/Taint_input_env.ml
Due: lint-ocaml

test(windows): normalize line endings in OSS/cli/tests (semgrep/semgrep-proprietary#3765)
  cli/tests/semgrep_runner.py
Due: none

Clean up: remove old file containing the default Semgrepignore patterns (semgrep/semgrep-proprietary#3707)
  cli/src/semgrep/templates/.semgrepignore
  cli/src/semgrep/templates/README.md
Due: none
