Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint, lint-ocaml

.pre-commit-config.yaml:

exclude: "^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\\.md"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^semgrep\/tests\/.+$|^perf\/bench\/gitlab-rules\/.+$$
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: fix-byte-order-marker

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.6
    hooks:
      - id: reorder-python-imports
        args: [--py36-plus]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.790"
    hooks:
      - id: mypy
        exclude: ^semgrep\/tests\/.+$|^setup.py$|^scripts\/.+$|^parsing-stats\/.+$|^perf\/.+$$
        args: [--config, mypy.ini, --show-error-codes]
      - id: mypy
        alias: mypy-test
        name: mypy (test files)
        files: ^semgrep\/tests\/.+$
        args: [--config, mypy-tests.ini, --show-error-codes]

  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.8.4"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear==20.1.4"]
        args: ["--select=B,E9,F4,F63,F7,F82"]

  - repo: https://github.com/returntocorp/semgrep
    rev: 'v0.43.0'
    hooks:
      - id: semgrep
        name: Semgrep Python
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/python', '--error']
      - id: semgrep
        name: Semgrep Bandit
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/bandit', '--error']

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck:v0.7.1
        files: "[.]sh$"

  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        language: docker_image
        files: "Dockerfile"
        entry: hadolint/hadolint:v1.18.0 hadolint
        args: ["--ignore", "DL3008", "--ignore", "DL3018"]


  # Run develop semgrep. Only used in CI
  # To run locally use `pre-commit run --hook-stage manual semgrep-docker-develop`
  - repo: https://github.com/returntocorp/semgrep
    rev: 'v0.43.0'
    hooks:
      - id: semgrep-docker-develop
        name: Semgrep Develop Python
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/python', '--error']
        stages: [manual]
      - id: semgrep-docker-develop
        name: Semgrep Develop Bandit
        types: [python]
        exclude: "^semgrep/tests/.+$|^scripts/.+$|^semgrep/setup.py$"
        args: ['--config', 'https://semgrep.dev/p/bandit', '--error']
        stages: [manual]

  # Reformat OCaml code (ml, mli) with ocamlformat if ocamlformat is
  # present. If ocamlformat is missing, this step will succeed.
  # This allows pure python users to run 'pre-commit run --all' without
  # installing opam and ocamlformat.
  #
  - repo: local
    hooks:
      - id: lint-ocaml
        name: Reformat OCaml code
        entry: ./scripts/lint-ocaml
        language: script
        files: "\\.mli?$"

Some of Brendon's comments
  CHANGELOG.md
  semgrep/semgrep/config_resolver.py
  semgrep/semgrep/metric_manager.py
Due: none

[Kotlin] improve Parse_kotlin_tree_sitter.ml and AST_generic.ml too (#3968)
  semgrep-core/src/analyzing/AST_to_IL.ml
  semgrep-core/src/analyzing/Constant_propagation.ml
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/AST_generic_helpers.ml
  semgrep-core/src/core/ast/AST_generic_helpers.mli
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_lua_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_rust_tree_sitter.ml
  semgrep-core/src/reporting/JSON_report.ml
  semgrep-core/tests/kotlin/parsing/navigation.kt
Due: lint-ocaml

tests: Check that we still find matches with a $F(...) sanitizer
  semgrep-core/tests/tainting_rules/php/opaque_safe.php
Due: none

[Kotlin] add arguments to inherited parents
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/AST_generic_helpers.ml
  semgrep-core/src/core/ast/AST_generic_helpers.mli
  semgrep-core/src/core/ast/Map_AST.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/Python_to_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/pfff/js_to_generic.ml
  semgrep-core/src/parsing/pfff/php_to_generic.ml
  semgrep-core/src/parsing/pfff/ruby_to_generic.ml
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
  semgrep-core/tests/kotlin/parsing/parent_with_args.kt
Due: lint-ocaml

[Kotlin] add arguments to inherited parents (#3979)
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/AST_generic_helpers.ml
  semgrep-core/src/core/ast/AST_generic_helpers.mli
  semgrep-core/src/core/ast/Map_AST.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/Python_to_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/pfff/js_to_generic.ml
  semgrep-core/src/parsing/pfff/php_to_generic.ml
  semgrep-core/src/parsing/pfff/ruby_to_generic.ml
  semgrep-core/src/parsing/pfff/scala_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_hack_tree_sitter.ml
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
  semgrep-core/tests/kotlin/parsing/parent_with_args.kt
Due: lint-ocaml

[Kotlin] Full pass improving Parse_kotlin_tree.sitter.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

Make configpath fields private
  semgrep/semgrep/config_resolver.py
Due: none

Update comments
  semgrep/semgrep/config_resolver.py
Due: none

Triggering build
  scripts/osx-release.sh
Due: shellcheck

[Kotlin] Full pass improving Parse_kotlin_tree.sitter.ml (#3980)
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

[Kotlin] use latest semgrep-kotlin
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

Make executable?
  scripts/osx-release.sh
Due: shellcheck

fixup! Make executable?
  scripts/osx-release.sh
Due: shellcheck

tests: Check that we still find matches with a $F(...) sanitizer (#3977)
  semgrep-core/tests/tainting_rules/php/opaque_safe.php
Due: none

fixup! fixup! Make executable?
  scripts/osx-release.sh
Due: shellcheck

try it
  scripts/osx-release.sh
Due: shellcheck

fixup! fixup! fixup! Make executable?
  scripts/osx-release.sh
Due: shellcheck

fixup! fixup! fixup! fixup! Make executable?
  .github/workflows/build-tests.yml
Due: none

fix(ci): change github mac runner version
  .github/workflows/build-tests.yml
  .github/workflows/homebrew-core-head.yml
  .github/workflows/release.yml
Due: none

Remove unused type
  semgrep/semgrep/types.py
Due: none

Update tests as well
  semgrep/tests/e2e/snapshots/test_check/test_registry_rule/results.json
Due: none

Fix test after technology added for rules
  semgrep/tests/e2e/snapshots/test_check/test_registry_rule/results.json
Due: none

fix(ci): change github mac runner version (#3985)
  .github/workflows/build-tests.yml
  .github/workflows/homebrew-core-head.yml
  .github/workflows/release.yml
  semgrep/tests/e2e/snapshots/test_check/test_registry_rule/results.json
Due: none

Scan scripts
  CHANGELOG.md
  semgrep/semgrep/semgrep_types.py
  semgrep/semgrep/target_manager.py
  semgrep/semgrep/target_manager_extensions.py
  semgrep/tests/e2e/snapshots/test_check/test_registry_rule/results.json
  semgrep/tests/e2e/snapshots/test_check/test_script/results.json
  semgrep/tests/e2e/targets/script/bad
  semgrep/tests/e2e/test_check.py
Due: none

fixup! Scan scripts
  semgrep/semgrep/target_manager.py
Due: none

Fix settings class
  semgrep/semgrep/notifications.py
  semgrep/semgrep/settings.py
Due: none

Run benchmarks without metrics
  perf/run-benchmarks
Due: none

Use legacy benchmarks
  perf/run-benchmarks
Due: none

Move changelog
  CHANGELOG.md
Due: none

[Kotlin] use latest semgrep-kotlin (#3983)
  semgrep-core/src/parsing/tree_sitter/Parse_kotlin_tree_sitter.ml
Due: lint-ocaml

[C#] put back OCaml warnings for unused variables
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml
Due: lint-ocaml

[C#] put back OCaml warnings for unused variables (#3989)
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml
Due: lint-ocaml
