Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

bug: Standardizing Go module indexing (semgrep/semgrep-proprietary#5893)
  changelog.d/code-9225.changed
Due: none

chore: `s/cp/cp -LR` when creating GHA artifacts (semgrep/semgrep-proprietary#5825)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
Due: none

chore: replace Depot project ID secret with config file (semgrep/semgrep-proprietary#5865)
  .github/workflows/build-test-docker.yml
  .github/workflows/libs/docker.libsonnet
  depot.json
Due: none

Note additional subdirectories in CLAUDE.md (semgrep/semgrep-proprietary#5878)
  CLAUDE.md
Due: none

chore: update rust parser (semgrep/semgrep-proprietary#5900)
  changelog.d/rust-parser-updated.fixed
  languages/rust/generic/Parse_rust_tree_sitter.ml
  tests/parsing/rust/declarations.rs
  tests/parsing/rust/expressions.rs
  tests/snapshots/semgrep-core/cd62d6a5768d/stdout
Due: lint-ocaml

fix: Scala: Identify parentheses-less calls (semgrep/semgrep-proprietary#5894)
  changelog.d/lang-80.fixed
  src/analyzing/AST_to_IL.ml
  src/rule/Lang.ml
  src/rule/Lang.mli
Due: lint-ocaml

Fix shebang in bump-uses.py (semgrep/semgrep-proprietary#5920)
  .github/workflows/libs/bump-uses.py
Due: none

Fall back on token from `gh` in bump-uses.py (semgrep/semgrep-proprietary#5921)
  .github/workflows/libs/bump-uses.py
Due: none

Pin setup-uv to specific minor version (semgrep/semgrep-proprietary#5922)
  .github/workflows/libs/uses.json
Due: none

refactor: js: Mark fake ids as "hidden" (semgrep/semgrep-proprietary#5896)
  languages/javascript/ast/ast_js.ml
  languages/javascript/ast/visitor_js.ml
  languages/javascript/generic/js_to_generic.ml
  languages/javascript/menhir/parser_js.mly
  languages/json/ast/AST_json.ml
  languages/typescript/tree-sitter/Parse_typescript_tree_sitter.ml
  tests/snapshots/semgrep-core/6a7e90b8a520/stdout
  tests/snapshots/semgrep-core/ee3b36489bc2/stdout
Due: lint-ocaml

chore(backend): add function to fetch config with v2 backend (semgrep/semgrep-proprietary#5901)
  cli/src/semgrep/app/scans.py
  src/osemgrep/networking/Semgrep_App.ml
  src/osemgrep/networking/Semgrep_App.mli
  tests/ls/ci/v2_config_resp.json
Due: lint-ocaml

chore: enforce `uv.lock` is updated and used (semgrep/semgrep-proprietary#5918)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  cli/Makefile
  scripts/build-wheels.sh
Due: shellcheck

Move remaining OSS unit tests into dedicated directories (semgrep/semgrep-proprietary#5907)
  languages/python/menhir/tests/Unit_parsing_python.ml
  languages/python/menhir/tests/Unit_parsing_python.mli
  languages/python/menhir/tests/dune
  languages/regexp/tests/Unit_parsing.ml
  languages/regexp/tests/dune
  languages/scala/recursive_descent/tests/Unit_parsing_scala.ml
  languages/scala/recursive_descent/tests/Unit_parsing_scala.mli
  languages/scala/recursive_descent/tests/dune
  libs/git_wrapper/tests/Unit_git_wrapper.ml
  libs/git_wrapper/tests/Unit_git_wrapper.mli
  libs/git_wrapper/tests/dune
  libs/gitignore/tests/Unit_gitignore.ml
  libs/gitignore/tests/Unit_gitignore.mli
  libs/gitignore/tests/dune
  libs/glob/tests/Unit_glob.ml
  libs/glob/tests/Unit_glob.mli
  libs/glob/tests/dune
  libs/lib_parsing/tests/Unit_parsed_float.ml
  libs/lib_parsing/tests/Unit_tok.ml
  libs/lib_parsing/tests/dune
  libs/ojsonnet/tests/Unit_jsonnet.ml
  libs/ojsonnet/tests/Unit_jsonnet.mli
  libs/ojsonnet/tests/dune
  libs/paths/tests/Unit_Ppath.ml
  libs/paths/tests/Unit_Ppath.mli
  libs/paths/tests/Unit_Rpath.ml
  libs/paths/tests/Unit_Rpath.mli
  libs/paths/tests/Unit_list_files.ml
  libs/paths/tests/Unit_list_files.mli
  libs/paths/tests/dune
  libs/process_limits/tests/Unit_cgroup_limits.ml
  libs/process_limits/tests/Unit_cgroup_limits.mli
  libs/process_limits/tests/Unit_memory_limit.ml
  libs/process_limits/tests/Unit_memory_limit.mli
  libs/process_limits/tests/dune
  src/tests/Test.ml
  src/tests/dune
Due: lint-ocaml

metavariable-type: Allow checking the type of type names (semgrep/semgrep-proprietary#5912)
  changelog.d/LANG-271.added
  changelog.d/LANG-271.fixed
  src/matching/Pattern_vs_code.ml
  src/parsing/Parse_metavariable_type.ml
Due: lint-ocaml

Deep_tainting: marshal taint configs to disk between phases (semgrep/semgrep-proprietary#5897)
  changelog.d/ENGINE-2582.changed
Due: none

Feat: Scala inferred types for class attributes are now propagated (semgrep/semgrep-proprietary#5849)
  changelog.d/lang-79.fixed
Due: none

chore: bump taskmaster (semgrep/semgrep-proprietary#5866)
  .github/workflows/libs/uses.json
  .github/workflows/libs/useslockfile.json
Due: none

Remove miscellaneous experiments (semgrep/semgrep-proprietary#5847)
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
Due: lint-ocaml

chore(sca): Switch to OCaml based parser for npm package-lock files (semgrep/semgrep-proprietary#5658)
  changelog.d/gh-5658.changed
  cli/src/semdep/parsers/package_lock.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/sca_subproject_support.py
  cli/tests/default/e2e-other/parsers/test_package_lock.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awaregeneric-sca.yaml-dependency_awaregeneric/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-sca.yaml-dependency_awaredeeply_nested_package_lock/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-sca.yaml-dependency_awarejs/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-sca.yaml-dependency_awarenpm-empty/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-sca.yaml-dependency_awarenpm-malformed/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-sca.yaml-dependency_awarepackage-lock_resolved_false/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejs-yarn2-sca.yaml-dependency_awarepackage-lock-v3/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awaremulti-dep-rule.yaml-dependency_awaremulti-dep-rule/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarenested_package_lock.yaml-dependency_awarenested_package_lock/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awaretransitive_and_direct.yaml-dependency_awaretransitive_and_directdirect_reachable_transitive_unreachable/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awaretransitive_and_direct.yaml-dependency_awaretransitive_and_directtransitive_not_reachable_if_direct/results.txt
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/e2e/targets/dependency_aware/deeply_nested_package_lock/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/generic/generic.txt
  cli/tests/default/e2e/targets/dependency_aware/generic/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/js/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/js/sca.js
  cli/tests/default/e2e/targets/dependency_aware/multi-dep-rule/bad.js
  cli/tests/default/e2e/targets/dependency_aware/multi-dep-rule/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/multi-dep-rule/package.json
  cli/tests/default/e2e/targets/dependency_aware/nested_package_lock/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/npm-empty/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/npm-malformed/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/package-lock-v3/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/package-lock_resolved_false/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/direct_reachable_transitive_unreachable/bad.js
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/direct_reachable_transitive_unreachable/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/direct_reachable_transitive_unreachable/package.json
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/transitive_not_reachable_if_direct/bad.js
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/transitive_not_reachable_if_direct/package-lock.json
  cli/tests/default/e2e/targets/dependency_aware/transitive_and_direct/transitive_not_reachable_if_direct/package.json
  cli/tests/performance/test_semdep.py
Due: none

Fix Python parsing of non-f-strings when match statements are used (semgrep/semgrep-proprietary#5810)
  changelog.d/gh-11287.fixed
  languages/python/tree-sitter/Parse_python_tree_sitter.ml
  tests/parsing/python/docstrings.py
  tests/patterns/python/dots_fstring_with_match_stmt.py
  tests/snapshots/semgrep-core/8e740180b65e/name
  tests/snapshots/semgrep-core/8e740180b65e/stdout
Due: lint-ocaml

Reapply "feat(docker): agent image (semgrep/semgrep-proprietary#5763)" (semgrep/semgrep-proprietary#5822)
  .github/workflows/libs/docker.libsonnet
Due: none

bump flake8 version for python 3.14 (semgrep/semgrep-proprietary#5877)
  cli/src/semgrep/app/version.py
  cli/src/semgrep/commands/wrapper.py
  cli/src/semgrep/console_scripts/entrypoint.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/error.py
  cli/src/semgrep/target_mode.py
  perf/compare-bench-findings
Due: none

fix: surface errors from target discovery (semgrep/semgrep-proprietary#5882)
  changelog.d/ENGINE-2627.fixed
  cli/src/semgrep/target_manager.py
Due: none

fix: lower PCRE recursion limit to prevent segfaults (semgrep/semgrep-proprietary#5887)
  changelog.d/engine-2628.fixed
  libs/commons/Pcre2_.ml
  libs/commons/Pcre2_.mli
  libs/commons/Pcre_.ml
  libs/commons/Pcre_.mli
  src/aliengrep/Unit_Match.ml
  tests/rules/aliengrep_recursion_limit.generic
  tests/rules/aliengrep_recursion_limit.yaml
Due: lint-ocaml
