Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint, lint-ocaml

Path conditions:
  shellcheck: any of: [.]sh$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  hadolint: any of: Dockerfile, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md
  lint-ocaml: any of: \.mli?$, but not: ^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md

Bump CHANGELOG and add comment on line indexing
  CHANGELOG.md
  semgrep/semgrep/rule_match.py
Due: none

Let RuleMatch handle retrieving line information (#2973)
  CHANGELOG.md
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/rule_match.py
  semgrep/semgrep/spacegrep.py
  semgrep/tests/e2e/rules/regex-nosemgrep.yaml
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__child/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__issue2465/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__nosemgrep/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__not2/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__pattern_regex_and_pattern_not_regex/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_rule__top/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_with_any_language_multiple_rule/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_with_any_language_multiple_rule_none_alias/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_with_any_language_rule/results.json
  semgrep/tests/e2e/snapshots/test_check/test_regex_with_any_language_rule_none_alias/results.json
  semgrep/tests/e2e/snapshots/test_spacegrep/test_spacegrep/rulesspacegrephtml.yaml-spacegrephtml.mustache/results.json
  semgrep/tests/e2e/snapshots/test_spacegrep/test_spacegrep/rulesspacegrepterraform.yaml-spacegrepterraform.tf/results.json
  semgrep/tests/e2e/snapshots/test_spacegrep/test_spacegrep_nosem/rulesspacegrepnosem-html.yaml-spacegrepnosem.html/results.json
  semgrep/tests/e2e/targets/basic/regex-nosemgrep.txt
  semgrep/tests/e2e/test_check.py
Due: none

Add Java switch expressions
  semgrep-core/src/analyzing/lrvalue.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/misc_switch_e.java
  semgrep-core/tests/java/misc_switch_e.sgrep
Due: lint-ocaml

Flip constants -> util dependency
  semgrep/semgrep/constants.py
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/dump_ast.py
  semgrep/semgrep/metavariable_comparison.py
  semgrep/semgrep/spacegrep.py
  semgrep/semgrep/synthesize_patterns.py
  semgrep/semgrep/util.py
Due: none

Remove commented out code
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
Due: lint-ocaml

Add todo in sgrep file
  semgrep-core/tests/java/misc_switch_e.sgrep
Due: none

Move error match annotation
  semgrep-core/tests/java/misc_switch_e.java
  semgrep-core/tests/java/misc_switch_e.sgrep
Due: none

Changelog
  CHANGELOG.md
Due: none

bump version to 0.48.0
  CHANGELOG.md
  semgrep/semgrep/__init__.py
  setup.py
Due: none

Add note about CI
  perf/README.md
Due: none

Use the semgrep-dev container (#2968)
  .circleci/config.yml
  dockerfiles/semgrep-dev.Dockerfile
  perf/README.md
Due: hadolint

Add Java switch expressions (#2975)
  CHANGELOG.md
  semgrep-core/src/analyzing/lrvalue.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/java_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_java_tree_sitter.ml
  semgrep-core/tests/java/misc_switch_e.java
  semgrep-core/tests/java/misc_switch_e.sgrep
Due: lint-ocaml

Flip constants -> util dependency (#2974)
  semgrep/semgrep/constants.py
  semgrep/semgrep/core_runner.py
  semgrep/semgrep/dump_ast.py
  semgrep/semgrep/metavariable_comparison.py
  semgrep/semgrep/spacegrep.py
  semgrep/semgrep/synthesize_patterns.py
  semgrep/semgrep/util.py
Due: none

Skip tree-sitter installation if in homebrew (#2969)
  scripts/install-ocaml-tree-sitter
Due: none

Add symlink to LICENSE so setup.py includes it in wheel (#2970)
  semgrep/LICENSE
Due: none

Separate interpolated elements in ruby
  semgrep-core/src/analyzing/AST_to_IL.ml
  semgrep-core/src/api/AST_generic_to_v1.ml
  semgrep-core/src/core/ast/AST_generic.ml
  semgrep-core/src/core/ast/Map_AST.ml
  semgrep-core/src/core/ast/Meta_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/matching/Generic_vs_generic.ml
  semgrep-core/src/parsing/pfff/ruby_to_generic.ml
  semgrep-core/src/parsing/tree_sitter/Parse_ruby_tree_sitter.ml
Due: lint-ocaml

Added documentation
  CHANGELOG.md
  semgrep-core/src/core/ast/AST_generic.ml
Due: lint-ocaml

Add required executionSuccessful attribute to SARIF output
  semgrep/semgrep/output.py
  semgrep/tests/e2e/snapshots/test_check/test_sarif_output/results.sarif
Due: none

Update changelog
  CHANGELOG.md
Due: none

restore kname visitor for codemap and use latest pfff
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.mli
Due: lint-ocaml

restore kname visitor for codemap and use latest pfff (#2984)
  semgrep-core/src/core/ast/Visitor_AST.ml
  semgrep-core/src/core/ast/Visitor_AST.mli
Due: lint-ocaml

feat: limit max characters in output line
  semgrep/semgrep/cli.py
  semgrep/semgrep/constants.py
  semgrep/semgrep/output.py
  semgrep/semgrep/semgrep_main.py
  semgrep/tests/unit/test_target_manager.py
Due: none

Add error output when semgrep returns non 0 or 3 code
  perf/run-benchmarks
Due: none

Revert "Skip tree-sitter installation if in homebrew (#2969)"
  scripts/install-ocaml-tree-sitter
Due: none

Revert "Skip tree-sitter installation if in homebrew (#2969)" (#2990)
  scripts/install-ocaml-tree-sitter
Due: none

Add error output to benchmarking when semgrep returns non 0 or 3 code (#2988)
  perf/run-benchmarks
Due: none

Add required executionSuccessful attribute to SARIF output (#2983)
  CHANGELOG.md
  semgrep/semgrep/output.py
  semgrep/tests/e2e/snapshots/test_check/test_sarif_output/results.sarif
Due: none

Initial memory benchmarking
  perf/run-benchmarks
Due: none
