Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

capabilities: remove remaining reasonable readdir_UNSAFE (last part) (semgrep/semgrep-proprietary#3113)
  languages/php/ast/lib_parsing_php.ml
  languages/php/ast/lib_parsing_php.mli
  libs/commons/CapFS.ml
  libs/commons/CapFS.mli
  libs/commons2/common2.ml
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  src/core_scan/Core_scan.ml
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/cli_scan/Diff_scan.ml
  src/osemgrep/cli_scan/Diff_scan.mli
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_show/Show_subcommand.ml
  src/osemgrep/cli_show/Show_subcommand.mli
  src/osemgrep/cli_show/Test_show_subcommand.ml
  src/osemgrep/cli_show/Test_show_subcommand.mli
  src/osemgrep/cli_validate/Validate_subcommand.ml
  src/osemgrep/cli_validate/Validate_subcommand.mli
  src/osemgrep/networking/Rule_fetching.ml
  src/osemgrep/networking/Rule_fetching.mli
  src/osemgrep/networking/Unit_Fetching.mli
  src/tests/Test.ml
Due: lint-ocaml

feat(matching): match parameterized types (semgrep/semgrep-proprietary#3117)
  src/matching/Pattern_vs_code.ml
  tests/patterns/java/parameterized_type.java
  tests/patterns/java/parameterized_type.sgrep
Due: lint-ocaml

Add `-ocaml_version` flag to semgrep-core (semgrep/semgrep-proprietary#3125)
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

oscaml: move DependencyResolutionError to ATD (semgrep/semgrep-proprietary#3104)
  cli/src/semdep/parsers/composer.py
  cli/src/semdep/parsers/gem.py
  cli/src/semdep/parsers/go_mod.py
  cli/src/semdep/parsers/gradle.py
  cli/src/semdep/parsers/mix.py
  cli/src/semdep/parsers/package_lock.py
  cli/src/semdep/parsers/packages_lock_c_sharp.py
  cli/src/semdep/parsers/pipfile.py
  cli/src/semdep/parsers/pnpm.py
  cli/src/semdep/parsers/poetry.py
  cli/src/semdep/parsers/pom_tree.py
  cli/src/semdep/parsers/pubspec_lock.py
  cli/src/semdep/parsers/requirements.py
  cli/src/semdep/parsers/swiftpm.py
  cli/src/semdep/parsers/util.py
  cli/src/semdep/parsers/yarn.py
  cli/src/semgrep/error.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_dependency_source.py
Due: none

chore: Ignore Graphite branches in check-submodule job (semgrep/semgrep-proprietary#3124)
  .github/workflows/libs/gha.libsonnet
Due: none

Add new CapFS.with_chdir and environment variables to CapExec (semgrep/semgrep-proprietary#3128)
  libs/commons/CapExec.ml
  libs/commons/CapExec.mli
  libs/commons/CapFS.ml
  libs/commons/CapFS.mli
  libs/commons/Cmd.ml
  libs/commons/Cmd.mli
  libs/commons/UCmd.ml
  libs/commons/UCmd.mli
Due: lint-ocaml

chore: Update cache action (semgrep/semgrep-proprietary#3122)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
Due: none

chore: Update setup-buildx-action (semgrep/semgrep-proprietary#3123)
  .github/workflows/build-test-docker.jsonnet
  .github/workflows/build-test-docker.yml
  .github/workflows/build-test-manylinux-aarch64.jsonnet
  .github/workflows/build-test-manylinux-aarch64.yml
Due: none

chore: Update checkout action (semgrep/semgrep-proprietary#3138)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-docker.jsonnet
  .github/workflows/build-test-docker.yml
  .github/workflows/build-test-manylinux-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/build-test-windows-x86.yml
  .github/workflows/libs/actions.libsonnet
  .github/workflows/libs/util.libsonnet
  .github/workflows/lint.yml
  .github/workflows/release.jsonnet
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/start-release.jsonnet
  .github/workflows/start-release.yml
  .github/workflows/sync-with-PRO.jsonnet
  .github/workflows/sync-with-PRO.yml
  .github/workflows/test-e2e-semgrep-ci.jsonnet
  .github/workflows/test-e2e-semgrep-ci.yml
  .github/workflows/tests.yml
  .github/workflows/trigger-semgrep-comparison-argo.yml
Due: none

chore: Update setup-go action (semgrep/semgrep-proprietary#3139)
  .github/workflows/lint.jsonnet
  .github/workflows/lint.yml
Due: none

SARIF output shows incorrect file paths in dataflow trace locations
  src/osemgrep/reporting/Sarif_output.ml
Due: lint-ocaml

Refactor parameters
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Refactor assignments and short functions
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Remove _quotable
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Remove _number
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Rename bare_tuple to open_tuple
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Refactor parameter and argument lists
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Fix bracket level expressions and other stuff
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Remove unused functions
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Refactor _operation
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Refactor abstract/primitive type tokens
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Refactor function signatures
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

Fix open macrocall expression as parameter
  languages/julia/generic/Parse_julia_tree_sitter.ml
Due: lint-ocaml

github: Add Code PA as code owners of taint and Pro SAST code (semgrep/semgrep-proprietary#3151)
  .github/CODEOWNERS
Due: none

refactor: Move Tok.location type and utils to the Loc module (semgrep/semgrep-proprietary#3153)
  languages/cpp/menhir/parse_cpp.ml
  languages/php/menhir/lexer_php.mll
  languages/php/menhir/parsing_hacks_php.ml
  languages/yaml/generic/yaml_to_generic.ml
  libs/lib_parsing/Loc.ml
  libs/lib_parsing/Loc.mli
  libs/lib_parsing/Tok.ml
  libs/lib_parsing/Tok.mli
  libs/lib_parsing/Unit_tok.ml
  libs/lib_parsing_tree_sitter/Parse_tree_sitter_helpers.ml
  libs/ojsonnet/Parse_jsonnet.ml
  src/ast_generic/AST_generic_helpers.ml
  src/ast_generic/Meta_AST.ml
  src/core/Core_error.ml
  src/core/Semgrep_output_utils.ml
  src/core_scan/Core_scan.ml
  src/engine/Eval_generic.ml
  src/engine/Match_env.ml
  src/engine/Match_rules.ml
  src/engine/Match_taint_spec.ml
  src/engine/Xpattern_match_aliengrep.ml
  src/engine/Xpattern_match_regexp.ml
  src/engine/Xpattern_match_spacegrep.ml
  src/engine/tests/Test_compare_matches.ml
  src/engine/tests/Test_dataflow_tainting.ml
  src/fixing/Autofix.ml
  src/fixing/Autofix_printer.ml
  src/fixing/tests/Unit_autofix_printer.ml
  src/lsp/requests/Hover_request.ml
  src/lsp/util/Convert_utils.ml
  src/matching/Matching_generic.ml
  src/parsing/Parse_rule.ml
  src/parsing/Parse_target.ml
  src/parsing/Parsing_result2.ml
  src/reporting/Core_json_output.ml
  src/reporting/Nosemgrep.ml
  src/tainting/Shape_and_sig.ml
  src/tainting/Taint.ml
Due: lint-ocaml

Use inherited environment when using CapExec ~env (semgrep/semgrep-proprietary#3156)
  TCB/forbid_chdir.jsonnet
  TCB/forbid_process.jsonnet
  libs/commons/CapExec.ml
  libs/commons/Cmd.ml
  libs/commons/Cmd.mli
  libs/commons/UCmd.ml
  libs/commons/tests/Commons_tests.ml
  libs/commons/tests/Commons_tests.mli
  libs/commons/tests/Unit_CapExec.ml
  libs/commons/tests/Unit_CapExec.mli
  libs/commons/tests/dune
  src/tests/Test.ml
Due: lint-ocaml

chore: Stop using python cache in pre-commit job (semgrep/semgrep-proprietary#3144)
  .github/workflows/libs/actions.libsonnet
  .github/workflows/lint.jsonnet
  .github/workflows/lint.yml
Due: none

chore: Upgrade setup-python action (semgrep/semgrep-proprietary#3121)
  .github/workflows/build-test-osx-arm64.jsonnet
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/libs/actions.libsonnet
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

chore: Update action-gh-release (semgrep/semgrep-proprietary#3141)
  .github/workflows/start-release.jsonnet
  .github/workflows/start-release.yml
Due: none

Move subproject.py DependencySource and children classes to ATD (semgrep/semgrep-proprietary#3150)
  cli/src/semdep/matchers/base.py
  cli/src/semdep/matchers/gradle.py
  cli/src/semdep/matchers/pip_requirements.py
  cli/src/semgrep/core_targets_plan.py
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_changed_subprojects.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_dependency_source.py
  cli/tests/default/unit/test_resolve_subprojects.py
  cli/tests/default/unit/test_subproject.py
  cli/tests/default/unit/test_subproject_matchers.py
Due: none

perf: Fix Core_match.uniq O(n^2) worst-case complexity (semgrep/semgrep-proprietary#3152)
  TCB/TCB.ml
  cli/tests/default/e2e/snapshots/test_nosemgrep/test_nosem_rule__invalid_id/error.json
  libs/commons/Hashtbl_.ml
  libs/commons/Hashtbl_.mli
  src/core/Core_match.ml
Due: lint-ocaml

matching: Optimize the ordered `..., PAT, ...` case (semgrep/semgrep-proprietary#2803)
  changelog.d/saf-682.fixed
  src/matching/Matching_generic.ml
Due: lint-ocaml

fix: Ignore packages with `null` version in `Package.resolved` files (semgrep/semgrep-proprietary#3159)
  changelog.d/sc-2116.fixed
  cli/src/semdep/parsers/swiftpm.py
  cli/src/semdep/parsers/util.py
  cli/tests/default/e2e-other/parsers/test_swiftpm.py
Due: none

fix: `Package.swift` parsing fixes (semgrep/semgrep-proprietary#3161)
  changelog.d/sc-2117.fixed
  cli/src/semdep/parsers/swiftpm.py
  cli/tests/default/e2e-other/parsers/test_swiftpm.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awareswift-sca.yaml-dependency_awareswiftpmv3/results.txt
Due: none

chore: Update actionlint (semgrep/semgrep-proprietary#3119)
  .github/workflows/lint.jsonnet
  .github/workflows/lint.yml
Due: none

chore: Update Ubuntu runner used in GHA (semgrep/semgrep-proprietary#3118)
  .github/workflows/semgrep.jsonnet
  .github/workflows/semgrep.yml
  .github/workflows/start-release.jsonnet
  .github/workflows/start-release.yml
Due: none

chore: Update most CI jobs to OCaml 5.2.1 (semgrep/semgrep-proprietary#2932)
  .github/workflows/build-test-core-x86.yml
  .github/workflows/build-test-osx-arm64.yml
  .github/workflows/build-test-osx-x86.yml
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  Makefile
  changelog.d/ocaml5.changed
  dev/optional.opam
  semgrep.nix
  src/main/flags.sh
Due: shellcheck

chore(tr): create internal dependency atd type with source path (semgrep/semgrep-proprietary#3056)
  cli/src/semgrep/resolve_dependency_source.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_subprojects.py
  cli/tests/default/unit/test_subproject.py
  src/reporting/Core_json_output.ml
  src/sca/SCA_dependency.ml
Due: lint-ocaml

chore: Update check-submodule to actions/checkout@v4 (semgrep/semgrep-proprietary#3168)
  .github/workflows/check-submodule.yml
Due: none

Update Sarif_output.ml, Remove unused parameters
  src/osemgrep/reporting/Sarif_output.ml
Due: lint-ocaml
