Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT

refactor: extract the nested Pro_core_CLI.main.run() function out (semgrep/semgrep-proprietary#2474)
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan_config.ml
Due: lint-ocaml

MacOS build: simplify maintenance of flags.sh (semgrep/semgrep-proprietary#2366)
  src/main/dune
  src/main/flags.sh
  src/main/list-tree-sitter-langs.sh
Due: shellcheck

Make --x-ls print only selected paths, add --x-ls-long to print details (semgrep/semgrep-proprietary#2478)
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/main.py
  cli/src/semgrep/run_scan.py
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-exclude-and-include/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-exclude0/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-exclude1/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include-and-exclude/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include-and-include0/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include-and-include1/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include-and-skip-unknown-extensions/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include0/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include1/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include2/files.list
  cli/tests/default/e2e/snapshots/test_exclude_include/test_exclude_include/x-ls-and-include3/files.list
  cli/tests/default/e2e/test_exclude_include.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_scan/Ls_subcommand.ml
  src/osemgrep/cli_scan/Ls_subcommand.mli
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  tests/snapshots/semgrep-core/3d6289360fec/stdout
  tests/snapshots/semgrep-core/b52c24bc6a7d/stdout
  tests/snapshots/semgrep-core/f7c140d27c6f/stdout
Due: lint-ocaml

Use latest interface with core_error location option and change error management (semgrep/semgrep-proprietary#2476)
  cli/src/semgrep/core_output.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/error.py
  cli/src/semgrep/formatter/text.py
  cli/src/semgrep/output.py
  cli/src/semgrep/parsing_data.py
  src/core/Core_error.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/language_server/Unit_LS.ml
  src/osemgrep/reporting/Cli_json_output.ml
  src/osemgrep/reporting/Skipped_report.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

cleanup Core_error.ml, remove dead func and move test helper code out (semgrep/semgrep-proprietary#2487)
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_actions.ml
Due: lint-ocaml

Include dlls in wheel, look for semgrep-core.exe on windows (semgrep/semgrep-proprietary#2475)
  .github/workflows/build-test-windows-x86.jsonnet
  .github/workflows/build-test-windows-x86.yml
  cli/src/semgrep/semgrep_core.py
Due: none

Make osemgrep detect a Git project correctly when in a secondary worktree (semgrep/semgrep-proprietary#2485)
  libs/paths/Project.ml
Due: lint-ocaml

Remove use of fake_file around Core_error.exn_to_error (semgrep/semgrep-proprietary#2488)
  src/core/Core_error.ml
  src/core/Core_error.mli
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_actions.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Parmap_targets.ml
  src/engine/Match_env.ml
  src/engine/Match_rules.ml
  src/metachecking/Check_rule.ml
  src/metachecking/Unit_metachecking.ml
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/parsing/Parse_target.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

[osemgrep only] Add an option to ignore '.semgrepignore' files (semgrep/semgrep-proprietary#2486)
  libs/gitignore/Gitignore_cache.ml
  libs/gitignore/Gitignore_cache.mli
  libs/gitignore/Gitignore_filter.ml
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
  src/osemgrep/language_server/server/User_settings.ml
  src/targeting/Find_targets.ml
  src/targeting/Find_targets.mli
  src/targeting/Find_targets_old.ml
  src/targeting/Semgrepignore.ml
  src/targeting/Semgrepignore.mli
  src/targeting/Unit_semgrepignore.ml
Due: lint-ocaml

dataflow: Bump fixpoint timeouts (semgrep/semgrep-proprietary#2497)
  src/analyzing/AST_to_IL.ml
  src/analyzing/Dataflow_core.ml
  src/analyzing/Dataflow_core.mli
  src/analyzing/Dataflow_svalue.ml
  src/configuring/Limits_semgrep.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Taint_shape.ml
Due: lint-ocaml

refactor Tok.first_loc_of_file to take an Fpath (semgrep/semgrep-proprietary#2498)
  languages/bash/tree-sitter/Parse_bash_tree_sitter.ml
  languages/java/tree-sitter/Parse_java_tree_sitter.ml
  languages/yaml/generic/yaml_to_generic.ml
  libs/lib_parsing/Pos.ml
  libs/lib_parsing/Pos.mli
  libs/lib_parsing/Tok.mli
  src/core/Core_error.ml
  src/core_scan/Core_scan.ml
  src/engine/Match_env.ml
  src/engine/Match_rules.ml
  src/parsing/Parse_rule.ml
  src/reporting/Core_json_output.ml
Due: lint-ocaml

Fix Parmap_targets to also capture exn when ncores = 1 (semgrep/semgrep-proprietary#2490)
  libs/parallelism/Parmap_.ml
  libs/parallelism/Parmap_.mli
  src/core_scan/Parmap_targets.ml
Due: lint-ocaml

feat: allow admins to force fail open (semgrep/semgrep-proprietary#2484)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/tests/default/e2e-other/test_ci.py
Due: none

Fix mypy ignore for console_scripts dir (semgrep/semgrep-proprietary#2511)
  .pre-commit-config.yaml
Due: none

Fix small semgrep finding (semgrep/semgrep-proprietary#2512)
  cli/src/semgrep/console_scripts/entrypoint.py
Due: none

fix: log trace errors in a way that datadog likes (semgrep/semgrep-proprietary#2502)
  cli/src/semgrep/tracing.py
  libs/tracing/Tracing.mli
  libs/tracing/js/Tracing.ml
  libs/tracing/unix/Tracing.ml
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

feat(ptt): Unconditionally generate graphs for PTT (semgrep/semgrep-proprietary#2482)
  cli/src/semdep/subproject_matchers.py
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/join_rule.py
  cli/src/semgrep/resolve_subprojects.py
  cli/src/semgrep/run_scan.py
  cli/src/semgrep/subproject.py
  cli/tests/default/unit/test_filter_dependency_aware_rules.py
  cli/tests/default/unit/test_resolve_subprojects.py
  cli/tests/default/unit/test_subproject.py
  cli/tests/default/unit/test_subproject_matchers.py
Due: none

chore: improve + consolidate otel info (semgrep/semgrep-proprietary#2504)
  cli/src/semgrep/tracing.py
  libs/tracing/Tracing.mli
  libs/tracing/js/Tracing.ml
  libs/tracing/unix/Tracing.ml
  src/core_cli/Core_CLI.ml
Due: lint-ocaml

Skip files and folders lacking read access permissions (semgrep/semgrep-proprietary#2506)
  changelog.d/saf-1598.fixed
  cli/src/semgrep/target_manager.py
  cli/tests/conftest.py
  cli/tests/default/e2e/snapshots/test_exclude_include_formatting/test_exclude_include_verbose_sorted_1/results.err
  cli/tests/default/e2e/snapshots/test_exclude_include_formatting/test_exclude_include_verbose_sorted_2/results.err
  cli/tests/default/e2e/snapshots/test_permissions/test_permissions_ls/files.list
  cli/tests/default/e2e/snapshots/test_permissions/test_permissions_scan/results.json
  cli/tests/default/e2e/snapshots/test_permissions/test_permissions_scan_full_lax/results.json
  cli/tests/default/e2e/snapshots/test_permissions/test_permissions_scan_full_strict/results.json
  cli/tests/default/e2e/snapshots/test_process_limits/test_max_memory/error.txt
  cli/tests/default/e2e/snapshots/test_process_limits/test_timeout_threshold/error.txt
  cli/tests/default/e2e/snapshots/test_process_limits/test_timeout_threshold/error_2.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings0/error.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_file_parser__failure__error_messages/settings1/error.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_parse_errors/errors.txt
  cli/tests/default/e2e/snapshots/test_semgrep_core_parse_error/test_rule_parser__failure__error_messages/settings0/error.txt
  cli/tests/default/e2e/targets/permissions/README
  cli/tests/default/e2e/test_baseline.py
  cli/tests/default/e2e/test_osemgrep_output.py
  cli/tests/default/e2e/test_permissions.py
  cli/tests/default/unit/targeting/test_target_manager.py
  cli/tests/fixtures.py
  src/osemgrep/reporting/Skipped_report.ml
  src/targeting/Find_targets.ml
  src/targeting/Find_targets_old.ml
  src/targeting/Skip_target.ml
  src/targeting/Skip_target.mli
Due: lint-ocaml

fix: Bump/mirror some pre-commit and pytest stuff from OSS to pro (semgrep/semgrep-proprietary#2513)
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  cli/src/semgrep/console_scripts/entrypoint.py
  libs/commons/tests/Unit_List_.ml
  libs/commons/tests/Unit_commons.ml
  src/engine/tests/Test_engine.ml
Due: lint-ocaml

Log more info for raise Impossible in SubAST_generic.ml (semgrep/semgrep-proprietary#2516)
  src/matching/SubAST_generic.ml
Due: lint-ocaml

Parse correctly git log for contributions, handle weird chars (semgrep/semgrep-proprietary#2517)
  changelog.d/saf-1681.fixed
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Git_wrapper.mli
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Ci_subcommand.mli
  src/parsing/Parse_contribution.ml
Due: lint-ocaml

dataflow: Tweak fixpoint timeout (semgrep/semgrep-proprietary#2503)
  src/analyzing/Dataflow_core.ml
  src/configuring/Limits_semgrep.ml
Due: lint-ocaml

refactor: Keep lambdas CFGs separate from the enclosing CFG (semgrep/semgrep-proprietary#2477)
  changelog.d/code-7657.fixed
  src/analyzing/CFG_build.ml
  src/analyzing/CFG_build.mli
  src/analyzing/Constant_propagation.ml
  src/analyzing/Constant_propagation.mli
  src/analyzing/Dataflow_svalue.ml
  src/analyzing/Dataflow_svalue.mli
  src/analyzing/Dataflow_when.ml
  src/analyzing/Implicit_return.ml
  src/analyzing/tests/Test_analyze_generic.ml
  src/engine/Match_tainting_mode.ml
  src/engine/Match_tainting_mode.mli
  src/engine/tests/Test_dataflow_tainting.ml
  src/il/Display_IL.ml
  src/il/IL.ml
  src/il/IL_helpers.ml
  src/il/IL_helpers.mli
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Shape_and_sig.ml
  src/tainting/Taint_lval_env.ml
  src/tainting/Taint_lval_env.mli
  src/tainting/Taint_spec_match.ml
  src/tainting/Taint_spec_match.mli
  tests/rules/cp_lambda.cpp
  tests/rules/cp_lambda.yaml
  tests/rules/sym_prop_lambda.py
  tests/rules/sym_prop_lambda.yaml
  tests/rules/taint_best_fit_sink9.java
  tests/rules/taint_best_fit_sink9.yaml
Due: lint-ocaml

Disable osempass for OSS (semgrep/semgrep-proprietary#2523)
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
Due: none

fix: make the nightly benchmarks work (semgrep/semgrep-proprietary#2527)
  perf/run-benchmarks
Due: none

chore(dep-resolution): update interfaces for new manifest kinds (semgrep/semgrep-proprietary#2483)
  src/core/Core_error.ml
  src/osemgrep/core/Error.ml
  src/osemgrep/reporting/Cli_json_output.ml
  src/parsing/Parse_lockfile.ml
  src/target/Manifest_kind.ml
Due: lint-ocaml

fix(osemgrep): enable proprietary parsers in osemgrep-pro (semgrep/semgrep-proprietary#2521)
  changelog.d/saf-1686.fixed
  cli/src/semgrep/console_scripts/entrypoint.py
Due: none

chore(sca): remove `--enable-experimental-requirements` flag (semgrep/semgrep-proprietary#2491)
  changelog.d/ssc-1903.changed
  cli/src/semgrep/commands/ci.py
  cli/src/semgrep/commands/scan.py
  cli/src/semgrep/run_scan.py
  src/osemgrep/cli_ci/Ci_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.ml
  src/osemgrep/cli_scan/Scan_CLI.mli
Due: lint-ocaml

fix: fix semgrep tracing (semgrep/semgrep-proprietary#2530)
  changelog.d/saf-tracing.fixed
  cli/src/semgrep/tracing.py
Due: none

fix(sca): lowercase python packages when parsing from rule (semgrep/semgrep-proprietary#2525)
  cli/src/semgrep/dependency_aware_rule.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-pipfile-case-insensitive-package.yaml-dependency_awarepipfile/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-poetry-case-insensitive-package.yaml-dependency_awarepoetry/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc__pypi_package_name_lowercase/rulesdependency_awarepython-requirements-case-insensitive-package.yaml-dependency_awarerequirements/results.txt
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/e2e/rules/dependency_aware/python-pipfile-case-insensitive-package.yaml
  cli/tests/default/e2e/rules/dependency_aware/python-poetry-case-insensitive-package.yaml
  cli/tests/default/e2e/rules/dependency_aware/python-requirements-case-insensitive-package.yaml
Due: none

perf: Make bytepos converter lazy during nosem filtering (semgrep/semgrep-proprietary#2536)
  changelog.d/nosem-mem.changed
  src/reporting/Nosemgrep.ml
Due: lint-ocaml

dataflow: Tweak fixpoint timeout (semgrep/semgrep-proprietary#2540)
  src/configuring/Limits_semgrep.ml
Due: lint-ocaml

Re-enable osemgrep tests for OSS, enable them for Pro, fix permission tests (semgrep/semgrep-proprietary#2526)
  .github/workflows/libs/semgrep.libsonnet
  .github/workflows/tests.jsonnet
  .github/workflows/tests.yml
  Makefile
  cli/src/semgrep/target_manager.py
  cli/tests/conftest.py
  cli/tests/default/e2e/test_permissions.py
  cli/tests/fixtures.py
Due: none

Cap.alarm -> Cap.time_limit (semgrep/semgrep-proprietary#2544)
  TCB/Cap.ml
  TCB/Cap.mli
  TCB/CapUnix.mli
  languages/javascript/menhir/parse_js.mli
  libs/ojsonnet/Unit_jsonnet.ml
  libs/ojsonnet/Unit_jsonnet.mli
  libs/process_limits/Time_limit.ml
  libs/process_limits/Time_limit.mli
  src/analyzing/tests/Unit_dataflow.ml
  src/analyzing/tests/Unit_dataflow.mli
  src/core_cli/Core_CLI.ml
  src/core_scan/Core_scan.ml
  src/core_scan/Core_scan.mli
  src/engine/Match_rules.ml
  src/engine/Match_rules.mli
  src/metachecking/Check_rule.ml
  src/metachecking/Check_rule.mli
  src/osemgrep/cli/CLI.ml
  src/osemgrep/cli/CLI.mli
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/cli_ci/Ci_subcommand.mli
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.ml
  src/osemgrep/cli_install_semgrep_pro/Install_semgrep_pro_subcommand.mli
  src/osemgrep/cli_lsp/Lsp_subcommand.ml
  src/osemgrep/cli_lsp/Lsp_subcommand.mli
  src/osemgrep/cli_scan/Scan_subcommand.ml
  src/osemgrep/cli_scan/Scan_subcommand.mli
  src/osemgrep/cli_test/Test_subcommand.ml
  src/osemgrep/cli_test/Test_subcommand.mli
  src/osemgrep/cli_validate/Validate_subcommand.ml
  src/osemgrep/cli_validate/Validate_subcommand.mli
  src/osemgrep/language_server/LS.mli
  src/osemgrep/language_server/Test_LS_e2e.mli
  src/osemgrep/language_server/Unit_LS.mli
  src/osemgrep/language_server/server/RPC_server.mli
  src/osemgrep/language_server/server/Session.ml
  src/osemgrep/language_server/server/Session.mli
  src/parsing/tests/Test_parsing.ml
  src/parsing/tests/Test_parsing.mli
  src/tests/Test.ml
Due: lint-ocaml

removing match and profiling results associated with the fake targets (semgrep/semgrep-proprietary#2541)
  src/core/Core_result.ml
Due: lint-ocaml

Deduplicate functions with the same name in C (semgrep/semgrep-proprietary#2452)
  changelog.d/code-7654.added
Due: none

fix: updated the gradle lockfile parser to handle arbitrary and optional comments at the start instead of a hardcoded value (semgrep/semgrep-proprietary#2456)
  changelog.d/gh-10508.fixed
  cli/src/semdep/parsers/gradle.py
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaregradle-arbitrary-comment/results.txt
  cli/tests/default/e2e-other/snapshots/test_ssc/test_ssc/rulesdependency_awarejava-gradle-sca.yaml-dependency_awaregradle-no-comment/results.txt
  cli/tests/default/e2e-other/test_ssc.py
  cli/tests/default/e2e/targets/dependency_aware/gradle-arbitrary-comment/build.gradle
  cli/tests/default/e2e/targets/dependency_aware/gradle-arbitrary-comment/gradle.lockfile
  cli/tests/default/e2e/targets/dependency_aware/gradle-arbitrary-comment/sca-gradle.java
  cli/tests/default/e2e/targets/dependency_aware/gradle-no-comment/build.gradle
  cli/tests/default/e2e/targets/dependency_aware/gradle-no-comment/gradle.lockfile
  cli/tests/default/e2e/targets/dependency_aware/gradle-no-comment/sca-gradle.java
Due: none

feat: send logs to otel (semgrep/semgrep-proprietary#2492)
  TCB/TCB.ml
  cli/src/semgrep/tracing.py
  libs/commons/Logs_.ml
  libs/commons/Logs_.mli
  libs/tracing/Tracing.mli
  libs/tracing/dune
  libs/tracing/js/Tracing.ml
  libs/tracing/js/dune
  libs/tracing/unix/Tracing.ml
  libs/tracing/unix/dune
  metrics.md
  src/core/Log_semgrep.ml
  src/core_cli/Core_CLI.ml
  src/core_cli/Core_CLI.mli
  src/core_scan/Parmap_targets.ml
Due: lint-ocaml

feat(sms): add SCM run id to ScanHandler (semgrep/semgrep-proprietary#2538)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/env.py
Due: none
