Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

Fix comment
  src/tainting/Taint.mli
Due: lint-ocaml

fix tests
  tests/rules/as_metavariable.py
  tests/rules/as_metavariable_textual.py
Due: none

refactor: tainting: Prepare for list/tuple unpacking (#10190)
  src/analyzing/AST_to_IL.ml
  src/analyzing/Eval_il_partial.ml
  src/core/Lang.ml
  src/engine/Match_tainting_mode.ml
  src/engine/Match_tainting_mode.mli
  src/il/Display_IL.ml
  src/il/Display_IL.mli
  src/il/IL.ml
  src/il/IL_helpers.ml
  src/tainting/Dataflow_tainting.ml
  src/tainting/Dataflow_tainting.mli
  src/tainting/Taint.ml
  src/tainting/Taint.mli
  src/tainting/Taint_shape.ml
  src/tainting/Taint_shape.mli
  src/tainting/Taint_sig.ml
  src/tainting/Taint_sig.mli
  src/tainting/Taint_smatch.ml
  src/tainting/Taint_smatch.mli
  src/tainting/Xtaint.ml
  src/tainting/Xtaint.mli
Due: lint-ocaml

fix snapshot
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: none

appease semgrep
  src/engine/Match_search_mode.ml
Due: lint-ocaml

fix snapshot again
  tests/snapshots/semgrep-core/4f06f5cf1f9b/stdout
Due: none

chore: cleanup nix + make targets + caching
  Makefile
  flake.lock
  flake.nix
  src/main/flags.sh
Due: shellcheck

rename nix shell target
  Makefile
Due: none

add action to check flakes in GHA
  .github/workflows/Makefile
  .github/workflows/build-test-nix.jsonnet
  .github/workflows/build-test-nix.yml
  .github/workflows/libs/gha.libsonnet
  flake.nix
Due: none

Fix makefile
  Makefile
Due: none

cleanup workflow
  .github/workflows/build-test-nix.yml
  Makefile
Due: none

don't use windows for nix workflow
  .github/workflows/build-test-nix.jsonnet
  .github/workflows/build-test-nix.yml
Due: none

fix pcre2 version
  dune-project
Due: none

osemgrep: finish porting the --test and fixtest (#10195)
  cli/tests/default/e2e/rules/fixtest/fix_trailing_newline.yaml
  cli/tests/default/e2e/snapshots/test_fixtest/test_fix_trailing_newline/test-results.json
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/default/e2e/targets/fixtest/basic.fixed.go
  cli/tests/default/e2e/targets/fixtest/basic.go
  cli/tests/default/e2e/test_fixtest.py
  src/core/Rule.ml
  src/core_scan/Core_scan.ml
  src/osemgrep/cli_test/Test_subcommand.ml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

fix
  src/rpc/RPC.ml
Due: lint-ocaml

update
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/parsing/Parse_rule.ml
Due: lint-ocaml

Handle the new Low/Medium/High/Critical in pysemgrep
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/formatter/gitlab_sast.py
  cli/src/semgrep/formatter/sarif.py
  cli/src/semgrep/formatter/text.py
  cli/src/semgrep/formatter/vim.py
  cli/src/semgrep/output.py
  cli/src/semgrep/rule_match.py
  cli/tests/default/e2e/rules/severity_critical.yaml
  cli/tests/default/e2e/snapshots/test_misc/test_critical_severity/results.json
  cli/tests/default/e2e/test_misc.py
Due: none

Add Critical/High/Medium/Low for rule and match severity (#10165)
  libs/commons/OCaml.mli
  libs/paths/Ppath.ml
  src/osemgrep/cli_ci/Ci_subcommand.ml
  src/osemgrep/language_server/util/Convert_utils.ml
  src/osemgrep/reporting/Gitlab_output.ml
  src/osemgrep/reporting/Gitlab_output.mli
  src/osemgrep/reporting/Junit_xml_output.ml
  src/osemgrep/reporting/Junit_xml_output.mli
  src/osemgrep/reporting/Sarif_output.ml
  src/parsing/Parse_rule.ml
  src/rpc/RPC.ml
  tests/rules/severity_critical.py
  tests/rules/severity_critical.yaml
  tests/syntax_v2/severity_new.yaml
Due: lint-ocaml

misc
  src/core/Rule.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

removed the experiment test; it's annoying to update
  cli/tests/default/e2e/rules/experiment/experiment.yaml
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/default/e2e/targets/experiment/experiment.py
  cli/tests/default/e2e/test_output.py
Due: none

more
  cli/tests/default/e2e/rules/inventory/invent.yaml
  cli/tests/default/e2e/rules/severity_experiment.yaml
  cli/tests/default/e2e/rules/severity_inventory.yaml
  cli/tests/default/e2e/snapshots/test_output/test_omit_experiment/results.out
  cli/tests/default/e2e/snapshots/test_output/test_omit_inventory/results.out
  cli/tests/default/e2e/targets/inventory/invent.py
  cli/tests/default/e2e/test_output.py
Due: none

Handle the new Low/Medium/High/Critical in pysemgrep (#10202)
  cli/src/semgrep/app/scans.py
  cli/src/semgrep/core_runner.py
  cli/src/semgrep/formatter/gitlab_sast.py
  cli/src/semgrep/formatter/sarif.py
  cli/src/semgrep/formatter/text.py
  cli/src/semgrep/formatter/vim.py
  cli/src/semgrep/output.py
  cli/src/semgrep/rule_match.py
  cli/tests/default/e2e/rules/inventory/invent.yaml
  cli/tests/default/e2e/rules/severity_critical.yaml
  cli/tests/default/e2e/rules/severity_experiment.yaml
  cli/tests/default/e2e/rules/severity_inventory.yaml
  cli/tests/default/e2e/snapshots/test_misc/test_critical_severity/results.json
  cli/tests/default/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
  cli/tests/default/e2e/snapshots/test_output/test_omit_experiment/results.out
  cli/tests/default/e2e/snapshots/test_output/test_omit_inventory/results.out
  cli/tests/default/e2e/targets/experiment/experiment.py
  cli/tests/default/e2e/targets/inventory/invent.py
  cli/tests/default/e2e/test_misc.py
  cli/tests/default/e2e/test_output.py
  src/core/Rule.ml
Due: lint-ocaml

chore: Bump version to 1.71.0
  CHANGELOG.md
  changelog.d/fixtest.fixed
  changelog.d/flow-61.added
  changelog.d/flow-75.added
  changelog.d/gh-9987.changed
  changelog.d/saf-949.fixed
  changelog.d/saf-961.fixed
  changelog.d/saf-991.fixed
  changelog.d/sc-1466.fixed
  changelog.d/scrt-570.fixed
  cli/setup.py
  cli/src/semgrep/__init__.py
  dune-project
  setup.py
  src/core/Version.ml
Due: lint-ocaml

fix some things + comments
  Makefile
  flake.nix
  src/main/flags.sh
Due: shellcheck

remove shell?
  Makefile
Due: none

be more verbose
  .github/workflows/build-test-nix.jsonnet
  .github/workflows/build-test-nix.yml
  Makefile
Due: none

Explain the situation with the segfault
  languages/dockerfile/tree-sitter/Parse_dockerfile_tree_sitter.ml
Due: lint-ocaml

Migrate more Logs.xxx ~tags to Logs.src
  src/matching/Generic_vs_generic.ml
  src/matching/Log_matching.ml
  src/matching/Match_patterns.ml
  src/matching/Matching_generic.ml
Due: lint-ocaml

new Log_parser_c.ml
  languages/c/ast/Log_parser_c.ml
  languages/c/ast/ast_c_build.ml
  languages/c/menhir/parse_c.ml
Due: lint-ocaml

convert languages/cpp/ to Logs src
  languages/cpp/ast/Log_parser_cpp.ml
  languages/cpp/generic/cpp_to_generic.ml
  languages/cpp/menhir/flag_parsing_cpp.ml
  languages/cpp/menhir/parse_cpp.ml
  languages/cpp/menhir/parser_cpp_mly_helper.ml
  languages/cpp/menhir/parsing_hacks_lib.ml
  languages/cpp/tree-sitter/Parse_cpp_tree_sitter.ml
  libs/lib_parsing/Flag_parsing.ml
Due: lint-ocaml

cleanup src/osemgrep/cli_login/
  src/osemgrep/cli_login/Login_subcommand.ml
  src/osemgrep/cli_login/Login_subcommand.mli
  src/osemgrep/cli_login/Logout_subcommand.ml
  src/osemgrep/cli_login/Logout_subcommand.mli
Due: lint-ocaml

New Log_reporting.ml and remove all use of ~tags in osemgrep
  src/osemgrep/core/Exit_code.ml
  src/osemgrep/core/Pysemgrep.ml
  src/osemgrep/reporting/Matches_report.ml
  src/reporting/Log_reporting.ml
Due: lint-ocaml

no more ~tags in libs/
  libs/ast_generic/AST_generic_helpers.ml
  libs/ast_generic/Log_ast_generic.ml
  libs/commons/Cache_disk.ml
  libs/commons/Log_commons.ml
  libs/commons/UFile.ml
  libs/commons/UTmp.ml
  libs/git_wrapper/Git_project.ml
  libs/git_wrapper/Git_wrapper.ml
  libs/git_wrapper/Log_git_wrapper.ml
  libs/glob/Log_glob.ml
  libs/glob/Match.ml
  libs/paths/List_files.ml
  libs/process_limits/Log_process_limits.ml
  libs/process_limits/Memory_limit.ml
  libs/process_limits/Time_limit.ml
Due: lint-ocaml

no more ~tags in languages/
  languages/java/ast/Log_parser_java.ml
  languages/java/menhir/parsing_hacks_java.ml
  languages/javascript/ast/Log_parser_javascript.ml
  languages/javascript/generic/js_to_generic.ml
  languages/javascript/menhir/parse_js.ml
  languages/javascript/menhir/parsing_hacks_js.ml
  languages/lua/generic/Log_parser_lua.ml
  languages/lua/generic/Parse_lua_tree_sitter.ml
  languages/scala/ast/Log_parser_scala.ml
  languages/scala/recursive_descent/Parser_scala_recursive_descent.ml
  languages/scala/recursive_descent/Token_helpers_scala.ml
  languages/tree-sitter-to-generic/Parse_hack_tree_sitter.ml
  libs/lib_parsing/Flag_parsing.ml
Due: lint-ocaml

Add no-logs-in-library semgrep rule
  TCB/TCB.ml
  languages/c/menhir/test_parsing_c.ml
  languages/lisp/recursive_descent/test_parsing_lisp.ml
  libs/aliengrep/Log_aliengrep.ml
  libs/aliengrep/Match.ml
  libs/aliengrep/Pat_compile.ml
  libs/aliengrep/Pat_lexer.ml
  libs/commons/Buffer_.ml
  libs/commons/Buffer_.mli
  libs/commons/Common.ml
  libs/commons/Immutable_buffer.ml
  libs/commons/UCmd.ml
  libs/git_wrapper/Git_wrapper.ml
  libs/glob/Match.ml
  libs/graph_code/Graph_code.ml
  libs/graph_code/Graph_code.mli
  libs/lib_parsing/Parsing_stat.ml
  libs/lib_parsing/Parsing_stat.mli
  libs/lib_parsing/Skip_code.ml
  libs/lib_parsing/Skip_code.mli
  semgrep.jsonnet
  src/parsing/tests/Test_parsing.ml
Due: lint-ocaml

Adding many src/.../Log_xxx.ml
  src/analyzing/Log_analyzing.ml
  src/core/Log_core.ml
  src/core_cli/Log_core_cli.ml
  src/metachecking/Log_metachecking.ml
  src/naming/Log_naming.ml
  src/optimizing/Log_optimizing.ml
Due: lint-ocaml

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/tests/performance/targets_perf_sca|^cli/src/semgrep/external|^cli/src/semdep/external|^cli/bin|\binvalid\b|TOPORT
