Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: gitignore-to-dockerignore, shellcheck, lint-ocaml

gitignore-to-dockerignore:
  name: Convert .gitignore to .dockerignore
  language: node
  entry: gitignore-to-dockerignore
  additional_dependencies:
  - gitignore-to-dockerignore@2.0.0

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.8.0

lint-ocaml:
  name: Reformat OCaml code
  entry: ./scripts/lint-ocaml
  language: script

chore: update to latest semgrep-interfaces and remove cai_ids
  cli/src/semgrep/app/scans.py
Due: none

chore: Fix precommit job
  .pre-commit-config.yaml
Due: none

chore: Fix precommit job (#8064)
  .pre-commit-config.yaml
Due: none

finished refactoring to be represented by floats
  src/engine/Eval_generic.ml
  src/engine/Eval_generic.mli
Due: lint-ocaml

refactor: Expose Typing.guess_type_of_dotaccess
  src/typing/Typing.ml
  src/typing/Typing.mli
Due: lint-ocaml

refactor: Add autogenerated mapper for Type.t
  src/core/Type.ml
  src/core/dune
Due: lint-ocaml

refactoring to factor out helper function
  src/engine/Eval_generic.ml
Due: lint-ocaml

sophia/pa-7992 adding comment that explains format limitation
  src/engine/Eval_generic.ml
Due: lint-ocaml

sophia/pa-7992 adding string that isn't a date into test case
  tests/rules/date_comparison.py
Due: none

refactor: Expose Typing.guess_type_of_dotaccess (#8054)
  src/typing/Typing.ml
  src/typing/Typing.mli
Due: lint-ocaml

Update changelog regarding rule IDs
  changelog.d/gh-8057.fixed
Due: none

Update changelog regarding rule IDs (#8066)
  changelog.d/gh-8057.fixed
Due: none

added unit test
  cli/tests/unit/test_match_hashes.py
Due: none

fix CI
  cli/tests/e2e/snapshots/test_metrics/test_metrics_payload/pro_flag0/metrics-payload.json
Due: none

refactor: Add autogenerated mapper for Type.t (#8055)
  src/core/Type.ml
  src/core/dune
Due: lint-ocaml

removing extra comments and reformatting test to work correctly
  src/engine/Eval_generic.ml
  tests/rules/date_comparison.py
Due: lint-ocaml

fix: [ci] revert back to root user in docker image
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
  Dockerfile
  changelog.d/gh-7293.changed
  scripts/test-pro.sh
  scripts/validate-docker-build.sh
Due: shellcheck

fix: remove unneeded and entangled workflow
  .github/workflows/test-semgrep-pro-latest.yaml
Due: none

trying again to get the right format for test
  tests/rules/date_comparison.py
Due: none

sophia/tests now in the correct format
  tests/rules/date_comparison.py
Due: none

fix: [ci] revert back to root user in docker image (#8073)
  .github/workflows/test-semgrep-pro-latest.yaml
  .github/workflows/test-semgrep-pro.yaml
  Dockerfile
  changelog.d/gh-7293.changed
  scripts/test-pro.sh
  scripts/validate-docker-build.sh
Due: shellcheck

feat(multistep): supporting changes for multistep rules
  libs/ast_generic/AST_generic.ml
  libs/ast_generic/AST_utils.ml
  libs/commons/Common.ml
  libs/commons/Common.mli
  src/core/Metavariable.ml
  src/core/Metavariable.mli
  src/core/Steps_util.ml
  src/runner/Run_semgrep.ml
  src/runner/Run_semgrep.mli
Due: lint-ocaml

Add new tests; remove unrelated ones
  tests/patterns/c/const-prop-arr-decl.c
  tests/patterns/c/const-prop-arr-decl.sgrep
  tests/patterns/c/const-prop-basic-blocks.c
  tests/patterns/c/const-prop-basic-blocks.sgrep
  tests/patterns/c/const-prop-expr-stmt.c
  tests/patterns/c/const-prop-expr-stmt.sgrep
Due: none

Adds date comparison, allowing features such as checking date expiration Closes: #7992 (#8053)
  changelog.d/pa-7992.added
  src/engine/Eval_generic.ml
  tests/rules/date_comparison.py
  tests/rules/date_comparison.yaml
Due: lint-ocaml

debug: Only log warnings and errors by default
  libs/commons/Logging_helpers.ml
Due: lint-ocaml

Update pytest snapshots
  cli/tests/e2e/snapshots/test_output/test_debug_experimental_rule/results.txt
Due: none

dataflow: Set a strict timeout on fixpoint computations
  src/analyzing/Dataflow_core.ml
  src/analyzing/Dataflow_core.mli
  src/analyzing/Dataflow_svalue.ml
  src/configuring/Limits_semgrep.ml
  src/tainting/Dataflow_tainting.ml
Due: lint-ocaml

Remove unneeded Steps_util file
  src/core/Steps_util.ml
Due: lint-ocaml

osemgrep: add comments and remove unneeded code
  dune-project
  semgrep.opam
  src/osemgrep/networking/Http_helpers.ml
Due: lint-ocaml

Add env var for --exclude-rule
  cli/src/semgrep/commands/scan.py
Due: none

Path conditions:
  gitignore-to-dockerignore: any of: ^.(git|docker)ignore$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  shellcheck: any of: [.]sh$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
  lint-ocaml: any of: \.mli?$, but not: ^tests|^cli/tests/e2e/(targets|snapshots|rules/syntax)|^cli/src/semgrep/external|^cli/src/semdep/external|\binvalid\b|TOPORT
